{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionMapWithDetail}}
    {{>sections-Section-map-with-detail}}
  {{/sectionMapWithDetail}}

  {{#sectionContactForm}}
    {{>sections-Section-contact-form}}
  {{/sectionContactForm}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
