<div class="s-map-info-detail ">
  <div class="s-map-info-detail-img">
    <button class="g-modal-close g-cl-white" [style.z-index]="1" (click)="close()">
      <i class="la la-close"></i>
    </button>
    <img [caImgSrcset]="data.backgroundImage?.length && data.backgroundImage[0]">
  </div>
  <div class="s-map-info-detail-body">
    <h3 class="g-f-nexa-slab g-fs-24 g-fs-md-30">
      {{ data?.name }}
    </h3>
    <p [ngClass]="{ 'mb-2': !data.urlLink }">
      {{ data?.description }}
    </p>
    <a
      class="g-link g-link-icon g-link-icon-right g-fs-12 mb-2"
      *ngIf="data?.textLink"
      [caUrlLink]="data.urlLink">
      {{ data?.textLink }}
      <i class="la la-arrow-right"></i>
    </a>
    <ul class="s-list-circuit ">
      <li
        class="s-list-circuit-item"
        *ngFor="let place of data?.places">
        {{ place.name }}
      </li>
    </ul>
  </div>
</div>
