{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  <main class="g-main g-main-full">

    {{#editorHeader}}
      {{>organisms-Editor-header}}
    {{/editorHeader}}

    <div class="g-container">

      {{#editorForm}}
        {{>organisms-Editor-form}}
      {{/editorForm}}

    </div>

  </main>
</div>
