<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Robots y Sitemap
  </caadmin-heading>
  <caadmin-subheading-actions title="Robots.txt" buttonAdd="Agregar Robots" (add)="addRobots()">
  </caadmin-subheading-actions>
  <div class="g-card-form mb-3">
    <div class="p-3">
      <div class="py-3 px-3 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <ul class="c-list-robots" *ngFor="let ua of listUserAgent;">
              <li class="c-list-robots-item" *ngIf="existItems(ua.value)" >
                <div class="c-list-robots-title">
                  User-Agent: {{ ua.value }}
                </div>
                <ul class="c-sublist-robots" *ngFor="let r of getRotobos(ua.value)">
                  <li class="c-sublist-robots-item">
                    <div class="c-list-robots-detail">
                      {{ r.type }}: {{ r.value }}
                      <button class="g-btn g-btn-icon g-btn-outline g-btn-outline--red ml-1" type="button" (click)="deleteCategory(r)"><i class="la la-trash-o"></i></button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul  class="c-list-robots" *ngIf="existSitemap()" >
              <li class="c-list-robots-item" *ngFor="let s of getSitemaps()">
                <div class="c-list-robots-title">
                  {{ s.type }}: {{ s.value }}
                  <button class="g-btn g-btn-icon g-btn-outline g-btn-outline--red ml-1" type="button" (click)="deleteCategory(s)"><i class="la la-trash-o"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pt-2">
        <button class="g-btn g-btn-with-icon g-btn-outline g-btn-icon-left ng-star-inserted" (click)="generateRobots()"
          type="button"><span>Generar Robots.txt</span><i class="la la-cogs"></i></button>
      </div>
    </div>
  </div>
  <caadmin-subheading-actions title="Sitemap.xml" buttonAdd="Generar Sitemap" (add)="generateSiteMap()">
  </caadmin-subheading-actions>
</ca-card-wrapper>
