<form [formGroup]="frmRobots">
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Acción:</label>
      </div>
      <div class="col">
        <label class="g-radio mr-2" *ngFor="let type of listTypes;">
          <input type="radio" name="type" [value]="type.value" formControlName="type">
          {{ type.text }}
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Bot:</label>
      </div>
      <div class="col">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select formControlName="userAgent">
            <option value="">Seleccionar</option>
            <option *ngFor="let userAgent of listUserAgent;" [value]="userAgent.value">{{ userAgent.text }}</option>
          </select>
        </div>
        <small>Para sitemap no requiere seleccionar un bot.</small>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Ingresar valor:</label>
      </div>
      <div class="col">
        <ca-input formControlName="value" [placeholder]="getPlaceholder()"></ca-input>
      </div>
    </div>
  </div>
  <div class="text-right mt-2">
    <button ca-button (click)="save()" type="button">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
