.s-accordion {
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 15px -15px 0;

    &-item {
      width: 33.3333333333%;
      padding: 0 15px;
      margin: 0 0 10px;

      &.active {
        .s-accordion-list {
          &-header {
            &:after {
              content: "\f113";
            }
          }

          &-body {
            max-height: 1000px;
            padding: 10px 0 10px 30px;
            transition: all .3s ease-in 0s;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }

    &-header {
      width: 100%;
      position: relative;
      background-color: $c-gray6;
      text-align: left;
      border: none;
      text-transform: capitalize;
      padding: 9px 15px;
      cursor: pointer;

      &:after {
        content: "\f110";
        position: absolute;
        top: 50%;
        right: 15px;
        font-family: $font-ca;
        transform: translateY(-50%);
      }
    }

    &-body {
      max-height: 0;
      list-style: disc;
      padding: 0 0 0 30px;
      overflow: hidden;
      transition: all .2s ease-out 0s;

      li {
        font-weight: $font-weight-light;
      }
    }
  }
}
