.s-text-assessment {
  display: block;
  font-size: $font-13;
  font-weight: $fw-bold;
  font-family: $font-arquitecta;

  span {
    display: block;
    font-size: $font-20;
    font-family: $font-nexa-slab;
  }

  &--standard {
    span {
      color: $c-ca-standard;
    }
  }

  &--select {
    span {
      color: $c-ca-select;
    }
  }

  &--premium {
    span {
      color: $c-ca-premium;
    }
  }
}