.g-box {
  margin: 0;
  padding: 20px 15px;
  width: 100%;
  height: auto;
  position: relative;
  background-color: $c-white;

  &-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
  }

  &--corners {
    @include corner(20px, 10px);

    &-20 {
      @include corner(40px, 20px);
    }

    &-black {
      color: $c-white;
      background: $c-grandient-box-reservations;

      .side {
        background: $c-grandient-box-reservations;

        .corner {
          &-top-left, &-top-right {
            &:before {
              background-color: $c-alpha-fog;
            }
          }
          &-bottom-left, &-bottom-right {
            &:before {
              background-color: $c-black;
            }
          }
        }
      }

      .g-input {
        color: $c-white;
      }

      &.g-box--with-br {
        &:before {
          background-color: $c-alpha-fog;
        }
      }
    }
  }

  &--with-br {
    @include borderBox(40px, 10px);

    &-20 {
      @include borderBox(80px, 20px);
    }
  }

  &--reservations {
    top: -73px;
    z-index: 2;
  }

  &--benefices {
    .g-heading {
      font-size: $font-30;
    }

    .g-feature {
      &-info {
        span {
          font-size: $font-15;
        }
      }
    }
  }

  &--tab {
    width: calc(100% - 20px);
    padding: 30px;
    margin: 0 0 0 20px;

    .side {
      z-index: 1;
    }

    @include media-breakpoint-down(sm) {
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

  &--detail {
    top: -30px;
  }

  &--services {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--restaurant {
    padding: 40px 40px 60px;

    @include media-breakpoint-down(xs) {
      padding: 30px 15px 40px;
    }
  }

  &--destinations {
    top: -80px;
    box-shadow: 0 4px 10px -6px rgba($c-black, .2);
    padding: 20px;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      top: -20px;
      padding: 15px;
    }

    @include media-breakpoint-down(xs) {
      padding: 10px;
    }
  }

  &--opinions {
    height: 100%;
    padding: 30px 20px;
  }

  &--promociones {
    padding: 0;

    > .row {
      min-height: 280px;
    }

    &-img {
      min-height: 280px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
    }

    .g-tag-type {
      position: absolute;
      top: 0;
      right: -5px;

      &--right {
        left: -5px;
        right: inherit;
      }
    }

    @media (max-width: $break-medium) {
      > .row {
        height: auto;
      }

      &-img {
        height: 280px;
      }
    }
  }

  &--count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: 5px;
      z-index: 0;
      width: calc(100% - 10px);
      height: 50%;
      background-color: lighten($c-gray7, 2%);
    }
  }
}

.s-box {
  position: relative;

  &-side {
    &-left,
    &-right {
      width: 10px;
      height: calc(100% - 20px);
      position: absolute;
      top: 10px;
      background-color: $c-white;

      &:before,
      &:after {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        background-color: $c-white;
      }

      &:before {
        top: -5px;
      }

      &:after {
        bottom: -5px;
      }
    }

    &-left {
      left: 0;

      &:before,
      &:after {
        right: 0;
      }
    }

    &-right {
      right: 0;

      &:before,
      &:after {
        left: 0;
      }
    }
  }

  &-body {
    width: calc(100% - 20px);
    background-color: $c-white;
    padding: 20px 10px;
    margin: 0 auto;
  }

  &-content {
    position: relative;
    z-index: 1;
  }

  &--dark {
    .s-box {
      &-side {
        &-left,
        &-right {
          background-color: $c-gray1;

          &:before,
          &:after {
            background-color: $c-gray1;
          }
        }
      }

      &-body {
        background-color: $c-gray1;
      }
    }
  }

  &--black {
    z-index: 2;

    .s-box {
      &-side {
        &-left,
        &-right {
          background-color: $c-transparent;
          background-image: linear-gradient(to bottom, rgba($c-black, .9), $c-black);

          &:before {
            box-shadow: inset 0 1px 0 0 rgba($c-gray8, 0.5);
            background-color: rgba($c-black, .9);
          }

          &:after {
            background-color: $c-black;
          }
        }
      }

      &-body {
        background-color: $c-transparent;
        background-image: linear-gradient(to bottom, rgba($c-black, .9), $c-black);
        box-shadow: inset 0 1px 0 0 rgba($c-gray8, 0.5);
      }
    }
  }

  &--flex {
    .s-box {
      &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
      }
    }
  }

  &--decoration {
    &:before {
      content: "";
      width: calc(100% + 20px);
      height: 100%;
      position: absolute;
      top: 10px;
      left: -10px;
      right: -10px;
      border: 1px solid $c-primary;
    }

    &:after {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      top: 10px;
      left: 0;
      border: 1px solid $c-white;
    }
  }

  &--shadow {
    .s-box {
      &-body {
        box-shadow: 0 4px 10px -6px rgba($c-black, .2);
      }
    }
  }

  &--tab {
    min-height: 330px;
    margin-right: -20px;
    z-index: 1;

    .s-box {
      &-body {
        min-height: 330px;
      }

      &-content {
        min-height: 290px;
      }
    }

    @include media-breakpoint-down(md) {
      min-height: auto;
      margin-right: 0;
      margin-top: -20px;

      &-body {
        min-height: auto;
      }

      &-content {
        min-height: auto;
      }
    }
  }

  &--text {
    top: -20px;
    z-index: 2;
  }

  &--reservation {
    top: -80px;
  }

  &--tl {
    .s-box {
      &-side {
        &-left {
          height: calc(100% - 10px);

          &:after {
            content: none;
          }
        }

        &-right {
          height: 100%;
          top: 0;

          &:before,
          &:after {
            content: none;
          }
        }
      }
    }
  }

  &--bl {
    .s-box {
      &-side {
        &-left {
          height: calc(100% - 10px);
          top: 0;

          &:before {
            content: none;
          }
        }

        &-right {
          height: 100%;
          top: 0;

          &:before,
          &:after {
            content: none;
          }
        }
      }
    }
  }

  &--tr {
    .s-box {
      &-side {
        &-left {
          height: 100%;
          top: 0;

          &:before,
          &:after {
            content: none;
          }
        }

        &-right {
          height: calc(100% - 10px);

          &:after {
            content: none;
          }
        }
      }
    }
  }

  &--br {
    .s-box {
      &-side {
        &-left {
          height: 100%;
          top: 0;

          &:before,
          &:after {
            content: none;
          }
        }

        &-right {
          height: calc(100% - 10px);
          top: 0;

          &:before {
            content: none;
          }
        }
      }
    }
  }

  &--tl-br {
    .s-box {
      &-side {
        &-left {
          height: calc(100% - 10px);

          &:after {
            content: none;
          }
        }

        &-right {
          height: calc(100% - 10px);
          top: 0;

          &:before {
            content: none;
          }
        }
      }
    }
  }

  &--bl-tr {
    .s-box {
      &-side {
        &-left {
          height: calc(100% - 10px);
          top: 0;

          &:before {
            content: none;
          }
        }

        &-right {
          height: calc(100% - 10px);

          &:after {
            content: none;
          }
        }
      }
    }
  }

  &--big {
    .s-box {
      &-side {
        &-left,
        &-right {
          width: 20px;
          height: calc(100% - 40px);
          top: 20px;

          &:before,
          &:after {
            width: 10px;
            height: 10px;
          }

          &:before {
            top: -10px;
          }

          &:after {
            bottom: -10px;
          }
        }
      }

      &-body {
        width: calc(100% - 40px);
        padding: 20px 0;
      }
    }

    &.s-box {
      &--tl {
        .s-box {
          &-side {
            &-left {
              height: calc(100% - 20px);
            }

            &-right {
              height: 100%;
              top: 0;
            }
          }
        }
      }

      &--bl {
        .s-box {
          &-side {
            &-left {
              height: calc(100% - 20px);
              top: 0;
            }

            &-right {
              height: 100%;
              top: 0;
            }
          }
        }
      }

      &--tr {
        .s-box {
          &-side {
            &-left {
              height: 100%;
              top: 0;
            }

            &-right {
              height: calc(100% - 20px);
            }
          }
        }
      }

      &--br {
        .s-box {
          &-side {
            &-left {
              height: 100%;
              top: 0;
            }

            &-right {
              height: calc(100% - 20px);
              top: 0;
            }
          }
        }
      }

      &--tl-br {
        .s-box {
          &-side {
            &-left {
              height: calc(100% - 20px);
            }

            &-right {
              height: calc(100% - 20px);
              top: 0;
            }
          }
        }
      }

      &--bl-tr {
        .s-box {
          &-side {
            &-left {
              height: calc(100% - 20px);
              top: 0;
            }

            &-right {
              height: calc(100% - 20px);
            }
          }
        }
      }
    }
  }
}

.s-comment {

  &-title {
    height: 72px;
    margin-bottom: 15px;

    h4 {
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
    }
  }

  position: relative;
  margin-bottom: 30px;
  height: 154px;

  p {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include media-breakpoint-down(md) {
    &-title {
      height: 24px;
    }

    height: 88px;
  }

  @include media-breakpoint-down(sm) {
    height: 115px;
  }

  @include media-breakpoint-down(xs) {
    &-title {
      height: 48px;
    }

    height: 133px;
  }

  &:before, &:after {
    font-family: $font-caicon;
    position: absolute;
  }

  &:before {
    content: $caicon-quote-left;
    top: -10px;
    left: -40px;
    color: $c-gray6;
    font-size: $font-40;
    opacity: .5;
  }

  &:after {
    content: $caicon-quote-right;
    bottom: -40px;
    right: -55px;
    color: $c-gray7;
    font-size: $font-70;
    opacity: .7;
  }
}
