.s-card-wrapper {
  border: none;
  cursor: pointer;
  background-color: $c-white;
  position: relative;
  overflow: hidden;
  transition: opacity .5s ease;

  .g-tag {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;

    &-left {
      left: -5px;
      right: inherit;
    }

    &-sale {
      top: 41px;
      right: 15px;
    }

    &-from {
      position: static;
    }

    @include media-breakpoint-down(sm) {
      .g-tag-sale {
        top: 38px;
        right: 12px;
      }
    }
  }

  figure {
    position: relative;
    margin: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
    padding: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($c-black, .4);
    }

    &.s-card-wrapper-fog {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      visibility: hidden;
      padding: 50px;
      align-items: flex-end;
      background: $c-grandient-fog;
      transition: opacity .5s ease;

      span, p, a {
        color: $c-white;
      }

      a {
        &:after {
          background-color: $c-white;
        }
      }

      figcaption {
        margin-bottom: 0;
        span {
          &.experience {
            &:after {
              background-color: $c-white;
            }
          }
        }
      }

      > div {
        position: relative;
      }
    }

    figcaption {
      width: 100%;
      z-index: 1;
      position: relative;
      > span {
        color: $c-white;
        position: relative;
        font-size: $font-16;
        font-weight: $fw-bold;
        display: inline-block;
        margin-bottom: 25px;
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 30%;
          height: 2px;
          background-color: $c-white;
        }
        &.experience {
          margin-top: 20px;
          margin-bottom: 0;
          padding-left: 15px;
          font-weight: $fw-normal;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 2px;
            width: 1px;
            height: 100%;
            background-color: $c-primary;
          }
        }
      }

      p {
        margin: 0;
        color: $c-white;
        line-height: 1;
        margin-bottom: 10px;
        font-size: $font-24;
        font-weight: $fw-bold;
        font-family: $font-nexa-slab;
        span {
          display: block;
          margin-top: 7px;
          font-weight: $fw-book;
          font-family: $font-nexa-slab;
        }
      }
    }
  }

  &--xs {
    figure {
      padding: 40px 20px;
    }
  }

  &--md {
    figure {
      padding: 40px;
    }
  }

  &--xs, &--md {
    height: 260px;

    figure {
      &.s-card-wrapper-fog {
        padding: 20px;
      }
    }
  }

  &--sm {
    height: 420px;

    figure {
      padding: 70px;

      &.s-card-wrapper-fog {
        padding: 40px;
      }
    }
  }

  &--lg {
    height: 550px;
  }

  @include media-breakpoint-down(md) {
    &.show-detail {
      .s-card-wrapper-fog {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &:hover {
      .s-card-wrapper-fog {
        opacity: 1;
        visibility: visible;
      }
    }
  }


  @include media-breakpoint-down(lg) {
    figure {
      figcaption {
        > span {
          font-size: $font-14;
        }

        p {
          font-size: $font-24;
        }
      }
    }

    &--xs, &--md {
      figure {
        padding: 30px;
      }
    }

    &--sm {
      figure {
        padding: 40px;

        &.s-card-wrapper-fog {
          padding: 20px;
        }
      }
    }

    &--lg {
      figure {
        padding: 60px;

        &.s-card-wrapper-fog {
          padding: 20px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    &--xs, &--sm, &--md, &--lg {
      height: 350px;

      figure {
        padding: 60px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &--xs, &--sm, &--md, &--lg {
      height: 290px;
    }

    &--xs, &--md, &--lg {
      figure {
        padding: 50px 90px 50px 30px;
      }
    }

    &--sm {
      figure {
        padding: 40px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    figure {
      figcaption {
        > span {
          font-size: $font-13;
        }

        p {
          font-size: $font-18;
        }
      }
    }
  }
}
