.descriptor-info-ca {
  &--big {
    padding-right: 40px;
    font-weight: $fw-bold;
    font-family: $font-nexa-slab;
    @extend %descriptor-tags;
  }

  &--little {
    padding-left: 40px;
    font-weight: $fw-light;

    @media (max-width: $break-medium) {
      padding-left: 15px;
    }
  }

  &--assessment {
    .descriptor-info-ca--little {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  &--buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;

    .g-btn-black {
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}