.s-figure {
  &-absolute {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;

    > figure {
      width: calc(100% - 190px);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      margin: 0;
    }

    &--invert {
      @include media-breakpoint-up(md) {
        justify-content: flex-end;

        > figure {
          width: calc(100% - 190px);
          right: inherit;
          left: 0;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0;

      > figure {
        width: 100%;
        height: 350px;
        position: relative;
        margin-bottom: -20px;
      }
    }

    @include media-breakpoint-down(sm) {
      > figure {
        height: 250px;
      }
    }

    @include media-breakpoint-down(xs) {
      > figure {
        height: 180px;
      }
    }
  }

  &-gallery {
    height: 420px;
    position: relative;
    background-color: $c-gray7;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-down(xs) {
      height: 360px;
    }

    @media (max-width: 425px) {
      height: 300px;
    }
  }
}
