// Text
.g-text {
  &-with-line {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $c-primary;
    }
  }
}
