.g-heading {
  position: relative;
  font-size: $font-50;
  font-weight: $fw-book;
  font-family: $font-nexa-slab;

  &:before {
    content: "";
    top: 28px;
    left: -50px;
    width: 40px;
    height: 1px;
    position: absolute;
    background-color: $c-primary;
  }

  &:after {
    content: "";
    top: 23px;
    left: -18px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: $c-primary;
  }

  &--sm {
    font-size: $font-30;

    &:before {
      top: 18px;
    }

    &:after {
      top: 13px;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: $font-40;

    &:before {
      top: 25px;
    }

    &:after {
      top: 20px;
    }

    &--sm {
      font-size: $font-30;

      &:before {
        top: 18px;
      }

      &:after {
        top: 13px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    font-size: $font-30;

    &:before {
      top: 20px;
    }

    &:after {
      top: 15px;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-20;

    &:before {
      top: 12px;
    }

    &:after {
      top: 9px;
      left: -12px;
      width: 6px;
      height: 6px;
    }
  }

  @include media-breakpoint-down(xs) {
    padding-left: 25px;

    &:before {
      left: -25px;
    }

    &:after {
      left: 13px;
    }
  }

  &-rest {
    &--alma {
      font-family: $font-brandon;
      font-size: $font-30;
      font-weight: $fw-ultra-bold;

      @include media-breakpoint-down(sm) {
        font-size: $font-18;
      }
    }

    &--sama {
      font-family: $font-heavitas;
      font-size: $font-25;

      @include media-breakpoint-down(sm) {
        font-size: $font-16;
      }
    }

    &--plaza {
      font-family: $font-druk;
      font-size: $font-35;
      font-weight: $fw-bold;

      @include media-breakpoint-down(sm) {
        font-size: $font-18;
      }
    }
  }
}

.s-heading-assessment {
  .s-text-assessment {
    padding-left: 20px;
    border-left: 1px solid $c-gray6;

    @media (max-width: $break-medium) {
      padding-left: 0;
      border-left: none;
    }
  }
}

.s-subheading {
  position: relative;
  font-size: $font-17;
  font-weight: $fw-bold;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: $c-primary;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-14;
    margin-bottom: 15px;

    &:after {
      bottom: -8px;
    }
  }
}
