.g-main-banner {
  padding: 7px;
  position: relative;
  height: 714px;

  @include media-breakpoint-down(lg) {
    height: 614px;
  }

  @include media-breakpoint-down(md) {
    height: 500px;
  }

  @include media-breakpoint-down(sm) {
    height: 420px;
    padding: 0;
  }

  @include media-breakpoint-down(xs) {
    height: 380px;
  }

  .g-tag-image {
    position: absolute;
    top: calc(38% - 60px);
    left: -15px;
    z-index: 4;
  }

  &-controls {
    position: absolute;
    right: 10px;
    top: calc(50% - 62.5px);
    padding: 0 8px;
    z-index: 4;

    ul {
      margin: 0;
      padding: 0;
      color: $c-white;
      list-style: none;
      text-align: center;

      li {
        position: relative;
        transition: $tr-3-ease;

        &.number {
          cursor: pointer;

          &:after {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            top: calc(50% - 1px);
            right: -17px;
            background-color: $c-primary;
            transition: width .3s ease;
          }

          &.active {
            font-size: $font-22;
            font-weight: $fw-bold;

            &:after {
              width: 15px;
            }
          }
        }

        &.dot {
          padding-top: 15px;
        }

        &:last-child {
          display: none;
        }

        span {
          top: 50%;
          left: 50%;
          width: 3px;
          height: 3px;
          position: absolute;
          border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #ffffff;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      right: inherit;
      top: inherit;
      left: 50%;
      bottom: 25px;
      transform: translateX(-50%);

      ul {
        display: flex;
        align-items: center;

        li {
          &.number {
            width: 13px;
            height: 13px;
            background-color: $c-white;
            font-size: 0;
            border-radius: 50%;
            margin: 0 5px;

            &:after {
              content: none;
            }

            &.active {
              width: 15px;
              height: 15px;
              background-color: $c-primary;
              font-size: 0;
            }
          }

          &.dot {
            display: none;
          }
        }
      }
    }

    &--hide {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &-content {
    position: relative;
    width: 100%;

    > .banner-item {
      width: 100%;
      height: 700px;
      display: none;
      flex: 1;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
      align-items: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      @include media-breakpoint-down(lg) {
        height: 600px;
      }

      @include media-breakpoint-down(md) {
        height: 500px;
      }

      @include media-breakpoint-down(sm) {
        height: 420px;
      }

      @include media-breakpoint-down(xs) {
        height: 380px;
      }

      .banner-item-video,
      .banner-item-img,
      video {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }

      .banner-item-video,
      .banner-item-img {
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $c-white;
      }

      .banner-item-video {
        overflow: hidden;

        video {
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
        }
      }

      .banner-item-img {
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        background-image: url($url-images + "/main-banner.png");
        transition: .3s;

        @include media-breakpoint-down(md) {
          &.mobile-left {
            background-position: 20% center;
          }

          &.mobile-right {
            background-position: 80% center;
          }
        }
      }

      .banner-item-fog {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $c-alpha-fog;
        opacity: 0.5;
        z-index: 2;
      }

      .banner-item-inner {
        z-index: 3;
        padding: 50px;
        position: relative;
        display: block;
        margin: 0 auto;

        &--sm {
          padding: 30px 40px;
        }

        &--left {
          .g-btn {
            float: left;
          }
        }

        &--right {
          .g-btn {
            float: right;
          }
        }

        &--align {
          .g-main-banner-title {
            &--left, &--right {
              max-width: 500px;

              span {
                white-space: nowrap;
              }
            }
          }
        }

        .g-main-banner-title {
          text-align: center;

          &--left {
            text-align: left;
          }

          &--right {
            text-align: right;
          }
        }

        .corner {
          width: 30px;
          height: 30px;
          border: 3px solid $c-transparent;
          position: absolute;

          &-top-left, &-bottom-right {
            border-color: $c-white;
          }

          &-top-right, &-bottom-left {
            border-width: 6px;
          }

          &-top-left, &-top-right {
            top: 0;
            border-bottom: none;
          }

          &-bottom-left, &-bottom-right {
            bottom: 0;
            border-top: none;
          }

          &-top-left, &-bottom-left {
            left: 0;
            border-right: none;
          }

          &-top-right, &-bottom-right {
            right: 0;
            border-left: none;
          }
        }

        @include media-breakpoint-down(sm) {
          padding: 30px;
        }

        @include media-breakpoint-down(xs) {
          padding: 30px 20px;
        }
      }

      &.active {
        display: flex;

        &.banner-item-right {
          transform: translateX(100%) !important;

          @supports (transform-style: preserve-3d) {
            transform: translate3d(100%, 0, 0) !important;
          }
        }

        &.banner-item-left {
          transform: translateX(-100%) !important;

          @supports (transform-style: preserve-3d) {
            transform: translate3d(-100%, 0, 0) !important;
          }
        }
      }

      &-next, &-prev {
        display: flex;
        position: absolute;
        top: 0;
      }

      &-next {
        transform: translateX(100%) !important;

        @supports (transform-style: preserve-3d) {
          transform: translate3d(100%, 0, 0) !important;
        }
        &.banner-item-left {
          transform: translateX(0);

          @supports (transform-style: preserve-3d) {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      &-prev {
        transform: translateX(-100%) !important;

        @supports (transform-style: preserve-3d) {
          transform: translate3d(-100%, 0, 0) !important;
        }
        &.banner-item-right {
          transform: translateX(0);

          @supports (transform-style: preserve-3d) {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      @media not all,
      (-webkit-transform-3d) {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &.active {
          left: 0;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &-caption {
    position: relative;
    z-index: 3;
  }

  &-title {
    color: $c-white;
    font-size: $font-40;
    font-weight: $fw-thin;
    margin: 0;

    span {
      display: block;
      font-size: $font-90;
      font-weight: $fw-bold;
      font-family: $font-nexa-slab;
      text-transform: none;
      line-height: 1;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }

    &--alma {
      span {
        font-family: $font-brandon;
        font-size: 82px;
      }
    }

    &--sama {
      span {
        font-family: $font-heavitas;
        font-size: 65px;
        font-weight: $fw-normal;
        line-height: 1.2;
      }
    }

    &--plaza {
      span {
        font-family: $font-druk;
        font-size: 90px;
        line-height: 1.2;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: $font-30;

      span {
        font-size: $font-70;
      }

      &--alma {
        span {
          font-size: 70px;
        }
      }

      &--sama {
        span {
          font-size: 55px;
        }
      }

      &--plaza {
        span {
          font-size: 75px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      font-size: $font-24;

      span {
        font-size: $font-55;
      }

      &--alma {
        span {
          font-size: 60px;
        }
      }

      &--sama {
        span {
          font-size: 45px;
        }
      }

      &--plaza {
        span {
          font-size: 63px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-20;

      span {
        font-size: $font-44;
      }

      &--alma {
        span {
          font-size: 48px;
        }
      }

      &--sama {
        span {
          font-size: 35px;
        }
      }

      &--plaza {
        span {
          font-size: 48px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      font-size: $font-15;

      span {
        font-size: $font-35;
      }

      &--alma {
        span {
          font-size: 36px;
        }
      }

      &--sama {
        span {
          font-size: 30px;
        }
      }

      &--plaza {
        span {
          font-size: 36px;
        }
      }
    }
  }

  &-brand {
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transform: skew(8deg, 0);

    img {
      position: relative;
      transform: skew(-8deg, 0);
    }

    &-overlay {
      &-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 465px);
        height: 100%;
        overflow: hidden;
        z-index: 3;
      }

      position: absolute;
      top: 0;
      left: 80px;
      width: 50vw;
      height: 100%;
      transform: skew(8deg, 0);
    }

    @include media-breakpoint-down(lg) {
      &-overlay {
        &-wrapper {
          width: calc(50% - 365px);
        }
      }
    }

    @include media-breakpoint-down(md) {
      &-overlay {
        &-wrapper {
          width: calc(50% - 255px);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &-overlay {
        &-wrapper {
          width: 100%;
          height: 50px;
          top: inherit;
          bottom: 45px;
        }

        left: inherit;
        right: -50px;
        width: 100px;
      }

      position: relative;
      left: -50px;
    }
  }

  &--md {
    height: 614px;

    .g-main-banner {
      &-content {
        > .banner-item {
          height: 600px;
        }
      }

      &-brand {
        height: 600px;
      }
    }

    @include media-breakpoint-down(lg) {
      height: 514px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 500px;
          }
        }

        &-brand {
          height: 500px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      height: 420px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 420px;
          }
        }

        &-brand {
          height: 420px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .g-main-banner {
        &-brand {
          height: 50px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      height: 380px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 380px;
          }
        }
      }
    }
  }

  &--sm {
    height: 474px;

    .g-main-banner {
      &-content {
        > .banner-item {
          height: 460px;
        }
      }

      &-brand {
        height: 460px;
      }
    }

    @include media-breakpoint-down(lg) {
      height: 414px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 400px;
          }
        }

        &-brand {
          height: 400px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      height: 360px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 360px;
          }
        }

        &-brand {
          height: 360px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .g-main-banner {
        &-brand {
          height: 50px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      height: 320px;

      .g-main-banner {
        &-content {
          > .banner-item {
            height: 320px;
          }
        }
      }
    }
  }
}
