.g-modal {
  background-color: $c-alpha-black;
  opacity: 0;
  @extend %fixed-content;
  transition: $tr-3-ease-out .2s;

  &-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    min-height: calc(100% - 60px);
    margin: 30px auto;
    transform: translateY(-50px);
    transition: $tr-2-ease 0s;

    &.sm {
      width: 550px;
    }

    &.md {
      width: 750px;
    }

    &.lg {
      width: 1070px;
    }

    &.multimedia {
      // Add styles for multimedia modal.
    }

    &.swal2-modal {
      min-height: inherit;
      transform: none;
      pointer-events: auto;
    }

    .swal2-icon {
      width: 80px;
      height: 80px;
      background-color: $c-gray6;
      border-radius: 50%;
      border: none;

      &.swal2-warning {
        color: $c-gray1;

        .swal2-icon-text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0;

          &:before {
            content: "\f376";
            @extend %pseudo-icon;
            font-size: $font-40;
          }
        }
      }
    }

    &.swal2-popup {
      padding: 50px;

      .swal2-title {
        font-size: $font-15;
        font-weight: $fw-normal;
      }

      .swal2-actions {
        .g-btn {
          width: 170px;

          + .g-btn {
            margin-left: 20px;
          }
        }
      }
    }
  }

  &-content {
    position: relative;
    width: 100%;
    background-color: $c-white;
    @include prefix(border-radius, 5px);
    opacity: 0;
    transition: $tr-3-ease-out 0s;
  }

  &-header {
    position: relative;
    text-align: center;
    padding: 30px 60px 15px;
  }

  &-body {
    padding: 15px 60px 50px;

    &-tabs {
      padding: 20px 0 0 0;
    }
  }

  &-close {
    position: absolute;
    top: 12px;
    right: 15px;
    color: $c-gray1;
    background-color: $c-transparent;
    font-size: 20px;
    border: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;

    &:hover {
      color: $c-red1;
    }
  }

  &-open {
    overflow: hidden;

    .g-modal {
      opacity: 1;
      transition: $tr-3-ease 0s;

      &-dialog {
        pointer-events: auto;
        transform: none;
        transition: $tr-5-ease .2s;
      }

      &-content {
        opacity: 1;
        transition: $tr-5-ease-in .2s;
      }
    }
  }
}

@media (max-width: $break-medium) {
  .g-modal {
    &-dialog {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
