.s-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $c-gray7;

  &--from,
  &--to {
    flex: 1;
    padding: 15px 20px;
  }

  &--from {
    border-right: 1px solid $c-gray6;
  }
}