.s-table {
  &-content {
    overflow-x: auto;
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
    -webkit-overflow-scrolling: auto;
  }

  width: 100%;
  background-color: $c-white;

  @include media-breakpoint-down(sm) {
    font-size: $font-13;
  }

  thead {
    border-bottom: 1px solid #f0f0f0;
  }

  tbody {
    tr {
      &:nth-child(2n) {
        td {
          background-color: $c-gray7;
        }
      }
    }
  }

  th {
    vertical-align: top;
  }

  th,
  td {
    padding: 6px 15px;
  }

  &--rooms {
    thead {
      box-shadow: 0 4px 10px -6px rgba($c-black, .2);

      th {
        padding: 15px 20px;
        vertical-align: top;

        &:first-child {
          vertical-align: bottom;
        }
      }
    }

    tbody {
      td {
        padding: 6px 20px;

        &:first-child {
          font-weight: $fw-bold;
          white-space: nowrap;
          border-right: 2px solid darken($c-gray7, 5%);
        }

        &:nth-child(5) {
          border-right: 2px solid darken($c-gray7, 5%);
        }
      }
    }
  }

  &--transfer {
    thead {
      tr {
        background-color: $c-primary;
        color: $c-white;
        white-space: nowrap;
      }
    }
  }

  &--icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-gray6;
    font-size: $font-28;
    margin-bottom: 10px;
  }
}
