.s-tab {
  position: relative;

  &-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    overflow-x: auto;
    padding: 0 15px 25px;
    margin: 0 0 10px;
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));

    &--invert {
      @include fancyScrollbar(rgba($c-white, .6), rgba($c-white, .4));

      .s-tab-nav {
        &-item {
          &::after {
            background-color: $c-white;
          }
        }
      }
    }

    &-item {
      position: relative;
      padding: 0 15px;

      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        position: absolute;
        top: 6px;
        right: 1px;
        background-color: $c-black;
        border-radius: 50%;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;

        &::after {
          content: none;
        }
      }
    }

    &-link {
      display: block;
      min-width: 80px;
      max-width: 170px;
      position: relative;
      font-family: $font-arquitecta;
      font-size: $font-13;
      font-weight: $fw-bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .06em;
      transition: $tr-2-ease-out;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -8px);
        transition: $tr-2-ease-out;
      }

      &:before {
        width: calc(100% - 30px);
        height: 2px;
        bottom: -8px;
        background-color: $c-black;
      }

      &:after {
        width: 0;
        height: 0;
        bottom: -18px;
        border-right: 5px solid transparent;
        border-top: 5px solid $c-black;
        border-left: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }

      &.active, &:hover {
        color: $c-black;
        font-weight: $fw-ultra-bold;
        transition: $tr-2-ease-in;

        &:before, &:after {
          opacity: 1;
          transform: translate(-50%, 0);
          transition: $tr-2-ease-in;
        }
      }

      &--primary {
        color: $c-primary;

        &:before {
          background-color: $c-primary;
        }

        &:after {
          border-top: 5px solid $c-primary;
        }

        &.active, &:hover {
          color: $c-primary;
        }
      }

      &--invert  {
        color: $c-white;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        min-width: inherit;
        max-width: inherit;
      }
    }

    &--buttons {
      padding: 0 0 15px;
      overflow-x: inherit;

      @include media-breakpoint-down(lg) {
        overflow-x: auto;
      }

      .s-tab {
        &-nav {
          &-item {
            flex: 1;

            &:first-child {
              padding: 0 15px 0 0;
            }

            &:last-child {
              padding: 0 0 0 15px;
            }

            &:after {
              content: none;
            }

            .g-btn {
              height: 100%;

              .active {
                box-shadow: 0 9px 9px -7px rgba($c-black, .26);
              }
            }

            .g-btn-outline--black {
              &:after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                width: 0;
                height: 0;
                bottom: -17px;
                border-right: 8px solid transparent;
                border-top: 8px solid $c-black;
                border-left: 8px solid transparent;
                border-bottom: 8px solid transparent;
                opacity: 0;
                transform: translate(-50%, -5px);
                transition: $tr-2-ease-out;
              }

              &.active, &:hover {
                &:after {
                  opacity: 1;
                  transform: translate(-50%, 0);
                  transition: $tr-2-ease-in;
                }
              }
            }

            @include media-breakpoint-down(xs) {
              padding: 0;

              &:first-child {
                padding: 0;
              }

              &:last-child {
                padding: 0;
              }

              .g-btn-outline {
                padding: 10px 15px;
              }
            }
          }
        }
      }
    }

    &--center {
      justify-content: center;

      @include media-breakpoint-down(md) {
        justify-content: flex-start;
      }
    }

    &--dropdown {
      @include media-breakpoint-down(sm) {
        background-color: white;
        box-shadow: 0 9px 11px -3px rgba($c-black,.2);
        flex-wrap: wrap;
        left: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0 15px;
        position: absolute;
        top: inherit;
        transition: all .5s ease;
        width: 100%;
        z-index: 5;

        .s-tab-nav-link {
          padding: 3px 0;

          &::before,
          &::after {
            content: none;
          }

          &.active {
            border-bottom: 1px solid $c-black;
          }

          &--invert  {
            color: $c-primary;

            &.active {
              border-bottom: 1px solid $c-primary;
            }
          }
        }

        &.active {
          max-height: 1000px;
          padding: 15px;
        }
      }
    }

    &-button {
      align-items: center;
      background-color: $c-transparent;
      border: none;
      display: flex;
      font-family: $font-arquitecta;
      font-size: $font-13;
      font-weight: $fw-ultra-bold;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;
      text-transform: uppercase;
      width: 100%;

      i {
        font-size: $font-16;
        margin-left: 10px;
        transition: all .3s ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
      }

      &::before {
        background-color: $c-black;
        bottom: -8px;
        height: 1px;
        width: 80px;
      }

      &::after {
        border-bottom: 5px solid $c-transparent;
        border-left: 5px solid $c-transparent;
        border-right: 5px solid $c-transparent;
        border-top: 5px solid $c-black;
        bottom: -18px;
        height: 0;
        width: 0;
      }


      &.active {
        i {
          transform: rotate(180deg);
        }
      }

      &--invert {
        color: $c-primary;

        &::before {
          background-color: $c-primary;
        }

        &::after {
          border-top: 5px solid $c-primary;
        }
      }

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &-pane {
    display: none;
    opacity: 0;
    transition: $tr-2-ease-out;

    &.active {
      display: block;
      opacity: 1;
      transition: $tr-3-ease-in;
    }
  }
}
