.why-ca {
  &-img {
    height: calc(100% - 150px);

    @include media-breakpoint-down(lg) {
      height: calc(100% - 120px);
    }

    @include media-breakpoint-down(md) {
      height: calc(100% - 100px);
    }

    @include media-breakpoint-down(sm) {
      height: calc(100% - 70px);
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &-geometric-img {
    height: 260px;
    position: relative;
    right: -210px;
    bottom: -30px;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      right: -150px;
      height: 200px;
    }

    @include media-breakpoint-down(md) {
      right: -90px;
      height: 170px;
    }

    @include media-breakpoint-down(sm) {
      right: -50px;
      height: 140px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
