<div class="g-alert error text-center">
  <p class="g-fs-12 mb-0 d-inline-flex align-items-center">
    <span class="g-icon g-icon-alert g-fs-15 g-cl-red2 mr-1"></span>
    <ng-content></ng-content>
  </p>
</div>
