<div class="d-flex">

  <div class="g-card {{modifierClass}} g-box-shadow-none">

    <img class="g-img-fluid mx-auto d-block" src="{{srcImg}}">

  </div>

</div>

<p class="text-center">{{componentTitle}}</p>