<div class="row align-items-center {{modifierClass}}">

  <div class="col-5">

    {{#title}}
      {{>atoms-Text}}
    {{/title}}

    {{#titleList}}
      {{>molecules-Title-list}}
    {{/titleList}}

  </div>

  <div class="col-7 text-right">

    {{#linkWithIcon}}
      {{>atoms-Link-with-icon}}
    {{/linkWithIcon}}

    {{#button}}
      {{>atoms-Button-with-icon}}
    {{/button}}

  </div>

</div>
