<div class="pl-2 {{modifierClass}}">

  {{#answer}}
    <div>

      {{#infoWithIcon}}
        {{>atoms-Info-with-icon}}
      {{/infoWithIcon}}

      {{#formGroupTextarea}}
        {{>molecules-Label-with-textarea}}
      {{/formGroupTextarea}}

      {{#text}}
        {{>atoms-Text}}
      {{/text}}

    </div>
  {{/answer}}

</div>
