<ul class="c-nav-tab {{modifierClass}}">

  {{#item}}
    <li class="c-nav-tab-item">

      <a href="#" class="c-nav-tab-link {{stateClass}}">
        {{text}}
      </a>

    </li>
  {{/item}}

</ul>
