<div class="g-height-350 d-flex flex-column justify-content-center align-items-center p-5">

  {{#text}}
    {{>atoms-Text}}
  {{/text}}

  {{#buttonType}}
    <div class="row w-100 no-gutters justify-content-center">
      <div class="col-5">

        <div class="row no-gutters justify-content-between">

          {{#button}}
            {{>atoms-Button-with-icon}}
          {{/button}}

          {{#buttonIcon}}
            {{>atoms-Slider-type-button}}
          {{/buttonIcon}}

        </div>

      </div>
    </div>
  {{/buttonType}}

</div>
