<div class="c-file-preview {{filePreviewClass}}">
  <div class="c-file-preview-icon">

    {{#filePreviewIcon}}
      {{>atoms-Icon}}
    {{/filePreviewIcon}}

  </div>

  <div class="c-file-preview-info">

    {{#filePreviewInfo}}
      {{>atoms-Text}}
    {{/filePreviewInfo}}

  </div>
</div>
