<div class="g-img-preview {{modifierClass}}">

  {{#before}}
    <div class="g-img-preview-before">

      {{#infoText}}
        {{>atoms-Text}}
      {{/infoText}}

      {{#uploadButton}}
        {{>molecules-Img-upload-button}}
      {{/uploadButton}}

      {{#indicatorSlider}}
        {{>molecules-Indicator-slider}}
      {{/indicatorSlider}}

    </div>
  {{/before}}

  {{#after}}

    <div class="g-img-preview-img" style="background-image: url('{{img}}');">
    </div>

    {{#buttonClose}}
      {{>atoms-Button-close}}
    {{/buttonClose}}

    {{#buttonSelected}}
      {{>atoms-Input-check}}
    {{/buttonSelected}}

  {{/after}}

</div>
