<div class="c-indicator-slider {{modifierClass}}">

  <div class="c-indicator-slider-wrapper {{wrapperModifierClass}}">

    {{#item}}
      <div class="c-indicator-slider-item {{itemModifierClass}}"></div>
    {{/item}}

  </div>

</div>
