<ul class="g-restored-list {{modifierClass}}">
  {{#items}}
    <li>
      <div class="row">
        <div class="col-auto pr-0">

          {{#radioButton}}
            <div class="g-card-info">
              {{>atoms-Input-check}}
            </div>
          {{/radioButton}}

        </div>
        <div class="col pl-0">

          {{#versionDetails}}
            {{>molecules-Card-info}}
          {{/versionDetails}}

        </div>
      </div>
    </li>
  {{/items}}
</ul>
