<ul class="c-nav-add {{modifierClass}}">

  {{#item}}
    <li class="c-nav-add-item">

      <a href="#" class="c-nav-add-link {{stateClass}}">

        {{text}}

        {{#icon}}
          {{>atoms-Icon}}
        {{/icon}}

      </a>

    </li>
  {{/item}}

</ul>
