<label class="g-label g-fs-12 g-cl-gray7 g-text-uppercase" for="nSalida">{{ label }}</label>
<div class="g-input-dropdown g-input-dropdown-white g-input-date s-datepicker"  (click)="d.toggle()">
  <i class="la la-angle-down"></i>
  <div class="date">
    <span class="day">{{ dateFormated | date:'dd'}}</span>
    <div class="month">
      <span class="g-block">
        {{ dateFormated | date:'MMM yy'}}
      </span>
      <span class="g-block">
        {{ dateFormated | date:'EEEE'}}
      </span>
    </div>
  </div>
  <input
    class="form-control"
    placeholder="yyyy-mm-dd"
    style="visibility: hidden; height: 0px"
    name="dp"
    [minDate]="parseStringToNbdate(minDate)"
    (dateSelect)="selectingDate()"
    [(ngModel)]="model"
    placement="bottom"
    ngbDatepicker #d="ngbDatepicker">
</div>

