<div class="g-card-header">

  <div class="row align-items-strech flex-nowrap">

    {{#col}}
      <div class="{{colClass}}">

        {{#cardPageInfo}}
          {{>molecules-Card-page-info}}
        {{/cardPageInfo}}

        {{#cardInfo}}
          {{>molecules-Card-info}}
        {{/cardInfo}}

        {{#cardInfoText}}
          {{>molecules-Card-info-text}}
        {{/cardInfoText}}

        {{#squareBtn}}
          {{>atoms-Square-button}}
        {{/squareBtn}}

      </div>
    {{/col}}

  </div>

</div>
