<div class="g-card g-bgc-gray7 {{pagesAccordionClass}}">

  {{#cardHeader}}
    {{>organisms-Card-header}}
  {{/cardHeader}}


  {{#pagesAccordionBody}}
    <div class="g-card-body">

      {{#pageSummary}}
        {{>organisms-Page-summary}}
      {{/pageSummary}}

    </div>
  {{/pagesAccordionBody}}

</div>
