<div class="g-card">
  <div class="g-card-header">
    <div class="row justify-content-between">

      {{#column}}
        <div class="{{colClass}}">

          {{#cardPageInfo}}
            {{>molecules-Card-page-info}}
          {{/cardPageInfo}}

          {{#cardInfo}}
            {{>molecules-Card-info}}
          {{/cardInfo}}

          {{#cardInfoText}}
            {{>molecules-Card-info-text}}
          {{/cardInfoText}}

          {{#squareBtn}}
            {{>atoms-Square-button}}
          {{/squareBtn}}

        </div>
      {{/column}}

    </div>
  </div>
</div>
