{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionReservation}}
    {{>sections-Section-reservation}}
  {{/sectionReservation}}

  {{#sectionDescriptorInfoHotel}}
    {{>sections-Section-descriptor-info-hotel}}
  {{/sectionDescriptorInfoHotel}}

  {{#sectionServices}}
    {{>sections-Section-services}}
  {{/sectionServices}}

  {{#sectionBeneficies}}
    {{>sections-Section-beneficies}}
  {{/sectionBeneficies}}

  {{#sectionHabitaciones}}
    {{>sections-Section-habitaciones}}
  {{/sectionHabitaciones}}

  {{#sectionOpiniones}}
    {{>sections-Section-carousel-opiniones}}
  {{/sectionOpiniones}}

  {{#sectionCarouselWithoutPadding}}
    {{>sections-Section-carousel-without-padding}}
  {{/sectionCarouselWithoutPadding}}

  {{#sectionSales}}
    {{>sections-Section-carousel-sales}}
  {{/sectionSales}}

  {{#sectionNuestrosRestaurantes}}
    {{>sections-Section-nuestros-restaurantes}}
  {{/sectionNuestrosRestaurantes}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
