{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionDescriptorInfoHotel}}
    {{>sections-Section-descriptor-info-hotel}}
  {{/sectionDescriptorInfoHotel}}

  {{#sectionServices}}
    {{>sections-Section-services}}
  {{/sectionServices}}

  {{#sectionNuestrosRestaurantes}}
    {{>sections-Section-nuestros-restaurantes}}
  {{/sectionNuestrosRestaurantes}}

  {{#sectionSales}}
    {{>sections-Section-carousel-sales}}
  {{/sectionSales}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
