<section class="g-section {{modifierClass}}">

  <div class="container">

    <div class="row">

      <div class="col">

        {{#title}}
          {{>molecules-Heading}}
        {{/title}}

      </div>

    </div>

    <div class="row">

      {{#promocions}}

        <div class="col-12 mb-2">

          {{>organisms-Box-promociones}}

        </div>

      {{/promocions}}

    </div>

    <div class="row">

      <div class="col">

        {{#btnVerMas}}
          {{>atoms-Button}}
        {{/btnVerMas}}

      </div>

    </div>

  </div>

</section>
