<section class="g-section {{modifierClass}}">

  <div class="container">

    <div class="row align-items-center">

      <div class="col">

        {{#title}}
          {{>molecules-Heading}}
        {{/title}}

      </div>

      <div class="col-auto d-block d-xl-none">

        {{#button}}
          {{>atoms-Button}}
        {{/button}}

      </div>

    </div>

    <div class="row">

      <div class="col-12">

        {{#filter}}
          {{>organisms-Filter-box}}
        {{/filter}}

      </div>

    </div>

  </div>

</section>
