<ul class="c-list-dropdown active g-cursor-default">
  <li class="c-list-dropdown-item" *ngFor="let item of list">
    <span class="">{{ item.year }}:</span>
    <ul class="c-list-tags">
      <li class="c-list-tags-item text-capitalize" *ngFor="let date of item.dates">
        <a href="javascript:void(0)" class="c-list-tags-link" [ngClass]="{ 'active': current === date }" (click)="selectedFn(date)">
          {{ date | date:'MMMM' }}
        </a>
      </li>
    </ul>
  </li>
</ul>
