.g-search-form {
  position: relative;
  background-color: $c-white;
  padding: 0 15px;
  border-top: 1px solid $c-gray5;
  border-bottom: 1px solid $c-gray5;

  .g-btn-icon {
    margin-left: 3px;
  }
}
