@import './acordions';
@import './alerts';
@import './badge';
@import './breadcrumb';
@import './browser-preview';
@import './card';
@import './file';
@import './forms';
@import './header';
@import './heading';
@import './images';
@import './indicator';
@import './lists';
@import './loader';
@import './login';
@import './navs';
@import './rich-text';
@import './sidebar';
@import './tabs';

body.c-body {
  min-width: 1240px;
  color: $c-gray8;
}

// Container
.g-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Wrapper
.g-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

// Main
.g-main {
  min-width: calc(100% - 80px);
  max-width: calc(100% - 80px);
  min-height: calc(100vh - 80px);
  background-color: $c-gray7;
  padding: 0;
  transition: $tr-2-ease-out .1s;

  &-full {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;

    &--login {
      background-color: $c-gray1;
      background-image: url($url-images + '/bkg-texture.png');
      background-position: center;
    }
  }

  &-static {
    min-width: calc(100% - 265px);
    max-width: calc(100% - 265px);
  }
}

// Photo profile
.g-photo-profile, .g-circle-profile {
  width: 51px;
  height: 51px;
  overflow: hidden;
  background-color: $c-gray5;
  border: 2px solid $c-white;
  @include prefix(border-radius, 50%);

  img {
    max-width: 100%;
    min-height: 100%;
  }
}

.g-circle-profile {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  span {
    text-align: center;
    font-size: $font-24;
    font-weight: $fw-light;
  }
}

// Sender name
.g-sender-name {
  font-size: $font-14;
  margin-bottom: 0;

  span {
    display: block;
    font-size: $font-12;
    font-weight: $fw-normal;
  }

  &-img {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .g-sender-name {
      margin-left: 5px;
    }
  }
}

// Info With Icon
.g-info-w-icon {
  display: inline-flex;
  align-items: center;
  color: $c-gray8;
  font-size: $font-15;

  i {
    color: $c-gray8;
    font-size: $font-20;
    margin-right: 3px;
  }
}

// Info With Color Box
.g-info-color-box {
  display: flex;
  align-items: center;
  color: $c-gray8;
  font-size: $font-15;
}

.g-color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $c-gray6;
  margin-right: 5px;
  margin-bottom: 0;

  &.lg {
    width: 30px;
    height: 30px;
    margin-top: 8px;
  }
}

// Circle Info
.g-circle-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-gray6;
  border-radius: 50%;

  i {
    font-size: $font-30;
    color: $c-gray1;
  }
}

// Disabled state
.g-disabled {
  position: relative;
  opacity: .35;
  pointer-events: none;
  cursor: not-allowed;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Items in columns
.g-row {
  display: flex;
  flex-wrap: wrap;

  .g-col-50 {
    width: 50%;
  }
}

// Editor
.g-editor {
  &-header {
    position: relative;
    background-color: $c-white;
    padding: 0 15px;
    box-shadow: $box-shadow2;

    &-buttons {
      padding: 3px;

      .g-btn-square {
        margin-left: 3px;
      }
    }
  }

  &-form {
    &-header {
      position: relative;

      &-border {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10px;
        background-color: $c-gray1;
        border-radius: 0 5px 0 0;
      }
    }

    &-title {
      display: inline-block;
      background-color: $c-gray1;
      text-align: center;
      border-radius: 5px 5px 0 0;
      padding: 15px 40px 5px;

      h3 {
        margin-bottom: 0;
        font-weight: $fw-bold;
        font-size: $font-15;
        color: $c-white;
      }
    }

    &-body {
      display: block;
      background-color: $c-gray6;
      padding: 40px 50px;
      border-radius: 0 0 5px 5px;
    }
  }
}

// Component Wrapper
.g-component {
  &-wrapper {
    position: relative;
    display: block;

    &:after {
      content: "";
      display: block;
      width: calc(100% + 60px);
      height: calc(100% + 30px);
      position: absolute;
      top: -15px;
      left: -30px;
      background-color: $c-transparent;
      cursor: default;
      transition: $tr-2-ease;
      z-index: 10;
    }

    &:hover {

      &:after {
        background-color: rgba($c-black, .25);
      }

      .g-component-edit {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
        transform: translate(-50%, 15px);
        transition: transform .4s ease-in 0s, opacity .3s ease-in .2s;
        z-index: 11;
      }
    }

    &-empty {
      background-color: $c-gray5;
      border-radius: 5px;
      border: 1px solid $c-gray5;
    }

    &-drag {
      border: 1px dashed $c-gray2;
      transition: $tr-3-ease;
    }
  }

  &-edit {
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    transform: translate(-50%, -50%);
    transition: transform .3s ease-out 0s, opacity .1s ease-out 0s;
  }
}

// Template select
.g-template-select {
  background-color: $c-gray5;
  border-radius: 5px;
  padding: 20px;

  &-img {
    max-height: 300px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover {
      .g-template-select-overlay {
        background-color: rgba($c-black, .8);
        transition: $tr-3-ease 0s;

        .g-btn {
          opacity: 1;
          transition: opacity $tr-3-ease-in .2s;
        }
      }
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($c-black, 0);
    border-radius: 5px;
    transition: $tr-3-ease .1s;

    .g-btn {
      opacity: 0;
      transition: opacity .3s ease-out 0s;
    }
  }
}

// Restored
.g-restored {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $c-gray2;
    }
  }

  &-preview {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// Sticky
.sticky-top {
  position: sticky;
  top: 0;

  &-sidebar {
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0px;
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
  }
}
