.c-list {
  &-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 175px;
    width: 700px;
    max-height: 0;
    color: $c-gray8;
    background-color: $c-white;
    list-style: none;
    padding: 0 30px;
    margin: 0;
    border: none;
    box-shadow: none;
    overflow-y: hidden;
    z-index: 1000;
    transition: $tr-3-ease;

    &-item {
      text-align: left;
      list-style: none;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      > span {
        font-weight: $fw-bold;
      }
    }

    &-link {
      > i {
        font-size: $font-20;
        margin-right: 10px;
      }
    }

    &--scroll {
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));

      &.active {
        max-height: 270px;
        overflow-y: auto;
      }
    }

    &.active {
      max-height: 500px;
      padding: 30px;
      box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 -5px;

    &-item {
      list-style: none;
      padding: 5px;
    }

    &-link {
      display: block;
      font-weight: $fw-bold;
      border: 1px solid $c-gray6;
      border-radius: 15px;
      padding: 4px 20px;
      transition: $tr-2-ease-out;

      > i {
        position: relative;
        right: -8px;

        &:hover {
          color: $c-red1;
        }
      }

      &:hover,
      &.active {
        border-color: $c-primary;
      }

      &:hover {
        color: $c-gray8;
        box-shadow: $box-shadow2;
        transition: $tr-3-ease-in;
      }
    }
  }

  &-title {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      list-style: none;
      padding-right: 15px;
    }

    &-link {
      display: block;
      font-size: $font-20;
      font-weight: $fw-bold;
      text-transform: uppercase;
      border-bottom: 2px solid $c-transparent;
      padding: 5px;
      transition: $tr-3-ease;

      &.active {
        color: $c-primary;
        border-color: $c-primary;
      }
    }
  }

  &-robots {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    &-item {
      list-style: none;
      font-weight: $fw-bold;

      .g-btn-icon {
        padding: 4px 8px;

        i {
          font-size: 18px;
        }
      }
    }

    &-title {
      background-color: $c-gray6;
      padding: 8px 20px;
      border-bottom: 1px solid $c-gray5;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-detail {
      background-color: $c-gray7;
      padding: 6px 20px;
      border-bottom: 1px solid $c-gray6;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.c-sublist {
  &-robots {
    list-style: none;
    padding: 0;

    &-item {
      font-weight: $fw-normal;
    }
  }
}

// Options List
.g-options {
  &-list {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    min-width: 175px;
    max-height: 270px;
    background-color: $c-white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $c-gray6;
    box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
    overflow-y: auto;
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
    z-index: 1000;
    transition: $tr-3-ease;

    li {
      position: relative;

      + li {
        border-top: 1px solid $c-gray6;
      }
    }

    &-checkbox {
      li {
        padding: 16px 15px;

        .g-checkbox {
          width: 100%;
          font-size: $font-13;
          font-weight: $fw-medium;
          letter-spacing: .087em;
          white-space: nowrap;
        }
      }
    }
  }
}
