.c-nav {
  &-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;

    &-link {
      display: block;
      min-width: 160px;
      color: $c-white;
      background-color: $c-gray2;
      font-weight: $fw-bold;
      text-align: center;
      border-radius: 5px 5px 0 0;
      padding: 15px;
      transition: $tr-3-ease;

      &:hover,
      &.active {
        color: $c-white;
        padding: 17px;
      }

      &.active {
        background-color: $c-gray1;
        z-index: 1;
      }
    }
  }

  &-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      list-style: none;
    }

    &-link {
      position: relative;
      display: block;
      min-width: 160px;
      background-color: $c-gray6;
      font-weight: $fw-bold;
      text-align: center;
      padding: 12px 15px;
      transition: $tr-3-ease;

      i {
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        font-size: $font-20;
        transition: $tr-3-ease;

        &:hover {
          color: $c-red1;
        }
      }

      &:hover,
      &.active {
        color: $c-gray8;
      }

      &.active {
        background-color: $c-white;
        z-index: 1;
      }
    }
  }
}
