.c-rich-text {
  display: block;

  .ql-snow {
    &.ql-toolbar {
      background-color: $c-gray1;
      border-color: $c-gray1;
    }

    &.ql-toolbar,
    .ql-toolbar {
      button,
      .ql-picker-label,
      .ql-picker-item {
        color: $c-gray6;

        .ql-fill {
          fill: $c-gray6;
        }

        .ql-stroke {
          stroke: $c-gray6;

          &.ql-fill {
            fill: $c-gray6;
          }
        }

        .ql-stroke-miter {
          stroke: $c-gray6;
        }

        &:hover {
          color: $c-primary;

          .ql-fill {
            fill: $c-primary;
          }

          .ql-stroke {
            stroke: $c-primary;

            &.ql-fill {
              fill: $c-primary;
            }
          }

          .ql-stroke-miter {
            stroke: $c-primary;
          }
        }
      }

      button,
      .ql-picker-label {
        &.ql-active {
          color: $c-primary;

          .ql-fill {
            fill: $c-primary;
          }

          .ql-stroke {
            stroke: $c-primary;

            &.ql-fill {
              fill: $c-primary;
            }
          }

          .ql-stroke-miter {
            stroke: $c-primary;
          }
        }
      }

      button {
        &.ql-html {
          &::before {
            content: 'HTML';
          }
        }

        &:focus {
          color: $c-primary;

          .ql-fill {
            fill: $c-primary;
          }

          .ql-stroke {
            stroke: $c-primary;

            &.ql-fill {
              fill: $c-primary;
            }
          }

          .ql-stroke-miter {
            stroke: $c-primary;
          }
        }
      }

      .ql-picker-item {
        color: $c-gray3;

        .ql-fill {
          fill: $c-gray3;
        }

        .ql-stroke {
          stroke: $c-gray3;

          &.ql-fill {
            fill: $c-gray3;
          }
        }

        .ql-stroke-miter {
          stroke: $c-gray4;
        }

        &.ql-selected{
          color: $c-primary;

          .ql-fill {
            fill: $c-primary;
          }

          .ql-stroke {
            stroke: $c-primary;

            &.ql-fill {
              fill: $c-primary;
            }
          }

          .ql-stroke-miter {
            stroke: $c-primary;
          }
        }
      }
    }

    &.ql-container {
      height: 200px;
      .ql-editor {
        @include fancyScrollbar($c-gray6, $c-white);
      }

      .ql-html {
        &--content {
          width: 100%;
          margin: 0px;
          background: $c-gray2;
          box-sizing: border-box;
          color: $c-gray6;
          font-size: 13px;
          outline: none;
          padding: 12px 15px;
          line-height: 1.42;
          font-family: Consolas, Menlo, Monaco, 'Courier New', monospace;
          position: absolute;
          top: 0;
          bottom: 0;
          border: none;
          display: none;
          resize: none;

          @include fancyScrollbar($c-gray6, $c-gray8);

          &.active {
            display: block;
          }

          &::placeholder {
            font-style: italic;
          }
        }
      }
    }
  }
}
