<div class="g-box g-box--count g-box-shadow1" *ngIf="pageInfo.countdown">
  <div class="s-count ">
    <div>
      <h4 class="g-fs-16 g-text-center g-text-uppercase mb-1">
        {{ subtitle }}
      </h4>
    </div>
    <div>
      <span class="s-count--numbers s-count--numbers-day">
        {{ config.days | number:'2.0' }}
        <span class="g-cl-primary g-fs-16 g-text-uppercase">
          {{ config.days === 1 ? LANG[language].day: LANG[language].days }}
        </span>
      </span>
      <span class="s-count--numbers s-count--numbers-hour">
        {{ config.hours | number:'2.0' }}
        <span class="g-cl-primary g-fs-16 g-text-uppercase">
          {{ config.hours === 1 ? LANG[language].hour: LANG[language].hours }}
        </span>
      </span>
      <span class="s-count--numbers s-count--numbers-min">
        {{ config.minutes | number:'2.0' }}
        <span class="g-cl-primary g-fs-16 g-text-uppercase">
          {{ LANG[language].minutes }}
        </span>
      </span>
      <span class="s-count--numbers s-count--numbers-seg">
        {{ config.seconds | number:'2.0' }}
        <span class="g-cl-primary g-fs-16 g-text-uppercase">
          {{ LANG[language].seconds }}
        </span>
      </span>
    </div>
  </div>
</div>
