<div class="row">
  <div class="col-12">
    <ca-section-header
      *ngIf="title"
      [title]="title"
      type="black"></ca-section-header>
  </div>
</div>
<ca-event
  *ngFor="let item of itemsNew; index as i"
  [data]="item"
  class="row mb-2"
  [ngClass]="{'flex-md-row-reverse': i%2 === 0}">
</ca-event>
