<div class="g-btn-dropdown {{classModifier}}">

  <div class="g-btn-dropdown-inner">

    {{#buttonSelectIcon}}
      <span>

        {{>atoms-Icon}}

      </span>
    {{/buttonSelectIcon}}

    <span class="g-btn-dropdown-text">{{textButton}}</span>

  </div>

  {{#checkboxList}}
    {{>molecules-Checkbox-list}}
  {{/checkboxList}}

  {{#monthsList}}
    {{>molecules-Months-list}}
  {{/monthsList}}

</div>
