<div class="row no-gutters {{modifierClass}}">

  {{#column}}
    <div class="{{colClass}}">

      {{#label}}
        {{>atoms-Label}}
      {{/label}}

      {{#inputRadio}}
        {{>atoms-Input-check}}
      {{/inputRadio}}

      {{#previewImg}}
        {{>molecules-Img-upload-preview}}
      {{/previewImg}}

      {{#infoImg}}
        {{>molecules-Img-upload-info}}
      {{/infoImg}}

    </div>
  {{/column}}

</div>
