<div class="row align-items-center no-gutters {{modifierClass}}">

  {{#column}}
    <div class="{{colClass}}">

      {{#label}}
        {{>atoms-Label}}
      {{/label}}

      {{#inputRadio}}
        {{>atoms-Input-check}}
      {{/inputRadio}}

      {{#input}}
        {{>atoms-Input}}
      {{/input}}

      {{#uploadButton}}
        {{>atoms-Button-with-icon}}
      {{/uploadButton}}

      {{#simpleButton}}
        {{>atoms-Button}}
      {{/simpleButton}}

    </div>
  {{/column}}

</div>
