<div class="row">

  <div class="col-12">

    {{#userInput}}
      <div class="mb-2">

        {{>atoms-Input-with-icon}}

      </div>
    {{/userInput}}

    {{#passwordInput}}
      <div class="mb-2">

        {{>atoms-Input-with-icon}}

      </div>
    {{/passwordInput}}

    {{#switchInput}}
      <div class="mb-2">

        {{>atoms-Input-switch}}

      </div>
    {{/switchInput}}

  </div>

</div>
