<ul class="c-list-dropdown {{modifierClass}}">

  {{#dropdownListItem}}
    <li class="c-list-dropdown-item">

      {{#listItemText}}
        {{>atoms-Text}}
      {{/listItemText}}

      {{#tagsList}}
        {{>molecules-Tags-list}}
      {{/tagsList}}

    </li>
  {{/dropdownListItem}}

</ul>
