<ul class="c-list-tags {{modifierClass}}">

  {{#tagsListItem}}
    <li class="c-list-tags-item">

      <a href="#" class="c-list-tags-link {{tagsListLinkClass}}">

        {{tagsListItemText}}

        {{#tagslistItemIcon}}
          {{>atoms-Icon}}
        {{/tagslistItemIcon}}

      </a>

    </li>
  {{/tagsListItem}}

</ul>
