<div class="mb-4">
  <caadmin-subheading-actions [title]="title" [buttonAdd]="buttonAdd" (add)="onAdd($event)">
  </caadmin-subheading-actions>
  <div class="g-card-form">
    <div class="p-3">
      <ng-content>

      </ng-content>
      <div class="row">
        <div class="col-12 text-right mt-2">
          <button class="g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left mr-1"
            *ngIf="!hideCancel" (click)="onCancel()" type="button">
            <span>{{ GENERAL_LANG.buttons.cancel }}</span>
            <i class="la la-long-arrow-left"></i>
          </button>
          <button class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" *ngIf="!hideSave"
            (click)="onSave()" type="button">
            <span>{{ textSave }}</span>
            <i class="la la-save"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
