<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      <div class="g-modal-body {{modalBodyClass}}">

        {{#content}}

          {{#contentText}}
            {{>atoms-Text}}
          {{/contentText}}

          {{#contentTable}}
            {{>organisms-Table}}
          {{/contentTable}}

        {{/content}}

      </div>

    </div>
  </div>
</div>
