<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      <div class="g-modal-body {{modalBodyClass}}">

        {{#mapModal}}
          <div class="s-map-modal">

            {{#mapImage}}
              {{>atoms-Image}}
            {{/mapImage}}

            <div class="s-map-modal-detail">
              {{#detailCol}}
                <div class="{{detailColClass}}">

                  {{#detailInfo}}
                    <div class="s-map-modal-info">
                      <h5>

                        {{#detailInfoIcon}}
                          {{>atoms-Icon}}
                        {{/detailInfoIcon}}

                        {{detailInfoText}}

                      </h5>

                      <p><a href="{{detailInfoLinkUrl}}">{{detailInfoLinkText}}</a></p>
                    </div>
                  {{/detailInfo}}

                  {{#detailImg}}
                    {{>atoms-Image}}
                  {{/detailImg}}

                </div>
              {{/detailCol}}
            </div>

          </div>
        {{/mapModal}}

        {{#image}}
          {{>atoms-Image}}
        {{/image}}

      </div>

    </div>
  </div>
</div>
