<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      <div class="g-modal-body {{modalBodyClass}}">

        {{#contactForm}}
          {{>organisms-Contact-form}}
        {{/contactForm}}

      </div>

    </div>
  </div>
</div>
