<div class="row">
  <div class="col-12">
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 mb-md-5" *ngFor="let slide of sliders; let i = index">
    <ca-carousel-caption
      [type]="SLD_RESTAURANT_INPUTS?.types?.large"
      [index]="i"
      direction="1"
      [descriptorInfo]="slide?.descriptorInfo">
      <ng-container figure>
        <figure [caBackgroundurl]="slide?.backgroundImage[0]"></figure>
      </ng-container>
      <ng-container body>
        <div class="s-box-body">
          <div class="s-box-content pt-0 px-0 pb-4 pt-sm-2 px-sm-4">
            <img class="d-block mb-2" [src]="slide?.descriptorInfo?.url" alt="">
            <p class="g-block mb-2" [innerHTML]="slide?.descriptionOne">
            </p>
            <span class="g-fs-11 g-block g-fw-light" [innerHTML]="slide?.descriptionTwo">
            </span>
            <a
              *ngIf="slide?.textLink"
              [caUrlLink]="slide?.urlLink"
              class="g-link g-link-icon g-link-icon-right mt-3">
              {{ slide?.textLink }}
              <i class="la la-arrow-right"></i>
            </a>
          </div>
        </div>
      </ng-container>
    </ca-carousel-caption>
  </div>
</div>
