<div class="g-card-wrapper" [formGroup]="form">
  <div class="row">
    <div class="col">
      <caadmin-title-filter-actions [title]="'Suscriptores'" [showButtons]="'true'" (apply)="onApply()"
        (clean)="onClean()">
        <div class="col-auto">
          <ca-datepicker-range [formControl]="cDate" placeholder="Desde - Hasta">
          </ca-datepicker-range>
        </div>
        <div class="col-auto">
          <caadmin-dropdown-checkboxes icon="la-tag" [formControl]="cTypeSubscriber" placeholder="Tipo de subcriptor"
            [dataList]="typeSubcriber" valueField="code" textField="value">
          </caadmin-dropdown-checkboxes>
        </div>
      </caadmin-title-filter-actions>
    </div>
    <div class="col-auto">
      <div class="g-bl-1-so-gray4 pl-2">
          <button class="g-btn g-btn-with-icon g-btn-blue g-btn-icon-left" (click)="download()" type="button">Descargar<i
            class="la la-download"></i></button>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let subscriber of data?.content">
    <caadmin-card-row-actions [disabledEdit]="'true'" [confirmDelete]="messageDelete(subscriber)"
      (delete)="deleteSubscriber(subscriber)">
      <div class="col-3">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">Usuario</span>
          <span class="g-info-w-icon">
            <i class="la la-user"></i>
            <strong>{{ subscriber.name }}</strong>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">País</span>
          <span class="g-info-w-icon">
            <i class="la la-globe"></i>
            {{ subscriber.countryName }}
          </span>
        </div>
      </div>
      <div class="col">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">Teléfono</span>
          <span class="g-info-w-icon">
            <i class="la la-phone"></i>
            {{ subscriber.phone }}
          </span>
        </div>
      </div>
      <div class="col">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">Tipo</span>
          <span class="g-info-w-icon">
            <!-- <i class="la la-flat"></i> -->
            {{ subscriber.typeSuscriber }}
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">Registro</span>
          <span class="g-info-w-icon">
            <i class="la la-clock-o"></i>
            {{ subscriber.registerDate | date:'dd/MM/yyyy HH:mm':'UTC-10' }}
          </span>
        </div>
      </div>
    </caadmin-card-row-actions>
  </ng-container>

  <ca-paginator *ngIf="data?.totalElements && data.totalPages > 1" [(page)]="pagination.page"
    [collectionSize]="data?.totalElements" (pageChange)="search()">
  </ca-paginator>

</div>
