<div class="container g-main-banner-caption {{captionModifierClass}}">

  <div class="row align-items-center {{captionRowModifierClass}}">

    {{#col}}
      <div class="{{colClass}}">

        {{#mainBannerInner}}
          {{>molecules-Main-banner-inner}}
        {{/mainBannerInner}}

        {{#mainBannerTitle}}
          {{>atoms-Text}}
        {{/mainBannerTitle}}

        {{#mainBannerBrand}}
          {{>molecules-Main-banner-brand}}
        {{/mainBannerBrand}}

        {{#mainBannerButton}}
          <div class="clearfix mt-2">

            {{#btnSingle}}
              {{>atoms-Button-with-icon}}
            {{/btnSingle}}

            {{#btnDropDown}}
              {{>molecules-Button-dropdown}}
            {{/btnDropDown}}

          </div>
        {{/mainBannerButton}}

      </div>
    {{/col}}

  </div>

</div>
