<div class="g-main-banner {{classModifier}}">

  {{#tagMainBanner}}
    {{>molecules-Tag}}
  {{/tagMainBanner}}

  {{#bannerControls}}
    {{>molecules-Main-banner-controls}}
  {{/bannerControls}}

  <div class="g-main-banner-content">

    {{#bannerItem}}

      <div class="banner-item {{classItemModifier}}">

        {{#image}}
          {{>molecules-Main-banner-img}}
        {{/image}}

        {{#video}}
          {{>molecules-Main-banner-video}}
        {{/video}}

        {{#caption}}
          {{>organisms-Main-banner-caption}}
        {{/caption}}

        {{#mainBannerBrand}}
          {{>molecules-Main-banner-brand}}
        {{/mainBannerBrand}}

      </div>

    {{/bannerItem}}

  </div>

</div>
