<div class="row justify-content-center">
  <div class="col-10">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <img class="g-img-fluid" [src]="descriptorInfo?.url" [alt]="descriptorInfo?.title">
      </div>
      <div class="col-md-1 text-center pt-1 pb-1">
        <img class="" src="" alt="">
        <i class="la la-angle-right g-fs-30 d-none d-md-inline g-cl-primary" style="color: #d69c4f;"></i>
        <i class="la la-angle-down g-fs-16 d-inline d-md-none g-cl-primary" style="color: #d69c4f;"></i>
      </div>
      <div class="col-md-7">
        <img class="" src="" alt="">
        <p class="g-fs-14 g-fs-md-18" [innerHTML]="description | safeHtml">
        </p>
      </div>
    </div>
  </div>
</div>
