<header class="s-header" [navbarFixed]="'s-header--fixed'" [active]="!isMobile">
  <casite-navbar-mobil
    [contactConfig]="contactConfig"
    [language]="language"
    [contactPath]="contactPath"
    [showBooking]="!!header?.length">
  </casite-navbar-mobil>
  <casite-menu
    [contactConfig]="contactConfig"
    [items]="header"
    [currentPath]="currentPath"
    [language]="language"
    [contactPath]="contactPath"
    [descriptorsIdColor]="descriptorsIdColor">
  </casite-menu>
</header>
