<div class="g-input-icon-left">
  <i class="la la-search g-fs-24"></i>
  <input class="g-input"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [(ngModel)]="value"
    [disabled]="disabled">
</div>
