<div class="g-input-icon">
  <i class="la la-eye g-fs-24 g-cl-gray8 g-cursor-pointer"
        [ngClass]="{'g-cl-green1': viewPassword}"
        (click)="toggleViewPassword()"></i>
  <input class="g-input"
        [ngClass]="{'g-input-error': error}"
        [attr.type]="type"
        [attr.placeholder]="placeholder"
        [(ngModel)]="value"
        [disabled]="disabled">
</div>
