<div class="row align-items-center mb-2">
  <div class="col-5">
    <h3 class="g-fs-20 g-text-uppercase mb-0">
      {{ title }}
    </h3>
  </div>
  <div class="col-7 text-right">
    <button *ngIf="buttonAdd" class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button" (click)="onAdd()">
      <span>{{ buttonAdd }}</span>
      <i class="la la-plus-circle"></i>
    </button>
  </div>
</div>
