<div class="s-side-arrows" *ngIf="scrollableTable()">
  <div class="arrow" [ngClass]="'text-' + arrowDirection">
    <button (click)="moveScroll()">
      <i [ngClass]="'la la-angle-' + arrowDirection"></i>
    </button>
  </div>
</div>