<div class="g-wrapper">
  <div class="g-main g-main-full">
    <caadmin-editor-header
      [pageState]="pageState"
      [seePublication]="seePublication"
      (save)="preSave()"
      (publish)="publish()"
      (update)="update()"
      (cancel)="cancel()">
    </caadmin-editor-header>
    <div class="pt-2">
      <caadmin-editor-form-header
        class="d-block g-container"
        *ngIf="pageCategory && !seePublication"
        [category]="pageCategory"
        (changeData)="changeDataHeader($event)">
      </caadmin-editor-form-header>
      <caadmin-editor-clone class="d-block g-container" (cloned)="clone($event.from, $event.to)"></caadmin-editor-clone>

      <div class="g-editor-form-wrapper pt-2">
        <div class="g-editor-form-header">
          <div class="g-editor-form-header-border"></div>
          <ul class="c-nav-tab ">
            <li class="c-nav-tab-item" *ngFor="let item of LANGUAGE_TYPES" (click)="changeLanguage(item.code)">
              <a href="javascript:void(0)" class="c-nav-tab-link" [ngClass]="{ 'active': language === item.code }">
                {{ item.description }}
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ng-container
            *ngTemplateOutlet="seePublication? tSeePublication: tEditPublication">
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #tSeePublication>
  <div *ngIf="template" [innerHTML]="template | safeHtml"></div>
</ng-template>

<ng-template #tEditPublication>
  <div class="my-4 g-container">
    <form [formGroup]="frmEditor" [hidden]="seePublication">
      <div class="row">
        <div class="col-12">
          <div class="g-block mb-2">
            <ca-input
              placeholder="Título de la página"
              formControlName="mTitlePage"
              [box]="true">
            </ca-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row align-items-center no-gutters ">
            <div class="col-auto">
              <label class="g-fw-bold">
                Enlace permanente:
                <a href="javascript:void(0)" class="g-anchor">{{ canonicalPartial }}{{ language }}/</a>
              </label>
            </div>
            <div class="col-4">
              <ca-input
                formControlName="mPagePath"
                placeholder="casa-andina"
                [box]="true"></ca-input>
            </div>
            <div class="col-12">
              <span class="g-fs-14 g-block mt-1">
                Esta URL es única para cada página e idioma.
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div
    *ngIf="template"
    id="contentHtml"
    class="g-overflow-hidden"
    editTemplate
    [pageId]="pageId"
    [language]="language"
    [hideEdit]="seePublication"
    [hideDelete]="seePublication"
    [innerHTML]="template | safeHtml"
    [refComponents]="refComponents"
    [emptyElement]="emptyElement.firstElementChild"
    (edit)="setPageEditor($event)">
  </div>
  <!-- SEO -->
  <caadmin-seo-form></caadmin-seo-form>
  <!-- SEO -->
</ng-template>

<div class="d-none" #emptyElement>
  <div class="g-component-wrapper g-component-wrapper-empty mb-2" empty>
    <div class="p-2">
      <div class="d-flex justify-content-center align-content-center align-items-center p-1">
        <div class="g-circle-icon ">
          <i class="la la-puzzle-piece"></i>
        </div>
        <span class="g-fs-15 text-center ml-1">
          Arraste aquí un componente
        </span>
      </div>
    </div>
  </div>
</div>
