<div [ngClass]="color === 'black'? 'carousel-control carousel-control--black': 'carousel-control'">
  <div class="carousel-control--arrows">
    <i
      class="la la-angle-left"
      [ngClass]="[ active === 0 ? 'disabled' : '' ]"
      (click)="prev()"></i>
    <i
      class="la la-angle-right"
      [ngClass]="[(lgth - 1) === active ? 'disabled' : '' ]"
      (click)="next()"></i>
  </div>
  <div class="carousel-control--numbers">
    <span>{{ active + 1 | strPad: 2 }}</span>
    <span>{{ lgth | strPad: 2 }}</span>
  </div>
</div>

