.icon-picker * {
  box-sizing: border-box;
  margin: 0;
}

.icon-picker {
  position: absolute;
  z-index: 100000;
  height: auto;
  cursor: default;
  background-color: #f4f4f4;
  user-select: none;
  box-shadow: 0 4px 16px 0 rgba(48, 48, 48, 0.4);
  padding: 10px 15px;

  i {
    position: relative;
    cursor: default;
  }

  .arrow {
    position: absolute;
    z-index: 999999;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .arrow-right {
    top: 10px;
    left: -20px;
    border-width: 5px 10px;
    border-color: rgba(0, 0, 0, 0) #777 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }

  .arrow-left {
    top: 10px;
    left: 100%;
    border-width: 5px 10px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #777;
  }

  .arrow-bottom {
    top: -20px;
    left: 10px;
    border-width: 10px 5px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #777 rgba(0, 0, 0, 0);
  }

  .arrow-top {
    left: 10px;
    border-width: 10px 5px;
    border-color: #777 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    //top: 289px;
  }

  div.icon-search {
    margin-bottom: 10px;

    input {
      width: 100%;
      background-color: #fff;
      border: none;
      padding: 8px 10px;
    }
  }

  div.icon-grid {
    display: flex;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);

    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }

    &::-webkit-scrollbar-track-piece {
      background: darken(rgba(0, 0, 0, .1), 5%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .3);
      border-radius: 4px;
    }

    div {
      margin: 2px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: #4c4c4c;
        background-color: transparent;
        overflow: hidden;
        padding: 3px;
        border: none;
        transition: all .2s ease;

        i {
          font-size: 20px;
        }

        &:hover {
          background-color: #d8d8d8;
        }
      }
    }
  }

  div.cursor-sv {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: #ddd solid 1px;
    cursor: default;
  }

  div.cursor {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: #222 solid 2px;
    cursor: default;
  }

}
