<div class="icon-picker" #dialogPopup
     [hidden]="!show"
     [style.height.px]="ipHeight"
     [style.width.px]="ipWidth">

  <div class="icon-search">
    <input type="text"
      class="form-control input-sm"
      [text]
      [value]="search"
      (newValue)="setSearch($event)"
      [placeholder]="ipPlaceHolder">
  </div>

  <div class="icon-grid"
      [ngStyle]="{'max-height.px': ipMaxHeight}"
      (infiniteScroller)="getIcons()">
    <div *ngFor="let icon of icons | searchIcon:search">
      <button
          *ngIf="icon"
          class="btn btn-default"
          type="button"
          [title]="icon.className"
          [ngClass]="{active : icon === selectedIcon}"
          (click)="selectIcon(icon)">
          <i [ngClass]="icon.className"></i>
        </button>
    </div>
  </div>

</div>
