<div
  class="g-main-banner"
  [ngClass]="'g-main-banner--' + IMAGE_SIZE?.lg">
  <ca-logo [logoInfo]="logoInfo"></ca-logo>
  <ca-slider
    [animation]="false"
    [slides]="sliders">
    <ng-container *ngFor="let slider of sliders; let i = index">
      <div
        class="banner-item active"
        caSliderItem
        [typeSlide]="slider?.type">
        <div class="banner-item-fog"></div>
        <div
          class="banner-item-img"
          [caBackgroundurl]="slider?.backgroundImage[0]"
          *ngIf="slider?.type !== FORM_TYPE?.video">
        </div>
        <ca-image-banner-caption
          class="container g-main-banner-caption"
          [urlButton]="urlButton"
          [textButton]="textButton"
          [slider]="slider"
          [title]="slider?.title"
          [subtitle]="slider?.subtitle">
        </ca-image-banner-caption>
      </div>
    </ng-container>
  </ca-slider>
</div>
