<div class="s-tab">
  <ca-side-arrows
    *ngIf="(tabs | json) !== '[]'"
    [scrollableElem]="ulNav">
  </ca-side-arrows>

  <button type="button"
          class="s-tab-nav-button"
          *ngIf="type !== 'boton'"
          (click)="toggle()"
          [ngClass]="{
            's-tab-nav-button--invert': type === 'link',
            'active': showListOption
          }">
    <span>{{ getActiveNav(activeIndex) }}</span>
    <i class="la la-angle-down"></i>
  </button>
  <ul
    #ulNav
    class="s-tab-nav"
    [ngClass]="{'s-tab-nav--buttons': type === 'boton',
      's-tab-nav--dropdown': type !== 'boton',
      's-tab-nav--center s-tab-nav--invert': type === 'link',
      'active': showListOption
    }">
    <li
      *ngFor="let navTab of tabs; let first = first; let i = index"
      [ngClass]="[classLi, navTab.class || '']"
      [style.boder-color]="navTab.color">
      <button
        class="g-btn g-btn-outline g-block g-cursor-pointer"
        [ngClass]="{'active': i === activeIndex}"
        [ngStyle]="{
          'background-color': i === activeIndex ? navTab.color: '',
          'border-color': navTab.color, 'color': i !== activeIndex ? navTab.color : ''}"
        [caHoverColor]="navTab.color"
        *ngIf="type === 'boton'"
        (click)="selectTab(i)">
        {{ navTab.tab }}
      </button>
      <a
        href="javascript: void(0)"
        class="s-tab-nav-link"
        [ngStyle]="{'color': descriptorInfo?.color }"
        [ngClass]="{'active': i === activeIndex, 's-tab-nav-link--primary s-tab-nav-link--invert': type === 'link'}"
        *ngIf="type !== 'boton'"
        (click)="selectTab(i)">
        {{ navTab.tab }}
      </a>
    </li>
  </ul>
  <div class="s-tab-content" #navbarContent>
    <ng-content></ng-content>
  </div>
</div>

