<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="sg-pattern-category-subtitle">Basic Colors</h3>
      <ul class="sg-colors">

        {{#basicColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              color: {{colorCode}}
            </span>
          </li>
        {{/basicColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="sg-pattern-category-subtitle">Casa Andina Colors</h3>
      <ul class="sg-colors">

        {{#casaAndinaColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              color: {{colorCode}}
            </span>
          </li>
        {{/casaAndinaColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="sg-pattern-category-subtitle">Gray Colors</h3>
      <ul class="sg-colors">

        {{#grayColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              color: {{colorCode}}
            </span>
          </li>
        {{/grayColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="sg-pattern-category-subtitle">Alpha Colors</h3>
      <ul class="sg-colors">

        {{#alphaColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              color: {{colorCode}}
            </span>
          </li>
        {{/alphaColors}}

      </ul>
    </div>
  </div>

</div>
