<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Heading</u></h3>
      {{#headingList}}
        <{{tag}}>{{fontSize}}, Heading Level {{id}}</{{tag}}>
      {{/headingList}}
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Paragraphs</u></h3>
      {{#paragraphList}}
        <p class="{{fontSizeClass}}">ClassName: {{fontSizeClass}} - {{fontSize}}, Paragraph Level {{id}}</p>
      {{/paragraphList}}
    </div>
  </div>
  <hr>
  
  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Font Weight</u></h3>
      {{#fontWeightList}}
        <p class="{{fontWeightClass}}">ClassName: {{fontWeightClass}} - Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      {{/fontWeightList}}
    </div>
  </div>

</div>