<div class="container-fluid">

  <div class="row">

    <div class="col-12">

      <ul class="sg-icons">

        {{#iconFont}}

          <li>

            <div>
              <span class="sg-icon {{iconClass}}"></span>
            </div>

            <div>
              <span class="sg-label">
                iconClass: {{iconClass}}
              </span>
            </div>

          </li>

        {{/iconFont}}

      </ul>

    </div>

  </div>

</div>