<div class="container-fluid">

  <div class="row">

    <div class="col-12">

      <ul class="sg-images">

        {{#images}}

          <li>

            <div>
              <img src="{{srcImage}}" class="sg-image mr-3"></span>
            </div>

          </li>

        {{/images}}

      </ul>

    </div>

  </div>

</div>
