<div class="container">
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
  
  <ng-container *ngIf="width > 991">
    <ng-container
      *ngTemplateOutlet="
        carousel;
        context:{
          $implicit: groupSizeThree
        }">
    </ng-container>
  </ng-container>
  
  <ng-container *ngIf="width > 575 && width < 992">
    <ng-container
      *ngTemplateOutlet="
        carousel;
        context:{
          $implicit: groupSizeTwo
        }">
    </ng-container>
  </ng-container>
  
  <ng-container *ngIf="width < 576">
    <ng-container
      *ngTemplateOutlet="
        carousel;
        context:{
          $implicit: groupSizeOne
        }">
    </ng-container>
  </ng-container>
  
  <ng-template #carousel let-group>
    <div class="mt-2 g-overflow-hidden">
      <ca-carousel [height]="height" controlColor="black" [sliders]="group">
        <ng-container>
          <div
            *ngFor="let sliderGroup of group"
            caCarouselHover
            class="carousel-group-item"
            [ngStyle]="{'height': height}">
            <div class="g-carousel-content-wrapper">
              <div class="carousel-item carousel-item--sm active" *ngFor="let slider of sliderGroup">
                <div class="s-card-wrapper s-card-wrapper--sm" caPromoDetail>
                  <figure class="s-card-wrapper-fog ">
                    <div class="g-block">
                      <a [href]="slider?.url" class="g-link g-link-icon g-link-icon-right">
                        {{ SEE_PROMOTIONS[language] }}
                        <i class="la la-arrow-right"></i>
                      </a>
                    </div>
                  </figure>
                  <figure [caBackgroundurl]="slider?.imagePromotion">
                    <figcaption>
                      <p class="">
                        {{ slider?.infoPromotion?.title }}<br><span>{{ slider?.infoPromotion?.description }}</span>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ca-carousel>
    </div>
  </ng-template>
  
  