<div class="s-nav-wrapper" [ngClass]="{ 'active': activeNavbar }">
  <div class="container">
    <nav class="s-nav">
      <ul class="s-nav-list ">
        <li
          *ngFor="let item of items | orderBy:['-sectionFooter', '+order']"
          class="s-nav-list-item"
          (mouseover)="onHover(item)"
          (mouseleave)="onLeave(item)"
          [ngClass]="{
            's-nav-list-item--featured': item.action === MENU_SITE_ACTION.BOOKING,
            's-nav-list-item--dropdown': item?.children?.length,
            'active': bookingActive(item) || !item.collapse,
            'hover': item.action !== MENU_SITE_ACTION.BOOKING && item.hover
          }">
          <a
            [href]="item.action === MENU_SITE_ACTION.REDIRECT ? item.pagePath : ('javascript:void(0)' | safeUrl)"
            (click)="goTo(item, $event, 1)"
            class="s-nav-list-link"
            [ngClass]="{ 'active': isSameRoute(item) || item.active, 'bullet': item.action !== MENU_SITE_ACTION.BOOKING }"
            #element>{{ item?.name }}</a>
          <div
            class="s-nav-sublist-wrapper"
            *ngIf="item?.children?.length || item.action === MENU_SITE_ACTION.BOOKING"
            [ngClass]="{
              's-nav-sublist-wrapper--all': !!(item?.children | menuSection:true)?.length,
              'g-overflow-unset': bookingActive(item)
            }">

            <ul *ngIf="item.action !== MENU_SITE_ACTION.BOOKING" class="s-nav-sublist container px-0">

              <li class="s-nav-sublist-item" *ngIf="item.action === MENU_SITE_ACTION.REDIRECT && item?.children.length && isMobile">
                <a
                  (click)="goTo(item, $event, 4)"
                  class="s-nav-sublist-link g-cl-white"
                  [href]="item.pagePath">
                  {{ GENERAL_TEXT[language].goTo }} {{ item.name }}</a>
                <ul class="s-nav-sublist s-nav-sublist--descriptor"></ul>
              </li>

              <li
                class="s-nav-sublist-item"
                *ngFor="let child of (item.children | menuSection:false) | orderBy:['-sectionFooter', '+order']"
                #elementParent
                [ngClass]="{
                  's-nav-sublist-item--descriptor': child.children?.length,
                  'active': !child.collapse
                }">

                <a
                [href]="child.action === MENU_SITE_ACTION.REDIRECT ? child.pagePath : ('javascript:void(0)' | safeUrl)"
                (click)="goTo(child, $event, 2)"
                class="s-nav-sublist-link"
                [ngClass]="{
                  'active': isActive(child, item),
                  's-nav-sublist-link--descriptor': child.children?.length
                  }"
                [ngStyle]="{ 'border-color': descriptorsIdColor && descriptorsIdColor[child.descriptorId] || '' }">{{ child?.name }}</a>

                <ul class="s-nav-sublist s-nav-sublist--descriptor">
                  <li class="s-nav-sublist-item" *ngIf="child.action === MENU_SITE_ACTION.REDIRECT && child?.children.length && isMobile">
                    <a
                      (click)="goTo(child, $event, 4)"
                      class="s-nav-sublist-link g-cl-white"
                      [href]="child.pagePath">
                      {{ GENERAL_TEXT[language].goTo }} {{ child.name }}</a>
                    <ul class="s-nav-sublist s-nav-sublist--descriptor"></ul>
                  </li>

                  <li class="s-nav-sublist-item" *ngFor="let subchild of child?.children | orderBy:['-sectionFooter', '+order']">
                    <a
                      [href]="subchild.action === MENU_SITE_ACTION.REDIRECT ? subchild.pagePath : ('javascript:void(0)' | safeUrl)"
                      (click)="goTo(subchild, $event, 3)"
                      class="s-nav-sublist-link"
                      [ngClass]="{ 'active': isActive(subchild, child) }">
                      {{ subchild?.name }}
                    </a>
                  </li>
                </ul>
              </li>

              <ng-container *ngIf="(item?.children | menuSection:true)?.length">
                <li class="s-nav-sublist-item s-nav-sublist-item--all">
                  <a
                    *ngFor="let child of (item.children | menuSection:true) | orderBy:['-sectionFooter', '+order']"
                    [href]="child.action === MENU_SITE_ACTION.REDIRECT ? child.pagePath : ('javascript:void(0)' | safeUrl)"
                    (click)="goTo(child, $event, 2)"
                    class="s-nav-sublist-link"
                    [ngClass]="{ 'active': isActive(child, item) }">
                    {{ child?.name }}
                  </a>
                </li>
              </ng-container>
            </ul>

            <casite-booking
              *ngIf="item.action === MENU_SITE_ACTION.BOOKING && language && item.active"
              [item]="item"
              [languageCustom]="language"
              (activeBooking)="activeMenuBooking($event)">
            </casite-booking>
          </div>
        </li>
      </ul>
      <ul class="s-nav-list s-nav-list--user">
        <li class="s-nav-list-item s-nav-list-item--language">
          <div class="g-select g-select-invert g-select-sm g-w-50">
            <i class="la la-angle-down"></i>
            <select
              casiteSelectValue
              id="currencyField"
              name="currencyField"
              (ngModelChange)="setCurrency($event)"
              [(ngModel)]="currency">
              <option value="USD" class="d-none">{{ CURRENCY_COPYS[language].usd }}</option>
              <option value="USD">{{ CURRENCY_COPYS[language].usd }}</option>
              <option value="PEN">{{ CURRENCY_COPYS[language].pen }}</option>
              <option value="BRL">{{ CURRENCY_COPYS[language].brl }}</option>
            </select>
          </div>
        </li>
        <li class="s-nav-list-item s-nav-list-item--language" *ngIf="!hideLanguage">
          <div class="g-select g-select-invert g-select-sm">
            <i class="la la-angle-down"></i>
            <select
              name="idioma"
              (ngModelChange)="setLanguage($event)"
              [(ngModel)]="language">
              <option value="es" [title]="LANGUAGES_COPYS[language].spanish">{{ LANGUAGES_COPYS[language].spanish }}</option>
              <option value="en" [title]="LANGUAGES_COPYS[language].english">{{ LANGUAGES_COPYS[language].english }}</option>
              <option value="pt" [title]="LANGUAGES_COPYS[language].portuguese">{{ LANGUAGES_COPYS[language].portuguese }}</option>
            </select>
          </div>
        </li>
        <li class="s-nav-list-item s-nav-list-item--user">
          <a href="#" class="s-nav-list-link ">
            <i class="la la-user"></i>
          </a>
        </li>
        <li
          (mouseover)="contactNav = true"
          (mouseleave)="contactNav = false"
          [ngClass]="{'active': contactNav}"
          class="s-nav-list-item s-nav-list-item--contact d-none d-xl-block">
          <a href="javascript:void(0)" class="s-nav-list-link ">
            <i
              [ngClass]="contactNav ? 'la-close' : 'la-phone' "
              class="la"></i>
          </a>
          <ul class="s-nav-sublist" *ngIf="contactConfig">
            <li class="s-nav-sublist-item ">
              <a
                [href]="'tel:' + contactConfig['phone' + (language | titlecase)]"
                class="s-nav-sublist-link ">
                <i class="la la-phone"></i>
                <span class="">
                  {{ contactConfig['phone' + (language | titlecase)] }}
                </span>
              </a>
            </li>
            <li class="s-nav-sublist-item ">
              <a
                [href]="'mailto:' + contactConfig['mails' + (language | titlecase)]"
                class="s-nav-sublist-link ">
                <i class="la la-envelope"></i>
                <span class="">
                  {{ contactConfig['mails' + (language | titlecase)] }}
                </span>
              </a>
            </li>
            <li class="s-nav-sublist-item ">
              <a
                href="javascript:void(0)"
                (click)="goContactForm()"
                class="s-nav-sublist-link ">
                <i class="la la-edit"></i>
                <span class="">
                  {{ GENERAL_TEXT[language].contactForm }}
                </span>
              </a>
            </li>
         </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="outside-nav" [hidden]="!activeNavbar" (click)="toggle()"></div>
