<div class="g-modal" [ngClass]="config.classModal">
  <div class="g-modal-dialog" [ngClass]="[config.classDialog || '' , config.size || MODAL_BREAKPOINT.md]">
    <div class="g-modal-content">
      <ca-notify [type]="notification?.type" [active]="notifyActive">{{ notification?.description }}</ca-notify>
      <div class="g-modal-header" [ngClass]="config.classHeader" *ngIf="!config.hideHeader">
        <button class="g-modal-close"
          *ngIf="!config.hideClose"
          (click)="dismiss(BUTTON_ACTIONS.cancel)">
          <i class="la la-close"></i>
        </button>
        <h2 class="c-heading-1" *ngIf="config.title && !config.source">{{ config.title }}</h2>
        <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book g-cl-primary" *ngIf="config.source === SOURCE.site">{{ config.title }}</h3>
      </div>
      <div class="g-modal-body" [ngClass]="config.classBody">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
