%texture-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

%pseudo-icon {
  font-family: $font-ca;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%fixed-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  position: fixed;
  overflow-y: auto;
}

%descriptor-tags {
  h2 {
    margin: 0;
  }

  i {
    position: absolute;
    top: calc((100% / 2) - 15px);
    right: 0;
    color: $c-primary;
    font-size: $font-30;
  }

  @media (max-width: $break-medium) {
    padding-right: 15px;

    h2 {
      margin-bottom: 20px;
    }

    i {
      display: none;
    }
  }
}

%equal-li {
  position: relative;
  display: inline-block;
  line-height: 1;
  color: $c-gray2;
  transition: all .3s ease;
  cursor: pointer;
  &.hover, &.selected {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "\f318";
      font-family: $font-ca;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $c-gray2;
    }
  }
}
