// Prefix
@mixin prefix-none($property, $value) {
	#{$property}: $value;
}
@mixin prefix($property, $value) {
  @include prefix-none($property, $value);
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}
// Scroll bar
@mixin fancyScrollbar($thumbColor, $trackColor) {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background: darken($trackColor, 5%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 4px;
  }
}

// Corners
@mixin corner($width, $position) {
  margin: 0 auto;
  background: $c-white;
  width: calc(100% - #{$width});
  box-shadow: 0 4px 10px -6px rgba($c-black, .2);

  .side {
    top: $position;
    position: absolute;
    width: $position;
    height: calc(100% - #{$width});
    background: $c-white;

    .corner {
      &:before {
        content: "";
        width: $position / 2;
        height: $position / 2;
        position: absolute;
        background-color: $c-white;
      }
    }

    &-left {
      left: -$position;

      .corner {
        &-top-left {
          &:before {
            top: -$position / 2;
            right: 0;
          }
        }

        &-bottom-left {
          &:before {
            bottom: -$position / 2;
            right: 0;
          }
        }
      }
    }

    &-right {
      right: -$position;

      .corner {
        &-top-right {
          &:before {
            top: -$position / 2;
            left: 0;
          }
        }

        &-bottom-right {
          &:before {
            bottom: -$position / 2;
            left: 0;
          }
        }
      }
    }
  }

  &-tl {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        bottom: 0;

        .corner {
          &-bottom-left {
            display: none;
          }
        }
      }

      &-right {
        top: 0;
        height: 100%;

        .corner {
          display: none;
        }
      }
    }
  }

  &-tr {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        top: 0;
        height: 100%;

        .corner {
          display: none;
        }
      }

      &-right {
        bottom: 0;

        .corner {
          &-bottom-right {
            display: none;
          }
        }
      }
    }
  }

  &-bl {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        top: 0;

        .corner {
          &-top-left {
            display: none;
          }
        }
      }

      &-right {
        top: 0;
        height: 100%;

        .corner {
          display: none;
        }
      }
    }
  }

  &-br {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        top: 0;
        height: 100%;

        .corner {
          display: none;
        }
      }

      &-right {
        top: 0;

        .corner {
          &-top-right {
            display: none;
          }
        }
      }
    }
  }

  &-tl-tr {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        bottom: 0;

        .corner {
          &-bottom-left {
            display: none;
          }
        }
      }

      &-right {
        bottom: 0;

        .corner {
          &-bottom-right {
            display: none;
          }
        }
      }
    }
  }

  &-bl-br {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        top: 0;

        .corner {
          &-top-left {
            display: none;
          }
        }
      }

      &-right {
        top: 0;

        .corner {
          &-top-right {
            display: none;
          }
        }
      }
    }
  }

  &-tl-br {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        bottom: 0;

        .corner {
          &-bottom-left {
            display: none;
          }
        }
      }

      &-right {
        top: 0;

        .corner {
          &-top-right {
            display: none;
          }
        }
      }
    }
  }

  &-bl-tr {
    .side {
      height: calc(100% - (#{$width} / 2));

      &-left {
        top: 0;

        .corner {
          &-top-left {
            display: none;
          }
        }
      }

      &-right {
        bottom: 0;

        .corner {
          &-bottom-right {
            display: none;
          }
        }
      }
    }
  }
}

// Border box
@mixin borderBox($width, $position) {
  &:before {
    content: "";
    position: absolute;
    top: $position;
    left: -$position;
    width: calc(100% + (#{$width} / 2));
    height: 2px;
    z-index: 1;
    background-color: $c-white;
  }

  &:after {
    content: "";
    position: absolute;
    top: $position;
    left: -$width / 2;
    width: calc(100% + #{$width});
    height: 100%;
    z-index: 0;
    border: 2px solid $c-primary;
  }
}

// Make middle container {
@mixin make-middle-container($gutter: $grid-gutter-width, $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width / 2;
    }
  }
}
