// Basic colors
$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

// Casa Andina colors
$c-primary: #d69c4f;
$c-ca-standard: #ff4200;
$c-ca-select: #008eaa;
$c-ca-premium: #002855;
$c-ca-plaza: #ec082a;
$c-ca-sama: #01a236;
$c-ca-alma: #002c55;

// Gray colors
$c-gray1: #232323;
$c-gray2: #303030;
$c-gray3: #979797;
$c-gray4: #a6a6a6;
$c-gray5: #bebebe;
$c-gray6: #d8d8d8;
$c-gray7: #f5f5f5;
$c-gray8: #4c4c4c;
$c-gray9: #141416;
$c-gray10: #e4e5e6;

// Red colors
$c-red1: #ff0100;
$c-red2: #842a2a;
$c-red3: #ff7788;
$c-red4: #ad0909;
$c-red5: #ff5d5d;

// Green colors
$c-green1: #27af47;
$c-green2: #d0ffdc;
$c-green3: #3c6b26;
$c-green4: #6bbd45;
$c-green5: #b6e492;

// Orange Colors
$c-orange1: #d88000;
$c-orange2: #ffe29a;
$c-orange3: #e97800;
$c-orange4: #ffd3a4;
$c-orange5: #8b6400;
$c-orange6: #ffca43;

// Blue Colors
$c-blue1: #0f77fb;
$c-blue2: $c-ca-select;

// Alpha colors
$c-alpha-white: rgba($c-white, .8);
$c-alpha-black: rgba($c-black, .8);
$c-alpha-fog: rgba($c-black, .5);

// Gradient colors
$c-grandient-fog: linear-gradient(to bottom, $c-alpha-fog, $c-alpha-black);
$c-grandient-box-reservations: linear-gradient(180deg, $c-alpha-fog 0%, $c-black 100%);

$colors: (
  primary: $c-primary,
  standard: $c-ca-standard,
  select: $c-ca-select,
  premium: $c-ca-premium,
  gray1: $c-gray1,
  gray2: $c-gray2,
  gray3: $c-gray3,
  gray4: $c-gray4,
  gray5: $c-gray5,
  gray6: $c-gray6,
  gray7: $c-gray7,
  gray8: $c-gray8,
  gray9: $c-gray9,
  red1: $c-red1,
  red2: $c-red2,
  red3: $c-red3,
  red4: $c-red4,
  red5: $c-red5,
  green1: $c-green1,
  green2: $c-green2,
  green3: $c-green3,
  green4: $c-green4,
  green5: $c-green5,
  orange1: $c-orange1,
  orange2: $c-orange2,
  orange3: $c-orange3,
  orange4: $c-orange4,
  orange5: $c-orange5,
  orange6: $c-orange6,
  blue1: $c-blue1,
  blue2: $c-blue2,
  alpha-white: $c-alpha-white,
  alpha-black: $c-alpha-black,
  alpha-fog: $c-alpha-fog
);

// Shadow colors
$box-shadow1: 0 1px 6px rgba($c-black, .1);
$box-shadow2: 0 2px 8px 0 rgba($c-black, .1);
$box-shadow3: 0 9px 11px -3px rgba($c-black, .1);
$box-shadow-button: 0 3px 7px -5px rgba(60, 60, 60, .9);
$box-shadow-button2: 0 4px 4px -3px rgba($c-black, .1);

// Font family
$font-family: 'Sofia', sans-serif;
$font-nexa-slab: 'Nexa Slab', sans-serif;
$font-arquitecta: 'Arquitecta', sans-serif;
$font-brandon: 'Brandon Grotesque', sans-serif;
$font-druk: 'Druk', sans-serif;
$font-heavitas: 'Heavitas', sans-serif;
$font-ca: 'LineAwesome', sans-serif;
$font-caicon: 'Casa-Andina-Icons';

// CA Icons
$caicon-school: "\e91c";
$caicon-area: "\e904";
$caicon-dinner: "\e905";
$caicon-high: "\e906";
$caicon-long: "\e908";
$caicon-room-u: "\e91b";
$caicon-theater: "\e91e";
$caicon-width: "\e91f";
$caicon-bag: "\e91a";
$caicon-quote-left: "\e918";
$caicon-quote-right: "\e919";
$caicon-facebook: "\e912";
$caicon-flickr: "\e913";
$caicon-instagram: "\e914";
$caicon-twitter: "\e915";
$caicon-youtube: "\e916";
$caicon-youtube-play: "\e917";
$caicon-slide-eight: "\e907";
$caicon-slide-five: "\e909";
$caicon-slide-four: "\e90a";
$caicon-slide-nine: "\e90b";
$caicon-slide-one: "\e90c";
$caicon-slide-seven: "\e90d";
$caicon-slide-six: "\e90e";
$caicon-slide-ten: "\e90f";
$caicon-slide-three: "\e910";
$caicon-slide-two: "\e911";
$caicon-star: "\e901";
$caicon-star-o: "\e902";
$caicon-pin: "\e903";
$caicon-ca: "\e900";

$caicons: (
  school: $caicon-school,
  area: $caicon-area,
  dinner: $caicon-dinner,
  high: $caicon-high,
  long: $caicon-long,
  room-u: $caicon-room-u,
  theater: $caicon-theater,
  width: $caicon-width,
  bag: $caicon-bag,
  quote-left: $caicon-quote-left,
  quote-right: $caicon-quote-right,
  facebook: $caicon-facebook,
  flickr: $caicon-flickr,
  instagram: $caicon-instagram,
  twitter: $caicon-twitter,
  youtube: $caicon-youtube,
  youtube-play: $caicon-youtube-play,
  ca: $caicon-ca,
  star: $caicon-star,
  star-o: $caicon-star-o,
  pin: $caicon-pin,
  slide-eight: $caicon-slide-eight,
  slide-five: $caicon-slide-five,
  slide-four: $caicon-slide-four,
  slide-nine: $caicon-slide-nine,
  slide-one: $caicon-slide-one,
  slide-seven: $caicon-slide-seven,
  slide-six: $caicon-slide-six,
  slide-ten: $caicon-slide-ten,
  slide-three: $caicon-slide-three,
  slide-two: $caicon-slide-two
);

// Font Size
$font: inherit;
$font-8: 8px;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-25: 25px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-34: 34px;
$font-35: 35px;
$font-40: 40px;
$font-44: 44px;
$font-50: 50px;
$font-55: 55px;
$font-60: 60px;
$font-70: 70px;
$font-90: 90px;

// Font Weight
$fw-thin: 100;
$fw-light: 200;
$fw-book: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-ultra-bold: 900;

$font-weights: (
  fw-thin: $fw-thin,
  fw-light: $fw-light,
  fw-book: $fw-book,
  fw-normal: $fw-normal,
  fw-medium: $fw-medium,
  fw-bold: $fw-bold,
  fw-ultra-bold: $fw-ultra-bold,
);

// Screen sizes
$break-xxsmall: 375px;
$break-xsmall: 426px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$break-xxlarge: 1540px;
$break-xxxlarge: 1680px;

// Path's
$url-fonts: '../fonts';
$url-images: '../images';

// Transitions
$tr-2-ease: all .2s ease;
$tr-2-ease-in: all .2s ease-in;
$tr-2-ease-out: all .2s ease-out;
$tr-3-ease: all .3s ease;
$tr-3-ease-in: all .3s ease-in;
$tr-3-ease-out: all .3s ease-out;
$tr-5-ease: all .5s ease;
$tr-5-ease-in: all .5s ease-in;
$tr-5-ease-out: all .5s ease-out;
