<div class="col-md-6 pt-1 pt-lg-2 pb-2">
  <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
    {{ data?.title }}
  </h3>
  <p class="mb-2">
    {{ data?.description }}
  </p>
  <a
    *ngIf="data?.textLink"
    [caUrlLink]="data?.urlLink"
    class="g-link g-link-icon g-link-icon-right">
    {{ data?.textLink }}
  </a>
</div>
<div class="col-md-6">
  <img
    class="g-img-fluid"
    [caImgSrcset]="data.backgroundImage ? data?.backgroundImage[0] : ''"
    alt="data.backgroundImage[0]?.properties?.alt">
</div>
