<div class="d-flex flex-column justify-content-center align-content-center p-5">
  <div class="g-circle-icon mx-auto mb-2">
    <i class="la la-plug"></i>
  </div>
  <p class="g-fs-20 text-center">
    {{ description }}
  </p>
</div>
