html,
body {
  height: 100%;
}

body {
  color: $c-black;
  font-size: $font-15;
  font-weight: $fw-normal;
  font-family: $font-family;
  line-height: 1.2;
  background-color: $c-white !important;
}

a {
  color: inherit;
  &:hover {
    color: $c-primary;
  }
  &:hover, &:focus, &:link, &:visited {
    cursor: pointer;
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: $fw-bold;
}
h1 {
  font-size: $font-30
}
h2 {
  font-size: $font-24
}
h3 {
  font-size: $font-20
}
h4 {
  font-size: $font-17
}
h5 {
  font-size: $font-14
}
h6 {
  font-size: $font-13
}
p {
  font-weight: $fw-light;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 5px;

  @include media-breakpoint-down(sm) {
    font-size: $font-13;
  }
}
li {
  line-height: 1.4;
}
input, button {
  outline: none;
}
b, strong {
  font-weight: $fw-bold;
}
* {
  outline: none !important;
}
label {
  margin-bottom: 0;
}
