@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .col#{$infix}-x5 {
      padding: 0 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      position: relative;
      width: 100%;
    }

    .col#{$infix}-x7 {
      padding: 0 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 14.2857143%;
      flex: 0 0 14.2857143%;
      max-width: 14.2857143%;
      position: relative;
      width: 100%;
    }
  }
}