@import './buttons';
@import './colors';
@import './custom-grid';
@import './datepicker';
@import './font';
@import './inputs';
@import './modals';
@import './notifications';
@import './pagination';
@import './range-slider';
@import './selects';
@import './textarea';
@import './utility';

// Hr
.g-hr {
  color: $c-transparent;
  border-color: $c-transparent;
  border-top: 1px solid $c-gray5;
  margin: 0;
}

// Full Width
.g-block {
  width: 100%;
  display: block;
}

// Inline Block
.g-inline-block {
  display: inline-block;
}

// Height 100%
.g-h-100 {
  height: 100%;
}

// Block Center
.g-block-center {
  display: block;
  margin: 0 auto;
}

// Cursor Pointer
.g-cursor-pointer {
  cursor: pointer;
}

.g-cursor-default {
  cursor: default;
}

// Overflow
.g-overflow-auto {
  overflow: auto;
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
}

.g-overflow-y-auto {
  overflow-y: auto;
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
}

.g-overflow-x-auto {
  overflow-x: auto;
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
}

.g-overflow-hidden {
  overflow: hidden;
}

.g-overflow-unset {
  overflow: unset !important;
}

// Aplicar Box Shadow
.g-box-shadow1 {
  @include prefix(box-shadow, $box-shadow1);
}

.g-box-shadow2 {
  @include prefix(box-shadow, $box-shadow2);
}

.g-box-shadow3 {
  @include prefix(box-shadow, $box-shadow3);
}

// Items in columns
.g-row {
  display: flex;
  flex-wrap: wrap;

  .g-col-50 {
    width: 50%;
  }
}

// Image fluid
.g-img-fluid {
  max-width: 100%;
  height: auto;
}

// Background cover
.g-bkg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.break-all {
  word-break: break-all;
}

.g-flags {
  width: 20px;
  margin-right: 10px;
}

.g-body {
  @include fancyScrollbar(rgba($c-black, .5), rgba($c-black, .1));
}

.g-lh-footer {
  line-height: 1.2;
}

.thead-dark > tr > th {
  border: 1px solid #000;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d69c4f;
  color: #000;
}

.message-respuesta {
  background-color: #d69c4f;
  padding: 10px;
  color: #FFF;
  padding-left: 10px !important;
}

span.message-validate{
  background-color: red;
  padding: 10px;
  color: #FFF;
}