.g-input {
  width: 100%;
  color: $c-gray1;
  padding: 10px 0;
  font-size: $font-15;
  margin-bottom: 0;
  font-family: $font-family;
  border-color: $c-transparent;
  border-bottom-color: $c-black;
  border-style: solid;
  border-width: 1px;
  background-color: $c-transparent;

  &-box {
    background-color: $c-white;
    border-color: $c-gray4;
    padding: 10px 20px;
  }

  &-invert {
    color: $c-gray6;
    border-bottom-color: $c-gray6;
  }

  &-error {
    border-bottom: 1px solid $c-red1 !important;
    &--full {
      border: 1px solid $c-red1 !important;
      &-recatcha {
        & > div {
          border: 1px solid $c-red1 !important;
        }
      }
    }
  }

  &-icon {
    position: relative;

    i {
      top: 12px;
      z-index: 1;
      right: 0;
      position: absolute;
    }

    &-left {
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: $font-20;
        transform: translateY(-50%);
        z-index: 2;
        display: table;
      }

      .g-input {
        margin-bottom: 0;
        padding: 10px 20px 10px 30px;
      }
    }
  }

  &-form {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 200px;
    position: relative;

    .g-input {
      padding-right: 45px;
    }

    .g-btn-icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &-prefix {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .g-input {
      padding-left: 25px;
    }
  }

  &-invisible {
    background-color: $c-transparent;
    border-color: $c-transparent;
  }

  &-autocomplete {
    position: relative;

    &-search, &-close {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 3;
    }

    &-search {
      left: 12px;
      font-size: $font-20;
    }

    &-close {
      right: 8px;

      .g-btn-circle {
        i {
          font-size: $font-20;
        }
      }
    }

    input {
      position: relative;
      padding: 10px 20px 10px 40px;
      margin: 0;
      z-index: 2;
    }

    .dropdown-menu {
      width: 100%;
      max-height: 114px;
      overflow-y: auto;
      @include prefix(border-radius, 0 0 5px 5px);
      @include prefix(box-shadow, $box-shadow2);
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
    }

    .dropdown-item {
      appearance: none;
      width: 100%;
      background-color: $c-white;
      color: $c-gray1;
      text-align: left;
      padding: 10px 15px;
      border: none;
      cursor: pointer;

    }

    .active {
      background-color: $c-primary;
      color: $c-white;
    }

    ul {
      left: 0;
      margin: 0;
      width: 100%;
      z-index: 10;
      top: inherit;
      padding: 10px 0;
      overflow-x: auto;
      max-height: 130px;
      position: absolute;
      background-color: $c-white;
      border: 1px solid $c-gray4;
      border-top: none;
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      li {
        list-style: none;
        padding: 7px 15px;
      }
    }
  }

  &-dropdown {
    cursor: pointer;
    position: relative;
    i {
      position: absolute;
      top: 20%;
      right: 0;
    }

    &.g-input-date {
      .date {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        line-height: 1;

        .select-date {
          font-size: 24px;
          margin-top: 16px;
          color: #757575;
          font-weight: 300;
        }

        .day {
          margin-right: 5px;
          font-size: $font-40;
          font-weight: $fw-bold;
        }

        .month {
          span {
            font-size: $font-17;
            font-weight: $fw-bold;
            text-transform: uppercase;

            + span {
              margin-top: 3px;
              font-size: $font-11;
              font-weight: $fw-light;
            }
          }
        }
      }

      @include media-breakpoint-down(lg) {
        .date {
          .day {
            font-size: $font-34;
          }
          .month {
            span {
              font-size: $font-13;

              + span {
                font-size: $font-8;
              }
            }
          }
        }
      }
    }

    &-white {
      color: $c-white;
    }
  }

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
    & + .checkmark {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

.g-switch {
  text-align: left;
  position: relative;
  display: inline-block;
  font-weight: $fw-normal;
  padding: 0 0 0 45px;
  margin: 6px 0;
  cursor: pointer;

  input {
    display: none;

    &:checked {
      ~ .g-input-label-text {
        color: $c-primary;
      }

      ~ .switch {

        &:before {
          background-color: $c-primary;
          @include prefix(transform, translate(90%, -50%));
        }
      }
    }
  }

  .g-input-label-text {
    color: $c-gray8;
  }

  .switch {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 20px;
    background-color: $c-gray6;
    margin: 0;
    outline: 0;
    @include prefix(transition, all 0.3s ease);
    @include prefix(transform, translate(0, -50%));
    @include prefix(border-radius, 30px);
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 3px;
      width: 15px;
      height: 15px;
      background-color: $c-gray8;
      @include prefix(transition, all 0.3s ease);
      @include prefix(transform, translate(0, -50%));
      @include prefix(border-radius, 50%);
    }
  }

  &-text {
    padding: 0;

    input {
      display: none;

      &:checked {
        + .switch {
          background-color: $c-white;

          &:before {
            @include prefix(transform, translate(30px, -50%));
          }

          span {
            &:first-child {
              color: $c-gray1;
            }

            &:last-child {
              color: $c-white;
            }
          }
        }
      }
    }

    .switch {
      position: static;
      display: inline-flex;
      width: 62px;
      height: 32px;
      background-color: $c-white;
      border: 1px solid $c-gray5;
      font-size: $font-12;
      text-transform: uppercase;
      vertical-align: middle;
      margin-left: 5px;
      @include prefix(transform, translate(0, 0));

      &:before {
        left: 0;
        width: 30px;
        height: 30px;
        background-color: $c-gray1;
        @include prefix(transform, translate(0, -50%));
      }

      span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        transition: $tr-3-ease;

        &:first-child {
          color: $c-white;
        }

        &:last-child {
          color: $c-gray1;
        }
      }
    }
  }
}

.g-checkbox, .g-radio {
  display: inline-block;
  position: relative;
  min-height: 18px;
  text-align: left;
  padding: 0 0 0 32px;
  margin: 0;
  cursor: pointer;

  input {
    display: none;
    &:checked {
      & ~ .checkmark {
        border-color: $c-primary;

        &:before {
          content: "";
        }
      }
    }
  }

  .checkmark {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $c-white;
    border: 2px solid $c-gray5;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: $tr-2-ease;

    &:before {
      content: none;
      position: absolute;
      background: $c-primary;
      transition: $tr-2-ease;
    }
  }

  &-color {
    input {
      &:checked {
        & ~ .checkmark {
          border-color: $c-white;
          border-width: 2px;
          box-shadow: 0px 0px 0px 2px $c-primary;

          &:before {
            content: none;
          }
        }
      }
    }

    .checkmark {
      height: 18px;
      width: 18px;
      border: 4px solid $c-white;
      box-shadow: 0px 0px 0px 2px $c-gray5;
    }
  }

  &--invert {
    color: $c-gray6;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-13;
    min-height: 15px;
    padding: 0 0 0 26px;

    .checkmark {
      height: 18px;
      width: 18px;
    }
  }
}

.g-checkbox {
  .checkmark {
    &:before {
      top: 55%;
      left: 20%;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 $c-primary,
        4px 0 0 $c-primary,
        4px -2px 0 $c-primary,
        4px -4px 0 $c-primary,
        4px -6px 0 $c-primary,
        4px -8px 0 $c-primary;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}

.g-radio {
  .checkmark {
    border-radius: 50%;

    &:before {
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
re-captcha {
  & > div {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
