@font-face {
  font-family: '#{$font-caicon}';
  font-display: swap;
  src:  url('#{$url-fonts}/#{$font-caicon}.eot?rregoq');
  src:  url('#{$url-fonts}/#{$font-caicon}.eot?rregoq#iefix') format('embedded-opentype'),
        url('#{$url-fonts}/#{$font-caicon}.ttf?rregoq') format('truetype'),
        url('#{$url-fonts}/#{$font-caicon}.woff?rregoq') format('woff'),
        url('#{$url-fonts}/#{$font-caicon}.svg?rregoq##{$font-caicon}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="caicon-"], [class*=" caicon-"] {
  font-family: '#{$font-caicon}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $caicon in map-keys($caicons) {
  .caicon-#{$caicon} {
    &:before {
      content: map-get($caicons, $caicon);
    }
  }
}
