.why-ca {
  position: relative;

  &-text-content {
    padding-top: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url($url-images + "/bkg-porque-ca.png");

    .why-ca-geometric-img {
      z-index: 1;
      position: relative;
      margin-top: 45%;
      margin-left: 55%;

      @media (max-width: $break-xxxlarge) {
        margin-top: 25%;
      }

      @media (max-width: $break-xxlarge) {
        margin-top: 15%;
      }

      @media (max-width: $break-large) {
        margin-top: 20px;
        margin-left: 0;
      }

      @media (max-width: $break-medium) {
        display: none;
      }
    }

    @media (max-width: $break-medium) {
      padding-bottom: 30px;
    }
  }

  &-img-content {
    position: unset;

    .why-ca-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      z-index: 0;
      @media (max-width: $break-xlarge) {
        width: 55%;
      }

      @media (max-width: $break-large) {
        width: 50%;
      }
    }

    @media (max-width: $break-medium) {
      display: none;
    }
  }
}