{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#mainNotification}}
      {{>molecules-Main-notification}}
    {{/mainNotification}}

    {{#navTabsAndButton}}
      {{>molecules-Nav-tabs-and-button}}
    {{/navTabsAndButton}}

    <div class="g-card-wrapper">

      {{#principalTitle}}
        {{>molecules-Principal-title}}
      {{/principalTitle}}

      {{#multimediaContent}}
        <div class="row">

          {{#col}}
            <div class="{{colClass}}">

              {{#multimediaImages}}
                {{>molecules-Img-upload-preview}}
              {{/multimediaImages}}

              {{#multimediaFiles}}
                {{>molecules-File-upload-preview}}
              {{/multimediaFiles}}

            </div>
          {{/col}}

        </div>
      {{/multimediaContent}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </main>

</div>
