{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionFeatures}}
    {{>sections-Section-features}}
  {{/sectionFeatures}}

  {{#sectionPorque}}
    {{>sections-Section-porque-ca}}
  {{/sectionPorque}}

  {{#sectionDeDondeVenimos}}
    {{>sections-Section-de-donde-venimos}}
  {{/sectionDeDondeVenimos}}

  {{#sectionMisionVision}}
    {{>sections-Section-mision-vision}}
  {{/sectionMisionVision}}

  {{#sectionLogros}}
    {{>sections-Section-logros}}
  {{/sectionLogros}}

  {{#sectionADondeVamos}}
    {{>sections-Section-a-donde-vamos}}
  {{/sectionADondeVamos}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
