<div class="row">
  <div
    class="col-sm-6"
    [ngClass]="{
      'col-md': itemsNew?.length < 5 ,
      'col-md-4 col-xl': itemsNew?.length > 4
    }"
    *ngFor="let item of itemsNew">
    <ca-benefit [data]="item" class="g-feature"></ca-benefit>
  </div>
</div>
