<div class="g-main g-main-full g-main-full--login">

  <div class="container-fluid">

    <div class="row">
      <div class="col mt-8">

        {{#formLogin}}
          {{>organisms-Login-block}}
        {{/formLogin}}

      </div>
    </div>

  </div>

</div>
