<div class="s-map-wrapper ">
  <div class="s-map-map ">
    <div class="s-map-img">
      <img class="g-img-fluid" [src]="BUCKET_SYSTEM + 'images/nuestros-destinos/mapa.svg'" alt="">
      <div
        class="s-map-item"
        *ngFor="let destination of mapDestinations"
        [ngClass]="'s-map-item--' + destination?.className">
        <a
          href="javascript:void(0);"
          class="s-map-link"
          *ngFor="let descriptor of destination.descriptors"
          (click)="openHotelDesc(destination?.destinationId, descriptor?.id, descriptor?.color)">
          <i class="caicon-ca" [ngStyle]="{'color': descriptor?.color}"></i>
        </a>
        <span class="">
          {{ destination?.destination }}
        </span>
      </div>
    </div>
  </div>

  <div class="s-map-info pb-2" [ngClass]="{ 'd-md-none': isActiveDetail}">
    <div class="s-map-info-path"></div>
    <div class="g-relative">
      <h2 class="g-heading">
       {{ DESTINATIONS_MAP[language].contactTitle }}
      </h2>
      <p class="g-fs-15 g-fs-md-18 g-fw-light mb-2">
        {{ DESTINATIONS_MAP[language].contactSubtitle }}
      </p>
      <div class="g-select-hotels" [ngClass]="{'active': activeHotels}">
        <button class="g-select-hotels-button" (click)="toggle()">
          <span>{{  currentSelectHotelResponsive?.name || DESTINATIONS_MAP[language].selected }}</span>
          <i class="la la-angle-down"></i>
          <div class="g-select-hotels-button-line"></div>
          <div class="g-select-hotels-button-arrow"></div>
        </button>
        <ul class="g-select-hotels-list">
          <li *ngFor="let hotel of hotels | orderBy:['+name']" (click)="selectHotel(hotel)">
            <a href="javascript:void(0);">{{ hotel.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="s-map-info pt-0 pt-md-7" *ngIf="isActiveDetail" [@fadeInOutAnimation]>
    <div class="s-map-info-path"></div>
    <div class="g-relative">
      <div class="s-map-info-detail ">
        <img class="w-100"
          [caBackgroundurl]="hotelInfoActive?.imageMain"
          style="height: 190px; background-size: cover; background-position: center; max-width: 100%;">
        <div class="s-map-info-detail-body">
          <div class="g-dropDown mb-2 g-dropDown--hover d-none d-md-block" *ngIf="destinationInfo?.length > 1">
            <button class="g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-text-capitalize white-space-normal"
              type="button">
              <span>{{ hotelInfoActive?.title2 }} {{ hotelInfoActive?.title1 }}</span>
              <i class="la la-angle-down"></i>
            </button>
            <ul class="g-dropDown--list">
              <li *ngFor="let hotel of destinationInfo" (click)="setActiveHotel(hotel)">
                <a href="javascript:void(0);">{{ hotel?.title2 }} {{ hotel?.title1 }}</a>
              </li>
            </ul>
          </div>
          <h5 class="s-subheading" *ngIf="hotelInfoActive?.title2">
            {{ hotelInfoActive?.title2 }}
          </h5>
          <h3 class="g-f-nexa-slab g-fw-book g-fs-18 g-sm-24 g-fs-md-30">
            {{ hotelInfoActive?.title1 }}
          </h3>
          <ul class="s-list-contact mb-3">
            <ng-container *ngFor="let contact of hotelInfoActive?.languageDetailContacts">
              <li class="s-list-contact-item" *ngIf="contact.type !== 2">
                <h5 class="">
                  <i [ngClass]="contact?.icon"></i> {{ contact?.label }}
                </h5>
                <div [innerHTML]="contact?.description"></div>
              </li>
            </ng-container>
          </ul>
          <div class="mb-2">
            <a [href]="hotelInfoActive?.url" class="g-link g-link-icon g-link-icon-right">
              {{ GO_HOTEL[language] }}
              <i class="la la-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
