<div class="shared-spinner" [ngClass]="config?.spinnerClass">
  <div class="shared-spinner-content">
    <div class="shared-spinner-body">
      <div class="shared-spinner-container-icon">
        <span *ngIf="config?.spinnerIconClass" class="shared-spinner-ico" [ngClass]="config?.spinnerIconClass"></span>
        <img *ngIf="config?.spinnerImg" class="shared-spinner-img" [src]="config?.spinnerImg"/>
      </div>
      <div>
        <span>{{ LOADING_TEXT[language].text }}...</span>
      </div>
    </div>
  </div>
</div>
