<div class="g-box g-box--corners g-box--corners-tr padding-xs-2 padding-md-4">
  <div class="side side-left">
    <div class="corner corner-top-left"></div>
    <div class="corner corner-bottom-left"></div>
  </div>
  <div class="side side-right">
    <div class="corner corner-top-right"></div>
    <div class="corner corner-bottom-right"></div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12 col-md-4 col-xs-3">
      <label
        class="g-label mb-0-5"
        for="nInput">Selecciona tu destino</label>
      <ca-living-select
        *ngIf="destinations.length"
        [isCollapsed]="isCollapsed"
        [items]="destinations"
        valueKey="value"
        [initVal]="destinationActive?.value"
        (selecting)="selectDestination($event)"
        [buttonClass]="'g-btn g-btn-with-icon g-btn-primary g-btn-with-icon--dropdown g-block'">
      </ca-living-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="s-tab ">
        <ca-navbar
          [tabs]="hotelTabs"
          classLi="s-tab-nav-item"
          [activeIndex]="activeTab"
          (watchActiveVal)="selectingHotel($event)">
          <ng-container
            *ngFor="let hotel of destinationInfoActive?.hotels; let i = index">
            <ca-navbar-content
              class="s-tab-pane"
              *ngIf="i === activeTab"
              [ngClass]="{'active': i === activeTab}">
              <div class="row align-items-center mb-2">
                  <div class="col-sm-12 col-md-6 col-xl-8 mb-2 mb-md-0">
                    <span class="g-fs-15">
                      {{ hotel?.description }}
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <div
                          class="g-btn g-btn-black g-block"
                          (click)="openTour()">
                          <i class="la la-street-view"></i>
                          360
                        </div>
                      </div>
                      <div class="col-7">
                        <button
                          (click)="openForm()"
                          class="g-btn g-btn-outline g-block"
                          type="button">Cotizar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-sm-12 col-md-4 col-xs-3">
                        <ca-living-select
                          *ngIf="hotel?.livings?.length"
                          [isCollapsed]="isCollapsed2"
                          [items]="hotel?.livings"
                          (selecting)="selectingLiving($event)"
                          [buttonClass]="'g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-text-capitalize g-block'">
                        </ca-living-select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="s-carousel--big-box s-carousel--big-box-tag">
                          <div class="big-box--controls" *ngIf="livingActive">
                            <div
                              class="dot"
                              *ngFor="let slides of livingActive.sliders; let idxImage = index"
                              (click)="setActiveImage(idxImage)"
                              [ngClass]="{'active': idxImage === activeImageIdx}"></div>
                          </div>
                          <div
                            class="g-tag g-tag-box-carousel col-sm-12 col-md-6 col-lg-4"
                            *ngIf="livingActive?.sliders">
                            <span class="">
                              {{ livingActive?.sliders[activeImageIdx]['title' + (language | titlecase)] }}
                            </span>
                          </div>
                          <div class="big-box--images s-img-bg-3 s-img-bg-lg-4 s-img-bg-md-100 g-box-shadow3">
                            <ng-container *ngFor="let slide of livingActive?.sliders; let iImage = index">
                              <figure
                                *ngIf="iImage === activeImageIdx && slide?.images?.length"
                                class="s-img-bg s-img-bg-100 d-flex align-items-end p-1"
                                [caBackgroundurl]="slide.images[0]">
                              </figure>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </ca-navbar-content>
          </ng-container>
        </ca-navbar>
      </div>
    </div>
  </div>
</div>
