<div [formGroup]="videoForm" class="row no-gutters mb-2">
  <div class="col-12 g-w-100" *ngIf="config.label">
    <h5 class="g-fs-15">{{ config.label }}:</h5>
  </div>
  <div class="col-auto pr-2">
    <label class="g-radio">
      <input type="radio" name="type" [value]="TYPE_VIDEO.gallery" formControlName="type">
      Galería:
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-6">
    <caadmin-gallery-select
      [formControl]="gallery"
      [size]="config.imageSize"
      [mimeTypes]="config.mimeTypes"
      [maxLength]="config.maxLength"
      [placeholder]="config.width + 'x'+ config.height"
      type="video"
      [maxSize]="(config.weight || 0) / (1024 * 1024)"
      [error]="validateControl()">
    </caadmin-gallery-select>
    <div class="mt-1" *ngIf="config.label">
      <span class="d-block g-fs-14">
        <strong>Medidas</strong>: {{ config.width }} x {{ config.height }}px
      </span>
      <span class="d-block g-fs-14">
        <strong>Peso máx.</strong>: {{ config.weight || 0 | fileSize }}
      </span>
    </div>
  </div>
</div>
<div [formGroup]="videoForm" class="row align-items-center no-gutters mb-2">
  <div class="col-auto pr-2">
    <label class="g-radio">
      <input type="radio" name="type" [value]="TYPE_VIDEO.url" formControlName="type">
      URL:
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col">
    <input
      class="g-input mb-0"
      type="text"
      [formControl]="url"
      [placeholder]="config.placeholder || 'https://www.casa-andina.com/video.mp4'">
  </div>
</div>
