<div class="g-input-autocomplete">
  <div class="g-input-autocomplete-search">
    <i class="la la-search"></i>
  </div>
  <div class="g-input-autocomplete-close" [hidden]="iconSearch">
    <button type="button"
      class="g-btn g-btn-circle invert"
      (click)="delete()">
      <i class="la la-times-circle"></i>
    </button>
  </div>
  <input #autoComplete
        type="text"
        class="g-input"
        [ngClass]="{'g-input-error': error}"
        [attr.placeholder]="placeholder"
        [(ngModel)]="value"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        (selectItem)="oSelectItem($event)"/>
  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r[textField]" [term]="t"></ngb-highlight>
  </ng-template>
</div>
