<div class="g-box g-box-shadow3 g-box--promociones pr-1-5 pl-1-5">
  <div class="row p-0">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-4 g-box--promociones-img"
      [caBackgroundurl]="
        (item.backgroundImage?.length && item.backgroundImage[0]) ||
        (item.entity?.imageMain?.large && item.entity?.imageMain) ||
        (pageInfo.payload.caInfoPromotion.imagePromotion && pageInfo.payload.caInfoPromotion.imagePromotion.length && pageInfo.payload.caInfoPromotion.imagePromotion[0])
        ">
      <div
        class="g-tag g-tag-type"
        [ngClass]="{ 'g-tag-type--right': item.restaurant }"
        [ngStyle]="{ 'background-color' : item.entity?.colorDescriptor}">
        <span class="false" [ngStyle]="{ 'background-color' : item.entity?.colorDescriptor}">
          {{ item.entity?.nameDescriptor }}
        </span>
      </div>
      <div
        class="g-tag g-tag-sale"
        *ngIf="item.discount && item.discount > 0"
        [ngClass]="{ 'g-tag-sale--right': item.restaurant }">
        <p>
          <span>%{{ item.discount }}</span><span>{{ GENERAL_TEXT[lang].off }}</span>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-9 col-xl-8 pt-1-5 pb-1-5">
      <div class="row g-h-100">
        <div class="col-md-12 col-lg-8 px-md-3">
          <h3 class="g-fs-30 g-f-nexa-slab g-fw-book">
            {{ item.entity?.name }}
          </h3>
          <div class="pb-3" [innerHTML]="item.description | safeHtml">
          </div>
          <a
            [style.bottom]="0"
            class="g-link g-link-icon g-link-icon-right mt-2 g-fs-12 position-absolute mb-1"
            [caUrlLink]="{ url: item?.entity?.url }">
            {{ GENERAL_TEXT[pageInfo?.language].goTo }} {{ item.restaurant? 'restaurante' : 'hotel' }}
            <i class="la la-arrow-right"></i>
          </a>
        </div>
        <div class="col-md-6 offset-md-6 col-lg-4 offset-lg-0 pb-1 pl-1 pl-md-0 d-flex flex-column justify-content-end">
          <ng-container *ngIf="item?.price > 0 ">
            <p class="g-fw-bold g-block">
              {{ RESERVE_ACTIONS[pageInfo?.language].from }}
              <span class="g-fw-normal g-fs-30">
                <small>{{ item.currency | currencySymbol }}</small>
                {{ doConvertion() | number: '1.0-0' }}
              </span>
            </p>
            <p class="g-fs-14 g-fw-bold g-block" *ngIf="item.currency !== 'PEN' ">
              T.C. {{ 'PEN' | currencySymbol }} {{ item.exchange }}
            </p>
          </ng-container>
          <a
            *ngIf="item.urlReservation || getBookingUrl()"
            class="g-btn g-btn-primary g-btn-fat g-block"
            [href]="item.urlReservation || getBookingUrl()"
            target="_blank">{{ RESERVE_ACTIONS[pageInfo?.language].reserve }}</a>
          <a
            *ngIf="item.isRestriction || pageInfo?.payload?.caInfoPromotion?.isRestriction"
            href="javascript:void(0);"
            class="g-link g-link-icon g-link-icon-right mt-1"
            (click)="openModel()">
            {{ GENERAL_TEXT[pageInfo?.language].termConditions }}
            <i class="la la-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
