<!doctype html>
<html lang="en" itemscope="" itemtype="http://schema.org/Website">

<head>
  <meta charset="utf-8">
  <title>Casa Andina</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="SofiaPro-Bold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="SofiaPro-Regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="SofiaPro-ExtraLight.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="SofiaPro-Light.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="line-awesome.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="Arquitecta-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="NexaSlab-book.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="NexaSlab-light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="NexaSlab-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preconnect" href="//cms.casa-andina.com" crossorigin>
  <link rel="preconnect" href="//s3.amazonaws.com" crossorigin>
</head>

<body style="background-color: black;">
  <casite-root></casite-root>

  {{#bundles}}
  <script src="{{../outputDir}}/{{filename}}"></script>
  {{/bundles}}
</body>

</html>
