<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#mainNotification}}
        {{>molecules-Main-notification}}
      {{/mainNotification}}

      <div class="g-modal-body px-4">

        <form>

          {{#formGroupSelect}}
            {{>molecules-Form-group-select}}
          {{/formGroupSelect}}

          {{#formGroupInput}}
            {{>molecules-Form-group-input}}
          {{/formGroupInput}}

          {{#multipleInputs}}
            <div class="row">

              {{#col}}
                <div class="{{colClass}}">

                  {{#formGroupImg}}
                    {{>molecules-Form-group-img}}
                  {{/formGroupImg}}

                  {{#formGroupInputInner}}
                    {{>molecules-Form-group-input}}
                  {{/formGroupInputInner}}

                  {{#formGroupColorBox}}
                    {{>molecules-Form-group-color-box}}
                  {{/formGroupColorBox}}

                </div>
              {{/col}}

            </div>
          {{/multipleInputs}}

          {{#editorForm}}
            {{>organisms-Editor-form}}
          {{/editorForm}}

          {{#tagsList}}
            {{>molecules-Tags-list}}
          {{/tagsList}}

          <div class="text-right mt-4">

            {{#modalButton}}
              {{>atoms-Button-with-icon}}
            {{/modalButton}}

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
