<div class="s-img-bg-sm-none s-img-bg py-4 py-md-6 py-lg-9" [caBackgroundurl]=" backgroundImage[0]">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7 col-xl-6">
          <h4 class="g-heading g-cl-white">
            {{title}}
          </h4>
          <p class="g-text-with-line g-cl-white" [innerHTML]="description | safeHtml">
          </p>
      </div>
    </div>
  </div>
</div>
