<div class="w-100">
  <div class="g-btn-dropdown">
    <div
      name="iconCssDefault"
      class="g-btn-dropdown-inner"
      [iconPicker]="value"
      [icons]="icons"
      [ipWidth]="'300px'"
      (iconPickerSelect)="onIconPickerDefaultSelect($event)">
      <span>
        <i [ngClass]="value"></i>
      </span>
      <span class="g-btn-dropdown-text">{{ value }}</span>
    </div>
  </div>
</div>
