<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Casa Andina</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body class="c-body">
  <caadmin-root></caadmin-root>

  {{#bundles}}
  <script src="{{../outputDirCms}}/{{filename}}"></script>
  {{/bundles}}
</body>

</html>
