<div class="row">
  <div class="col-12">
    <h2 class="g-heading" *ngIf="(formLabels | json) !== '{}'">
      <span [innerHTML]="setLabel('titulo')"></span>
    </h2>
  </div>
</div>
<form [formGroup]="formContact">
  <div class="overlay" *ngIf="showOverlay"></div>
  <ca-notify [type]="notification?.type" [active]="notifyActive">{{ notification?.description }}</ca-notify>
  <div class="row">
    <div class="col-md-6 mb-2">
      <ca-input
        [placeholder]="setLabel('textNombreApellido')"
        [error]="validateControl('name')"
        formControlName="name">
      </ca-input>
    </div>
    <div class="col-md-6 mb-2">
      <div class="g-select ">
        <i class="la la-angle-down"></i>
        <select
          [ngClass]="{ 'g-input-error': submitted && formContact.controls['motive'].invalid }"
          formControlName="motive">
          <option [value]="null">{{ setLabel('selectMotivo') }}</option>
          <option [value]="reason.code" *ngFor="let reason of reasons">
            {{ reason.value }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <ca-input
        [placeholder]="setLabel('textCorreoElectronico')"
        [error]="validateControl('email')"
        formControlName="email">
      </ca-input>
    </div>
    <div class="col-md-6 mb-2">
      <div class="g-select ">
        <i class="la la-angle-down"></i>
        <select
          [ngClass]="{ 'g-input-error': submitted && formContact.controls['pageDestinationId'].invalid }"
          formControlName="pageDestinationId">
          <option [value]="null">{{ setLabel('selectDestino') }}</option>
          <option [value]="destiny.value" *ngFor="let destiny of destinations">
            {{ destiny.text }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <ca-input
        [placeholder]="setLabel('textTelefono')"
        [error]="validateControl('phone')"
        formControlName="phone">
      </ca-input>
    </div>
    <div class="col-md-6 mb-2">
      <ca-input
        [placeholder]="setLabel('textDireccion')"
        [error]="validateControl('address')"
        formControlName="address">
      </ca-input>
    </div>
    <div class="col-md-6 mb-2">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="g-select ">
            <i class="la la-angle-down"></i>
            <select
              formControlName="countryId">
              <option [value]="null">{{ setLabel('selectPais') }}</option>
              <option [value]="country.value" *ngFor="let country of countries">
                {{ country.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="g-select ">
            <i class="la la-angle-down"></i>
            <select
              formControlName="gender">
              <option [value]="null">{{ setLabel('selectGenero') }}</option>
              <option [value]="gender.code" *ngFor="let gender of genders">
                {{ gender.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <ca-input
        [placeholder]="setLabel('textMensaje')"
        [error]="validateControl('message')"
        formControlName="message">
      </ca-input>
    </div>
    <div class="col-md-12 mb-2">
      <re-captcha
        [ngClass]="{ 'g-input-error--full-recatcha': submitted && !recaptcha }"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="recaptcha"
        [siteKey]="SITE_KEY">
      </re-captcha>
    </div>
    <div class="col-md-6 mb-2">
      <p class="mb-1">
        {{ setLabel('labelAceptoTerminos') }}
      </p>
      <label class="g-checkbox mb-1">
      <input type="checkbox" formControlName="sendNotification">
        {{ setLabel('checkEnvioPublicidad') }}
      <span class="checkmark"></span>
      </label>
      <label class="g-checkbox mb-1">
      <input type="checkbox" formControlName="sendNew">
        {{ setLabel('checkEnvioNoticias') }}
      <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-6">
      <button
        (click)="sendForm()"
        class="g-btn g-btn-primary g-btn-fat g-block"
        type="button">
        {{ setLabel('buttonEnviar') }}
      </button>
    </div>
  </div>
</form>