<p class="mb-3" [innerHTML]="payload?.data?.description"></p>
<ng-container *ngFor="let table of payload?.data?.tables">
  <h5 class="g-cl-primary g-fs-16 g-fs-sm-20">
    {{ table.title }}
  </h5>
  <div class="s-table-content mb-2">
    <table class="s-table s-table--transfer">
      <thead>
        <tr>
          <th *ngFor="let thead of table.calendar?.head">
            <span class="">
              {{ thead }}
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trdata of table.calendar?.body">
          <td *ngFor="let tddata of trdata">
            <span class="">
              {{ tddata }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<p class="g-fs-11" [innerHTML]="payload?.data?.restrictions"></p>
