<div class="g-modal">

  <div class="g-modal-dialog {{modifierClass}}">

    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      <div class="g-modal-body {{modifierBodyClass}}">

        {{#uploadImg}}
          {{>atoms-Image}}
        {{/uploadImg}}

        {{#uploadVideo}}
          {{>atoms-Video}}
        {{/uploadVideo}}

      </div>

    </div>

  </div>

</div>
