<div class="g-modal">

  <div class="g-modal-dialog {{modifierClass}}">

    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#mainNotification}}
        {{>molecules-Main-notification}}
      {{/mainNotification}}

      <div class="g-modal-body {{modifierBodyClass}}">

        <div class="row">
          <div class="col-9">

            <div class="g-img-preview-wrapper">

              {{#uploadImg}}
                {{>atoms-Image}}
              {{/uploadImg}}

              {{#uploadVideo}}
                {{>atoms-Video}}
              {{/uploadVideo}}

              {{#uploadFile}}
                {{>molecules-File-upload-preview}}
              {{/uploadFile}}

            </div>

          </div>

          <div class="col-3 g-bgc-gray7 pt-2 pb-2">

            <div class="mb-4">
              <span class="g-fs-14">{{{fileInfo}}}</span>
            </div>

            {{#imageInfo}}
              <div class="mb-2">

                {{>molecules-Form-group-input}}

              </div>
            {{/imageInfo}}


            {{#imageSelectedButtons}}
              <div class="mb-2 text-center">

                {{>atoms-Button}}

              </div>
            {{/imageSelectedButtons}}

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
