<div
  class="g-carousel">
  <div
    class="g-carousel-content"
    style="overflow: hidden"
    *ngIf="sliders?.length">
    <div class="g-carousel-content-before"></div>
    <div class="g-carousel-container position-relative">
      <ca-carousel-controls
        #controls
        [lgth]="sliders?.length"
        [animation]="animation"
        [color]="controlColor">
      </ca-carousel-controls>  
      <div
        class="d-flex"
        #nav
        [ngStyle]="{
          'height': height,
          'transform': elementWidthInPx,
          'transition': transitionTime
        }">
        <div class="g-carousel-content--wrap">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="g-carousel-content-after"></div>
  </div>
</div>

