<section class="g-section {{modifierClass}}">
  <div class="g-relative">

    <div class="container">

      {{#restaurantInfo}}
        {{>organisms-Restaurant-info}}
      {{/restaurantInfo}}

    </div>

  </div>
</section>
