<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

      </div>
    </div>


    {{#figure}}
      <div class="row">
        <div class="col-12 {{colClass}}">

          {{>organisms-Figure-with-caption}}

        </div>
      </div>
    {{/figure}}

  </div>
</section>
