<section class="g-section {{modifierClass}}" {{{sectionBackogrund}}}>
  <div class="container">

    {{#title}}
      <div class="row">
        <div class="col-12">

          {{>atoms-Text}}

        </div>
      </div>
    {{/title}}

    {{#carousel}}
      <div class="row">
        <div class="col-12 p-0">

          {{>templates-Carousel}}

        </div>
      </div>
    {{/carousel}}

  </div>
</section>
