<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

      </div>
    </div>

    <div class="row">
      <div class="col-12">

      {{#figure}}
        {{>organisms-Figure-with-caption}}
      {{/figure}}

      </div>
    </div>

  </div>
</section>
