<form [formGroup]="frmAddUser">
  <p class="mb-2">
    {{ USER_LANG?.descriptions?.addUserCms }}
  </p>
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label class="g-fw-bold">{{ USER_LANG?.labels?.user }}:</label>
      </div>
      <div class="col">
        <ca-input id="username" formControlName="username" [disabled]="edit"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2" *ngIf="!edit">
      <div class="col-auto g-w-100">
        <label class="g-fw-bold">{{ USER_LANG?.labels?.password }}:</label>
      </div>
      <div class="col">
        <ca-input id="password" formControlName="password" type="password"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label class="g-fw-bold">{{ USER_LANG?.labels?.fullName }}:</label>
      </div>
      <div class="col">
        <ca-input id="name" formControlName="name"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label  class="g-fw-bold">{{ USER_LANG?.labels?.lastname }}:</label>
      </div>
      <div class="col">
        <ca-input id="lastname" formControlName="lastname"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label class="g-fw-bold">{{ USER_LANG?.labels?.email }}:</label>
      </div>
      <div class="col">
        <ca-input id="emailß" formControlName="email"></ca-input>
      </div>
    </div>
  </div>
  <div class="g-card g-card-gray">
    <div class="row">
      <div class="col-12">
        <span class="d-block mb-2 g-fw-medium">
          {{ USER_LANG?.titles?.assignRole }}
        </span>
      </div>
      <div class="col-12">
        <div class="row align-items-center" *ngFor="let item of rolesList">
          <div class="col-4">
            <ca-radio-button formControlName="radioRoles" [value]="item">
              {{ item?.roleName }}
            </ca-radio-button>
          </div>
          <div class="col-8">
            <ng-container *ngFor="let permission of item?.permissionCodeList; let last = last">
              {{ permission?.permissionName }}{{ (last) ? '.' : ', ' }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right mt-2">
    <button ca-button (click)="save()">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
