<div class="row no-gutters mb-2" [formGroup]="group">
    <div class="col-auto g-w-100 d-flex" style="height: 46px">
        <label [for]="config.label" class="g-fw-bold g-fs-15 align-self-center">{{ config.label }}:</label>
    </div>
    <div class="col g-bgc-white" [ngClass]="{ 'g-input-error' : validateControl() }">

        <quill-editor *ngIf="config && modules" class="c-rich-text" [modules]="modules" [theme]="'snow'" [style]="{height: '200px'}" [format]="'html'" [formControlName]="config.code" [placeholder]="'Ingresa un texto...'">
            <h1>Hola</h1>
        </quill-editor>
        <div *ngIf="config.code === 'description' && config.type === 'richtext-html' " class="col-auto g-w-100 d-flex" style="height: 46px">
            <label class="g-fw-bold g-fs-15 align-self-center" for="css">
      Css:
    </label>
        </div>
        <textarea *ngIf="config.code === 'description' &&  config.type === 'richtext-html' " id="styleArea"></textarea>
        <div [hidden]="mostrando_boton_archivo">
            <div class="col-auto d-flex" style="height: 46px">
                <label class="g-fw-bold g-fs-15 align-self-center" for="css">
              Archivo Agregado:
              </label>
            </div>
            <div class="d-flex" style="height: 46px" style="height: 46px">
                <button ca-button type="button" class="g-btn g-btn-primary" style="width:182px" (click)="presionarA()">
                  <a id="descargajs" style="text-decoration:none;background-color: #D59849;color:white">VER ARCHIVO</a>
              </button>
            </div>
            <div class="col-auto d-flex" style="height: 46px">
                <label class="g-fw-bold g-fs-15 align-self-center" for="css">
                  Nota:El siguiente archivo que se adjunte será reemplazado por el anterior.
              </label>
            </div>
        </div>


        <div class="col-auto g-w-100 d-flex" style="height: 46px">
            <label class="g-fw-bold g-fs-15 align-self-center" for="css">
          Js:
      </label>
        </div>
        <input class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" id="js_html" type="file" accept=".js" value="Subir js" (change)="subirJs($event)"><br>
        <label class="g-fw-bold g-fs-15 align-self-center" for="css" style="color:red !important;font-size:14px !important" [hidden]="archivo_permitido">
          El archivo que intento subir es incorrecto. Archivo permitido(.js)
      </label>

    </div>
</div>