<div class="g-select {{classModifier}}">

  {{#icon}}
    {{>atoms-Icon}}
  {{/icon}}

  <select name="{{nameSelect}}">

    {{#options}}
      <option value="{{value}}">{{text}}</option>
    {{/options}}

  </select>

</div>
