<header class="g-header {{modifierClass}}">

  {{#logo}}
    {{>atoms-Image-logo}}
  {{/logo}}

  <div class="g-profile">

    {{#profileInfo}}
      {{>molecules-Profile-info}}
    {{/profileInfo}}

    {{#profileLogout}}
      {{>molecules-Profile-logout}}
    {{/profileLogout}}

  </div>
</header>
