<button class="s-accordion-list-header" (click)="updateState()">En <strong>{{ destination?.name }} ({{ destination?.hotels.length }})</strong></button>
<div [collapse]="state">
  <ul class="s-accordion-list-body">
    <li *ngFor="let hotel of destination?.hotels">
      <a [href]="hotel?.path" [innerHTML]="hotel?.name | safeHtml"></a>
    </li>
  </ul>
</div>
