<div class="{{classModifier}}">

  <div class="mb-3">

    {{#table}}
      {{>organisms-Table}}
    {{/table}}

  </div>

  <div class="d-flex justify-content-center">

    <div class="col-sm-6 col-md-4">

      {{#button}}
        {{>atoms-Button}}
      {{/button}}

    </div>

  </div>

</div>
