{{#label}}
  {{>atoms-Label}}
{{/label}}

<div class="g-dropDown {{classModifier}}">

  {{#button}}
    {{>atoms-Button-with-icon}}
  {{/button}}

  {{#list}}
    {{>atoms-Dropdown-list}}
  {{/list}}

  {{#listCheckbox}}
    {{>atoms-Dropdown-list-checkbox}}
  {{/listCheckbox}}

  {{#assessmentBox}}
    {{>molecules-Box-assessment}}
  {{/assessmentBox}}

  {{#capacidadBox}}
    {{>molecules-Dropdown-capacidad}}
  {{/capacidadBox}}

</div>