{{#label}}
  {{>atoms-Label}}
{{/label}}

<div class="g-input-dropdown {{classModifier}}">

  {{#icon}}
    {{>atoms-Icon}}
  {{/icon}}

  {{#date}}

    <div class="date">

      <span class="day">{{numberDay}}</span>

      <div class="month">

        <span class="g-block">
          {{month}} {{year}}
        </span>

        <span class="g-block">
          {{textDay}}
        </span>

      </div>

    </div>

  {{/date}}

</div>