{{#navTabsAndButton}}
  {{>molecules-Nav-tabs-and-button}}
{{/navTabsAndButton}}

<div class="g-tabs-content">

  <div class="g-tab-pane">
    <div class="g-card-wrapper">

      {{#principalTitle}}
        {{>molecules-Principal-title}}
      {{/principalTitle}}

      {{#componentTitle}}
        {{>molecules-Component-title}}
      {{/componentTitle}}

      {{#componentSection}}
        {{>templates-Component-section}}
      {{/componentSection}}

      {{#pageSummary}}
        {{>organisms-Page-summary}}
      {{/pageSummary}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>
  </div>

</div>
