<div class="container" [@fadeAnimation]="isValid? 'in': 'out'">
  <div class="row">
    <div class="col">
      <h2 class="g-heading ">
        {{ title }}
      </h2>
    </div>
  </div>
  <div class="row" @list *ngFor="let list of group">
    <div class="col-12 mb-2" @items *ngFor="let item of list">
      <ca-hotel-rest-promotion-item
        [lang]="language"
        [item]="item"
        [pageInfo]="pageInfo"
        [bookingUrl]="bookingUrl">
      </ca-hotel-rest-promotion-item>
    </div>
  </div>
  <div class="row" *ngIf="currentLength < items?.length">
    <div class="col">
      <button
        (click)="getItems()"
        class="g-btn g-btn-ver-mas g-block"
        type="button">Ver más <i class="la la-angle-down"></i></button>
    </div>
  </div>
</div>
