<form [formGroup]="frmCategory">
  <h2 class="c-heading-1 g-text-center mb-4">
    Agregar Categoría
  </h2>
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Nombre:</label>
      </div>
      <div class="col">
        <ca-input formControlName="name"></ca-input>
      </div>
    </div>
  </div>
  <div class="text-right mt-2">
    <button ca-button (click)="save()" type="button">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
