<div *ngIf="messageRegister != ''" class="row align-items-center no-gutters mb-2">
  <div class="col-12 g-w-100 mb-1 message-respuesta">
    <label for="titulo" class="g-fw-bold g-fs-15"> {{ messageRegister }} </label>
  </div>
</div>

<div class="row align-items-center no-gutters mb-2">
  <div class="col-12 g-w-100 mb-1">
    <label for="titulo" class="g-fw-bold g-fs-15">Nombre de la plantilla:</label>
  </div>
  <div class="col-12">
    <input
      class="g-input g-input-box ng-pristine ng-valid ng-star-inserted ng-touched"
      [formControl]="title"
      placeholder="Plantilla especial"
      title = "Complete el campo"
      maxlength = "30"
      minlength="10"
      (change)= "validartitulo(title)"
      required
    />
  </div>

  <div class="col-12">
    <span class="g-fs-12 d-block mt-1">Este nombre aparecerá en la lista del catálogo de plantillas.</span>
  </div>

  <div *ngIf="title.invalid && (title.dirty || title.touched ) ">
    <div class="col-12" *ngIf="title.hasError('required')">
      <span class="g-fs-12 d-block mt-1 message-validate">Este campo es requerido</span>
    </div>
  </div>
  <div *ngIf="title.invalid && (title.dirty || title.touched )  ">
    <div class="col-12" *ngIf="title.hasError('minlength')  ">
      <span class="g-fs-12 d-block mt-1 message-validate">El campo debe tener al menos 10 caracter com mínimo y 30 como máximo</span>
    </div>
  </div>
  <div *ngIf="title.dirty || title.touched   ">
    <div class="col-12" *ngIf="texto_titulo == 'invalid' ">
      <span class="g-fs-12 d-block mt-1 message-validate">Ingrese un titulo correcto</span>
    </div>
  </div>
</div>

<div class="row align-items-center no-gutters mb-2">
  <div class="col-12 g-w-100 mb-1">
    <label for="titulo" class="g-fw-bold g-fs-15">Código de plantilla:</label>
  </div>
  <div class="col-12">
    <input
      class="g-input g-input-box ng-pristine ng-valid ng-star-inserted ng-touched"
      [formControl]="code"
      placeholder="temp-personalizado"
      title = "Complete el campo"
      maxlength="20"
      minlength="5"
      (change)= "validarcode(code)"
      required
    />
  </div>
  <div class="col-12">
    <span class="g-fs-12 d-block mt-1">Este código debe ser único.</span>
  </div>
  <div *ngIf="code.invalid && (code.dirty || code.touched )" >
    <div class="col-12" *ngIf="code.hasError('required')">
      <span class="g-fs-12 d-block mt-1 message-validate">Este campo es requerido</span>
    </div>
  </div>
  <div *ngIf="code.invalid && (code.dirty || code.touched ) ">
    <div class="col-12" *ngIf="code.hasError('minlength')">
      <span class="g-fs-12 d-block mt-1 message-validate">El campo debe tener al menos 5 caracter como mínimo y 20 como máximo</span>
    </div>
  </div>
  <div *ngIf="code.dirty || code.touched   ">
    <div class="col-12" *ngIf="texto_code == 'invalid' ">
      <span class="g-fs-12 d-block mt-1 message-validate">Ingrese un código correcto</span>
    </div>
  </div>
</div>

<div class="row align-items-center no-gutters mb-2 mt-3">
  <div class="col-12 g-w-100 mb-1">
    <label for="titulo" class="g-fw-bold g-fs-15">Seleccione el componente</label>
  </div>
  <div class="col-6">
    <div class="g-select">
      <i class="la la-angle-down"></i>
      <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="selectedComponent">
        <option *ngFor="let c of components" [ngValue]="c">{{ c.name }}</option>
      </select>
    </div>
  </div>

  <div class="col-6" style="text-align: center">
    <button class="g-circle g-circle-primary" (click)="getComponent()">+</button>
  </div>
</div>

<div class="col-12">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Componente</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let d; let i = index; of: dataSources">
        <td>
          <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="dataSources[i]">
            <option *ngFor="let c of components" [ngValue]="c">{{ c.name }}</option>
          </select>
        </td>
        <td>
          <button class="g-btn g-btn-square g-btn-square-danger g-btn-component" (click)="deleteComponent(i)">
            <i class="la la-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-right mt-4">
  <button
    (click)="close()"
    class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left"
    type="button"
  >
    <span>Cancelar</span>
    <i class="la la-long-arrow-left"></i>
  </button>
  
  <button
    (click)="savePlantilla()"
    [disabled]="code.hasError('required') || title.hasError('required') 
    || code.hasError('minlength') || title.hasError('minlength') || dataSources.length === 0 || 
    texto_titulo == 'invalid' || texto_code == 'invalid'"
    class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left g-btn-componentadd"
    type="button"
  >
    <span>Guardar</span>
    <i class="la la-save"></i>
  </button>
</div>
