<section class="g-section {{modifierClass}}">
  <div class="container">

    {{#title}}
      <div class="row">
        <div class="col-12">

          {{>atoms-Text}}

        </div>
      </div>
    {{/title}}

  </div>

  <div class="g-middle-container"></div>
  <div class="g-semi-fluid-container pl-0">

    {{#carousel}}
      <div class="row">
        <div class="col-12 p-0">

          {{>templates-Carousel}}

        </div>
      </div>
    {{/carousel}}

  </div>
</section>
