<section class="g-section {{modifierClass}}">
  <div class="container">

    {{#headingAssessment}}
      {{>organisms-Heading-assessment}}
    {{/headingAssessment}}

    {{#carousel}}

      <div class="row mt-2">
        <div class="col-12 p-0">

          {{>templates-Carousel}}

        </div>
      </div>

    {{/carousel}}

  </div>
</section>
