<section class="g-section {{classModifier}}">

  <div class="d-flex flex-wrap">

    <div class="col-sm-6 d-flex align-items-center justify-content-end p-0">

        <div class="g-middle-container s-background">

          <div class="row">
            <div class="col-lg-11 {{infoContainerClass}}">

              {{#text}}
                {{>organisms-Info-porque-ca}}
              {{/text}}

            </div>
          </div>

          {{#geometricImage}}
            {{>atoms-Image}}
          {{/geometricImage}}

        </div>

    </div>

    <div class="col-sm-6 p-0">

      {{#imageBgBox}}
        {{>organisms-Image-bg-box}}
      {{/imageBgBox}}

      {{#imageWithAwards}}
        {{>organisms-Image-with-awards}}
      {{/imageWithAwards}}

    </div>

  </div>

</section>
