<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">

      <div class="col-md-4">

        {{#carouselBigBox}}
          {{>organisms-Carousel-big-box}}
        {{/carouselBigBox}}

      </div>

      <div class="col-md-8">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

        {{#tab}}
          {{>organisms-Tab}}
        {{/tab}}

      </div>

    </div>

  </div>
</section>