<section class="g-section {{classModifier}}">

  <div class="container">

    <div class="row justify-content-between flex-wrap flex-lg-nowrap">

      {{#features}}
        <div class="{{featuresColClass}}">

          {{>molecules-Feature-ca}}

        </div>
      {{/features}}

    </div>

  </div>

</section>
