<section class="g-section {{classModifier}}">

  <div class="container">

    <div class="row">

      <div class="col">

        {{#onlineBenefices}}
          {{>organisms-Online-benefices-box}}
        {{/onlineBenefices}}

      </div>

    </div>

    <div class="row">

      <div class="col">

        {{#linkMore}}
          {{>atoms-Link-with-icon}}
        {{/linkMore}}

      </div>

    </div>

  </div>

</section>
