<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row">
      <div class="col-12">

        <div class="g-box g-box--destinations">

          {{#tabVerMapa}}
            {{>organisms-Tab-ver-mapa}}
          {{/tabVerMapa}}

        </div>

      </div>
    </div>

  </div>
</section>
