<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

      </div>
    </div>

    {{#event}}
      {{>organisms-Event}}
    {{/event}}

  </div>
</section>
