<div class="container">
  <ca-section-header [title]="title" type="black"></ca-section-header>
</div>

<ng-container *ngIf="width > 991">
  <ng-container
    *ngTemplateOutlet="
     carousel;
      context:{
        $implicit: groupSizeThree
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width > 575 && width < 992">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeTwo
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width < 576">
  <ng-container
    *ngTemplateOutlet="
     carousel;
      context:{
        $implicit: groupSizeOne
      }">
  </ng-container>
</ng-container>


<div class="mt-2 g-overflow-hidden">
  <div class="container">
    <a [caUrlLink]="urlLink" class="g-link g-link-icon g-link-icon-right">
      {{ textLink }}
      <i class="la la-arrow-right"></i>
    </a>
  </div>
</div>

<ng-template #carousel let-group>
  <div class="mt-2 g-overflow-hidden">
    <ca-carousel controlColor="black" [animation]="true" [sliders]="group" [height]="height">
      <ng-container>
        <div *ngFor="let sliderGroup of group" caCarouselHover class="carousel-group-item"
          [ngStyle]="{'height': height}">
          <div class="g-carousel-content-wrapper">
            <div class="carousel-item carousel-item--sm active" *ngFor="let slider of sliderGroup">
              <ca-card [data]="slider" [type]="CARD_TYPE.experience.name" [lang]="language">
              </ca-card>
            </div>
          </div>
        </div>
      </ng-container>
    </ca-carousel>
  </div>
</ng-template>
