<div
  class="s-box s-box--tr s-box--shadow g-cursor-pointer"
  [ngClass]="{'g-cursor-pointer': data?.body?.length > OPINION_INFO.bodyLength}"
  (click)="openOpinionDetail()">
  <div class="s-box-side-left">
  </div>
  <div class="s-box-side-right">
  </div>
  <div class="s-box-body">
    <div class="s-box-content p-1">
      <img class="mb-2" [src]="data.reviewSite?.logoUrl" alt="{{ data.reviewSite?.name }}">
      <div class="s-comment-title">
        <h4 class="g-fs-20 g-fw-medium">
          {{ data.title }}
        </h4>
      </div>

      <div class="s-raiting mb-2">
        <div class="s-raiting-starts">
          <span [ngStyle]="{'width': data.rating * 20 + '%'}"></span>
        </div>
      </div>
      <div class="s-comment">
        <p *ngIf="!data?.modalView">
          {{ data.body | maxChar: OPINION_INFO.bodyLength }}
        </p>
        <p *ngIf="data?.modalView">
          {{ data.body }}
        </p>
      </div>
      <span class="d-block text-truncate">
        {{ data.author }}, {{ data.dateReview * 1000 | date }}
      </span>
    </div>
  </div>
</div>
