<div class="g-profile-info">
  <i class="g-profile-info-icon {{iconClass}}"></i>

  <span>
    {{name}}

    <a href="#">{{role}}</a>
  </span>

  {{#profileInfoDropdown}}
    {{>molecules-Profile-info-dropdown}}
  {{/profileInfoDropdown}}

</div>
