<ul class="c-list-dropdown {{modifierClass}}">

  {{#dropdownListItem}}
    <li class="c-list-dropdown-item">

      <a href="#" class="c-list-dropdown-link">
        {{#dropdownListIcon}}
          {{>atoms-Icon}}
        {{/dropdownListIcon}}

        {{dropdownListText}}
      </a>

    </li>
  {{/dropdownListItem}}

</ul>
