<div class="{{modifierClass}}">

  {{#row}}
    <div class="row">

      {{#col}}
        <div class="{{colClass}}">

          {{#componentFormBlock}}
            {{>organisms-Component-form-block}}
          {{/componentFormBlock}}

          {{#componentFormFloat}}
            {{>organisms-Component-form-float}}
          {{/componentFormFloat}}

        </div>
      {{/col}}

    </div>
  {{/row}}

</div>
