{{#componentListTitle}}
  <div class="mt-3 mb-2">

    {{>atoms-Text}}

  </div>
{{/componentListTitle}}

<div class="g-acordion-list g-acordion-list-component {{componentListModifierClass}}">

  {{#item}}
    <div class="g-acordion-list-item {{itemClass}}">

      {{#componentListHeaderInner}}
        {{>molecules-Component-list-header-inner}}
      {{/componentListHeaderInner}}

      {{#componentListBodyInner}}
        {{>organisms-Component-list-body-inner}}
      {{/componentListBodyInner}}

    </div>
  {{/item}}

</div>
