<div class="g-component-wrapper {{modifierClass}}">

  {{#componentEdit}}
    {{>molecules-Component-edit}}
  {{/componentEdit}}

  {{#componentEmpty}}
    <div class="p--2">
      {{>molecules-Icon-and-text-block}}
    </div>
  {{/componentEmpty}}

</div>
