<div class="g-acordion-list-body">

  {{#row}}
    <div class="row">

      {{#col}}
        <div class="{{colClass}}">

          {{#formGroupImg}}
            {{>molecules-Form-group-img}}
          {{/formGroupImg}}

          {{#formGroupInput}}
            {{>molecules-Form-group-input}}
          {{/formGroupInput}}

          {{#formGroupTextarea}}
            {{>molecules-Form-group-textarea}}
          {{/formGroupTextarea}}

          {{#formGroupSelect}}
            {{>molecules-Form-group-select}}
          {{/formGroupSelect}}

          {{#formGroupAlign}}
            {{>molecules-Form-group-align}}
          {{/formGroupAlign}}

          {{#formGroupRadioAndInput}}
            {{>molecules-Form-group-radio-and-input}}
          {{/formGroupRadioAndInput}}

          {{#previewImg}}
            {{>molecules-Img-upload-preview}}
          {{/previewImg}}

          {{#infoImg}}
            {{>molecules-Img-upload-info}}
          {{/infoImg}}

          {{#editorSliderType}}
            {{>molecules-Editor-slider-type}}
          {{/editorSliderType}}

          {{#checkbox}}
            {{>atoms-Input-check}}
          {{/checkbox}}

          {{#headingText}}
            {{>atoms-Text}}
          {{/headingText}}

          {{#divider}}
            <hr class="g-hr {{modifierClass}}">
          {{/divider}}

          {{#removeItem}}
            {{>atoms-Button-with-icon}}
          {{/removeItem}}

        </div>
      {{/col}}

    </div>
  {{/row}}

</div>
