{{#componentListTitle}}
  <div class="mt-3 mb-2">

    {{>atoms-Text}}

  </div>
{{/componentListTitle}}

<div class="g-acordion-list g-acordion-list-component {{componentListModifierClass}}">

  {{#item}}
    <div class="g-acordion-list-item {{itemClass}}">

      {{#componentListHeader}}
        {{>molecules-Component-list-header}}
      {{/componentListHeader}}

      {{#componentListBody}}
        {{>organisms-Component-list-body}}
      {{/componentListBody}}

    </div>
  {{/item}}

</div>
