<div class="c-tabs-form {{modifierClass}}">
  <div class="c-tabs-form-header">

    {{#tabFormNav}}
      {{>molecules-Tab-form-nav}}
    {{/tabFormNav}}

  </div>

  <div class="c-tabs-form-body">

    {{#componentForm}}
      {{>organisms-Component-form}}
    {{/componentForm}}

  </div>
</div>
