<div>

  {{#wrapper}}
    <div class="g-card-wrapper {{modifierClass}}">

      {{#infoWithIcon}}
        {{>atoms-Info-with-icon}}
      {{/infoWithIcon}}

      {{#formGroupInput}}
        {{>molecules-Label-with-input}}
      {{/formGroupInput}}

      {{#formGroupTextarea}}
        {{>molecules-Label-with-textarea}}
      {{/formGroupTextarea}}

      {{#text}}
        {{>atoms-Text}}
      {{/text}}

      {{#conversationAnswer}}
        {{>molecules-Conversation-answer}}
      {{/conversationAnswer}}

      {{#linkWithIcon}}
        <div class="text-right">
          {{>atoms-Link-with-icon}}
        </div>
      {{/linkWithIcon}}

    </div>
  {{/wrapper}}

  {{#addComment}}
    <div class="mt-1 text-right">
      {{>atoms-Button-with-icon}}
    </div>
  {{/addComment}}

</div>
