<div class="{{modifierClass}}">

  {{#row}}
    <div class="row">

      {{#col}}
        <div class="{{colClass}}">

          {{#formGroup}}
            {{>molecules-Label-with-input}}
          {{/formGroup}}

          {{#formGroupInline}}
            {{>molecules-Label-with-input-inline}}
          {{/formGroupInline}}

          {{#formGroupSelect}}
            {{>molecules-Form-group-select}}
          {{/formGroupSelect}}

          {{#formGroupInput}}
            {{>molecules-Form-group-input}}
          {{/formGroupInput}}

          {{#formCheckbox}}
            {{>atoms-Input-check}}
          {{/formCheckbox}}

        </div>
      {{/col}}

    </div>
  {{/row}}

</div>
