<div class="g-editor-header sticky-top">
  <div class="row align-items-center">

    {{#col}}
      <div class="{{colClass}}">

        {{#switchLanguage}}
          {{>atoms-Input-switch-text}}
        {{/switchLanguage}}

        {{#editorButtons}}
          {{>molecules-Editor-buttons}}
        {{/editorButtons}}

        {{#squareButton}}
          {{>atoms-Square-button}}
        {{/squareButton}}

        {{#infoWithIcon}}
          {{>atoms-Info-with-icon}}
        {{/infoWithIcon}}

      </div>
    {{/col}}

  </div>
</div>
