<div class="g-bgc-white p-4 {{modifierClass}}">

  <div class="row w-100 no-gutters justify-content-center">

    <div class="col-6">
      <div class="row">

        <div class="col-3 text-right pr-0">

          {{#icon}}
            {{>atoms-Icon}}
          {{/icon}}

        </div>

        <div class="col-9">

          {{#text}}
            {{>atoms-Text}}
          {{/text}}

        </div>

      </div>
    </div>

  </div>

</div>
