<div class="container">
  <ca-section-header [title]="title" type="black"></ca-section-header>
</div>
<div class="mt-2 g-overflow-hidden">
  <ca-carousel
    controlColor="black"
    [animation]="true"
    [sliders]="sliders">
    <div
      class="carousel-group-item"
      caCarouselHover
      *ngFor="let slider of sliders; let i = index">
      <div class="g-carousel-content-wrapper">
        <div class="carousel-item active">
          <ca-carousel-caption
            [direction]="0"
            [type]="SLD_RESTAURANT_INPUTS?.types?.large"
            [index]="0"
            [heightType]="SLD_RESTAURANT_INPUTS?.types?.large">
            <ng-container figure>
              <figure
                [caBackgroundurl]="slider?.backgroundImage[0]">
              </figure>
            </ng-container>
            <ng-container body>
              <div class="s-box-body">
                <div class="s-box-content pt-0 px-0 pb-4 pt-sm-2 px-sm-4">
                  <h5 class="s-subheading">
                    {{ slider?.title }}
                  </h5>
                  <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
                    {{ slider?.subtitle }}
                  </h3>
                  <div class="g-block mb-0 mb-sm-3" [innerHTML]="slider?.description | safeHtml">
                  </div>
                  <div class="row s-services--list d-none d-sm-flex">
                    <div class="col-sm-6" *ngFor="let item of slider?.items">
                      <div class="g-feature ">
                        <div class="g-feature-content">
                          <i [class]="item.icon" style="color: #002855;"></i>
                          <div class="g-feature-info">
                            <span class="d-inline-block d-sm-block">{{ item.title }}</span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ca-carousel-caption>
        </div>
      </div>
    </div>
  </ca-carousel>
</div>
