<ca-card-wrapper>
  <caadmin-heading>
    {{ CONFIGURATION_LANG.labels.titleNavigation }}
  </caadmin-heading>

  <form *ngIf="formHome" [formGroup]="formHome">
    <caadmin-card-form title="Página de inicio" (save)="saveHome()" (cancel)="cancelHome()">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-6">
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="home" [ngClass]="{ 'g-input-error' : validateControlHome() }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageHome">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>

  <caadmin-card-form title="Dominios" [hideCancel]="true" textSave="Agregar dominio" (save)="openDomain()">
    <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
      <ul class="c-list-tags ">
        <li class="c-list-tags-item" *ngFor="let domain of domains">
          <a href="javascript:void(0);" class="c-list-tags-link" (click)="openDomain(domain)" [ngClass]="{ 'active': domain.path === configuration.domain }">
            {{ domain.path | slice:0:(domain.path.length - 1) }}
          </a>
        </li>
      </ul>
    </div>
  </caadmin-card-form>

  <form *ngIf="formError" [formGroup]="formError">
    <caadmin-card-form title="Páginas de error" (save)="saveErrors()" (cancel)="cancelErrors()">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-6">
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página 403:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="403" [ngClass]="{ 'g-input-error' : validateControl(403) }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageError">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página 404:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="404" [ngClass]="{ 'g-input-error' : validateControl(404) }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageError">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página 500:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="500" [ngClass]="{ 'g-input-error' : validateControl(500) }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageError">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página 502:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="502" [ngClass]="{ 'g-input-error' : validateControl(502) }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageError">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Página 503:</label>
              </div>
              <div class="col">
                <div class="g-select w-100">
                  <i class="la la-angle-down"></i>
                  <select formControlName="503" [ngClass]="{ 'g-input-error' : validateControl(503) }">
                    <option [ngValue]="null">Seleccionar</option>
                    <option [value]="item.value" *ngFor="let item of pageError">
                      {{ item.text }}
                    </option>
                  </select>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>

</ca-card-wrapper>
