<div class="g-input-autocomplete">

  <div class="g-input-autocomplete-search">

    {{#search}}
      {{>atoms-Icon}}
    {{/search}}

  </div>

  <div class="g-input-autocomplete-close">
    {{#close}}
      {{>atoms-Button-circle}}
    {{/close}}
  </div>

  {{#textInput}}
    {{>atoms-Input}}
  {{/textInput}}

  {{#ulAutocomplete}}
    {{>molecules-List}}
  {{/ulAutocomplete}}

</div>
