<div class="g-editor-form-body {{modifierClass}}">

  {{#editorPageInfo}}
    {{>organisms-Editor-page-info}}
  {{/editorPageInfo}}

  {{#componentSection}}
    {{>templates-Component-section}}
  {{/componentSection}}

  {{#pagesList}}
    {{>organisms-Pages-list}}
  {{/pagesList}}

  {{#formGroupSelect}}
    {{>molecules-Form-group-select}}
  {{/formGroupSelect}}

  {{#formGroupInput}}
    {{>molecules-Form-group-input}}
  {{/formGroupInput}}

  {{#formGroupTextarea}}
    {{>molecules-Form-group-textarea}}
  {{/formGroupTextarea}}

  {{#inputCheck}}
    {{>atoms-Input-check}}
  {{/inputCheck}}

</div>
