<div class="g-editor-form-wrapper {{modifierClass}}">

  {{#editorFormHeader}}
    {{>molecules-Editor-form-header}}
  {{/editorFormHeader}}

  {{#editorFormBody}}
    {{>organisms-Editor-form-body}}
  {{/editorFormBody}}

</div>
