<div class="d-flex justify-content-center">

  <div class="clearfix {{classModifier}}">
    <form>

      <div class="row mb-4">
        <div class="col-12">

          {{#caBrand}}
            {{>atoms-Image-logo}}
          {{/caBrand}}

        </div>
      </div>

      {{#loginForm}}
        {{>molecules-Login-form}}
      {{/loginForm}}

      <p class="text-center g-fw-bold">

        {{#text}}
          {{>atoms-Text}}
        {{/text}}

      </p>

      <div class="row mt-4">
        <div class="col-12">

          {{#loginButton}}
            {{>atoms-Button}}
          {{/loginButton}}

        </div>
      </div>

    </form>
  </div>

</div>
