<div class="g-datepicker" (mouseleave)="dp.close()">
    <span class="g-info-w-icon">
      <i class="la la-calendar-o"></i>
    </span>
    <input
      [(ngModel)]="model"
      #myRangeInput
      ngbDatepicker
      #dp="ngbDatepicker"
      readonly="readonly"
      [placeholder]="placeholder"
      outsideDays="collapsed"
      [displayMonths]="2"
      [autoClose]="false"
      [minDate]=""
      [dayTemplate]="t"
      (click)="dp.toggle()">
    <i class="la" [ngClass]="dp.isOpen() ? 'la-angle-up' : 'la-angle-down'"></i>
  </div>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
        [ngClass]="{
          'outline text-muted': isDisabled(date),
          'focused': focused,
          'range': isRange(date),
          'faded': isHovered(date) || isInside(date)
        }"
        (click)="onDateSelection(date)"
        (mouseenter)="setHoveredDate(date)"
        (mouseleave)="setHoveredDate()">
    {{ date.day }}
    </span>
  </ng-template>
