<div class="carousel-control {{classControlModifier}}">

  <div class="carousel-control--arrows">
    <i class="la {{iconLeftClass}}"></i>
    <i class="la {{iconRightClass}}"></i>
  </div>

  <div class="carousel-control--numbers">
    <span>{{startNumber}}</span>
    <span>{{finalNumber}}</span>
  </div>

</div>