<ca-card accordion="true" [disabled]="disabled">
  <ca-card-header>
    <div class="row align-items-strech">
      <ng-content select="[collapse-header]">
      </ng-content>
      <div class="col-3 text-right">
        <ng-container *ngIf="isCollapsed; else actionButtons">
          <button ca-button
            theme="square"
            (click)="edit()">
            <i class="la la-edit"></i>
            <span>Editar</span>
          </button>
          <button ca-button
            theme="square"
            [swal]="deleteSwal"
            (confirm)="delete($event)">
            <i class="la la-trash"></i>
            <span>Eliminar</span>
          </button>
        </ng-container>
        <ng-template #actionButtons>
          <button ca-button
            theme="square"
            (click)="save()">
            <i class="la la-save"></i>
            <span>{{ GENERAL_LANG?.buttons?.save }}</span>
          </button>
          <button ca-button
            theme="square"
            color="danger"
            (click)="cancel()">
            <i class="la la-times-circle"></i>
            <span>{{ GENERAL_LANG?.buttons?.cancel }}</span>
          </button>
        </ng-template>
      </div>
    </div>
  </ca-card-header>
  <div [collapse]="isCollapsed">
    <ca-card-content>
      <ng-content select="[collapse-content]"></ng-content>
    </ca-card-content>
  </div>
</ca-card>
