<div class="row align-items-center no-gutters mb-2">
  <div class="col-2 mr-2">
    <label for="titulo" class="g-fw-bold g-fs-15">Título:</label>
  </div>
  <div class="col">
    <ca-input
      [box]="true"
      [formControl]="title1"></ca-input>
  </div>
</div>
<div class="row align-items-center no-gutters mb-2">
  <div class="col-2 mr-2">
    <label for="titulo" class="g-fw-bold g-fs-15">Subtítulo:</label>
  </div>
  <div class="col">
    <ca-input
      [box]="true"
      [formControl]="title2"></ca-input>
  </div>
</div>

<caadmin-tabs-language (selected)="changeLanguage($event)">
  <caadmin-dynamic-form
    *ngIf="structure"
    class="d-block m-n5"
    [components]="structure"
    [hideTitleComponent]="true">
  </caadmin-dynamic-form>
</caadmin-tabs-language>

<div class="text-right mt-4">
  <button
    (click)="close()"
    class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left"
    type="button">
    <span>Cancelar</span>
    <i class="la la-long-arrow-left"></i>
  </button>
  <button
    (click)="save()"
    class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button">
    <span>Guardar</span>
    <i class="la la-save"></i>
  </button>
</div>
