<div class="s-modal">
  <div class="overlay" *ngIf="showOverlay"></div>
  <div class="row">
    <div class="col">
      <h3 class="g-fs-30 g-f-nexa-slab g-fw-book">
       {{ setLabel('titulo')  }}
      </h3>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-sm-6 mb-2 mb-sm-0">
      <label class="g-label g-text-uppercase g-fs-12 g-fw-bold" for="nCantidad">{{ setLabel('labelRango') }}</label>
      <div class="g-range-slider" *ngIf="options?.ceil">
        <ng5-slider [(value)]="minRange" [(highValue)]="maxRange" [(options)]="options"></ng5-slider>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <ng-container *ngIf="hotels?.length > 1; else oneHotel">
        <div class="g-dropDown g-dropDown--hover w-100" caHoverCollapse>
          <button
            [ngClass]="{ 'g-input-error--full': submitted && !joinedHotel }"
            class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block"
            type="button">
            <span>{{ setLabel('selectHoteles') }} ({{ selectedLength('hotels') }})</span>
            <i class="la la la-angle-down"></i>
          </button>
          <ng-container
            [ngTemplateOutlet]="filterList"
            [ngTemplateOutletContext]="{ data: { object: hotels, name: 'hotels' } }"  >
          </ng-container>
        </div>
      </ng-container>
      <ng-template #oneHotel>
        <div class="g-dropDown g-dropDown--hover w-100">
          <button
            class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block"
            type="button">
            <span>{{ hotels && hotels[0].text }}</span>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-6 mb-2 mb-lg-0">
      <div class="s-range datePicker">
        <div
          class="s-range--from"
          [ngClass]="{ 'g-input-error--full': submitted && !initDate }"
          (click)="openDatePicker('ca-datepicker-range')">
          <label class="g-label g-text-uppercase g-text-bold" for="nFechaInicio">{{ setLabel('fechaInicio') }}</label>
          <div class="g-input-dropdown g-input-date">
            <i class="la la-angle-down"></i>
            <div class="date">
              <ng-container *ngIf="initDate; else selectDate">
                <span class="day">{{ getDate('getDate', 'initDate') }}</span>
                <div class="month">
                  <span class="g-block">
                  {{ getDate('toLocaleString', 'initDate', 'month') }} {{ getDate('getFullYear', 'initDate') }}
                  </span>
                  <span class="g-block">
                  {{ getDate('toLocaleString', 'initDate', 'weekday') }}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div
          class="s-range--to"
          [ngClass]="{ 'g-input-error--full': submitted && !endDate }"
          (click)="openDatePicker('ca-datepicker-range', true)">
          <label class="g-label g-text-uppercase g-text-bold" for="nFechaFin">{{ setLabel('fechaFin') }}</label>
          <div class="g-input-dropdown g-input-date">
            <i class="la la-angle-down"></i>
            <div class="date">
              <ng-container *ngIf="endDate; else selectDate">
                <span class="day">{{ getDate('getDate', 'endDate') }}</span>
                <div class="month">
                  <span class="g-block">
                  {{ getDate('toLocaleString', 'endDate', 'month') }} {{ getDate('getFullYear', 'endDate') }}
                  </span>
                  <span class="g-block">
                  {{ getDate('toLocaleString', 'initDate', 'weekday') }}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <ca-datepicker-range #dp (dateSelect)="dateRangeChange($event)"></ca-datepicker-range>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="s-range timePicker">
        <div class="s-range--from" (click)="openDatePicker('ca-datetimepicker')">
          <label class="g-label g-text-uppercase g-text-bold" for="nHoraInicio">{{ setLabel('horaInicio') }}</label>
          <div class="g-input-dropdown g-input-date">
            <i class="la la-angle-down"></i>
            <div class="date">
              <span class="day">{{ initTime }}</span>
            </div>
          </div>
        </div>
        <div class="s-range--to" (click)="openDatePicker('ca-datetimepicker')">
          <label class="g-label g-text-uppercase g-text-bold" for="nHoraFin">{{ setLabel('horaFin') }}</label>
          <div class="g-input-dropdown g-input-date">
            <i class="la la-angle-down"></i>
            <div class="date">
              <span class="day">{{ endTime }}</span>
            </div>
          </div>
        </div>
        <ca-datetimepicker #tp [timeRange]="true" (timeSelected)="timeRangeChange($event)"></ca-datetimepicker>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4 mb-1 mb-mlg-0">
      <div class="g-dropDown g-dropDown--hover w-100" caHoverCollapse>
        <button class="g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-block" type="button">
        <span>{{ setLabel('selectTipoArmado') }} ({{ selectedLength('armedTypes') }})</span>
        <i class="la la-angle-down"></i>
        </button>
        <ng-container
          [ngTemplateOutlet]="filterList"
          [ngTemplateOutletContext]="{ data: { object: armedTypes, name: '' } }"  >
        </ng-container>
      </div>
    </div>
    <div class="col-lg-4 mb-1 mb-mlg-0">
      <div class="g-dropDown g-dropDown--hover w-100" caHoverCollapse>
        <button class="g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-block" type="button">
        <span>{{ setLabel('selectOpcionAlimentacion') }} ({{ selectedLength('foodOptions') }})</span>
        <i class="la la-angle-down"></i>
        </button>
        <ng-container
          [ngTemplateOutlet]="filterList"
          [ngTemplateOutletContext]="{ data: { object: foodOptions, name: '' } }"  >
        </ng-container>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="g-dropDown g-dropDown--hover w-100" caHoverCollapse>
        <button class="g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-block" type="button">
        <span>{{ setLabel('selectEquipoAudiovisual') }} ({{ selectedLength('audiovisualEquipments') }})</span>
        <i class="la la-angle-down"></i>
        </button>
        <ng-container
          [ngTemplateOutlet]="filterList"
          [ngTemplateOutletContext]="{ data: { object: audiovisualEquipments, name: '' } }"  >
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <label class="g-label g-text-uppercase g-fs-12 g-fw-bold" for="nComentarios">{{ setLabel('labelComentarioDetalle') }}</label>
      <input class="g-input " [(ngModel)]="comments" type="text" name="nComentarios" [placeholder]="setLabel('textComentarioDetalle')">
    </div>
  </div>
  <form [formGroup]="formQuotation">
    <div class="row mb-2">
      <div class="col">
        <div class="g-box g-bgc-gray7">
          <div class="row">
            <div class="col">
              <h3 class="g-fs-30 g-f-nexa-slab g-fw-book">
                {{ setLabel('labelContacto') }}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <ca-input
                [placeholder]="setLabel('textNombreApellido')"
                [error]="validateControl('fullName')"
                formControlName="fullName">
              </ca-input>
            </div>
            <div class="col-sm-12 col-md-6">
              <ca-input
                type="email"
                [placeholder]="setLabel('textCorreoElectronico')"
                formControlName="email"
                [error]="validateControl('email')">
              </ca-input>
            </div>
            <div class="col-sm-12 col-md-6">
              <ca-input
                maxlength="9"
                [placeholder]="setLabel('textTelefono')"
                formControlName="phone"
                [error]="validateControl('phone')">
              </ca-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <re-captcha
        *ngIf="recaptchaKey"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="recaptcha"
        [siteKey]="recaptchaKey">
      </re-captcha>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="sendForm()" class="g-btn g-btn-primary g-block" type="button">{{ setLabel('buttonEnviar') }}</button>
      </div>
    </div>
  </form>
</div>
<ng-template #filterList let-data="data">
  <ul class="g-dropDown--list g-collapse-list">
    <ng-container *ngIf="data.object?.length; else noData">
      <li *ngFor="let item of data.object">
        <label class="g-checkbox">
          <input
            class="g-input"
            [disabled]="data.name === 'hotels'
              ? selectedLength('hotels') > 0
                ? !item.selected
                : false
              : false "
            [id]="item.value"
            type="checkbox"
            name="nInputCheckbox"
            (ngModelChange)="seletedHotel()"
            [(ngModel)]="item.selected"
            [checked]="item.selected">
            {{ item.text }}
          <span class="checkmark"></span>
        </label>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #noData>
  <p class="text-center">No hay información</p>
</ng-template>

<ng-template #selectDate>
  <span class="select-date">{{ GENERAL_TEXT[language].select }}</span>
</ng-template>
