:host ::ng-deep ca-datetimepicker,
:host ::ng-deep ca-datepicker-range {
  display: flex;
  flex-basis: 100%;
  .g-datepicker {
    display: flex;
    flex-basis: 100%;
    border-bottom: 0px;
    & > *:not(ngb-datepicker):not(.dropdown-timepicker){
      display: none;
    }
  }
}

