<div class="container">
  <ca-section-header [title]="title"></ca-section-header>
</div>
<div class="mt-2 g-overflow-hidden">
  <ca-carousel
    controlColor="white"
    [animation]="true"
    [sliders]="sliders">
    <div
      caCarouselHover
      class="carousel-group-item"
      *ngFor="let slide of sliders"
      [ngStyle]="{'height': height}">
      <div class="g-carousel-content-wrapper ">
        <div class="carousel-item active">
          <ca-carousel-caption
            [descriptorInfo]="descriptorInfo">
            <ng-container figure>
              <figure [style.backgroundImage]="'url(' + (slide?.backgroundImage && slide?.backgroundImage[0]?.large?.imageUri) + ')'"></figure>
            </ng-container>
            <ng-container body>
              <div class="s-box-body">
                <div class="s-box-content pt-0 px-0 pb-4 pt-sm-2 px-sm-4">
                  <h3
                  class="g-heading-rest--alma g-block"
                  [ngStyle]="{'color': descriptorInfo?.color}">
                    {{ slide?.title }}
                  </h3>
                  <p class="g-block" [innerHTML]="slide?.description">
                  </p>
                </div>
              </div>
            </ng-container>
          </ca-carousel-caption>
        </div>
      </div>
    </div>
  </ca-carousel>
</div>

