<div class="s-map-info-detail {{modifierClass}}">

  <div class="s-map-info-detail-img">

    {{#img}}
      {{>atoms-Image}}
    {{/img}}

  </div>

  <div class="s-map-info-detail-body">

    {{#hotelButtonDropdown}}
      {{>molecules-Button-dropdown}}
    {{/hotelButtonDropdown}}

    {{#assessment}}
      <div class="row align-items-center mb-2">
        <div class="col-sm-6 col-md-12 col-lg-6">

          {{#text}}
            {{>atoms-Text}}
          {{/text}}

        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 text-right">

          {{#buttonDropdown}}
            {{>molecules-Button-dropdown}}
          {{/buttonDropdown}}

        </div>
      </div>
    {{/assessment}}

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

    {{#circuitList}}
      {{>molecules-Map-circuit-list}}
    {{/circuitList}}

    {{#contactDatesList}}
      {{>molecules-Contact-dates-list}}
    {{/contactDatesList}}

    {{#link}}
      <div class="mb-2">
        {{>atoms-Link-with-icon}}
      </div>
    {{/link}}

    {{#button}}
      {{>atoms-Button}}
    {{/button}}

  </div>
</div>
