<div class="s-map-info {{modifierClass}}">

  <div class="s-map-info-path"></div>

  <div class="g-relative">

    {{#title}}
      {{>atoms-Text}}
    {{/title}}

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

    {{#list}}
      {{>molecules-Map-detail-list}}
    {{/list}}

    {{#links}}
      <div class="mb-2">
        {{>atoms-Link-with-icon}}
      </div>
    {{/links}}

    {{#hotelDetail}}
      {{>organisms-Map-hotel-detail}}
    {{/hotelDetail}}

  </div>

</div>
