<div class="s-map-map {{modifierClass}}">

  <div class="s-map-img">

    {{#img}}
      {{>atoms-Image}}
    {{/img}}

    {{#mapItem}}
      {{>molecules-Map-item}}
    {{/mapItem}}

    {{#mapCircuit}}
      {{>molecules-Map-circuit}}
    {{/mapCircuit}}

  </div>

</div>
