<form [formGroup]="registerForm" [action]="searchUrl" target="_blank" method="POST" #form>
  <div class="g-height-0 d-none d-xl-block">
    <div class="s-box s-box--black s-box--flex s-box--reservation">
      <div class="s-box-side-left"></div>
      <div class="s-box-side-right"></div>
      <div class="s-box-body">
        <div class="s-box-content">
          <div class="col-4">
            <label class="g-label g-fs-12 g-cl-gray7 g-text-uppercase" for="nDestino">{{ SEARCH_COPY.labels.destination[lang] }}</label>
            <ca-autocomplete
              [placeholder]="SEARCH_COPY.placeholders.destination[lang]"
              [fbControl]="autocomplete"
              [initOnFocus]="true"
              [appendList]="
              {
                  field: 'categoryId',
                  value: CATEGORY.DESTINATIONS_DETAIL,
                  appendText: '(' + SEARCH_COPY.labels.destination2[language].toLowerCase() + ')'
              }"
              [language]="language"
              [endPoint]="searchEndpoint"></ca-autocomplete>
            <input type="hidden" name="coddestino" [value]="codeDestinationInput" required>
            <input type="hidden" name="destino" [value]="nameDestinationInput">
          </div>
          <div class="col-2">
            <label class="g-label g-fs-12 g-cl-gray7 g-text-uppercase" for="nSalida">
              {{ SEARCH_COPY.labels.entry[lang] }}
            </label>
            <div class="g-input-dropdown g-input-dropdown-white g-input-date s-datepicker"  (click)="openDatePicker('ca-datepicker-range')">
              <i class="la la-angle-down"></i>
              <div class="date">
                <span class="day">{{ dateStart | date:'dd'}}</span>
                <div class="month">
                  <span class="g-block">
                    {{ dateStart | date:'MMM yy':'UTC':lang }}
                  </span>
                  <span class="g-block">
                    {{ dateStart | date:'EEEE':'UTC':lang }}
                  </span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-2">
            <label class="g-label g-fs-12 g-cl-gray7 g-text-uppercase" for="nSalida">
              {{ SEARCH_COPY.labels.leave[lang] }}
            </label>
            <div class="g-input-dropdown g-input-dropdown-white g-input-date s-datepicker"  (click)="openDatePicker('ca-datepicker-range', true)">
              <i class="la la-angle-down"></i>
              <div class="date">
                <span class="day">{{ dateEnd | date:'dd'}}</span>
                <div class="month">
                  <span class="g-block">
                    {{ dateEnd | date:'MMM yy':'UTC':lang }}
                  </span>
                  <span class="g-block">
                    {{ dateEnd | date:'EEEE':'UTC':lang }}
                  </span>
                </div>
              </div>
            </div>
            <ca-datepicker-range
              #dp
              [minValue]="today"
              [formControl]="rangepicker"
              (dateSelect)="dateRangeChange($event)">
            </ca-datepicker-range>
          </div>
          <input type="hidden" name="entrada" [value]="dateStartInput">
          <input type="hidden" name="salida" [value]="dateEndInput">
          <div class="col-2">
            <label class="g-label g-fs-12 g-cl-gray7 g-text-uppercase" for="nCodigo">{{ SEARCH_COPY.labels.code[lang] }}</label>
            <input
              name="codpromo"
              formControlName="code"
              class="g-input g-input-invert"
              type="text"
              [placeholder]="SEARCH_COPY.placeholders.code[lang]">
          </div>
          <div class="col-2">
            <button
              [disabled]="registerForm.invalid"
              class="g-btn g-btn-fat g-btn-primary g-block"
              type="submit" (click)="form.submit()">{{ SEARCH_COPY.buttons.search[lang] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
