<div class="row no-gutters mb-2" [formGroup]="formFile">
  <div class="col-12 g-w-100" *ngIf="config.label">
    <h5 class="g-fs-15">{{ config.label }}:</h5>
  </div>
  <div class="">
    <caadmin-gallery-select
      [formControlName]="'file'"
      [mimeTypes]="mimeTypes"
      [maxLength]="config.maxLength"
      [placeholder]="config.width + 'x'+ config.height"
      type="document"
      [maxSize]="(config.weight || 0) / (1024 * 1024)"
      [error]="validateControl()">
    </caadmin-gallery-select>
    <div class="mt-1" *ngIf="config.label">
      <span class="d-block g-fs-14">
        <strong>Peso máx.</strong>: {{ config.weight || 0 | fileSize }}
      </span>
    </div>
  </div>
</div>
