<form [formGroup]="frmCurrency">
  <h2 class="c-heading-1 g-text-center">
    Agregar Moneda
  </h2>
  <div class="mb-xs-2">
    <div class="row align-items-center no-gutters mb-xs-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Código ISO:</label>
      </div>
      <div class="col">
        <ca-input formControlName="codeIso" maxlength="3"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-xs-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Nombre:</label>
      </div>
      <div class="col">
        <ca-input formControlName="name"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-xs-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Símbolo:</label>
      </div>
      <div class="col">
        <ca-input formControlName="symbol" maxlength="3"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-xs-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Valor:</label>
      </div>
      <div class="col">
        <ca-input formControlName="value" type="number"></ca-input>
      </div>
    </div>
  </div>
  <div class="text-right mt-xs-2">
    <button ca-button (click)="save()">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
