<div class="s-footer-top">
  {{#col}}
    <div class="col-sm-6 d-flex align-items-center {{colClass}}">
      <div class="g-middle-container {{middleContainerClass}}">

        {{#text}}
          {{>atoms-Text}}
        {{/text}}

        {{#innerDiv}}
          <div class="{{innerDivClass}}">

            {{#innerText}}
              {{>atoms-Text}}
            {{/innerText}}

            {{#inputCheck}}
              {{>atoms-Input-check}}
            {{/inputCheck}}

            {{#listSocial}}
              {{>molecules-List-social}}
            {{/listSocial}}

            {{#inputForm}}
              {{>molecules-Input-form}}
            {{/inputForm}}

          </div>
        {{/innerDiv}}

      </div>
    </div>
  {{/col}}

</div>
