<div class="s-footer-bottom">
  <div class="container">

    {{#content}}

        {{#row}}
          <div class="row {{rowModifierClass}}">

            {{#col}}
              <div class="{{colModifierClass}}">

                {{#img}}
                  {{>atoms-Image}}
                {{/img}}

                {{#text}}
                  {{>atoms-Text}}
                {{/text}}

                {{#listFooter}}
                  {{>molecules-List-footer}}
                {{/listFooter}}

                {{#innerDiv}}
                  <div class="{{innerDivClass}}">

                    {{#innerText}}
                      {{>atoms-Text}}
                    {{/innerText}}

                    {{#payMethods}}
                      <div class="d-flex flex-wrap align-items-center">

                        {{#payMethodImg}}
                          {{>atoms-Image}}
                        {{/payMethodImg}}

                      </div>
                    {{/payMethods}}

                  </div>
                {{/innerDiv}}

              </div>
            {{/col}}

          </div>
        {{/row}}

        {{#divider}}
          <div class="g-bt-1-so-gray2"></div>
        {{/divider}}

    {{/content}}

  </div>
</div>
