<div class="s-count {{classModifier}}">

  <div>

    {{#title}}
      {{>atoms-Text}}
    {{/title}}

  </div>

  <div>

    {{#count}}

      {{#day}}
        {{>molecules-Text-count}}
      {{/day}}

      {{#hour}}
        {{>molecules-Text-count}}
      {{/hour}}

      {{#min}}
        {{>molecules-Text-count}}
      {{/min}}

      {{#seg}}
        {{>molecules-Text-count}}
      {{/seg}}

    {{/count}}

  </div>

</div>