<div class="row">
  <div class="col">
    <div class="s-box s-box--bl-tr s-box--decoration s-box--shadow">
      <div class="s-box-side-left">
      </div>
      <div class="s-box-side-right">
      </div>

      <div class="s-box-body">
        <div class="s-box-content">
          <div class="row g-block">
            <div class="col-12">
              <ca-section-header [title]="PAGE_TITLES?.benefits[language].title" type="black" customClass="g-heading--sm"></ca-section-header>
            </div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              [ngClass]="{
                'col-md': benefits?.length < 5 ,
                'col-md-4 col-xl': benefits?.length > 4
              }"
              *ngFor="let benefit of benefits">
              <ca-benefit
                [data]="benefit"
                class="g-feature g-feature--benefits"
                type="FEATURE_TYPES.benefit"
                ></ca-benefit>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <a [caUrlLink]="urlLink" class="g-link g-link-icon g-link-icon-right mt-2" target="_blank">
      {{ textLink }}
      <i class="la la-arrow-right"></i>
    </a>
  </div>
</div>
