<div class="row">
  <div class="col-md-6 pt-1 pb-2 pb-md-5">
    <div class="d-block d-md-none text-center mb-3">
      <img class="" [src]="descriptorInfo?.url" [alt]="descriptorInfo?.title">
    </div>
    <h5 class="s-subheading">
      {{ title }}
    </h5>
    <h3 [ngClass]="descriptorInfo?.typographyStyle" [ngStyle]="{'color': descriptorInfo?.color}">
      {{ subtitle }}
    </h3>
    <p class="g-text-with-line mb-2" [innerHTML]="description | safeHtml">
    </p>
    <div class="row mb-2">
      <div class="col">
        <a
          *ngIf="textLink"
          [caUrlLink]="urlLink"
          class="g-link g-link-icon g-link-icon-right">
          {{ textLink }}
          <i class="la la-arrow-right"></i>
        </a>
      </div>
    </div>
    <img
      *ngIf="badge1"
      class="d-iniline-block m-1"
      [src]="badge1">
    <img
      *ngIf="badge2"
      class="d-iniline-block m-1"
      [src]="badge2">
    <img
      *ngIf="badge3"
      class="d-iniline-block m-1"
      [src]="badge3">
    <img
      *ngIf="badge4"
      class="d-iniline-block m-1"
      [src]="badge4">
  </div>
  <div class="col-md-6 p-0 g-static">
    <figure
      class="s-img-bg s-img-half s-img-bg s-img-bg-2 s-img-bg-sm-3 s-img-bg-md-4"
      [ngStyle]="{'background-image': 'url('+ (backgroundImage && backgroundImage[0]?.large?.imageUri) +')'}">
    </figure>
  </div>
</div>

