<p>
  Oferta válida solo para <strong>{{ payload?.countryName }}</strong>. Disfruta de nuestras promociones vigentes para <strong>{{ payload?.countryRequest }}</strong> ingresando <strong class="g-cursor-pointer g-cl-primary" (click)="home()">aquí</strong>
</p>
