<div class="row justify-content-center align-items-center">
  <div class="col-md-7">
    <p class="g-fs-14 g-fs-md-18">
      {{ description }}
    </p>
  </div>
  <div class="col-md-1 text-center py-1">
    <i class="la la-angle-right g-fs-30 d-none d-md-inline g-cl-primary"></i>
    <i class="la la-angle-down g-fs-16 d-inline d-md-none g-cl-primary"></i>
  </div>
  <div class="col-md-4">
    <ng-container *ngIf="!isValoration">
      <ca-rate [opinionsRate]="opinionsRate" [descriptorInfo]="descriptorInfo"></ca-rate>
    </ng-container>
    <div class="row mt-1">
      <div class="col descriptor-info-ca--buttons">
        <div
          class="g-btn g-btn-black"
          *ngIf="isUbication"
          (click)="openUbication()">
          <i class="la la-map-marker"></i>
          {{ GENERAL_TEXT[language].location }}
        </div>
        <div
          class="g-btn g-btn-black"
          *ngIf="isTraslate"
          (click)="openTranslate()">
          <i class="la la-automobile"></i>
          {{ GENERAL_TEXT[language].transfers }}
        </div>
        <div
          *ngIf="isImageTotal"
          class="g-btn g-btn-black"
          (click)="openTour()">
          <i class="la la-street-view"></i>
          360
        </div>
      </div>
    </div>
  </div>
</div>
