<div class="row justify-content-center align-items-center">
  <div class="col-md-4">
    <h3 class="g-fs-18 g-fs-md-24 g-f-nexa-slab g-fw-book mb-0" [innerHTML]="(descriptionLeft || '') | safeHtml">
    </h3>
  </div>
  <div class="col-md-1 text-center py-1">
    <i class="la la-angle-right g-fs-30 d-none d-md-inline g-cl-primary"></i>
    <i class="la la-angle-down g-fs-16 d-inline d-md-none g-cl-primary"></i>
  </div>
  <div class="col-md-7" [innerHTML]="(descriptionRight || '') | safeHtml">
  </div>
</div>
