<div class="{{modifierClass}}">

  {{#componentTitle}}
    {{>molecules-Component-title}}
  {{/componentTitle}}

  {{#componentFormCard}}
    <div class="g-card-form">
      <div class="p-3">

        {{#topButtons}}
          <div class="row">
            <div class="col-12 text-right mb-2">

              {{#button}}
                {{>atoms-Button-with-icon}}
              {{/button}}

            </div>
          </div>
        {{/topButtons}}

        {{#componentForm}}
          {{>organisms-Component-form}}
        {{/componentForm}}

        {{#addItem}}
          <div class="row">
            <div class="col-12 text-right mb-2">

              {{#button}}
                {{>atoms-Button-with-icon}}
              {{/button}}

            </div>
          </div>
        {{/addItem}}

        {{#sectionCheckbox}}
          <div class="row">
            <div class="col-12 mb-2">

              {{>atoms-Input-check}}

            </div>
          </div>
        {{/sectionCheckbox}}

        {{#componentSliderTab}}
          {{>organisms-Component-slider-tab}}
        {{/componentSliderTab}}

        {{#componentList}}
          {{>organisms-Component-list}}
        {{/componentList}}

        {{#staticComponent}}
          {{>organisms-Static-component}}
        {{/staticComponent}}

        {{#bottomButtons}}
          <div class="row">
            <div class="col-12 text-right mt-2">

              {{#button}}
                {{>atoms-Button-with-icon}}
              {{/button}}

            </div>
          </div>
        {{/bottomButtons}}

      </div>
    </div>
  {{/componentFormCard}}

</div>
