<div class="g-modal">

  <div class="g-modal-dialog {{modifierClass}}">

    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#mainNotification}}
        {{>molecules-Main-notification}}
      {{/mainNotification}}

      <div class="g-modal-body {{modifierBodyClass}}">

        <div class="row">
          <div class="col-9">

            {{#modalButtons}}
              {{>molecules-Modal-buttons}}
            {{/modalButtons}}

            <div class="row">

              <div class="{{modifierContentImagesClass}} col-12">
                <div class="row">

                  {{#files}}
                    <div class="col-3">

                      {{>molecules-File-upload-preview}}

                    </div>
                  {{/files}}

                </div>
              </div>

            </div>

          </div>

          <div class="col-3 g-bgc-gray7 pt-2 pb-2">

            {{#fileSelected}}
              <div class="mb-2">

                {{>molecules-File-upload-preview}}

                <div class="mt-1 ">
                  <span class="g-fs-14">{{{fileInfo}}}</span>
                </div>

              </div>

            {{/fileSelected}}

            {{#imageSelectedButtons}}
              <div class="mb-2 text-center">

                {{>atoms-Button}}

              </div>
            {{/imageSelectedButtons}}

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
