<div class="row">
  <div class="col">
    <h2 class="g-heading g-cl-white">{{ title }}</h2>
  </div>
</div>
<div class="row mb-1">
  <div class="col">
    <div class="g-box g-box-shadow3">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 col-xl-3 mb-2 mb-xl-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
            <span>{{ setLabel('selectDestino') }} ({{ selectedLength('destinations') }})</span>
            <i class="la la la-angle-down"></i>
            </button>
            <ng-container
              [ngTemplateOutlet]="filterList"
              [ngTemplateOutletContext]="{ data: { object: destinations, name: 'destinations' } }"  >
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-5 mb-2 mb-xl-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
            <span>{{ setLabel('selectHotel') }} ({{ selectedLength('hotels') }})</span>
            <i class="la la la-angle-down"></i>
            </button>
            <ng-container
              [ngTemplateOutlet]="filterList"
              [ngTemplateOutletContext]="{ data: { object: hotels, name: 'hotels' } }"  >
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-10 col-xl-3 mb-2 mb-xl-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
            <span>{{ setLabel('selectCapacidad') }} ({{ minRange }} - {{ maxRange }})</span>
            <i class="la la-angle-down"></i>
            </button>
            <div class="g-dropDown--list g-collapse-list">
              <div class="g-range-slider" *ngIf="options?.ceil">
                <ng5-slider [(value)]="minRange" [(highValue)]="maxRange" [(options)]="options"></ng5-slider>
              </div>
              <button
                (click)="getRooms()"
                class="g-btn g-btn-outline g-block"
                type="button">
                {{ GENERAL_TEXT[language].apply }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-xl-1 pl-0 text-right">
          <a (click)="clearFilters()" class="g-link g-link-icon g-link-icon-static">
            {{ GENERAL_TEXT[language].clean }}
            <i class="la la-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="rooms-wrapper g-bgc-white pb-4">
      <div class="middle middle--overlay" [hidden]="!loading">
        <p>{{ LOADING_TEXT[language].text }}</p>
      </div>
      <div class="mb-3 table-our-living-room p-md-2 pb-md-0">
        <div class="s-table-wrapper">
          <ca-side-arrows
            *ngIf="(tablesData | json) !== '[]'"
            [scrollableElem]="tableContent">
          </ca-side-arrows>
          <div #tableContent class="s-table-content">
            <table class="s-table">
              <thead class="s-table-thead">
                <tr>
                  <th class="sticky-col">{{ setLabel('labelSala') }}</th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-area"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelM2') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-long"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelLargo') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-width"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelAncho') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-high"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelAlto') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-theater"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelTeatro') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-school"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelEscuela') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-dinner"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelCena') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="caicon-room-u"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelDirectorio') }}
                    </span>
                  </th>
                  <th>
                    <div class="s-table--icon mx-auto">
                      <i class="la la-glass"></i>
                    </div>
                    <span class="g-fs-13 g-fs-md-15 g-fw-bold g-inline-block mt-1">
                      {{ setLabel('labelCocktail') }}
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody class="s-table-tbody">
                <ng-container *ngIf="(tablesData | json) === '[]'; else Salas">
                  <tr>
                    <td class="no-data" colspan="10">No se encontraron registros. Por favor, realiza una nueva búsqueda.</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <ca-paginator
            *ngIf="totalElements > 10"
            [pageSize]="10"
            [(page)]="pageCurrent"
            [collectionSize]="totalElements"
            (pageChange)="changePage($event)">
          </ca-paginator>
        </div>

      </div>
      <div>
        <div class="col-xs-12 col-md-4 offset-md-4">
          <button (click)="openForm()" class="g-btn g-btn-primary g-block" type="button">{{ setLabel('buttonCotizar') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #filterList let-data="data">
  <ul class="g-dropDown--list g-collapse-list">
    <ng-container *ngIf="data.object?.length; else noData">
      <li *ngFor="let item of data.object">
        <label class="g-checkbox">
          <input
            type="checkbox"
            name="nInputCheckbox"
            (click)="data.name === 'destinations' ? getHotels() : getRooms() "
            [(ngModel)]="item.selected"
            [checked]="item.selected">
            {{ item.text }}
          <span class="checkmark"></span>
        </label>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #Salas>
  <tr *ngFor="let item of tablesData">
    <td class="sticky-col">
      <span class="g-fs-13 g-fs-md-15 g-fw-bold">{{ item.name }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.squareMeters }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.lengthy }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.width }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.high }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.teather }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.school }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.banquet }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.directory }}</span>
    </td>
    <td class="text-center">
      <span class="g-fs-13 g-fs-md-15 g-fw-light">{{ item.cocktail }}</span>
    </td>
  </tr>
</ng-template>

<ng-template #noData>
  <p class="text-center">No hay información</p>
</ng-template>
