ca-our-living-room{
  .table-our-living-room{
    min-height: 250px;
    .s-table th {
      padding: 6px 12px;
      text-align: center;
    }

    tbody{
      td{
        &.no-data {
          height: 208px;
          text-align: center;
        }
      }
    }
  }

  .rooms-wrapper {
    position: relative;

    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;

      &--overlay {
        background: rgba(255, 255, 255, 0.82);
        z-index: 4;

        p {
          font-size: 26px;
          border-bottom: 2px solid #d69c4f;
          padding-bottom: 4px;
        }
      }

    }
  }
  ca-side-arrows {
    .s-side-arrows {
      padding-left: 250px;

      @media (max-width: 767px) {
        padding-left: 150px;
      }
    }
  }

  // Frozen left column table
  .s-table-wrapper {
    position: relative;
  }

  .s-table-content {
    margin-left: 250px;
    overflow-y: visible;
    width: calc(100% - 250px);
    -webkit-transform: inherit;

    @media (max-width: 767px) {
      margin-left: 150px;
      width: calc(100% - 150px);
    }
  }

  th.sticky-col {
    height: 98px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

    @media (max-width: 767px) {
      height: 92px;
    }
  }

  .sticky-col {
    position: absolute;
    left: 0;
    top: auto;
    width: 250px;
    border-right: 1px solid #f0f0f0;
    display: block;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media (max-width: 767px) {
      width: 150px;
    }
  }
}



