<div class="g-login-block clearfix">
  <form [formGroup]="frmRecovery">

    <div class="row mb-4">
      <div class="col-12">

          <div class="g-brand g-block-center">
            <img src="{{ IMAGES?.logoCa?.src }}" alt="{{ IMAGES?.logoCa?.alt }}">
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ca-input type="email"
                  name="nInputEmail"
                  [placeholder]="LOGIN_LANG.labels.email"
                  formControlName="email"
                  [error]="validateControl('email')">
        </ca-input>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <button ca-button
                block
                (click)="sendMail()">
          <span>{{ LOGIN_LANG?.buttons?.send }}</span>
          <span class="g-icon g-icon-right"></span>
        </button>
      </div>
    </div>
  </form>
</div>


