<div class="g-login-block clearfix">
  <form [formGroup]="frmPasswordChange">

    <div class="row mb-4">
      <div class="col-12">

        <div class="g-brand g-block-center">
          <img src="{{ IMAGES?.logoCa?.src }}" alt="{{ IMAGES?.logoCa?.alt }}">
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ca-password name="nInputCurrentPassword" [placeholder]="'Ingresar contraseña actual'" formControlName="currentPassword"
          [error]="validateControl('currentPassword')">
        </ca-password>
        <ca-password name="nInputPassword" [placeholder]="'Ingresar nueva contraseña'" formControlName="password"
          [error]="validateControl('password')">
        </ca-password>
        <ca-password name="nInputCPassword" [placeholder]="'Confirmar la nueva contraseña'" formControlName="confirmPassword"
          [error]="validateControl('confirmPassword')">
        </ca-password>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
          <button ca-button theme="outline" (click)="cancel()" class="mr-1">
              <span>Cancelar</span>
              <span class="g-icon g-icon-right"></span>
            </button>
        <button ca-button (click)="change()">
          <span>Actualizar</span>
          <span class="g-icon g-icon-right"></span>
        </button>
      </div>
    </div>

    <div *ngIf="invalidPasswords" class="row mt-1">
      <div class="col">
        <ca-alert-error>{{ messageError }}</ca-alert-error>
      </div>
    </div>

  </form>
</div>
