<div class="g-dropDown g-dropDown--hover banner-item-inner--align" caHoverCollapse>
  
  <button *ngIf="slider?.isButton "
    class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon--dropdown"
    [ngClass]="[ slider?.classButton  ? slider?.classButton : '' ]"
    type="button"
    (click)="doAction(slider?.typeDescriptor, slider?.urlButton)">
    <span>{{ slider?.textButton }} </span>
    <i class="la la la-angle-down"></i>
  </button>

  <button *ngIf="slider?.isButtonDos"
    class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon--dropdown"
    [ngClass]="[ slider?.classButtonDos  ? slider?.classButtonDos : '' ]"
    type="button"
    (click)="doAction(slider?.typeDescriptorDos, slider?.urlButtonDos)">
    <span>{{ slider?.textButtonDos }} </span>
    <i class="la la la-angle-down"></i>
  </button>

  <button *ngIf="slider?.isButtonTres"
    class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon--dropdown"
    [ngClass]="[ slider?.classButtonTres  ? slider?.classButtonTres : '' ]"
    type="button"
    (click)="doAction(slider?.typeDescriptorTres, slider?.urlButtonTres)">
    <span>{{ slider?.textButtonTres }} </span>
    <i class="la la la-angle-down"></i>
  </button>


  <ul
    *ngIf="slider?.pages?.length"
    class="g-dropDown--list g-collapse-list">
    <li class="g-collapse-list" *ngFor="let page of slider?.pages">
      <a [caUrlLink]="{ url: page?.url }">{{ page?.text }}</a>
    </li>
  </ul>
</div>
