::ng-deep {
  .dropdown {
    &-menu:not(ngb-datepicker) {
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translateZ(0);
      border-radius: 0;
      border: none;
      max-height: 178px;
      overflow-y: auto;
      box-shadow: 0 9px 11px -3px rgba(0, 0, 0, 0.1);

      &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
      }
      &::-webkit-scrollbar-track-piece {
        background: darken(rgba(0, 0, 0, 0.1), 5%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
      }
    }

    &-item {
      color: #000;
      font-size: 15px;
      padding: 0.25rem 1.5rem 0.25rem 2rem;
      position: relative;

      &::before {
        border-radius: 50%;
        border: 1px solid #000;
        content: '';
        display: block;
        height: 5px;
        left: 13px;
        position: absolute;
        top: calc(50% - 2px);
        width: 5px;
      }

      &.active {
        background-color: #fff;
        color: #d69c4f;
      }
    }
  }
}
