<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Servicios
  </caadmin-heading>
  <div class="row align-items-center mb-2">
    <div class="col-5">
      <ul class="c-list-title ">
        <li class="c-list-title-item" *ngFor="let type of types">
          <a href="javascript:void(0)" class="c-list-title-link " (click)="selectType(type.code);" [ngClass]="{ 'active': type.code == currentType }">{{ type.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-7 text-right">
      <button class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left"
        type="button" (click)="addService()">
        <span>Agregar Servicio</span>
        <i class="la la-plus-circle"></i>
      </button>
    </div>
  </div>
  <div class="g-card">
    <div class="g-card-header">
      <div class="g-card-info-border">
        <div class="row w-100">
          <div class="col-auto">
            <span class="pt-1">Filtra mejor tu busqueda</span>
          </div>
          <div class="col-6">
            <div class="g-input-icon-left">
              <i class="la la-search g-fs-24"></i>
              <input
                class="g-input"
                type="text"
                placeholder="wifi gratis"
                [ngModel]="currentSearchText"
                (debounceInput)="debounceInput($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <caadmin-card-row-actions *ngFor="let assistance of assistancePaginated?.content" (edit)="editService(assistance)"
    [confirmDelete]="false"
    (delete)="deleteService(assistance)">
    <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Título</span>
          <span class="">
            {{ assistance.spanishTitle }}
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info g-br-1-so-gray5">
          <span class="g-fs-13 g-fw-bold">Ícono</span>
          <span class="g-info-w-icon ">
            <i class="la la-bed"></i>
            {{ assistance.iconClass }}
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Vista previa</span>
          <span class="g-info-w-icon ">
            <i class="la" [ngClass]="assistance.iconClass"></i>
            {{ assistance.spanishTitle }}
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Preview</span>
          <span class="g-info-w-icon ">
            <i class="la" [ngClass]="assistance.iconClass"></i>
            {{ assistance.englishTitle }}
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Vista prévia</span>
          <span class="g-info-w-icon ">
            <i class="la" [ngClass]="assistance.iconClass"></i>
            {{ assistance.portugueseTitle }}
          </span>
        </div>
      </div>
  </caadmin-card-row-actions>
  <ca-paginator
    [(page)]="pageCurrent"
    [collectionSize]="assistancePaginated?.totalElements"
    (pageChange)="search()">
  </ca-paginator>

</ca-card-wrapper>
