<caadmin-tabs-language (selected)="changeLanguage($event)">
  <div class="row align-items-center no-gutters mb-2">
    <div class="col-12 g-w-100 mb-1">
      <label for="titulo" class="g-fw-bold g-fs-15">Nombre de página:</label>
    </div>
    <div class="col-12">
      <ca-input
        [box]="true"
        [formControl]="title"
        placeholder="Viajeros Auténticos"></ca-input>
    </div>
    <div class="col-12">
      <span class="g-fs-12 d-block mt-1">Este nombre aparecerá en la navegación del menú.</span>
    </div>
  </div>
  <div class="row align-items-center no-gutters mb-2 mt-3">
    <div class="col-auto g-w-100 mb-1">
      <label for="titulo" class="g-fw-bold g-fs-15">URL externa:</label>
    </div>
    <div class="col-12">
      <ca-input
        [box]="true"
        [formControl]="path"
        placeholder="https://casaandina.asp.pe/viajero-autentico"></ca-input>
    </div>
  </div>
</caadmin-tabs-language>
<div class="text-right mt-4">
  <button (click)="close()" class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left"
    type="button">
    <span>Cancelar</span>
    <i class="la la-long-arrow-left"></i>
  </button>
  <button (click)="preSave()" class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button">
    <span>Guardar</span>
    <i class="la la-save"></i>
  </button>
</div>
