<div class="s-box s-box--bl-tr s-box--shadow s-box--decoration s-box--text">
  <div class="s-box-side-left">
  </div>
  <div class="s-box-side-right">
  </div>
  <div class="s-box-body">
    <div class="s-box-content py-1 py-md-2 px-0 px-sm-2 px-md-4 px-lg-6 px-xl-8 text-center" [innerHTML]="description">
    </div>
  </div>
</div>
