<div class="row flex-nowrap align-items-center justify-content-between mb-2">
  <div class="col-auto">
    <h1 class="c-heading-title">{{ title }}</h1>
  </div>
  <div class="col">
    <div class="row flex-nowrap justify-content-end">
      <!-- Filters -->
      <ng-content></ng-content>
    </div>
  </div>
  <div class="col-auto text-right" *ngIf="showButtons">
    <!-- Actions -->
    <button class="g-btn g-btn-outline g-btn-outline--blue mr-0-5" type="button" (click)="onClickApply()">{{ GENERAL_LANG.labels.apply }}</button>
    <button class="g-btn g-btn-outline g-btn-outline--gray" type="button" (click)="onClickClean()">{{ GENERAL_LANG.labels.clean }}</button>
  </div>
</div>
