<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Monedas
  </caadmin-heading>
  <form [formGroup]="frmCurrencies">
    <caadmin-card-form title="Monedas" (save)="save($event)" (cancel)="cancel($event)">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row" *ngFor="let currency of currencies">
                <div class="col-6">
                  <div class="row align-items-center no-gutters mb-xs-2">
                    <div class="col-auto g-w-100">
                      <label for="dolares" class="g-fw-bold">{{ currency.name }}:</label>
                    </div>
                    <div class="col">
                      <ca-input [prefix]="currency.symbol" [formControlName]="currency.codeIso"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
</ca-card-wrapper>
