<ca-card-wrapper>
  <ng-container *ngFor="let item of rolesPaginated?.content; trackBy: trackByItems">
    <caadmin-collapse-role [role]="item" [disabled]="item?.disabled"></caadmin-collapse-role>
  </ng-container>
  <ca-paginator [(page)]="pageCurrent" [collectionSize]="rolesPaginated?.totalElements" (pageChange)="search()">
  </ca-paginator>
</ca-card-wrapper>
