<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#mainNotification}}
        {{>molecules-Main-notification}}
      {{/mainNotification}}

      <div class="g-modal-body">

        {{#textModal}}
          {{>atoms-Text}}
        {{/textModal}}

        <form>

          {{#formGroupInput}}
            {{>molecules-Form-group-input}}
          {{/formGroupInput}}

          {{#grayCard}}
            {{>molecules-Gray-card}}
          {{/grayCard}}

          <div class="text-right mt-4">

            {{#modalButton}}
              {{>atoms-Button-with-icon}}
            {{/modalButton}}

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
