<form [formGroup]="frmRole">
  <caadmin-collapse-action-buttons
    [disabled]=role?.disabled
    [confirmDelete]="confirmDelete"
    (actionButton)="actionButton($event)">
    <ng-container collapse-header>
      <div class="col-2">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ ROLE_LANG?.labels?.role }}</span>
          <span class="g-info-w-icon">
            <i class="la la-briefcase"></i>
            {{ role?.roleName }}
          </span>
        </div>
      </div>
      <div class="col-7">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ ROLE_LANG?.labels?.permissions }}</span>
          <span class="g-info-w-icon">
          <i class="la la-key"></i>
          <ng-container *ngFor="let permission of role?.permissionCodeList; let last = last">
            {{ permission?.permissionName }}{{ (last) ? '.' : ', ' }}
          </ng-container>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container collapse-content>
      <div class="row align-items-center">
        <div class="col-1 align-items-center">
          <span class="g-info-w-icon">
          <i class="la la-briefcase"></i>
          {{ ROLE_LANG?.labels?.role }}
          </span>
        </div>
        <div class="col-6">
          <ca-input type="text"
            formControlName="roleText"
            [error]="validateControl('roleText')">
          </ca-input>
        </div>
      </div>
      <hr class="g-hr mt-2 mb-2">
      <div class="row">
        <div class="col-12">
          <h5 class="g-fs-1 g-text-uppercase mb-1">
            {{ ROLE_LANG?.labels?.permissions }}
          </h5>
        </div>
        <div class="col-12">
          <ng-container formArrayName="permissionsCheck"
            *ngFor="let permission of permissionsList; let i = index">
            <ca-checkbox [formControlName]="i">
              {{ permission?.permissionName }}
            </ca-checkbox>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </caadmin-collapse-action-buttons>
</form>
