<caadmin-dynamic-form
  *ngIf="payload"
  [components]="[payload]"
  hideTitleComponent="true"
  (submitted)="formSubmitted($event)">
</caadmin-dynamic-form>

<div class="g-modal-footer d-flex">
  <div class="col text-center">
    <button ca-button
      type="button"
      theme="outline"
      (click)="close()">
      {{ GENERAL_LANG?.buttons?.cancel }}
    </button>
  </div>
  <div class="col text-center">
    <button ca-button
      type="button"
      (click)="close(true)">
      {{ GENERAL_LANG?.buttons?.save }}
    </button>
  </div>
</div>
