<div class="row align-items-center justify-content-end">
  <div class="col-auto">
    <h4 class="g-fs-13 g-text-uppercase mb-0">
      {{ RATE_TEXT[language].valuation }} <span
        class="g-f-nexa-slab g-block g-fs-16 g-fs-sm-20 g-fs-md-16 g-fs-xl-20"
        [ngStyle]="{'color': descriptorInfo?.color}">{{ opinionsRate?.ratingType }}</span>
    </h4>
  </div>
  <div class="col-auto text-right">
    <div
      caHoverCollapse
      class="g-dropDown">
      <button
        class="g-btn g-btn-with-icon g-btn-assessment g-btn-with-icon--dropdown"
        type="button"
        [ngStyle]="{'background-color': descriptorInfo?.color}"
        (click)="state = !state">
        <span>{{ opinionsRate?.avarageRating | number:'1.1-1' }}<span>/5</span></span>
        <i class="la la la-angle-down"></i>
      </button>
      <div class="g-box g-dropDown--box g-box-shadow3 text-left g-collapse-list p-0">
        <p class="px-1">
          {{ opinionsRate?.rankingMessage }}
        </p>
        <div class="p-3 g-bgc-gray7 ">
          <div class="row" *ngFor="let site of opinionsRate?.ratingsByReviewSites">
            <div class="col">
              {{ site?.reviewSiteName }}
            </div>
            <div class="col-3 text-center">
              {{ site?.avarageRating | number:'1.1-1' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
