<div class="container">
  <ca-section-header [title]="title" type="black"></ca-section-header>
</div>
<div class="mt-2 g-overflow-hidden">
  <ca-carousel
    controlColor="black"
    [animation]="true"
    [sliders]="restaurants">
    <div
      class="carousel-group-item"
      caCarouselHover
      *ngFor="let restaurant of restaurants"
      [ngStyle]="{'height': height}">
      <div class="g-carousel-content-wrapper">
        <div class="carousel-item active">
          <ca-carousel-caption
            [direction]="1"
            [type]="SLD_RESTAURANT_INPUTS?.types?.large">
            <ng-container figure>
              <figure
                [caBackgroundurl]="restaurant?.backgroundImage?.length && restaurant?.backgroundImage[0]">
              </figure>
            </ng-container>
            <ng-container body>
              <div class="s-box-body">
                <div class="s-box-content pt-0 px-0 pb-4 pt-sm-2 px-sm-4">
                  <img class="d-block mb-2 g-block-center" [src]="restaurant?.descriptorInfo?.url" alt="">
                  <p class="g-block mb-2" [innerHTML]="restaurant?.descriptionOne"></p>
                  <span class="g-fs-11 g-block g-fw-light" [innerHTML]="restaurant?.descriptionTwo || ''"></span>
                  <a
                    *ngIf="restaurant?.textLink"
                    [caUrlLink]="restaurant?.urlLink"
                    class="g-link g-link-icon g-link-icon-right mt-3">
                    {{ restaurant?.textLink }}
                    <i class="la la-arrow-right"></i>
                  </a>
                </div>
              </div>
            </ng-container>
          </ca-carousel-caption>
        </div>
      </div>
    </div>
  </ca-carousel>
</div>
