.s-figcaption {
  &-detail {
    max-width: 100%;
    width: 255px;
  }

  &-restaurant {
    position: relative;
    max-width: 100%;
    width: 380px;
    height: calc(330px + 5px);
    border-bottom: 5px solid $c-white;
    box-shadow: 0 4px 10px -6px rgba($c-black, .2);

    &--w-lg {
      width: 440px;
    }

    &--w-xl {
      width: 540px;
    }

    .s-box {
      height: 330px;

      &-body {
        height: 330px;
      }

      &-content {
        height: 290px;

        img {
          max-height: 100px;
        }

        .g-link {
          position: absolute;
          left: 40px;
          bottom: 10px;
        }
      }
    }

    &--lg {
      height: calc(500px + 5px);

      .s-box {
        height: 500px;

        &-body {
          height: 500px;
        }

        &-content {
          height: 460px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      height: calc(260px + 5px);

      &--w-lg,
      &--w-xl {
        width: 100%;
      }

      .s-box {
        height: 260px;

        &-body {
          height: 260px;
        }

        &-content {
          height: 220px;
        }
      }

      &--lg {
        height: calc(400px + 5px);

        .s-box {
          height: 400px;

          &-body {
            height: 400px;
          }

          &-content {
            height: 360px;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      height: calc(290px + 5px);

      .s-box {
        height: 290px;

        &-body {
          height: 290px;
        }

        &-content {
          height: 250px;

          .g-link {
            left: 0;
          }
        }
      }

      &--lg {
        height: calc(430px + 5px);

        .s-box {
          height: 430px;

          &-body {
            height: 430px;
          }

          &-content {
            height: 390px;
          }
        }
      }
    }
  }
}
