.g-carousel {
  position: relative;

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  .carousel-control {
    position: absolute;
    top: 15px;
    right: -15px;
    height: calc(100% - 30px);
    width: 30px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    color: $c-white;
    justify-content: space-between;
    background-color: $c-transparent;
    z-index: 14;

    &--arrows, &--numbers {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
    }

    &--arrows {
      top: 0;
      i {
        cursor: pointer;
        font-size: $font-20;
        transition: $tr-3-ease;

        &:first-child {
          margin-bottom: 5px;
        }

        &.disabled {
          opacity: .4;
          cursor: not-allowed;
        }

        &:hover {
          color: $c-primary;
        }
      }
    }

    &--numbers {
      bottom: 0;
      span {
        display: block;
        font-size: $font-18;

        &:last-child {
          margin-top: 10px;
        }
      }

      &:after {
        content: "";
        top: 50%;
        left: 50%;
        width: 3px;
        height: 3px;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: $c-white;
      }
    }

    &--black {
      color: $c-black;

      .carousel-control--numbers {
        &:after {
          background-color: $c-black;
        }
      }

      &:after {
        background-color: $c-black !important;
      }
    }

    &:after {
      content: "";
      top: 55px;
      left: 50%;
      width: 1px;
      height: calc(100% - 110px);
      position: absolute;
      border-radius: 50%;
      background-color: $c-white;
    }

    @include media-breakpoint-down(md) {
      right: -20px;
    }

    @include media-breakpoint-down(xs) {
      top: inherit;
      bottom: -25px;
      left: 15px;
      right: inherit;
      width: calc(100% - 30px);
      height: 30px;

      &--arrows,
      &--numbers {
        height: 30px;
      }

      &--arrows {
        display: flex;
        align-items: center;
        width: 40px;

        i {
          &:first-child {
            margin-bottom: 0;
          }
        }
      }

      &--numbers {
        width: 50px;
        left: auto;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          &:last-child {
            margin-top: 0;
          }
        }
      }

      &:after {
        content: "";
        top: 15px;
        left: 45px;
        width: calc(100% - 105px);
        height: 1px;
      }
    }
  }

  &.g-carousel-gallery {
    .g-carousel-content {
      &-before {
        display: none;
      }
    }
  }

  .g-carousel-content {
    position: relative;
    width: 100%;
    overflow: visible !important;

    &-after,
    &-before {
      width: calc(50vw - 600px);
      background-color: $c-gray7;
      opacity: .75;
      position: absolute;
      top:0;
      height: 100%;
      z-index: 10;

      @include media-breakpoint-down(lg) {
        width: calc(50vw - 500px);
      }

      @include media-breakpoint-down(md) {
        width: calc(50vw - 390px);
      }

      @include media-breakpoint-down(sm) {
        width: calc(50vw - 295px);
      }

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    &-after {
      right: 0;
    }

    &-before {
      left: 0;
    }

    .drag-scroll-content {
      width: 100% !important;
    }

    &--wrap {
      white-space: nowrap;
    }

    &-wrapper {

      &:after {
        display: block;
        content: "";
        clear: both;
      }

      > .carousel-item {
        width: 100%;
        display: none;
        float: left;
        padding: 15px;
        white-space: normal;

        &--xs {
          width: 25%;
        }

        &--sm {
          width: 33.333333%;
        }

        &--md, &--lg {
          width: 50%;
        }

        &--right {
          float: right;
        }

        &.active {
          display: block;
        }

        @include media-breakpoint-down(md) {
          &--xs, &--md, &--lg {
            width: 100%;
          }
          &--sm {
            width: 50%;
          }
          &--right {
            float: left;
          }
        }

        @include media-breakpoint-down(xs) {
          &--sm {
            width: 100%;
          }
        }
      }

      &--flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        > .carousel-item {
          float: none;
        }
      }

      &--no-gutters {
        padding: 15px;
        padding-left: 0px;
        margin: -15px 0;

        > .carousel-item {
          padding: 0;
        }

        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: center;

          > .carousel-item {
            flex: 1 1 auto;
          }
        }

        @include media-breakpoint-down(sm) {
          > .carousel-item {
            padding: 0 0 15px;
          }
        }
      }
    }
  }

  &-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(sm) {
      max-width: 540px;
    }

    @include media-breakpoint-up(md) {
      max-width: 730px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 950px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 1150px;
    }
  }
}

.s-carousel--big-box {
  position: relative;

  .big-box--controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;

    .dot {
      width: 12px;
      height: 12px;
      margin: 3px;
      cursor: pointer;
      border-radius: 50%;
      background-color: $c-white;

      &.active {
        width: 15px;
        height: 15px;
        background-color: $c-black;
        border: 1px solid $c-primary;
      }
    }
  }

  .big-box--open {
    z-index: 1;
    position: absolute;
    bottom: 15px;
    right: 15px;

    i {
      align-items: center;
      background-color: rgba($black, .45);
      border-radius: 50%;
      color: rgba($c-white, .75);
      display: flex;
      font-size: $font-20;
      height: 40px;
      justify-content: center;
      pointer-events: none;
      width: 40px;
      transition: all .2s ease;
    }

    &:hover {
      i {
        color: $c-white;
      }
    }
  }

  .g-tag-box-carousel {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .big-box--images {
    z-index: 0;
    height: 100%;
    position: relative;

    img,
    figure {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &-tag {
    .big-box--controls {
      @media (max-width: $break-medium) {
        bottom: 50px;
      }
    }
  }
}

.drag-scroll-content {
  overflow-x: hidden !important;
}

.carousel-group-item {
  width: 100vw;
  display: inline-block;
  padding: 0;

  @include media-breakpoint-up(sm) {
    width: 540px;
    padding: 0 15px;
  }

  @include media-breakpoint-up(md) {
    width: 730px;
  }

  @include media-breakpoint-up(lg) {
    width: 950px;
  }

  @include media-breakpoint-up(xl) {
    width: 1150px;
  }
}
