.s-count {
  z-index: 1;
  display: inline-block;

  h4 {
    letter-spacing: 1.5px;
  }

  &--numbers {
    font-size: $font-50;
    font-weight: $fw-bold;
    text-align: center;
    line-height: 1;
    display: inline-block;

    > span {
      display: block;
      margin-top: 3px;
    }

    &-day {
      margin-right: 40px;
    }

    &-hour, &-min {
      position: relative;
      margin-right: 30px;

      &:after {
        content: ":";
        position: absolute;
        top: 0;
        right: -25px;
        font-size: $font-50;
        color: $c-black;
      }
    }

    @media (max-width: $break-xsmall) {
      font-size: $font-26;

      &-hour, &-min {
        &:after {
          font-size: $font-26;
        }
      }
    }
  }
}