.g-feature {
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  i {
    color: $c-primary;
    font-size: $font-44;
    margin-right: 3px;
  }

  @include media-breakpoint-down(lg) {
    i {
      font-size: $font-40;
    }
  }

  @include media-breakpoint-down(md) {
    i {
      font-size: $font-35;
    }
  }

  @include media-breakpoint-down(xs) {
    i {
      font-size: $font-30;
    }
  }

  &-content {
    display: flex;

    @include media-breakpoint-down(xs) {
      align-items: center;
    }
  }

  &-info {
    span {
      font-size: $font-26;
      font-weight: $fw-thin;

      + span {
        font-family: $font-nexa-slab;
        font-weight: $fw-bold;
      }

      @include media-breakpoint-down(lg) {
        font-size: $font-24;
      }

      @include media-breakpoint-down(md) {
        font-size: $font-22;
      }

      @include media-breakpoint-down(sm) {
        font-size: $font-20;
      }

      @include media-breakpoint-down(xs) {
        font-size: $font-18;
      }
    }
  }

  &--benefits {
    .g-feature {
      &-info {
        span {
          font-size: $font-15;
          font-weight: $fw-light;
        }
      }
    }
  }
}
