.s-footer {
  &-top {
    display: flex;
    flex-wrap: wrap;
    background-color: $c-gray1;
  }

  &-title {
    color: $c-white;
    font-size: $font-20;
    font-weight: $fw-medium;
  }

  &-subtitle {
    color: $c-gray10;
    font-family: $font-arquitecta;
    font-size: $font-13;
    letter-spacing: .062em;
    text-transform: uppercase;

    &--arrow {
      &:after {
        content: "\f110";
        color: $c-primary;
        @extend %pseudo-icon;
        margin-left: 10px;
      }
    }

    @include media-breakpoint-down(xs) {
      &--arrow {
        position: relative;

        &:after {
          position: absolute;
          right: 0;
          top: calc(50% - 9px);
          font-size: $font-18;
        }

        &.active {
          &:after {
            content: "\f113";
          }
        }
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    a {
      color: $c-gray4;
      font-size: $font-13;
      margin-top: 5px;

      &:hover {
        color: $c-primary;
      }
    }

    li {
      margin-bottom: 5px;
    }

    &--inline {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;

      li {
        position: relative;
        padding: 0 20px;

        &:after {
          content: "";
          width: 4px;
          height: 4px;
          position: absolute;
          right: -2px;
          top: calc(50% - 1px);
          background-color: $c-gray4;
          border-radius: 50%;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      max-height: 0;
      overflow: hidden;
      margin-bottom: 0;
      transition: $tr-3-ease;

      &.active {
        max-height: 1000px;
        margin-bottom: 20px;
      }

      &--inline {
        max-height: 1000px;
      }
    }
  }

  &-bottom {
    background-color: $c-gray9;
  }
}
