@import './accordions';
@import './assessment';
@import './box';
@import './caption';
@import './cards';
@import './carousel';
@import './count';
@import './descriptor-info';
@import './feature';
@import './figures';
@import './font';
@import './footer';
@import './header';
@import './heading';
@import './images';
@import './lists';
@import './loader';
@import './main-banner';
@import './maps';
@import './navs';
@import './raiting';
@import './range';
@import './services';
@import './tables';
@import './tabs';
@import './tags';
@import './why-ca';

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.g-section {
  padding: 0;

  &--padding-30 {
    padding: 30px 0;
  }

  &--padding-40 {
    padding: 40px 0;
  }

  &--padding-50 {
    padding: 50px 0;
  }

  &--padding-60 {
    padding: 60px 0;
  }

  &--padding-90 {
    padding: 90px 0;
  }

  &--texture {
    background-repeat: repeat;
    background-position: center;
    background-image: url($url-images + "/bkg-texture.png");
  }

  &--banner-hotel {
    .s-box--reservation {
      top: -30px;
    }
  }
}

// Label
.g-label {
  letter-spacing: .067em;
}

// Share module
.g-share {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 5px;
    font-size: $font-13;
  }
}

// Middle container
.g-middle-container {
  width: 100%;
  @include make-middle-container();
  padding-right: 15px;
  padding-left: 15px;
}

// Semi fluid container
.g-semi-fluid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;

  .carousel-group-item {
    width: 100vw;
  }

  @include media-breakpoint-up(sm) {
    max-width: calc(50% + 270px);

    .carousel-group-item {
      width: calc(50vw + 270px);
    }
  }

  @include media-breakpoint-up(md) {
    max-width: calc(50% + 360px);

    .carousel-group-item {
      width: calc(50vw + 360px);
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: calc(50% + 480px);

    .carousel-group-item {
      width: calc(50vw + 480px);
    }
  }

  @include media-breakpoint-up(xl) {
    max-width: calc(50% + 570px);

    .carousel-group-item {
      width: calc(50vw + 570px);
    }
  }
}

// Ca backgrounds
.s-background {
  position: relative;

  &:before {
    content: $caicon-ca;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba($c-white, .6);
    font-family: $font-caicon;
    font-size: 500px;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  @include media-breakpoint-down(lg) {
    &:before {
      font-size: 350px;
    }
  }

  @include media-breakpoint-down(md) {
    &:before {
      font-size: 300px;
    }
  }

  @include media-breakpoint-down(sm) {
    &:before {
      font-size: 230px;
    }
  }

  @include media-breakpoint-down(xs) {
    &:before {
      font-size: 200px;
    }
  }

  &-award {
    position: relative;
    overflow: hidden;

    &:before {
      content: "\f178";
      position: absolute;
      bottom: -20px;
      left: -40px;
      color: rgba($c-white, .1);
      font-family: $font-ca;
      font-size: 170px;
      z-index: 1;
    }

    @include media-breakpoint-down(sm) {
      &:before {
        left: -30px;
        font-size: 140px;
      }
    }

    @include media-breakpoint-down(xs) {
      &:before {
        font-size: 125px;
      }
    }
  }

  &-restaurant {
    position: relative;
    overflow: hidden;

    &:before {
      content: $caicon-ca;
      position: absolute;
      bottom: 0;
      left: -30px;
      color: rgba($c-gray7, .6);
      font-family: $font-caicon;
      font-size: 250px;
      z-index: 1;
    }

    @include media-breakpoint-down(sm) {
      &:before {
        font-size: 225px;
      }
    }

    @include media-breakpoint-down(xs) {
      &:before {
        font-size: 200px;
      }
    }
  }
}

.s-360 {
  width: 900px;
  height:  550px;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);

  @include media-breakpoint-up(lg) {
    width: 1200px;
    height:  650px;
  }

  @include media-breakpoint-down(xs) {
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
  }
}

.line-break {
  white-space: pre-wrap;
}

