.s-header {
  width: calc(100% - 14px);
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  z-index: 1041;

  &:hover {
    .s-nav {
      &-wrapper {
        background-color: $c-black;
      }
    }
  }

  &--fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .s-nav {
      &-wrapper {
        background-color: $c-black;
      }

      &-list {
        &-item {
          &--featured {
            background-color: $c-primary;

            &:first-child {
              padding-left: 10px;
            }

            .s-nav-list {
              &-link {
                color: $c-white;

                &:before {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.s-nav {
  &-wrapper {
    position: relative;
    background-color: rgba($c-black, .8);
    transition: $tr-3-ease;
    z-index: 5;

    @include media-breakpoint-down(lg) {
      width: 350px;
      height: 0;
      background-color: $c-black;
      overflow-x: hidden;
      overflow-y: auto;
      transition: $tr-3-ease-out .1s;

      .container {
        padding: 0;
      }

      &.active {
        height: calc(100vh - 50px);

        .s-nav-list {
          opacity: 1;
          transition: $tr-3-ease-in;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      width: 100%;

      &.active {
        transition: $tr-3-ease-in 0s;
      }
    }
  }

  &-mobile {
    display: none;
    align-items: center;
    height: 50px;
    background-color: $c-black;
    position: relative;
    z-index: 6;

    &.active {
      .s-nav {
        &-hamburguer {
          span {
            transition: $tr-3-ease-in;

            &:first-child {
              transform: rotate(-45deg) translate(-6px, 5px);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:last-child {
              transform: rotate(45deg) translate(-6px, -5px);
            }
          }
        }

        &-button {
          display: none;
        }

        &-contact {
          display: flex;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      display: flex;
    }
  }

  &-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
  }

  &-hamburguer,
  &-brand,
  &-button,
  &-contact {
    width: 33.333%;

    @include media-breakpoint-down(xs) {
      width: auto;
    }
  }

  &-hamburguer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;

    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: $c-white;
      margin: 3px;
      transition: $tr-2-ease-out;
    }

    &:hover {
      span {
        background-color: $c-primary;
      }
    }
  }

  &-brand {
    padding: 0 20px;
    text-align: center;

    @include media-breakpoint-down(xs) {
      img {
        height: 20px;
      }
    }
  }

  &-button,
  &-contact {
    justify-content: flex-end;

    @include media-breakpoint-down(xs) {
      width: 140px;
    }
  }

  &-button {
    display: flex;

    .g-btn {
      font-size: $font-12;
      line-height: 1;
    }

    @include media-breakpoint-down(xs) {
      .g-btn {
        font-size: $font-10;
        padding: 6px 20px;
      }
    }
  }

  &-contact {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;

    .s-nav-sublist {
      &-item {
        flex: 0 1 20%;
        padding: 6px 10px;
        opacity: 1;
      }

      &-link {
        color: $c-white;

        i {
          font-size: $font-20;
        }

        &:after {
          content: none;
        }
      }
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  ul,
  li {
    list-style: none;;
  }

  a {
    color: $c-gray6;
    font-family: $font-arquitecta;
    font-size: $font-13;
    font-weight: $fw-bold;
    text-transform: uppercase;
    letter-spacing: .06em;
    transition: $tr-2-ease;

    &:hover {
      color: $c-white;
    }

    &.active {
      color: $c-primary;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: calc(100vh - 50px);

    a {
      color: $c-gray4;
    }
  }

  &-list {
    max-height: 60px;
    display: flex;
    padding: 0;
    margin: 0 -10px;

    @include media-breakpoint-down(lg) {
      width: 100%;
      max-height: inherit;
      flex-wrap: wrap;
      opacity: 0;
      margin: 0;
      border-top: 1px solid $c-gray1;
      padding-bottom: 80px;
      transition: $tr-2-ease-out;

      &--user {
        flex-wrap: nowrap;
        padding: 0 10px;

        .s-nav-list {
          &-item {
            width: auto;
            padding: 14px 10px;

            &--user {
              margin-left: auto;
            }
          }

          &-link {
            padding: 0;

            &:after {
              content: none;
            }
          }
        }
      }
    }

    &-item {
      padding: 18px 10px 21px;

      .s-nav-list {
        &-link {
          color: $c-gray4;
        }
      }

      &.hover {
        .s-nav-list {
          &-link {
            color: $c-white;
          }
        }

        .s-nav-sublist {
          &-wrapper {
            max-height: 600px;
            padding: 25px 0;
            transition: $tr-3-ease-in;

            &--all {
              padding: 25px 0 75px;
            }
          }

          &-item {
            opacity: 1;
            transition: $tr-3-ease-in .2s;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 7px 0;

        &:hover {
          .s-nav-sublist {
            &-wrapper {
              max-height: 0;
              padding: 0;

              &--all {
                padding: 0;
              }
            }
          }
        }

        &.active {
          .s-nav-sublist {
            &-wrapper {
              max-height: 1000px;
              padding: 10px 0;
              border-top: 7px solid $c-black;
              transition: $tr-3-ease-in;
            }

            &-item {
              opacity: 1;
              transition: $tr-3-ease-in .2s;
            }
          }
        }
      }

      &--featured {
        .s-nav-list {
          &-link {
            position: relative;

            &:before {
              width: 100%;
              height: 1px;
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              background-color: $c-gray4;
            }

            &:hover {
              &:before {
                background-color: $c-white;
              }
            }

            &--close {
              &:before {
                content: none;
              }
            }

            @include media-breakpoint-down(lg) {
              &:before {
                content: none;
              }
            }
          }
        }

        &:hover {
          .s-nav-sublist {
            &-wrapper {
              max-height: 0;
              padding: 0;
            }

            &-item {
              opacity: 0;
            }
          }
        }

        &.active {
          .s-nav-sublist {
            &-wrapper {
              max-height: 900px;
              padding: 25px 0;

              .booking-fade {
                opacity: 1;
                transition: opacity .2s ease-in .2s;
              }
            }

            &-item {
              opacity: 1;
            }
          }
        }

        @include media-breakpoint-down(lg) {
          .s-nav-list {
            &-link {
              &--close {
                display: inline-block;
                padding: 0;
              }

              &:after {
                content: none;
              }
            }
          }

          .s-nav-sublist {
            &-wrapper {
              position: absolute;
              padding-left: 20px;
              padding-right: 20px;
              z-index: 10;
            }
          }

          &.active {
            .s-nav-sublist {
              &-wrapper {
                height: 100%;
                border-top: 1px solid $c-gray8;
                padding: 20px;
              }
            }
          }
        }
      }

      &--contact {
        position: relative;

        .s-nav-sublist {
          max-height: 0;
          position: absolute;
          top: 60px;
          right: 0;
          background-color: $c-gray9;
          overflow: hidden;
          padding: 0 30px;
          transition: $tr-2-ease-out .1s;

          &-link {
            display: flex;

            i {
              color: $c-primary;
              font-size: $font-20;
              margin-right: 10px;
            }

            span {
              white-space: nowrap;
            }

            &:after {
              content: none;
            }
          }
        }

        &:hover {
          .s-nav-sublist {
            &-item {
              opacity: 0;
            }
          }
        }

        &.active {
          background-color: $c-gray9;

          .s-nav {
            &-list {
              &-link {
                i {
                  color: $c-primary;
                }
              }
            }

            &-sublist {
              max-height: 300px;
              padding: 20px 30px;
              transition: $tr-3-ease-in;

              &-item {
                opacity: 1;
              }
            }
          }
        }
      }

      &--dropdown {
        @include media-breakpoint-down(lg) {
          .s-nav-list {
            &-link {
              &:after {
                content: "\f110";
              }
            }
          }

          &.active {
            .s-nav-list {
              &-link {
                &:after {
                  content: "\f113";
                }
              }
            }
          }
        }
      }
    }

    &-link {
      i {
        color: $c-white;
        font-size: $font-20;
        transition: $tr-3-ease;
      }

      &:after {
        @extend %pseudo-icon;
      }

      &:hover {
        i {
          color: $c-primary;
        }
      }

      @include media-breakpoint-down(lg) {
        position: relative;
        width: 100%;
        display: block;
        padding: 0 20px;

        &:after {
          content: "\f112";
          position: absolute;
          right: 20px;
          top: calc(50% - 6px);
          color: $c-primary;
        }
      }
    }
  }

  &-sublist {
    &-wrapper {
      max-height: 0;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: $c-gray9;
      padding: 0;
      overflow: hidden;
      transition: all 0s ease-out 0s;

      .booking-fade {
        display: block;
        opacity: 0;
        transition: opacity 0s ease-out 0s;
      }

      @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;

        .g-datepicker .dropdown-menu .ngb-dp-months {
          flex-direction: column;
        }
      }
    }

    display: flex;
    flex-wrap: wrap;

    &--descriptor {
      padding: 0;
      margin: 0 -15px;

      .s-nav-sublist {
        &-item {
          flex: 0 1 50%;
        }
      }

      @include media-breakpoint-down(lg) {
        max-height: 0;
        margin: 0 -20px;
        overflow: hidden;
        transition: $tr-2-ease-out;

        .s-nav-sublist {
          &-item {
            flex: 0 1 100%;
          }
        }
      }
    }

    &-item {
      position: relative;
      flex: 0 1 20%;
      opacity: 0;
      transition: opacity 0s ease-out 0s;
      padding: 7px 15px;

      &--all {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($c-black, .5);
        text-align: center;
        padding: 15px;

        .s-nav-sublist {
          &-link {
            display: inline-block;
            padding-right: 25px;

            &:after {
              right: 5px;
            }
          }
        }
      }

      &--descriptor {
        flex: 0 1 33.33333%;
      }

      &-info {
        background-color: $c-gray9;
        color: $c-white;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: calc(100% + 8px);
        transition: all .3s ease-in-out;

        a {
          align-items: center;
          display: flex;
          opacity: 0;
          padding: 10px 20px;
          transition: opacity .2s ease-out 0s;
          white-space: nowrap;
        }

        i {
          color: $c-primary;
          margin-right: 10px;
        }

        &.active {
          max-height: 200px;

          a {
            opacity: 1;
            transition: opacity .3s ease-in .1s;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        flex: 0 1 100%;
        padding: 7px 20px;

        &--all {
          position: static;
          text-align: left;
          padding: 7px 20px;

          .s-nav-sublist {
            &-link {
              display: block;
              padding-right: 0;

              &:after {
                right: 0;
              }
            }
          }
        }

        &--descriptor {
          .s-nav-sublist {
            &--descriptor {
              .s-nav-sublist-item {
                opacity: 0;
                transition: $tr-2-ease-out 0s;
              }
            }
          }

          &.active {
            .s-nav-sublist {
              &--descriptor {
                max-height: 1000px;
                transition: $tr-3-ease-in;

                .s-nav-sublist-item {
                  opacity: 1;
                  transition: $tr-3-ease-in .1s;
                }
              }

              &-link {
                &--descriptor {
                  &:after {
                    content: "\f113";
                  }
                }
              }
            }
          }
        }
      }
    }

    &-link {
      position: relative;
      display: block;

      &:after {
        content: "\f112";
        position: absolute;
        right: 5px;
        top: calc(50% - 6px);
        color: $c-primary;
        @extend %pseudo-icon;
        transition: $tr-2-ease-out;
      }

      &:hover {
        &:after {
          transform: translateX(5px);
          transition: $tr-3-ease-in;
        }
      }

      &.active {
        color: $c-primary;
      }

      &--descriptor {
        text-align: center;
        padding: 0 0 10px;
        border-bottom: 5px solid $c-transparent;
        box-shadow: 0 1px 0 0 rgba($c-gray8, 1);
        margin-bottom: 10px;

        &:after {
          content: none;
        }
      }

      @include media-breakpoint-down(lg) {
        &:after {
          right: 0;
          color: $c-gray4;
        }

        &:hover {
          &:after {
            color: $c-white;
            transform: translateX(0);
          }
        }

        &--descriptor {
          text-align: left;

          &:after {
            content: "\f110";
          }
        }
      }
    }
  }
}
.outside-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
