.s-img {
  &-bg {
    background-position: center;
    background-size: cover;
    margin: 0;
  }

  &-half {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    @include media-breakpoint-down(sm) {
      position: static;
      width: 100%;
    }
  }

  &-extend {
    position: relative;
    margin: 0;

    i {
      align-items: center;
      background-color: rgba($black, .45);
      border-radius: 50%;
      bottom: 15px;
      color: rgba($c-white, .75);
      display: flex;
      font-size: $font-20;
      height: 40px;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: 15px;
      width: 40px;
      transition: all .2s ease;
    }

    &:hover {
      i {
        color: $c-white;
      }
    }

    @include media-breakpoint-down(sm) {
      i {
        top: 15px;
        bottom: inherit;
        right: 15px;
      }
    }

    @include media-breakpoint-down(xs) {
      i {
        top: 10px;
        right: 10px;
      }
    }
  }

  &-multimedia {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $c-gray7;
    overflow: hidden;
    margin: 0;

    img,
    video {
      display: block;
      height: 100%;
      min-height: 340px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-down(md) {
      height: auto;

      img,
      video {
        position: static;
        width: 100%;
        height: auto;
        min-height: inherit;
        transform: translate(0, 0);
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .s-img {
      &-bg {
        &#{$infix}-none {
          background-image: none !important;
        }
      }
    }

  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .s-img {
      &-bg {
        &#{$infix}-100 {
          height: 100%;
        }

        &#{$infix}-1 {
          min-height: 100px;
        }

        &#{$infix}-2 {
          min-height: 200px;
        }

        &#{$infix}-2-5 {
          min-height: 250px;
        }

        &#{$infix}-3 {
          min-height: 300px;
        }

        &#{$infix}-4 {
          min-height: 400px;
        }

        &#{$infix}-5 {
          min-height: 500px;
        }

        &#{$infix}-6 {
          min-height: 600px;
        }
      }
    }

  }
}
