.s-list {
  &-circuit {
    list-style: none;
    padding-left: 25px;

    &-item {
      position: relative;
      font-weight: $fw-bold;
      padding-bottom: 23px;

      &:before, &:after {
        content: "";
        position: absolute;
      }

      &:before {
        width: 13px;
        height: 13px;
        top: 4px;
        left: -25px;
        background-color: $c-white;
        border: 2px solid $c-primary;
        border-radius: 50%;
        z-index: 1;
      }

      &:after {
        width: 0;
        height: 35px;
        top: 10px;
        left: -20px;
        border-left: 2px dashed $c-gray3;
      }

      &:last-child {
        padding-bottom: 0;

        &:after {
          content: none;
        }
      }
    }

    &-link {
      color: $c-black;

      &:after {
        display: inline-block;
        content: "\f112";
        font-family: $font-ca;
        color: $c-primary;
        transform: translateX(0);
        transition: $tr-3-ease;
      }

      &:hover {
        &:after {
          transform: translateX(5px);
        }
      }
    }
  }

  &-inline {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      position: relative;
      padding-left: 15px;
      padding-right: 20px;

      > span {
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: 0px;
        background-color: $c-primary;
        border-radius: 50%;
      }

      &:last-child {
        padding-right: 0;
      }

      @include media-breakpoint-down(md) {
        width: 33.333333%;

        &:last-child {
          padding-right: 20px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
        padding-right: 0;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &-contact {
    list-style: none;
    padding-left: 0;

    &-item {
      margin-bottom: 10px;

      h5 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $c-primary;
        font-size: $font-18;
        font-weight: $fw-medium;
        margin-bottom: 0;

        i {
          font-size: $font-20;
          margin-right: 5px,
        }
      }

      @include media-breakpoint-down(sm) {
        h5 {
          font-size: $font-14;
        }
      }
    }

    &-sublist {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 20px;

      li {
        padding-right: 30px;
      }

      @include media-breakpoint-down(sm) {
        li {
          font-size: $font-13;
        }
      }
    }
  }

  &-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 5px 10px 5px 0;
    }

    &-link {
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $c-primary;
      background-color: $c-gray9;
      font-size: $font-24;
      transition: $tr-3-ease;

      &:hover {
        color: darken($c-primary, 5%);
        background-color: darken($c-gray9,5%);
      }
    }
  }
}
