.s-map {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-map {
    width: 760px;
    position: relative;
    background-color: $c-gray7;
    overflow: hidden;
  }

  &-img {
    width: 760px;
    height: 710px;
    position: relative;
    left: 50%;
    background-color: $c-gray7;
    transform: translateX(-50%);
  }

  &-circuit {
    display: inline;
    opacity: .5;
    transition: $tr-3-ease;

    &:hover, &.active {
      opacity: 1
    }
  }

  &-road {
    position: absolute;

    &--nor {
      top: 23%;
      right: 66.8%;
    }

    &--lim {
      top: 63.5%;
      right: 51%;
    }

    &--sur {
      top: 79.3%;
      right: 24.7%;
    }

    &--cus {
      top: 64.5%;
      right: 31%;
    }
  }

  &-item {
    position: absolute;
    display: flex;
    align-items: center;

    span {
      position: absolute;
      top: calc(50% - 5px);
      left: calc(100% + 4px);
      font-size: $font-10;
      white-space: nowrap;
    }

    &--tum {
      top: 20.5%;
      right: 74.5%;
    }

    &--tal {
      top: 25.5%;
      right: 75.5%;
    }

    &--piu {
      top: 29.5%;
      right: 73%;
    }

    &--cix {
      top: 35%;
      right: 70.5%;
    }

    &--tru {
      top: 42.5%;
      right: 65.5%;
    }

    &--puc {
      top: 47%;
      right: 45%;
    }

    &--lim {
      top: 61%;
      right: 56%;
    }

    &--san {
      top: 61%;
      right: 57%;
    }

    &--mir {
      top: 65%;
      right: 56%;
    }

    &--mac {
      top: 62%;
      right: 40.5%;
    }

    &--cus {
      top: 67.5%;
      right: 36.2%;
    }

    &--chi {
      top: 71%;
      right: 52.5%;
    }

    &--naz {
      top: 75.5%;
      right: 49.7%;
    }

    &--val {
      top: 72.2%;
      right: 32.7%;
    }

    &--pun {
      top: 76.7%;
      right: 24.7%;
    }

    &--col {
      top: 77.7%;
      right: 37.2%;
    }

    &--aqp {
      top: 83%;
      right: 37.5%;
    }

    &--moq {
      top: 87.3%;
      right: 30.5%;
    }

    &--tac {
      top: 91.2%;
      right: 26.5%;
    }
  }

  &-link {
    position: relative;
    display: block;
    font-size: $font-20;
    padding: 0 1px;
    transition: $tr-3-ease-in;

    i {
      position: relative;
    }

    &:before {
      position: absolute;
      left: 50%;
      bottom: -4px;
      content: "";
      width: 18px;
      height: 7px;
      background-color: rgba($c-black, .25);
      border-radius: 100%;
      opacity: 0;
      transform: translate(-50%, -20px);
    }

    &:hover, &.active {
      transform: scale(1.3);
      transform-origin: 50% 75%;
    }

    &:hover {
      z-index: 2;
    }

    &.active {
      z-index: 1;

      &:before {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }

    &.circuit {
      transform: scale(1.4);
      transform-origin: 50% 100%;

      &:before {
        bottom: 1px;
        width: 6px;
        height: 4px;
        background-color: rgba($c-black, .15);
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }

  &-info {
    width: calc(100% - 760px);
    position: relative;
    background-image: linear-gradient(to right, darken($c-gray7, 6%), darken($c-gray7, 4%));
    padding: 70px 60px;

    &-detail {
      width: 400px;
      position: relative;
      left: -80px;
      background-color: $c-white;
      box-shadow: $box-shadow3;

      &-img {
        position: relative;
        height: 150px;
        overflow: hidden;

        img {
          min-width: 100%;
          min-height: 100%;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-body {
        padding: 20px 40px 40px;
      }
    }

    &-path {
      width: 100%;
      height: 240px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(../images/bkg-texture.png);
      background-position: center;
      background-repeat: repeat;
    }
  }

  &-modal {
    width: 750px;

    > img {
      width: 100%;
    }

    &-detail {
      display: flex;
      flex-wrap: wrap;
      background-color: $c-white;
      padding: 15px 0;

      @include media-breakpoint-down(xs) {
        img {
          max-width: 120px !important;
        }
      }
    }

    &-info {
      h5 {
        color: $c-primary;
        font-size: $font-18;
        margin-bottom: 5px;

        i {
          font-size: $font-24;
          margin-right: 5px;
        }
      }

      p {
        margin-left: 30px;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;

      &-detail {
        padding: 15px 15px;
      }

      &-info {
        margin-bottom: 15px;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    &-map {
      width: 615px;
    }

    &-info {
      width: calc(100% - 615px);
    }
  }

  @include media-breakpoint-down(lg) {
    &-map {
      width: 500px;
    }

    &-info {
      width: calc(100% - 500px);
    }
  }

  @include media-breakpoint-down(md) {
    &-map {
      width: 380px;
    }

    &-img {
      width: 620px;
      height: 579px;
    }

    &-road {
      img {
        transform: scale(.8);
        transform-origin: 90% 20%;
      }
    }

    &-info {
      width: calc(100% - 380px);
      padding: 40px 30px;

      &-detail {
        width: 280px;

        &-body {
          padding: 20px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &-map {
      width: 100%;
      display: none;
    }

    &-info {
      width: 100%;

      &-detail {
        position: static;
        width: 100%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &-map {
      overflow-x: auto;
    }

    &-img {
      left: -120px;
      transform: translateX(0);
    }

    &-info {
      &-detail {
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }
}
