.g-nav {
  display: flex;
  list-style: none;
  flex: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .g-nav-item {
    padding: 0;

    a {
      color: $white;
      transition: all .5s ease;

      &:hover {
        color: $c-primary;
      }
    }

    i {
      font-size: $font-30;
    }

    @include media-breakpoint-down(lg) {
      i {
        font-size: $font-28;
      }
    }
  }

  &--single-tag,
  &--single {
    li {
      position: relative;
      margin-right: 20px;
      margin-bottom: 10px;

      &:after {
        content: "";
        top: calc((100% / 2) - 1.5px);
        right: -11.5px;
        width: 3px;
        height: 3px;
        position: absolute;
        border-radius: 50%;
        background-color: $c-black;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: "";
          display: none;
        }
      }
    }
  }

  &--single {
    li {
      span {
        font-weight: $fw-light;
      }

      &:after {
        background-color: $c-primary;
      }
    }
  }
}
