.s-raiting {
  &-starts {
    position: relative;
    display: inline-block;

    &:before {
      content: $caicon-star-o;
      font-family: $font-caicon;
      font-size: $font-15;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $c-ca-standard;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      &:before {
        content: $caicon-star;
        font-family: $font-caicon;
        font-size: $font-15;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $c-ca-standard;
      }
    }
  }
}
