.s-services {
  width: 100%;

  &--title {
    font-family: $font-nexa-slab;
  }

  &--list {
    .g-feature {
      justify-content: flex-start;

      &-content {
        margin: 0;

        i {
          font-size: $font-22;
          margin-right: 5px;
        }

        .g-feature-info {
          span {
            font-size: $font-15;
          }
        }
      }
    }
  }
}
