.g-tag {
  border: none;
  padding: 5px 20px;
  position: relative;
  line-height: 1;
  display: inline-block;

  &-image {
    width: 190px;
    padding: 20px 15px 20px 30px;
    background-color: $c-black;
    transform: skew(9deg, 0);

    img {
      display: block;
      margin: 0 auto;
      transform: skew(-9deg, 0);
    }

    @media (max-width: 1299px) {
      width: 150px;
      padding: 15px 10px 15px 25px;
    }
  }

  &-type {
    color: $c-white;
    font-size: $font-16;
    font-weight: $fw-book;
    text-transform: uppercase;
    font-family: $font-nexa-slab;
    background-color: $c-primary;
    transform: skew(20deg, 0);

    span {
      display: block;
      transform: skew(-20deg, 0);
    }
  }

  &-sale {
    padding: 12px;
    color: $c-white;
    text-align: right;
    background-color: rgba($c-black, .5);

    p {
      margin: 0;
      span {
        display: block;
        &:first-child {
          font-size: $font-34;
          line-height: $font-34;
          font-weight: $fw-bold;
        }
        &:last-child {
          font-size: $font-15;
          font-weight: $fw-normal;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-13;
      padding: 10px;

      p {
        span {
          &:first-child {
            font-size: $font-28;
            line-height: 1;
          }
          &:last-child {
            font-size: $font-13;
            font-weight: $fw-normal;
          }
        }
      }
    }
  }

  &-from {
    padding: 10px 12px;
    color: $c-white;
    font-size: $font-14;
    background-color: rgba($c-black, .5);
  }

  &-single {
    cursor: pointer;
    color: $c-black;
    padding: 10px 20px;
    font-size: $font-13;
    font-weight: $fw-bold;
    background-color: $c-gray6;
    text-transform: uppercase;
  }

  &-box-carousel {
    padding: 12px 12px 12px 35px;
    background-color: $c-white;

    > span {
      font-size: $font-15;
      font-weight: $fw-light;
      position: relative;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: calc(50% - 5px);
        left: -15px;
        border-radius: 50%;
        background-color: $c-primary;
      }
    }
  }

}

.tags-ca {
  &--title {
    padding-right: 40px;
    @extend %descriptor-tags;
  }
}
