<div class="g-carousel">
  <div
    class="g-carousel-content"
    style="overflow: hidden"
    *ngIf="sliders?.length">
    <div class="g-carousel-content-before"></div>
    <div class="g-carousel-container position-relative">
      <ca-carousel-controls
        [lgth]="sliders?.length"
        [color]="controlColor">
      </ca-carousel-controls>
      <div
        class="d-flex"
        #nav
        style="transition: transform 1500ms ease 0s;"
        [ngStyle]="{'height': height, 'transform': elementWidthInPx}">
        <div class="g-carousel-content--wrap">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="g-carousel-content-after"></div>
  </div>
</div>

