<hr>
<span class="g-fs-12">Al clonar el contenido de la pagina de un idioma, NO se traducen los textos, ni enlaces. Favor, considerar estos datos para el lenguaje destino.</span>
<div class="row">
  <div class="col-4">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="Categoría" class="g-fw-bold">Clonar de:</label>
      </div>
      <div class="col">
        <div class="g-select">
          <i class="la la-angle-down"></i>
          <select [(ngModel)]="from" (ngModelChange)="formatAlert()">
            <option *ngFor="let language of languages" [value]="language.code">{{ language.description }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="Categoría" class="g-fw-bold">a</label>
      </div>
      <div class="col">
        <div class="g-select">
          <i class="la la-angle-down"></i>
          <select [(ngModel)]="to" (ngModelChange)="formatAlert()">
            <option *ngFor="let language of languages" [value]="language.code">{{ language.description }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-right">
    <button
      *ngIf="from && to && from !== to"
      type="button"
      class="g-btn-with-icon g-btn-icon-left g-btn g-btn-outline ng-star-inserted"
      [swal]="cloneSwal"
      (confirm)="clone()">
      <i class="la la-clone"></i>
      <span>&ensp;Clonar lenguaje&ensp;</span>
    </button>
  </div>
</div>
