<div class="container g-main-banner-caption">
  <div
    class="row align-items-center"
    [ngClass]="[
      slider?.typeDescriptor !== DESCRIPTOR_TYPE_ID?.restaurant ? 'justify-content-center' : 'justify-content-end'
    ]"
  >
    <div class="col-md-9" [ngClass]="{ 'col-xl-8': slider?.typeDescriptor === DESCRIPTOR_TYPE_ID?.restaurant }">
      <div [ngClass]="{ 'banner-item-inner': slider?.isFrame }">
        <div class="corner corner-top-left"></div>
        <div class="corner corner-top-right" [ngStyle]="{ 'border-color': slider?.colorFrame }"></div>
        <div class="corner corner-bottom-left" [ngStyle]="{ 'border-color': slider?.colorFrame }"></div>
        <div class="corner corner-bottom-right"></div>
        <div>
         
          <h1
            class="g-main-banner-title"
            
            [ngClass]="[
              slider?.typeDescriptor === DESCRIPTOR_TYPE_ID?.restaurant && slider?.descriptorInfo?.typographyStyle
                ? slider?.descriptorInfo?.typographyStyle
                : '',
              textAlign,
              slider?.classSubtitulo  ? slider?.classSubtitulo : ''     
            ]"   
            
          >
            {{ subtitle }}
            
            <span [ngClass]="[ slider?.classCss  ? slider?.classCss : '' ]" [ngStyle]="{ color: slider?.colorTitle }">
              {{ title }}
            </span>
          </h1>
          
          <div class="clearfix mt-2" *ngIf="slider?.isButton || slider?.isButtonDos || slider?.isButtonTres">
            <ca-slider-button
              (mouseleave)="mouseHoverState(false)"
              (mouseenter)="mouseHoverState(true)"
              [slider]="slider"
              [isCollapsed]="isCollapsed"
            >
            </ca-slider-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block" *ngIf="slider?.typeDescriptor === DESCRIPTOR_TYPE_ID?.restaurant">
      <div class="g-main-banner-brand" [ngStyle]="{ 'background-color': slider?.colorRgba }">
        <img class="g-img-fluid" [src]="slider?.descriptorInfo?.urlBanner" />
      </div>
    </div>
  </div>
</div>
<style id="stylecssw">

</style>