<div class="s-carousel--big-box s-img-bg-3 s-img-bg-md-5">
  <div class="big-box--controls">
    <div
      class="dot active"
      [ngClass]="{'active': iDot === activeSlideIndex}"
      *ngFor="let photoDot of roomActive?.photos; let iDot = index"
      (click)="swapActiveSlide(iDot)">
    </div>
  </div>
  <div class="big-box--open g-cursor-pointer" (click)="openGallery()">
    <i class="la la-arrows-alt"></i>
  </div>
  <div class="big-box--images s-img-bg-3 s-img-bg-md-5">
    <ng-container *ngFor="let photo of roomActive?.photos; let i = index">
      <figure
        class="s-img-bg s-img-bg-100 d-flex align-items-end p-1 g-cursor-pointer figure-room"
        [caBackgroundurl]="photo.basicPhoto?.length && photo.basicPhoto[0]"
        [@fadeInOut]
        *ngIf="i === activeSlideIndex"
        (click)="openGallery()">
      </figure>
    </ng-container>
  </div>
</div>
