<div class="g-editor-header sticky-top">
  <div class="row align-items-center">
    <div class="col">
      <button class="g-btn g-btn-square" type="button" (click)="back()">
        <div class="d-flex align-items-center">
          <i class="la la-arrow-left"></i>
        </div>
        <span>Regresar</span>
      </button>
    </div>
    <div class="col-auto pr-0" *ngIf="!seePublication">
      <div class="g-editor-header-buttons">
        <button class="g-btn g-btn-square" type="button" *ngIf="!isPublish()" (click)="saveFn()">
          <div class="d-flex align-items-center">
            <i class="la la-save"></i>
          </div>
          <span>Guardar</span>
        </button>
        <button class="g-btn g-btn-square" type="button" (click)="cancelAlert()">
          <div class="d-flex align-items-center">
            <i class="la la-calendar-times-o"></i>
          </div>
          <span>Cancelar cambios</span>
        </button>
        <button class="g-btn g-btn-square" type="button" (click)="openPreview()">
          <div class="d-flex align-items-center">
            <i class="la la-calendar-times-o"></i>
          </div>
          <span>Vista previa</span>
        </button>
      </div>
    </div>
    <div class="col-auto px-0 align-self-stretch" *ngIf="!seePublication">
      <button class="g-btn g-btn-square g-btn-square-primary" type="button" (click)="publishChanges()">
        <div class="d-flex align-items-center">
          <i class="la la-calendar-check-o"></i>
        </div>
        <span>{{ isPublish()? 'Actualizar': 'Publicar' }}</span>
      </button>
    </div>
  </div>
</div>

<swal
  #swalCancel
  [options]="swalCancelOptions"
  (confirm)="cancelChanges()">
</swal>
