<div class="row align-items-center no-gutters mb-xs-2" [formGroup]="group">
  <div class="col-12 g-w-100">
    <label [for]="config.label" class="g-fw-bold g-fs-15">{{ config.label }}</label>
  </div>
  <div class="col-12 mt-2">
    <div class="row">
      <div class="col-12">
        <ca-accordion>
          <ca-accordion-group>
            <ca-accordion-header>Cabecera</ca-accordion-header>
            <ca-accordion-content>
              <ng-container *ngFor="let col of (head?.controls || []); let j = index">
                <div class="row">
                  <div class="col-11">
                    <caadmin-form-input
                      [code]="j"
                      [config]="{
                        label: 'Col ' + (j+1),
                        type: 'text',
                        maxLength: 50
                      }"
                      [group]="head">
                    </caadmin-form-input>
                  </div>
                  <div class="col-1">
                    <div class="g-admin-link g-admin-link-icon g-c-pointer g-admin-link-red" (click)="removeCol(j)">
                      <i class="la la-trash"></i>
                    </div>
                  </div>
                </div>
            </ng-container>
            <div class="col-12 text-right mt-2">
              <div class="g-admin-link g-admin-link-icon g-c-pointer" (click)="addItemCol()">
                <i class="la la-plus-circle"></i>
                Agregar Columna
              </div>
            </div>
            </ca-accordion-content>
          </ca-accordion-group>
        </ca-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right my-1">
        <div class="g-admin-link g-admin-link-icon g-c-pointer" (click)="addItemRow()">
          <i class="la la-plus-circle"></i>
          Agregar Fila
        </div>
      </div>
      <div class="col-12" *ngIf="body">
        <ca-accordion
          cdkDropList
          customClass="g-acordion-list-component container-group"
          (cdkDropListDropped)="onDrop(body.controls, $event)">
          <ca-accordion-group
            cdkDrag
            [cdkDragDisabled]="body.controls.length <= 1"
            cdkDragBoundary=".container-group"
            *ngFor="let row of body.controls; let i = index">

            <ca-accordion-header cdkDragHandle>Fila {{ i + 1 }}</ca-accordion-header>
            <ca-accordion-content>

              <ng-container *ngFor="let col of row.controls; let j = index">
                <caadmin-form-input
                  [code]="j"
                  [config]="{
                    label: getColName(j),
                    type: 'text',
                    maxLength: 50
                  }"
                  [group]="row">
                </caadmin-form-input>
              </ng-container>

              <div class="row" *ngIf="body.controls.length > 1">
                <div class="col-12 text-right">
                  <div class="g-admin-link g-admin-link-icon g-c-pointer g-admin-link-red" (click)="removeRow(i)">
                    <i class="la la-trash"></i>
                    Eliminar fila
                  </div>
                </div>
              </div>

            </ca-accordion-content>
          </ca-accordion-group>
        </ca-accordion>
      </div>
    </div>
  </div>
</div>
