<div class="row align-items-center justify-content-center">
  <div
    class="col-md-9">
    <div
      class="banner-item-inner">
      <div
        class="corner corner-top-left">
      </div>
      <div
        class="corner corner-top-right"
        [ngStyle]="{'border-color': COLORS?.default}">
      </div>
      <div
        class="corner corner-bottom-left"
        [ngStyle]="{'border-color': COLORS?.default}">
      </div>
      <div
        class="corner corner-bottom-right"></div>
      <div>
        <h1
          class="g-main-banner-title mb-3">
          <span [ngStyle]="{'color': COLORS?.default}">
            {{ title }}
          </span>
          {{ subtitle }}
        </h1>
        <div class="row">
          <div class="col text-center" >
              <a
                [caUrlLink]="urlButton"
                class="g-btn g-btn-fat g-btn-white">{{ textButton }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
