<div class="row flex-nowrap align-items-center justify-content-between mb-2">
    <div class="col-auto">
      <h1 class="c-heading-title g-text-uppercase">
        <ng-content></ng-content>
      </h1>
    </div>
  </div>
