<div
  class="s-figure-absolute"
  [ngClass]="{'s-figure-absolute--invert': index % 2 == direction}">
  <ng-content select="[figure]"></ng-content>
  <figcaption
    [ngStyle]="{'border-color': descriptorInfo?.color}"
    class="s-figcaption-restaurant"
    [ngClass]="[type === SLD_RESTAURANT_INPUTS?.types?.large ? 's-figcaption-restaurant--lg': '',  heightType === SLD_RESTAURANT_INPUTS?.types?.large ? 's-figcaption-restaurant--w-xl': '']">
    <div class="s-box s-box--big s-box--tr s-background-restaurant">
      <div class="s-box-side-left">
      </div>
      <div class="s-box-side-right">
      </div>
      <ng-content select="[body]"></ng-content>
    </div>
  </figcaption>
</div>
