<div class="d-flex flex-wrap">
  <div class="col-sm-6 d-flex align-items-center justify-content-end">
    <div class="g-middle-container">
      <div class="row">
        <div class="col-lg-11 pt-4 pt-sm-5 pt-lg-7 px-0">
          <ca-section-header [title]="title" type="black"></ca-section-header>
          <p class="g-text-with-line d-none d-sm-block">
            {{ description }}
          </p>
          <a [caUrlLink]="urlLink" class="g-link g-link-icon g-link-icon-right mt-2 d-none d-sm-inline-block">
            {{ textLink }}
            <i class="la la-arrow-right"></i>
          </a>
          <div class="d-flex flex-wrap mt-2">
            <ca-award *ngIf="badge1" [path]="badge1"></ca-award>
            <ca-award *ngIf="badge2" [path]="badge2"></ca-award>
            <ca-award *ngIf="badge3" [path]="badge3"></ca-award>
            <ca-award *ngIf="badge4" [path]="badge4"></ca-award>
          </div>
        </div>
      </div>
      <img class="why-ca-geometric-img" [src]="detailImage[0]?.large?.imageUri" [alt]="detailImage[0]?.properties?.alt">
    </div>
  </div>
  <div class="col-sm-6 p-0">
    <figure class="s-img-bg s-img-bg why-ca-img" [ngStyle]="{'background-image': 'url(' + backgroundImage[0]?.large?.imageUri + ')'}">
    </figure>
  </div>
</div>
