<div class="row align-items-strech flex-nowrap">
  <div class="col-auto">
    <div class="g-card-info-border d-block">
      <div class="chevron" [ngClass]="{ 'disabled': !showUp }" (click)="upFn()">
        <i class="la la-chevron-up"></i>
      </div>
      <div class="chevron" [ngClass]="{ 'disabled': !showDown }" (click)="downFn()">
        <i class="la la-chevron-down"></i>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="g-card-info-border">
      <div class="d-flex align-items-center">
        <h4 class="g-fs-15 mb-0">
          {{ item.name }}
        </h4>
      </div>
    </div>
  </div>
  <div class="col-2" *ngIf="item.sectionFooter">
    <div class="g-card-info-border">
      <div class="d-flex align-items-center">
        <div class="g-badge-success">
          <i class="la la-tag"></i>
          Pie de sección
        </div>
      </div>
    </div>
  </div>
  <div class="col text-right pr-0">
    <button class="g-btn g-btn-square" type="button" *ngIf="showView" (click)="see()">
      <div class="d-flex align-items-center">
        <i class="la la-eye"></i>
      </div>
      <span>Ver</span>
    </button>
    <button class="g-btn g-btn-square" type="button" (click)="update()">
      <div class="d-flex align-items-center">
        <i class="la la-edit"></i>
      </div>
      <span>Editar</span>
    </button>
    <button
      class="g-btn g-btn-square"
      type="button"
      [swal]="deleteSwal"
      (confirm)="delete()">
      <div class="d-flex align-items-center">
        <i class="la la-trash"></i>
      </div>
      <span>Eliminar</span>
    </button>
    <button
      *ngIf="showAdd"
      class="g-btn g-btn-square"
      type="button"
      (click)="addChild()">
      <div class="d-flex align-items-center">
        <i class="la la-plus"></i>
      </div>
      <span>Agregar</span>
    </button>
  </div>
  <div class="col-auto pl-0" [ngClass]="{ 'invisible': !item?.children?.length }">
    <button class="g-btn g-btn-square g-btn-square-transparent" type="button" (click)="emitCollapse()">
      <div class="d-flex align-items-center">
        <i class="la" [ngClass]="item?.collapse? 'la-angle-down': 'la-angle-up'"></i>
      </div>
      <span></span>
    </button>
  </div>
</div>

<swal
  #domainAlert
  title="<strong>Selecciona un dominio</strong>"
  input="select"
  confirmButtonText="Confirmar"
  cancelButtonText="Cancelar"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="goToDomain($event)">
</swal>
