<div class="carousel-item {{classItemModifier}}">

  {{#card}}
    {{>organisms-Card-ca}}
  {{/card}}

  {{#figureRestaurants}}
    {{>organisms-Figure-with-caption}}
  {{/figureRestaurants}}

  {{#opinionBox}}
    {{>organisms-Box-opiniones}}
  {{/opinionBox}}

  {{#boxLogro}}
    {{>organisms-Box-logro}}
  {{/boxLogro}}

  {{#figureGallery}}
    {{>organisms-Figure-gallery}}
  {{/figureGallery}}

  {{#carouselImage}}
    {{>atoms-Image}}
  {{/carouselImage}}

  {{#carouselVideo}}
    {{>atoms-Video}}
  {{/carouselVideo}}

</div>
