<div class="s-carousel--big-box {{classModifier}}">

  <div class="big-box--controls">

    <dov class="dot active"></dov>
    <dov class="dot"></dov>
    <dov class="dot"></dov>
    <dov class="dot"></dov>

  </div>

  {{#icon}}

    <div class="big-box--open">

        {{>atoms-Icon}}

    </div>

  {{/icon}}

  {{#tag}}

    {{>molecules-Tag}}

  {{/tag}}

  <div class="big-box--images {{boxImageModifier}}">

    {{#images}}
      {{>organisms-Image-bg-box}}
    {{/images}}

  </div>

</div>