<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recuperar contraseña</title>
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;background-color:#f5f5f5;" id="bodyTable">
    <tbody>
      <tr>
        <td align="center" valign="top" style="padding-right:10px;padding-left:10px;" id="bodyCell">
          <!--[if (gte mso 9)|(IE)]><table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px;" width="600"><tr><td align="center" valign="top"><![endif]-->

          <!-- Email Wrapper Webview Open //-->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
            class="wrapperWebview">
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <!-- Content Table Open // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="right" valign="middle" style="padding-top: 20px; padding-bottom: 20px; padding-right: 0px;"
                          class="webview">
                          <!-- Email View in Browser // -->
                          <a class="text hideOnMobile" href="#" target="_blank"
                            style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:right; text-decoration:underline; padding:0; margin:0">
                            Si no puedes ver este correo por favor haz click aquí.
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Content Table Close // -->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Webview Close //-->

          <!-- Email Wrapper Header Open //-->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;background-color:#000000;" width="100%"
            class="wrapperWebview">
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <!-- Content Table Open // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="middle" style="padding-top: 15px; padding-bottom: 15px;"
                          class="emailLogo">
                          <!-- Logo and Link // -->
                          <a href="#" target="_blank" style="text-decoration:none;">
                            <img src="../../images/ca-brand-white.png" alt="" width="150" border="0" style="width:100%; max-width:150px;height:auto; display:block;">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Content Table Close // -->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Header Close //-->

          <!-- Email Wrapper Body Open // -->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperBody">
            <tbody>
              <tr>
                <td align="center" valign="top">

                  <!-- Table Card Open // -->
                  <table border="0" cellpadding="0" cellspacing="0"
                    style="background-color:#FFFFFF;"
                    width="100%" class="tableCard">

                    <tbody>
                      <tr>
                        <td align="center" valign="top" style="padding-bottom: 20px;" class="imgHero">
                          <!-- Hero Image // -->
                          <a href="#" target="_blank" style="text-decoration:none;" class="">
                            <img
                              src="../../images/email-img.jpg" width="600" alt="" border="0" style="width:100%; max-width:600px; height:auto; display:block;" class="">
                          </a>
                        </td>
                      </tr>

                      <tr>
                        <td align="center" valign="top"
                          style="padding-bottom: 5px; padding-left: 20px; padding-right: 20px;" class="mainTitle">
                          <!-- Main Title Text // -->
                          <h2 class="text"
                            style="color:#000000; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:28px; font-weight:700; font-style:normal; letter-spacing:normal; line-height:36px; text-transform:none; text-align:center; padding:0; margin:0">
                            Restablecer la contraseña
                          </h2>
                        </td>
                      </tr>

                      <tr>
                        <td align="center" valign="top"
                          style="padding-bottom: 30px; padding-left: 20px; padding-right: 20px;" class="subTitle">
                          <!-- Sub Title Text // -->
                          <h4 class="text"
                            style="color:#999999; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:16px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:24px; text-transform:none; text-align:center; padding:0; margin:0">
                            Hemos recibido su solicitud para<br>cambiar su contraseña.
                          </h4>
                        </td>
                      </tr>

                      <tr>
                        <td align="center" valign="top" style="padding-left:20px;padding-right:20px;"
                          class="containtTable ui-sortable">

                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableDescription"
                            style="">
                            <tbody>
                              <tr>
                                <td align="center" valign="top" style="padding-bottom: 20px;" class="description">
                                  <!-- Description Text// -->
                                  <p class="text"
                                    style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:center; padding:0; margin:0">
                                    Haga clic en el botón de abajo para restablecer su contraseña.
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableDescription"
                            style="">
                            <tbody>
                              <tr>
                                <td align="center" valign="top" style="padding-bottom: 20px;" class="description">
                                  <!-- Description Text// -->
                                  <p class="text"
                                    style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:center; padding:0; margin:0">
                                    O usando este enlace: <a href="#" target="_blank"
                                      style="color:#3F4CA4">link</a>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableButton" style="">
                            <tbody>
                              <tr>
                                <td align="center" valign="top" style="padding-top:20px;padding-bottom:40px;">

                                  <!-- Button Table // -->
                                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td align="center" class="ctaButton"
                                          style="background-color: #d69c4f; padding: 10px 35px;">
                                          <!-- Button Link // -->
                                          <a class="text" href="#" target="_blank"
                                            style="color:#FFFFFF; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:13px; font-weight:600; font-style:normal;letter-spacing:1px; line-height:20px; text-transform:uppercase; text-decoration:none; display:block">
                                            Reestablecer Contraseña
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Table Card Close// -->

                </td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Body Close // -->

          <!-- Email Wrapper Footer Open // -->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; background-color: #141416;" width="100%" class="wrapperFooter">
            <tbody>
              <!-- Space -->
              <tr>
                <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <!-- Content Table Open// -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="footer">
                    <tbody>

                      <tr>
                        <td align="center" valign="top" style="padding: 0px 10px;" class="footerEmailInfo">
                          <!-- Information of NewsLetter (Subscribe Info)// -->
                          <p class="text"
                            style="color:#a6a6a6; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                            Todos los derechos reservados - Casa Andina Hoteles
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Content Table Close// -->
                </td>
              </tr>

              <!-- Space -->
              <tr>
                <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Footer Close // -->

          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
