<div class="row align-items-center no-gutters mb-2" [formGroup]="group">
  <div class="col-auto g-w-100">
    <label [for]="config.label" class="g-fw-bold g-fs-15">{{ config.label }}:</label>
  </div>
  <div class="col">
    <input class="g-input"
      [attr.type]="config.type"
      [attr.maxlength]="config.maxLength"
      [attr.placeholder]="config.placeholder || ''"
      [formControlName]="controlName"
      [ngbTypeahead]="search"
      [inputFormatter]="inputFormatter"
      [resultFormatter]="resultFormatter"
      (blur)="blur()"/>
  </div>
</div>
