{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#mainNotification}}
      {{>molecules-Main-notification}}
    {{/mainNotification}}

    {{#adminUsuarios}}
      {{>organisms-Tabs-usuarios}}
    {{/adminUsuarios}}

  </main>

</div>
