<div class="g-modal-wrapper">
  <img class="g-img-full g-img-border"
    [src]="payload?.imageUri">
</div>

<div class="g-modal-footer d-flex">
  <div class="col text-center">
    <button ca-button
      type="button"
      theme="outline"
      (click)="close()">
      <span>{{ GENERAL_LANG?.buttons.cancel }}</span>
    </button>
  </div>
  <div class="col text-center">
    <button ca-button
      type="button"
      (click)="select()">
      {{ GENERAL_LANG?.buttons.select }}
    </button>
  </div>
</div>
