<div class="container">
  <ca-section-header [title]="title" type="black"></ca-section-header>
</div>
<ng-container *ngIf="width > 991">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeThree
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width > 575 && width < 992">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeTwo
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width < 576">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeOne
      }">
  </ng-container>
</ng-container>

<ng-template #carousel let-group>
  <div class="mt-2 g-overflow-hidden">
    <ca-carousel
      controlColor="black"
      [animation]="true"
      [sliders]="group">
      <ng-container>
        <div
          *ngFor="let sliderGroup of group"
          caCarouselHover
          class="carousel-group-item">
          <div class="g-carousel-content-wrapper">
            <div class="carousel-item carousel-item--sm active" *ngFor="let slider of sliderGroup">
              <div class="s-box s-box--dark s-box--tr s-background-award">
                <div class="s-box-side-left"></div>
                <div class="s-box-side-right"></div>
                <div class="s-box-body">
                  <div class="s-box-content p-1 g-height-200 g-height-sm-280">
                    <h3 class="g-fs-18 g-fs-sm-24 g-fs-xl-30 g-f-nexa-slab g-fw-book g-cl-primary">
                      {{ slider?.title }}
                    </h3>
                    <p class="g-text-with-line g-cl-white">
                      {{ slider?.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ca-carousel>
  </div>
</ng-template>
