@keyframes spinner {
  0% {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(1turn)
  }
}
@-webkit-keyframes spinner {
  0% {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(1turn)
  }
}