.g-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 10px 25px;
  font-size: $font-13;
  font-family: inherit;
  font-weight: $fw-bold;
  text-align: center;
  letter-spacing: .067em;
  transition: $tr-3-ease;
  color: $c-white;
  border: 1px solid $c-transparent;
  text-transform: uppercase;

  &-fat {
    padding: 15px 30px;
  }

  &-with-icon {
    padding-left: 50px !important;
    padding-right: 50px !important;

    &.g-block {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    > i {
      top: 50%;
      right: 10px;
      font-size: $font-15;
      line-height: 0;
      position: absolute;
      transform: translateY(-50%);
      @include prefix(transition, all 0.3s ease);
    }

    &:hover {
      i {
        right: 10px;
      }
    }

    &--dropdown {
      transition: $tr-5-ease;

      &:hover {
        i {
          right: 10px;
        }
      }

      &.active {
        i {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &-icon {
    padding: 8px;

    i {
      font-size: $font-20;
    }
  }

  &-login {
    width: 100%;
  }

  &-primary {
    background-color: $c-primary;
    border-color: $c-primary;

    &:hover {
      color: $c-white;
      background-color: darken($c-primary, 5%);
      border-color: darken($c-primary, 5%);
    }
  }

  &-green {
    color: $c-white;
    background-color: $c-green1;
    border-color: $c-green1;

    &:hover {
      background-color: darken($c-green1, 5%);
      border-color: darken($c-green1, 5%);
    }
  }

  &-gray {
    color: $c-white;
    background-color: $c-gray3;
    border-color: $c-gray3;

    &:hover {
      background-color: darken($c-gray3, 5%);
      border-color: darken($c-gray3, 5%);
    }
  }

  &-blue {
    color: $c-white;
    background-color: $c-blue2;
    border-color: $c-blue2;

    &:hover {
      background-color: darken($c-blue2, 5%);
      border-color: darken($c-blue2, 5%);
    }
  }

  &-red {
    color: $c-white;
    background-color: $c-red1;
    border-color: $c-red1;

    &:hover {
      background-color: darken($c-red1, 5%);
      border-color: darken($c-red1, 5%);
    }
  }

  &-white {
    color: $c-primary;
    background-color: $c-white;
    border-color: $c-primary;

    &:hover {
      background-color: $c-primary;
      color: $c-white;
    }
  }

  &-upload {
    color: $c-gray8;
    background-color: $c-white;
    border: 2px dashed $c-gray5;

    &:hover {
      background-color: $c-gray7;
    }
  }

  &-transparent {
    color: $c-white;
    background-color: $c-transparent;

    &:hover {
      color: $c-white;
      background-color: $c-transparent;
    }
  }

  &-premium {
    background-color: $c-ca-premium;
    border-color: $c-ca-premium;

    &:hover {
      background-color: darken($c-ca-premium, 5%);
      border-color: darken($c-ca-premium, 5%);
    }
  }

  &-outline {
    color: $c-primary;
    text-transform: uppercase;
    border-color: $c-primary;
    background-color: $c-transparent;

    &:hover,
    &.active {
      color: $c-white;
      background-color: $c-primary;
    }

    &--red {
      color: $c-red1;
      border-color: $c-red1;

      &:hover,
      &.active {
        background-color: $c-red1;
      }
    }

    &--black {
      color: $c-black;
      border-color: $c-black;

      &:hover,
      &.active {
        background-color: $c-black;
      }
    }

    &--gray {
      color: $c-gray3;
      border-color: $c-gray3;

      &:hover,
      &.active {
        background-color: $c-gray3;
      }
    }

    &--blue {
      color: $c-blue2;
      border-color: $c-blue2;

      &:hover,
      &.active {
        background-color: $c-blue2;
      }
    }

    &--premium {
      color: $c-ca-premium;
      border-color: $c-ca-premium;

      &:hover,
      &.active {
        background-color: $c-ca-premium;
      }
    }

    &--select {
      color: $c-ca-select;
      border-color: $c-ca-select;

      &:hover,
      &.active {
        background-color: $c-ca-select;
      }
    }

    &--standard {
      color: $c-ca-standard;
      border-color: $c-ca-standard;

      &:hover,
      &.active {
        background-color: $c-ca-standard;
      }
    }
  }

  &-create {
    padding: 20px;
    color: inherit;
    text-transform: uppercase;
    border: 2px dotted $c-gray2;
    background-color: $c-transparent;

    &:hover {
      opacity: .6;
    }
  }

  &-square {
    min-width: 66px;
    min-height: 54px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: $c-gray8;
    background-color: $c-gray7;
    letter-spacing: inherit;
    padding: 5px 10px;

    span {
      font-size: $font-12;
      font-weight: $fw-normal;
      text-transform: none;
    }

    i {
      position: static !important;
      font-size: $font-20;
      margin-bottom: 3px;
    }

    &:hover {
      background-color: $c-gray6;
    }

    &-danger {
      color: $c-red1;
    }

    &-primary {
      min-width: 100px;
      background-color: $c-primary;
      color: $c-white;
      border-radius: 0;

      &:hover {
        background-color: darken($c-primary, 5%);
      }
    }

    &-transparent {
      min-width: auto;
      background-color: $c-transparent;

      &:hover {
        background-color: $c-transparent;
      }
    }
  }

  &-circle {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: $c-white;
    background-color: $c-primary;
    @include prefix(border-radius, 50%);

    i {
      position: static !important;
      font-size: $font-20;
    }

    &:hover {
      background-color: darken($c-primary, 5%);
    }

    &.invert {
      background-color: transparent;
      color: $c-primary;

      &:hover {
        color: darken($c-primary, 5%);
      }
    }
  }

  &-dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    border: 1px solid $c-transparent;
    border-bottom-color: $c-black;
    cursor: pointer;

    &-inner {
      display: flex;
      padding: 10px 30px 10px 0;
      overflow: hidden;
      cursor: pointer;

      i {
        display: inline-block;
        font-size: $font-20;
        margin-right: 5px;
        max-width: 20px;
        vertical-align: bottom;
        overflow: hidden;
      }

      .g-btn-dropdown-text {
        max-width: calc(100% - 25px);
        white-space: nowrap;
        height: 20px;
      }

      &:after {
        content: "\f110";
        position: absolute;
        top: calc(50% - 10px);
        right: 0;
        font-size: $font-20;
        @extend %pseudo-icon;
      }
    }

    .g-options-list,
    .c-list-dropdown {
      display: none;
    }

    &.active {
      .g-btn-dropdown {
        &-inner {
          &:after {
            content: "\f113"
          }
        }
      }

      .g-options-list,
      .c-list-dropdown {
        display: block;
      }
    }
  }

  &-group {
    display: inline-flex;

    input {
      display: none;

      &:checked {
        + .button {
          background-color: $c-gray6;
        }
      }
    }

    .button {
      display: block;
      background-color: $c-white;
      margin: 0;
      padding: 8px 10px;
      transition: $tr-3-ease;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: $c-gray7;
      }

      i {
        font-size: $font-20;
      }
    }

    .g-btn {
      border-radius: 0;
      padding: 8px 10px 7px;

      span {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-white;
        background-color: $c-red1;
        font-size: $font-10;
        border-radius: 100%;
      }
    }
  }

  &-close {
    appearance: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-white;
    background-color: $c-red1;
    border: none;
    border-radius: 5px;
    padding: 0;
    transition: $tr-3-ease;
    cursor: pointer;

    i {
      font-size: $font-14;
    }

    &:hover {
      background-color: darken($c-red1, 10%);
    }
  }

  &-disabled {
    background-color: $c-gray2;
    @include prefix(box-shadow, none);
    cursor: not-allowed;

    &:hover {
      background-color: $c-gray2;
    }
  }

  &-icon-left {
    i {
      left: 25px;
      right: 100% !important;
    }
    &:hover {
      i {
        left: 18px;
      }
    }
  }

  &-assessment {
    padding-left: 20px !important;
    padding-right: 40px !important;
    font-family: $font-nexa-slab;

    > i {
      font-size: $font-15;
    }

    > span {
      font-size: $font-30;
      font-weight: $fw-bold;

        span {
          font-size: $font-20;
        }
    }
  }

  &-black {
    color: $c-white;
    display: inline-flex;
    align-items: center;
    background-color: $c-black;
    font-size: $font-13;
    font-weight: $fw-bold;
    white-space: nowrap;
    padding: 10px;

    &.g-btn-with-icon {
      i {
        font-size: $font-13;
      }
    }

    i {
      font-size: $font-20;
      margin-right: 3px;
    }
  }

  &-ver-mas {
    color: $c-black;
    font-weight: $fw-bold;
    background-color: $c-gray6;

    &:hover {
      background-color: rgba($c-gray6, 0.5);
    }
  }
}

.g-link {
  display: inline-flex;
  align-items: center;
  color: $c-primary;
  font-size: $font-14;
  font-weight: $fw-bold;
  text-transform: uppercase;
  transition: $tr-3-ease;
  position: relative;

  &:hover {
    color: darken($c-primary, 5%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 35%;
    height: 1px;
    background-color: $c-primary;
  }

  &-icon {
    &-left {
      i {
        margin-right: 5px;
        font-size: $font-20;
      }
    }
    &-right {
      i {
        margin-left: 5px;
        font-size: $font-12;
        transition: $tr-3-ease;
      }
      &:hover {
        i {
          margin-left: 15px;
        }
      }
    }
    &-static {
      i {
        margin-left: 5px;
        font-size: $font-20;
      }
      &::after {
        width: 100% !important;
      }
    }

    &--gray {
      color: $c-gray8;

      &:hover {
        color: darken($c-gray8, 5%);
      }

      &:after {
        background-color: $c-gray8;
      }
    }
  }

  &-white {
    color: $c-white;

    &:after {
      background-color: $c-white;
    }
  }
}

.g-anchor {
  color: $c-blue1;

  &:hover {
    color: darken($c-blue1, 10%);
  }
}

ca-slider-button {
  .g-dropDown {
    &--list {
      min-width: 350px;
      padding-left: 30px!important;
      li {
        list-style: circle;
      }
    }
  }
}

ca-map-destinations {
  .g-dropDown {
    &--list {
      padding-left: 30px!important;
      li {
        list-style: circle;
      }
    }
  }
}

.g-dropDown {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;

  &--list,
  &--capacidad {
    padding: 0 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    margin: 0;
    z-index: 6;
    overflow: auto;
    box-shadow: $box-shadow3;
    background-color: $c-white;
    transition: $tr-5-ease;
  }

  &--box {
    position: absolute !important;
    width: 260px !important;
    top: 100%;
    right: 0;
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.active {
      max-height: 500px;
      padding: 20px 15px !important;
      transition: max-height 0.3s ease-in;
    }
  }

  &--list {
    list-style: none;
    @include fancyScrollbar($c-gray6, $c-white);
    li {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    @include media-breakpoint-down(md) {
      &.active {
        height: auto;
        padding: 20px;
        max-height: 150px;
      }
    }
  }

  &--capacidad {
    &.active {
      padding: 20px;
      height: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    &--hover {
      &:hover {
        .g-dropDown--list {
          height: auto;
          padding: 20px;
          max-height: 150px;
        }
      }
    }
  }
}
