.g-datepicker {
  position: relative;
  font-size: $font-15;
  border: 1px solid $c-transparent;
  border-bottom-color: $c-black;
  cursor: pointer;

  input {
    display: inline-block;
    width: 100%;
    background-color: $c-transparent;
    border: 0;
    padding: 10px 25px;
    cursor: pointer;
  }

  > span, > i {
    position: absolute;
    top: 50%;
    font-size: $font-20;
    pointer-events: none;
    transform: translateY(-50%);
  }

  > span {
    left: 0;
  }

  >  i {
    right: 0;
  }
}

.g-datepicker,
.s-datepicker {
  .dropdown-menu,
  .dropdown-timepicker {
    left: inherit !important;
    right: 0;
    background-color: $c-white;
    border: 0;
    border-radius: 0;
    transform: translate(0, 0) !important;
    box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
    z-index: 5;

    .ngb-dp-header {
      background-color: $c-gray7 !important;
      padding: 6px;
      border-radius: 0;

      .custom-select {
        border: 0;
        color: $c-gray2;
        text-transform: uppercase;

        + .custom-select {
          margin-left: 5px;
        }
      }

      .ngb-dp-arrow-btn {
        color: $c-gray3;

        &:hover {
          color: $c-primary;
        }
      }
    }

    .ngb-dp-months {
      padding: 20px 0 10px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    .ngb-dp-month-name {
      background-color: $c-white !important;
      font-size: $font-15;
      text-transform: uppercase;
    }

    .ngb-dp-weekdays {
      background-color: $c-transparent !important;
      border: 0;
    }

    .ngb-dp-weekday {
      color: $c-gray1;
      font-size: $font-13;
      font-weight: $fw-medium;
      font-style: normal;
    }

    .custom-day {
      height: 32px;
      width: 32px;
      display: inline-block;
      text-align: center;
      padding: 5px 4px;

      &.outline:hover {
        background-color: $c-white;
      }

      &.focused {
        background-color: #e6e6e6;
      }

      &.range, &:hover {
        background-color: $c-primary;
        color: $c-white;
      }

      &.faded {
        background-color: lighten($c-primary, 20%);
      }
    }

    [ngbDatepickerDayView] {
      font-size: $font-13;
      border-radius: 50%;

      &:hover {
        background-color: $c-gray5;
      }
    }

    .bg-primary {
      background-color: $c-primary !important;
    }
  }

  .dropdown-menu {
    top: calc(100% - 1px) !important;
    padding: 10px !important;
  }

  .dropdown-timepicker {
    width: 100%;
    min-width: 450px;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    padding: 0 10px !important;
    display: none;

    &.active {
      padding: 10px !important;
      display: flex;
      z-index: 10;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      min-width: inherit;
    }

    ngb-datepicker {
      border: none;
      border-radius: 0;
      display: block;
      margin-right: 10px;
    }

    .ngb-dp-date-label {
      margin: 20px 0 40px;
    }

    .ngb-tp {
      display: flex;
      justify-content: center;
    }

    .ngb-tp-input-container {
      width: 70px;

      .btn-link {
        background-color: $c-transparent;
        border: none;
        cursor: pointer;
      }

      .ngb-tp-chevron {
        color: $c-gray2;

        &:before {
          border-width: 2px 2px 0 0;
        }

        &:hover {
          color: $c-primary;
        }
      }
    }

    .ngb-tp-input {
      font-size: $font-50;
      font-weight: $fw-thin;
      padding: 0;
    }

    .ngb-tp-spacer {
      width: 15px;
      color: $c-gray8;
      font-size: $font-30;
    }
  }
}
