// Font Size
$f-start: 9;
$f-end: 60;

@for $i from $f-start through $f-end {
  .g-fs-#{$i} {
    font-size: #{$i * 1px} !important;
  }
}

@media (min-width: $break-small) {
  @for $i from $f-start through $f-end {
    .g-fs-sm-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $f-start through $f-end {
    .g-fs-md-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $f-start through $f-end {
    .g-fs-lg-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $f-start through $f-end {
    .g-fs-xl-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

// Font Weight
@each $font-weight in map-keys($font-weights) {
  .g-#{$font-weight} {
    font-weight: map-get($font-weights, $font-weight);
  }
}

// Text
.g-text {
  &-center {
    text-align: center !important;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-capitalize {
    text-transform: capitalize !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-normal {
    font-weight: $fw-normal !important;
  }

  &-bold {
    font-weight: $fw-bold !important;
  }

  &-full {
    max-width: 100% !important;
  }
}

// Font family
.g-f-family {
  font-family: $font-family;
}

.g-f-nexa-slab {
  font-family: $font-nexa-slab;
}

.g-f-arquitecta {
  font-family: $font-arquitecta;
}

.g-f-brandon {
  font-family: $font-brandon;
}

.g-f-druk {
  font-family: $font-druk;
}

.g-f-heavitas {
  font-family: $font-heavitas;
}

// List
.g-list-unstyled {
  list-style: none;
  padding: 0;
}

.white-space-normal {
  white-space: normal !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}
