.g-modal {
  background-color: $c-alpha-black;
  opacity: 0;
  @extend %fixed-content;
  transition: $tr-3-ease-out .2s;

  @include media-breakpoint-down(xs) {
    overflow: hidden;
  }

  &-response {
    .success {
      span.la {
        color: #27af47;
      }
    }
    span.la {
      font-size: 50px;
      margin-bottom: 14px;
    }
  }

  &-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 60px);
    margin: 30px auto;
    transform: translateY(-50px);
    transition: $tr-2-ease 0s;

    @include media-breakpoint-down(md) {
      margin-left: 15px;
      margin-right: 15px;
      margin: 15px auto;
      min-height: calc(100% - 30px);
    }

    @include media-breakpoint-down(xs) {
      height: calc(100% - 30px);
      min-height: inherit;
    }

    &.sm {
      width: 550px;
      max-width: calc(100% - 30px);
    }

    &.md {
      width: 750px;
      max-width: calc(100% - 30px);
    }

    &.lg {
      width: 1070px;
      max-width: calc(100% - 30px);
    }

    &.multimedia {
      max-height: calc(100% - 60px);

      .g-modal {
        &-content {
          position: relative;
          width: auto;
          background-color: $c-gray1;
        }

        &-header {
          position: absolute;
          top: 0;
          right: 0;
          padding: 15px;
        }

        &-close {
          width: 30px;
          height: 30px;
          right: 5px;
          top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba($c-white, .7);
          background-color: rgba($c-black, .7);
          z-index: 5;

          &:hover {
            color: $c-red1;
          }
        }

        &-body {
          padding: 0;

          img,
          video {
            display: block;
            max-width: 100%;
            max-height: calc(100vh - 60px);
          }
        }
      }
    }

    &.site {

      @include media-breakpoint-down(xs) {
        max-width: 100%;
        margin: 0;
        height: 100%;
      }

      .g-modal {
        &-header {
          h3 {
            font-family: $font-nexa-slab;
            font-size: $font-30;
            font-weight: $fw-book;
            margin-bottom: 0;
          }

          @include media-breakpoint-down(md) {
            h3 {
              font-size: $font-24;
            }
          }

          @include media-breakpoint-down(sm) {
            background-color: $c-gray6;
            h3 {
              padding-right: 20px;
            }
          }

          @include media-breakpoint-down(xs) {
            h3 {
              font-size: $font-18;
            }
          }
        }

        &-body {
          @include media-breakpoint-down(sm) {
            background-color: $c-gray7;
          }
        }

        &-close {
          width: 30px;
          height: 30px;
          right: 5px;
          top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba($c-white, .7);
          background-color: rgba($c-black, .7);
          z-index: 5;

          &:hover {
            color: $c-red1;
          }

          @include media-breakpoint-down(sm) {
            top: 14px;
            color: $c-gray1;
            background-color: $c-transparent;
          }

          @include media-breakpoint-down(xs) {
            top: 11px;
          }
        }
      }
    }

    &.promo {
      .g-modal {
        &-header {
          padding: 0 0 15px;

          &-img {
            position: relative;
            height: 170px;
            overflow: hidden;
            margin-bottom: 20px;

            img {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          h3 {
            padding: 0 60px;
          }

          @include media-breakpoint-down(sm) {
            &-img {
              height: 145px;
            }

            h3 {
              padding: 0 30px;
            }
          }

          @include media-breakpoint-down(xs) {
            &-img {
              height: 120px;
            }

            h3 {
              padding: 0 15px;
            }
          }
        }

        &-close {
          @include media-breakpoint-down(sm) {
            color: $c-white;
            background-color: rgba($c-black, .7);
          }
        }
      }
    }

    &.carousel {
      width: auto;
      max-width: 1070px;
      max-height: calc(100% - 60px);

      .g-modal {

        &-content {
          position: relative;
          width: auto;
          background-color: rgba($c-black, .7);
        }

        &-header {
          position: absolute;
          top: 0;
          right: 0;
          padding: 15px;
        }

        &-close {
          width: 30px;
          height: 30px;
          right: 5px;
          top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $c-white;
          background-color: $c-transparent;
          z-index: 5;

          &:hover {
            color: $c-red1;
          }
        }

        &-body {
          padding: 0 40px 0 0;

          .g-carousel {
            .carousel-control {
              top: 45px;
              right: -35px;
              height: calc(100% - 60px);
            }

            .carousel-item {
              padding: 0;

              &::before {
                content: " ";
                border-radius: 50%;
                border: 5px solid $c-primary;
                border-color: $c-primary transparent $c-primary transparent;
                animation: lds-dual-ring 1.2s linear infinite;
                display: block;
                height: 50px;
                left: calc(50% - 25px);
                position: absolute;
                top: calc(50% - 25px);
                width: 50px;
              }

              @keyframes lds-dual-ring {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }

              img,
              video {
                display: block;
                max-height: calc(100vh - 60px);
                max-width: 100%;
                min-height: 300px;
                min-width: 300px;
                position: relative;
              }
            }
          }
        }

        @include media-breakpoint-down(xs) {
          &-close {
            background-color: rgba($c-black, .7);
          }

          &-body {
            padding: 0 0 40px;

            .g-carousel {
              margin-bottom: 0;

              .carousel-control {
                top: inherit;
                bottom: -35px;
                right: inherit;
                height: 30px;
              }
            }
          }
        }
      }
    }

    &.map {
      max-height: inherit;

      .g-modal {
        &-body {
          img {
            max-height: inherit;
          }
        }
      }
    }

    &.swal2-modal {
      min-height: inherit;
      height: inherit;
      transform: none;
      pointer-events: auto;
    }

    .swal2-icon {
      width: 80px;
      height: 80px;
      background-color: $c-gray6;
      border-radius: 50%;
      border: none;

      &.swal2-warning {
        color: $c-gray1;

        .swal2-icon-text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0;

          &:before {
            content: "\f376";
            @extend %pseudo-icon;
            font-size: $font-40;
          }
        }
      }
    }

    &.swal2-popup {
      padding: 50px;

      .swal2-title {
        font-size: $font-15;
        font-weight: $fw-normal;
      }

      .swal2-actions {
        .g-btn {
          width: 170px;

          + .g-btn {
            margin-left: 20px;
          }
        }
      }

      .swal2-select {
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  &-content {
    position: relative;
    width: 100%;
    background-color: $c-white;
    opacity: 0;
    transition: $tr-3-ease-out 0s;

    @include media-breakpoint-down(xs) {
      max-height: 100%;
      overflow-y: auto;

      // Hide scrollbar
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-header {
    position: relative;
    text-align: center;
    padding: 30px 60px 15px;

    @include media-breakpoint-down(sm) {
      padding: 15px 30px 15px;
    }

    @include media-breakpoint-down(xs) {
      padding: 15px 15px 15px;
      position: static;
    }
  }

  &-wrapper {
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-footer {
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &-body {
    padding: 15px 60px 50px;

    &-tabs {
      padding: 20px 0 0 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 15px 30px 30px;
    }

    @include media-breakpoint-down(xs) {
      padding: 15px 15px 20px;
    }
  }

  &-close {
    position: absolute;
    top: 12px;
    right: 15px;
    color: $c-gray1;
    background-color: $c-transparent;
    font-size: 20px;
    border: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;
    transition: $tr-2-ease;

    &:hover {
      color: $c-red1;
    }
  }

  &-open {
    overflow: hidden;

    .g-modal {
      opacity: 1;
      transition: $tr-3-ease 0s;

      &-dialog {
        pointer-events: auto;
        transform: none;
        transition: $tr-5-ease .2s;
      }

      &-content {
        opacity: 1;
        transition: $tr-5-ease-in .2s;
      }
    }
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ffffffab;
    z-index: 10;
  }
}
