.g-range-slider {
  margin-bottom: 20px;

  .ng5-slider {
    margin: 30px 0 10px;

    .ng5-slider {
      &-bar {
        background: $c-gray3;
      }
      &-pointer {
        width: 16px;
        height: 16px;
        top: -7px;
        background-color: $c-primary;
        border-radius: 50%;

        &::after {
          top: 4px;
          left: 4px;
          background: $c-transparent;
        }

        &:hover {
          &::after {
            background-color: $c-transparent;
          }
        }

        &.ng5-slider-active {
          &::after {
            background-color: darken($c-primary, 10%);
          }
        }
      }

      &-selection {
        background-color: $c-primary;
      }

      &-bubble {
        color: $c-black;

        &.ng5-slider-limit {
          color: $c-black;
        }
      }
    }
  }
}
