.g-select {
  position: relative;

  > i {
    position: absolute;
    top: calc(50% - 7px);
    right: 15px;
    z-index: 0;
    font-size: $font-15;
    color: $c-black;
    pointer-events: none;
  }

  select {
    width: 100%;
    color: $c-gray1;
    padding: 10px 0;
    font-size: $font-15;
    margin-bottom: 0;
    font-family: $font-family;
    border-color: $c-transparent;
    border-bottom-color: $c-black;
    border-style: solid;
    border-width: 1px;
    background-color: $c-transparent;
    cursor: pointer;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &-box {
    select {
      background-color: $c-white;
      border-color: $c-gray4;
      padding: 10px 20px;
    }
  }

  &-invert {
    > i {
      color: $c-primary;
    }

    select {
      color: $c-white;
    }
  }

  &-sm {
    > i {
      right: 0;
      font-size: $font-13;
    }

    select {
      font-size: $font-13;
      border: none;
      padding: 0 17px 0 0;

      option {
        background-color: $c-gray9;
      }
    }
  }

  &-hotels {
    width: 100%;
    display: none;
    justify-content: center;

    &-button {
      align-items: center;
      background-color: $c-transparent;
      border: none;
      display: inline-flex;
      font-family: $font-arquitecta;
      font-size: $font-13;
      font-weight: $fw-ultra-bold;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;
      text-transform: uppercase;

      i {
        position: absolute;
        right: -20px;
        top: calc(50% - 8px);
        font-size: $font-16;
        color: $c-primary;
        margin-left: 10px;
        transition: all .3s ease;
      }

      &-line,
      &-arrow {
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
      }

      &-line {
        background-color: $c-black;
        bottom: -8px;
        height: 1px;
        width: 150px;
      }

      &-arrow {
        border-bottom: 5px solid $c-transparent;
        border-left: 5px solid $c-transparent;
        border-right: 5px solid $c-transparent;
        border-top: 5px solid $c-black;
        bottom: -18px;
        height: 0;
        width: 0;
      }
    }

    &-list {
      position: absolute;
      top: 100%;
      left: -15px;
      width: calc(100% + 30px);
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: $c-white;
      box-shadow: 0 9px 11px -3px rgba(0, 0, 0, 0.2);
      max-height: 0;
      overflow: hidden;
      padding: 0 15px;
      transition: all .5s ease;
      z-index: 5;
    }

    &.active {
      .g-select-hotels {
        &-button {
          i {
            transform: rotate(180deg);
          }
        }

        &-list {
          max-height: 170px;
          padding: 15px;
          overflow-y: auto;
          @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));

          a {
            display: block;
            padding: 5px 0;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }
}
