.g-textarea {
  width: 100%;
  color: $c-gray1;
  padding: 13px 0;
  font-size: $font-15;
  margin-bottom: 0;
  font-family: $font-family;
  border-color: $c-black;
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: $c-transparent;
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));

  &-error {
    border-color: $c-red1;
  }
}
