// Sofia
@font-face {
  font-family: 'Sofia';
  font-weight: $fw-thin;
  font-display: swap;
  src:  url($url-fonts + '/Sofia-extra-light/SofiaPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Sofia-extra-light/SofiaPro-ExtraLight.woff') format('woff'),
        url($url-fonts + '/Sofia-extra-light/SofiaPro-ExtraLight.ttf')  format('truetype'),
        url($url-fonts + '/Sofia-extra-light/SofiaPro-ExtraLight.svg#SofiaPro-ExtraLight') format('svg');
}

@font-face {
  font-family: 'Sofia';
  font-weight: $fw-light;
  font-display: swap;
  src:  url($url-fonts + '/Sofia-light/SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Sofia-light/SofiaPro-Light.woff') format('woff'),
        url($url-fonts + '/Sofia-light/SofiaPro-Light.ttf')  format('truetype'),
        url($url-fonts + '/Sofia-light/SofiaPro-Light.svg#SofiaPro-Light') format('svg');
}

@font-face {
  font-family: 'Sofia';
  font-weight: $fw-normal;
  font-display: swap;
  src:  url($url-fonts + '/Sofia-regular/SofiaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Sofia-regular/SofiaPro-Regular.woff') format('woff'),
        url($url-fonts + '/Sofia-regular/SofiaPro-Regular.ttf')  format('truetype'),
        url($url-fonts + '/Sofia-regular/SofiaPro-Regular.svg#SofiaPro-Regular') format('svg');
}

@font-face {
  font-family: 'Sofia';
  font-weight: $fw-bold;
  font-display: swap;
  src:  url($url-fonts + '/Sofia-bold/SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Sofia-bold/SofiaPro-Bold.woff') format('woff'),
        url($url-fonts + '/Sofia-bold/SofiaPro-Bold.ttf')  format('truetype'),
        url($url-fonts + '/Sofia-bold/SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
}

// Nexa Slab
@font-face {
  font-family: 'Nexa Slab';
  font-weight: $fw-light;
  font-display: swap;
  src:  url($url-fonts + '/NexaSlab-light/NexaSlab-light.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/NexaSlab-light/NexaSlab-light.woff2') format('woff2'),
        url($url-fonts + '/NexaSlab-light/NexaSlab-light.woff') format('woff'),
        url($url-fonts + '/NexaSlab-light/NexaSlab-light.ttf') format('truetype'),
        url($url-fonts + '/NexaSlab-light/NexaSlab-light.svg#NexaSlab-light') format('svg');
}

@font-face {
  font-family: 'Nexa Slab';
  font-weight: $fw-book;
  font-display: swap;
  src:  url($url-fonts + '/NexaSlab-book/NexaSlab-book.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/NexaSlab-book/NexaSlab-book.woff2') format('woff2'),
        url($url-fonts + '/NexaSlab-book/NexaSlab-book.woff') format('woff'),
        url($url-fonts + '/NexaSlab-book/NexaSlab-book.ttf') format('truetype'),
        url($url-fonts + '/NexaSlab-book/NexaSlab-book.svg#NexaSlab-book') format('svg');
}

@font-face {
  font-family: 'Nexa Slab';
  font-weight: $fw-normal;
  font-display: swap;
  src:  url($url-fonts + '/NexaSlab-regular/NexaSlab-regular.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/NexaSlab-regular/NexaSlab-regular.woff2') format('woff2'),
        url($url-fonts + '/NexaSlab-regular/NexaSlab-regular.woff') format('woff'),
        url($url-fonts + '/NexaSlab-regular/NexaSlab-regular.ttf') format('truetype'),
        url($url-fonts + '/NexaSlab-regular/NexaSlab-regular.svg#NexaSlab-regular') format('svg');
}

@font-face {
  font-family: 'Nexa Slab';
  font-weight: $fw-bold;
  font-display: swap;
  src:  url($url-fonts + '/NexaSlab-bold/NexaSlab-bold.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/NexaSlab-bold/NexaSlab-bold.woff2') format('woff2'),
        url($url-fonts + '/NexaSlab-bold/NexaSlab-bold.woff') format('woff'),
        url($url-fonts + '/NexaSlab-bold/NexaSlab-bold.ttf') format('truetype'),
        url($url-fonts + '/NexaSlab-bold/NexaSlab-bold.svg#NexaSlab-bold') format('svg');
}

// Arquitecta
@font-face {
  font-family: 'Arquitecta';
  font-weight: $fw-normal;
  font-display: swap;
  src:  url($url-fonts + '/Arquitecta-regular/Arquitecta-regular.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Arquitecta-regular/Arquitecta-regular.woff2') format('woff2'),
        url($url-fonts + '/Arquitecta-regular/Arquitecta-regular.woff') format('woff'),
        url($url-fonts + '/Arquitecta-regular/Arquitecta-regular.ttf') format('truetype'),
        url($url-fonts + '/Arquitecta-regular/Arquitecta-regular.svg#Arquitecta-regular') format('svg');
}

@font-face {
  font-family: 'Arquitecta';
  font-weight: $fw-bold;
  font-display: swap;
  src:  url($url-fonts + '/Arquitecta-bold/Arquitecta-bold.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Arquitecta-bold/Arquitecta-bold.woff2') format('woff2'),
        url($url-fonts + '/Arquitecta-bold/Arquitecta-bold.woff') format('woff'),
        url($url-fonts + '/Arquitecta-bold/Arquitecta-bold.ttf') format('truetype'),
        url($url-fonts + '/Arquitecta-bold/Arquitecta-bold.svg#Arquitecta-bold') format('svg');
}

@font-face {
  font-family: 'Arquitecta';
  font-weight: $fw-ultra-bold;
  font-display: swap;
  src:  url($url-fonts + '/Arquitecta-black/Arquitecta-black.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Arquitecta-black/Arquitecta-black.woff2') format('woff2'),
        url($url-fonts + '/Arquitecta-black/Arquitecta-black.woff') format('woff'),
        url($url-fonts + '/Arquitecta-black/Arquitecta-black.ttf') format('truetype'),
        url($url-fonts + '/Arquitecta-black/Arquitecta-black.svg#Arquitecta-black') format('svg');
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: $fw-ultra-bold;
  font-display: swap;
  src:  url($url-fonts + '/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/BrandonGrotesque-Black.woff2') format('woff2'),
        url($url-fonts + '/BrandonGrotesque-Black.woff') format('woff'),
        url($url-fonts + '/BrandonGrotesque-Black.ttf') format('truetype'),
        url($url-fonts + '/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
}

@font-face {
  font-family: 'Druk';
  font-weight: $fw-bold;
  font-display: swap;
  src:  url($url-fonts + '/Druk-Bold.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Druk-Bold.woff2') format('woff2'),
        url($url-fonts + '/Druk-Bold.woff') format('woff'),
        url($url-fonts + '/Druk-Bold.ttf') format('truetype'),
        url($url-fonts + '/Druk-Bold.svg#Druk-Bold') format('svg');
}

@font-face {
  font-family: 'Heavitas';
  font-weight: $fw-normal;
  font-display: swap;
  src:  url($url-fonts + '/Heavitas.eot?#iefix') format('embedded-opentype'),
        url($url-fonts + '/Heavitas.woff2') format('woff2'),
        url($url-fonts + '/Heavitas.woff') format('woff'),
        url($url-fonts + '/Heavitas.ttf') format('truetype'),
        url($url-fonts + '/Heavitas.svg#Heavitas') format('svg');
}
