@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // Marging and padding
    @for $i from 0 through 10 {
      .m#{$infix}-#{$i * 1} {
        margin: #{$i * 10px} !important;
      }

      .p#{$infix}-#{$i * 1} {
        padding: #{$i * 10px} !important;
      }
    }

    @each $prefijo, $position in (mt, top), (mr, right), (mb, bottom), (ml, left) {
      @for $i from 0 through 10 {
        .#{$prefijo}#{$infix}-#{$i * 1} {
          margin-#{$position}: #{$i * 10px} !important;
        }
      }
    }

    @each $prefijo, $position in (my, top), (my, bottom), (mx, right), (mx, left) {
      @for $i from 0 through 10 {
        .#{$prefijo}#{$infix}-#{$i * 1} {
          margin-#{$position}: #{$i * 10px} !important;
        }
      }
    }

    @each $prefijo, $position in (pt, top), (pr, right), (pb, bottom), (pl, left) {
      @for $i from 0 through 10 {
        .#{$prefijo}#{$infix}-#{$i * 1} {
          padding-#{$position}: #{$i * 10px} !important;
        }
      }
    }

    @each $prefijo, $position in (py, top), (py, bottom), (px, right), (px, left) {
      @for $i from 0 through 10 {
        .#{$prefijo}#{$infix}-#{$i * 1} {
          padding-#{$position}: #{$i * 10px} !important;
        }
      }
    }

    // Height
    $heights: (0, 550, 450, 420, 350, 280, 260, 250, 200);

    @each $height in $heights {
      .g-height#{$infix}-#{$height} {
        height: #{$height}px;
      }
    }

    // Position
    $positions: (static, absolute, fixed, relative, sticky);

    @each $position in $positions {
    .g#{$infix}-#{$position} {
        position: #{$position};
      }
    }

    // Width
    @for $i from 1 through 20 {
      .g-w#{$infix}-#{$i * 10} {
        width: #{$i * 10px} !important;
      }
    }
  }
}

@for $i from 0 through 2 {
  @for $y from 1 through 9 {
    .m-#{$i * 1}-#{$y} {
      margin: #{$i}#{$y}px !important;
    }
  }
}

@each $prefijo, $position in (mt, top), (mr, right), (mb, bottom), (ml, left) {
  @for $i from 0 through 2 {
    @for $y from 1 through 9 {
      .#{$prefijo}-#{$i * 1}-#{$y} {
        margin-#{$position}: #{$i}#{$y}px !important;
      }
    }
  }
}

@each $prefijo, $position in (pt, top), (pr, right), (pb, bottom), (pl, left) {
  @for $i from 0 through 2 {
    @for $y from 1 through 9 {
      .#{$prefijo}-#{$i * 1}-#{$y} {
        padding-#{$position}: #{$i}#{$y}px !important;
      }
    }
  }
}

// Borders
@for $i from 1 through 5 {
  @each $prefijo-type,
  $type in (so, solid),
  (da, dashed),
  (do, dotted) {
    @each $color in map-keys($colors) {
      .g-b-#{$i}-#{$prefijo-type}-#{$color} {
        border: #{$i * 1px} #{$type} map-get($colors, $color);
      }
    }
  }
}

@each $prefijo,
$position in (bt, top),
(br, right),
(bb, bottom),
(bl, left) {
  @for $i from 1 through 5 {
    @each $prefijo-type,
    $type in (so, solid),
    (da, dashed),
    (do, dotted) {
      @each $color in map-keys($colors) {
        .g-#{$prefijo}-#{$i}-#{$prefijo-type}-#{$color} {
          border-#{$position}: #{$i * 1px} #{$type} map-get($colors, $color);
        }
      }
    }
  }
}
