<ca-tab-header>
</ca-tab-header>
<div class="g-card-wrapper">
  <div class="row flex-nowrap align-items-center justify-content-between mb-2">
    <div class="col-auto">
      <h1 class="c-heading-title">
        Menú Principal
      </h1>
    </div>
  </div>
  <caadmin-tabs-language classBody="p-0" (selected)="getMenus($event)">
    <ca-accordion>
      <ca-accordion-group [active]="true">
        <ca-accordion-header>Header</ca-accordion-header>
        <ca-accordion-content>
          <div class="text-right mb-2 mr-3">
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="addItem(MENU_SITE_TYPE.HEADER)">
              <span>Agregar</span>
              <i class="la la-plus-circle"></i>
            </button>
          </div>
          <div class="g-acordion-list-body">
            <ng-container *ngFor="let child of header | orderBy:['-sectionFooter', '+order']; let index = index">
              <ng-container *ngTemplateOutlet="itemTemplate, context:{
                $implicit: child,
                brothers: header,
                type: MENU_SITE_TYPE.HEADER,
                index: index
              }" >
              </ng-container>
            </ng-container>
          </div>
        </ca-accordion-content>
      </ca-accordion-group>

      <ca-accordion-group>
        <ca-accordion-header>Footer</ca-accordion-header>
        <ca-accordion-content>
          <div class="text-right mb-2 mr-3">
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="addItem(MENU_SITE_TYPE.FOOTER)">
              <span>Agregar</span>
              <i class="la la-plus-circle"></i>
            </button>
          </div>
          <div class="g-acordion-list-body py-3">
            <ng-container *ngFor="let child of footer | orderBy:['-sectionFooter', '+order']; let index = index">
              <ng-container *ngTemplateOutlet="itemTemplate, context:{
                $implicit: child,
                brothers: footer,
                type: MENU_SITE_TYPE.FOOTER,
                index: index
              }" >
              </ng-container>
            </ng-container>
          </div>
        </ca-accordion-content>
      </ca-accordion-group>
    </ca-accordion>
  </caadmin-tabs-language>
</div>

<ng-template #itemTemplate let-person let-parent="parent" let-brothers="brothers" let-type="type" let-index="index">
  <div class="g-card g-bgc-gray7">
    <div class="g-card-header">
      <caadmin-item-menu-tray
        [showUp]="index > 0 && (brothers[index - 1].sectionFooter === person.sectionFooter)"
        [showDown]="(index < ( ( brothers?.length || 0 ) - 1)) && (brothers[index + 1]?.sectionFooter === person.sectionFooter)"
        [item]="person"
        [parent]="parent"
        [brothers]="brothers"
        [showAdd]="validChild(type, person, index)"
        (up)="upMenu(person, brothers, index)"
        (down)="downMenu(person, brothers, index)"
        (updated)="updated($event)"
        (add)="add($event)"
        (remove)="remove(person, parent, index)"
        (collapsed)="collapse(person, brothers)">
      </caadmin-item-menu-tray>
    </div>
    <div class="g-card-body" *ngIf="person?.children?.length" [collapsePadding]="person.collapse">
      <ng-container *ngFor="let child of person.children | orderBy:['-sectionFooter', '+order']; let i = index">
        <ng-container *ngTemplateOutlet="itemTemplate, context:{
          $implicit: child,
          brothers: person?.children,
          parent: person,
          type: type,
          index: i
        }">
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
