<div class="row">
  <div class="col-12">
    <ca-section-header [title]="title"></ca-section-header>
    <ca-navbar
      [tabs]=tabs
      type="link"
      (watchActiveVal)="onChangeTab($event)"
      classLi="s-tab-nav-item"
      >
      <ng-container *ngFor="let item of items; let i = index">
        <ca-navbar-content
          [@fadeInOut]
          class="s-tab-pane"
          *ngIf="i === activeTab"
          [ngClass]="{'active': i === activeTab}">
          <div class="row no-gutters flex-lg-row-reverse">
            <div class="col-lg-6">
              <figure class="s-img-multimedia s-img-extend">
                <video
                  *ngIf="item?.type === FORM_TYPE?.video"
                  class=""
                  [poster]="item?.backgroundVideo?.large?.imageUri"
                  autoplay=""
                  loop=""
                  muted="">
                  <source
                    [src]="item?.backgroundVideo?.url"
                    [type]="item?.backgroundVideo?.mimeType">
                  Tu navegador no tiene soporte para videos HTML5
                </video>
                <img
                  *ngIf="item?.type === FORM_TYPE?.image"
                  [caImgSrcset]="item.backgroundImage? item.backgroundImage[0] : ''"
                  [alt]="item.backgroundImage ? item?.backgroundImage[0]?.properties?.alt : ''"/>
              </figure>
            </div>
            <div class="col-lg-6">
              <div class="s-box s-box--tr s-box--big s-box--tab">
                <div class="s-box-side-left">
                </div>
                <div class="s-box-side-right">
                </div>
                <div class="s-box-body">
                  <div class="s-box-content px-0 px-sm-2 pt-0 pt-sm-2 pb-1 pb-sm-3">
                    <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
                      {{ item?.subtitle }}
                    </h3>
                    <p [innerHTML]="item?.description | safeHtml"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ca-navbar-content>
      </ng-container>
    </ca-navbar>
    <div class="row justify-content-center mt-3" *ngIf="isButton">
      <div class="col-auto">
        <button
          (click)="goToBlog()"
          class="g-btn g-btn-primary"
          type="button">{{ textButton }}</button>
      </div>
    </div>
  </div>
</div>
