<div class="g-carousel">

  {{#controls}}
    {{>molecules-Carousel-controls}}
  {{/controls}}

  <div class="g-carousel-content">

    <div class="g-carousel-content-wrapper {{wrapperModifierClass}}">

      {{#carouselItem}}
        {{>organisms-Carousel-item}}
      {{/carouselItem}}

    </div>

  </div>

</div>
