<ca-card-wrapper>
  <div class="text-right mb-2">
    <ca-link (click)="goAddUser()">
      <i class="la la-plus-circle"></i>
      {{ USER_LANG?.links?.addUser }}
    </ca-link>
  </div>
  <ng-container *ngFor="let item of usersList?.content">
    <caadmin-collapse-user [user]="item" [disabled]="item?.disabled"></caadmin-collapse-user>
  </ng-container>
</ca-card-wrapper>
