<div class="g-modal-header">
  <div
    class="g-modal-header-img"
    style="border-bottom: 5px solid;"
    [ngStyle]="{ 'border-bottom-color' : payload?.entity?.colorDescriptor}">
    <img
      [caImgSrcset]="payload?.isRestriction?
      (payload?.imageRestriction && payload?.imageRestriction.length && payload.imageRestriction[0]) :
      (pageInfo.payload?.caInfoPromotion?.imageRestriction && pageInfo.payload?.caInfoPromotion?.imageRestriction?.length && pageInfo.payload?.caInfoPromotion?.imageRestriction[0])
      ">
  </div>
  <h3 class="text-left">
    {{ payload?.entity?.name }}
  </h3>
</div>
<div class="mx-3 mb-2 mt-2 mx-md-6 mb-md-5 mt-md-0">
  <div
    class="mb-3"
    [innerHTML]="(payload?.isRestriction? payload?.bodyRestriction : pageInfo.payload?.caInfoPromotion?.bodyRestriction) | safeHtml">
  </div>

  <a *ngIf="payload?.urlReservation"
  class="g-btn g-btn-primary g-btn-fat"
  [href]="payload?.urlReservation"
  target="_blank">{{ RESERVE_ACTIONS[pageInfo?.language].reserve }}</a>

  <div
    class="mt-3 g-fs-11"
    [innerHTML]="(payload?.isRestriction? payload?.footerRestriction : pageInfo.payload?.caInfoPromotion?.footerRestriction ) | safeHtml">
  </div>
</div>
