{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionTodosNuestrosRestaurantes}}
    {{>sections-Section-todos-nuestros-restaurantes}}
  {{/sectionTodosNuestrosRestaurantes}}

  {{#sectionCarouselPromocionesRestaurantes}}
    {{>sections-Section-carousel-promociones-restaurantes}}
  {{/sectionCarouselPromocionesRestaurantes}}

  {{#sectionCarouselWithoutPadding}}
    {{>sections-Section-carousel-without-padding}}
  {{/sectionCarouselWithoutPadding}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
