{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionRestaurantTypeInfo}}
    {{>sections-Section-restaurant-type-info}}
  {{/sectionRestaurantTypeInfo}}

  {{#sectionNuestraCarta}}
    {{>sections-Section-nuestra-carta}}
  {{/sectionNuestraCarta}}

  {{#sectionCarouselPromocionesRestaurantes}}
    {{>sections-Section-carousel-promociones-restaurantes}}
  {{/sectionCarouselPromocionesRestaurantes}}

  {{#sectionCarouselWithoutPadding}}
    {{>sections-Section-carousel-without-padding}}
  {{/sectionCarouselWithoutPadding}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
