{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionRestaurantInfo}}
    {{>sections-Section-restaurant-info}}
  {{/sectionRestaurantInfo}}

  {{#sectionProductsRestaurant}}
    {{>sections-Section-products-restautant}}
  {{/sectionProductsRestaurant}}

  {{#sectionSpecialty}}
    {{>sections-Section-specialty-of-the-house}}
  {{/sectionSpecialty}}

  {{#sectionCarouselPromocionesRestaurantes}}
    {{>sections-Section-carousel-promociones-restaurantes}}
  {{/sectionCarouselPromocionesRestaurantes}}

  {{#sectionCarouselWithoutPadding}}
    {{>sections-Section-carousel-without-padding}}
  {{/sectionCarouselWithoutPadding}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
