<div class="s-map-wrapper ">
  <div class="s-map-map ">
    <div class="s-map-img">
      <img class="g-img-fluid" [src]="BUCKET_SYSTEM + 'images/nuestros-destinos/mapa.svg'" alt="">
      <div
        class="s-map-item"
        *ngFor="let destination of mapDestinations"
        [ngClass]="'s-map-item--' + destination?.className">
        <a
          href="javascript:void(0);"
          class="s-map-link"
          *ngFor="let descriptor of destination.descriptors"
          (click)="openHotelDesc(destination?.destinationId, descriptor?.id, descriptor?.color)">
          <i class="caicon-ca" [ngStyle]="{'color': descriptor?.color}"></i>
        </a>
        <span class="">
          {{ destination?.destination }}
        </span>
      </div>
    </div>
  </div>
  <div class="s-map-info" *ngIf="!isActiveDetail">
    <div class="s-map-info-path"></div>
    <div class="g-relative">
      <h2 class="g-heading">
       {{ DESTINATIONS_MAP[language].mapTitle }}
      </h2>
      <p class="g-fs-15 g-fs-md-18 g-fw-light mb-2">
        {{ DESTINATIONS_MAP[language].subtitle }}
      </p>
      <ul class="g-list-unstyled">
        <li *ngFor="let descriptor of descriptors" class="g-fs-18 g-fw-light g-text-uppercase">
          <i class="caicon-ca g-fs-20 mr-1" [ngStyle]="{'color': descriptor?.color}"></i>
          {{ descriptor?.title }}
        </li>
      </ul>
    </div>
  </div>
  <div class="s-map-info" *ngIf="isActiveDetail" [@fadeInOutAnimation]>
    <div class="s-map-info-path"></div>
    <div class="g-relative">
      <div class="s-map-info-detail">
        <button class="g-modal-close g-cl-white" (click)="isActiveDetail = false">
          <i class="la la-close"></i>
        </button>
        <img
          class="w-100"
          [caBackgroundurl]="hotelInfoActive?.imageMain"
          style="height: 190px; background-size: cover; background-position: center;  max-width: 100%;">
        <div class="s-map-info-detail-body">
          <div class="g-dropDown mb-2 g-dropDown--hover">
            <button class="g-btn g-btn-with-icon g-btn-black g-btn-with-icon--dropdown g-text-capitalize white-space-normal"
              type="button">
              <span>{{ hotelInfoActive?.name }}</span>
              <i class="la la-angle-down"></i>
            </button>
            <ul class="g-dropDown--list">
              <li *ngFor="let hotel of destinationInfo" (click)="setActiveHotel(hotel)">
                <a href="javascript:void(0);">{{ hotel?.name }}</a>
              </li>
            </ul>
          </div>
          <ca-rate
            [opinionsRate]="rating"
            [descriptorInfo]="{color: descriptorColorActive}">
          </ca-rate>
          <h3 class="g-f-nexa-slab g-fw-book g-fs-24 g-fs-md-30">
            {{ hotelInfoActive?.name }}
          </h3>
          <p class="mb-2">
              {{ hotelInfoActive?.description }}
          </p>
          <div class="mb-2">
            <a href="#" class="g-link g-link-icon g-link-icon-right">
              {{ DESTINATIONS_MAP[language].arrive }}
              <i class="la la-arrow-right"></i>
            </a>
          </div>
          <a
            class="g-btn g-btn-primary g-btn-fat g-block"
            [href]="hotelInfoActive?.urlRoiback">{{ DESTINATIONS_MAP[language].reserve }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
