<section class="g-section {{modifierClass}}">
  <div class="container">

    {{#title}}
      <div class="row">
        <div class="col-12">

          {{>atoms-Text}}

        </div>
      </div>
    {{/title}}

    {{#contactForm}}
      {{>organisms-Contact-form}}
    {{/contactForm}}

  </div>
</section>
