<ca-card-wrapper>
  <div class="mb-2">
    <caadmin-title-filter-actions [title]="'Administrar usuarios'" (apply)="onApply($event)" (clean)="onClean($event)">
      <div>
        <!-- content filters -->
        <form [formGroup]="frmSearch">
          <caadmin-dropdown-checkboxes icon="la-tag" [placeholder]="GENERAL_LANG?.labels?.roles"
            formControlName="rolDropdown" [dataList]="roles" valueField="roleCode" textField="roleName">
          </caadmin-dropdown-checkboxes>
        </form>
        <!-- content filters -->
      </div>
    </caadmin-title-filter-actions>
  </div>
  <ng-container *ngFor="let user of usersPaginated?.content">
    <caadmin-card-row-actions (edit)="editUser(user)"
    [confirmDelete]="messageDelete(user)"
    (delete)="deleteUser(user)">
      <div class="col-5">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.user }}</span>
          <span class="g-info-w-icon">
            <i class="la la-user"></i>
            <strong>{{ user?.fullname }}</strong> - {{ user?.username }}
          </span>
        </div>
      </div>
      <div class="col-4">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.role }}</span>
          <span class="g-info-w-icon">
            <i class="la la-briefcase"></i>
            {{ user?.role?.roleName }}
          </span>
        </div>
      </div>
    </caadmin-card-row-actions>
  </ng-container>
  <ca-paginator [(page)]="pageCurrent" [collectionSize]="usersPaginated?.totalElements" (pageChange)="search()">
  </ca-paginator>
</ca-card-wrapper>
