<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center mb-1">
          <div class="col">
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="addFile()">
              <span>Agregar</span>
              <i class="la la-plus-circle"></i>
            </button>
          </div>
          <div class="col-auto">
            <div class="g-input-icon-left">
              <i class="la la-search g-fs-24"></i>
              <input
                class="g-input"
                type="text"
                placeholder="casa_andina"
                [ngModel]="currentSearchText"
                (debounceInput)="debounceInput($event)"
                (focus)="openFilter = false">
            </div>
          </div>
          <div class="col-auto text-right">
            <div class="g-btn-dropdown" [ngClass]="{ 'active' : openFilter }">
              <div class="g-btn-dropdown-inner text-left" style="width: 170px;" [ngClass]="{ 'text-capitalize': currentDate }" (click)="openFilter = !openFilter">
                <span><i class="la la-calendar"></i></span>
                <span>{{ currentDate? (currentDate | date:'yyyy MMMM'): 'Todas las fechas' }}</span>
              </div>
              <caadmin-gallery-filter-date
                [current]="currentDate"
                [type]="payload.type"
                (selected)="selectedDate($event)"></caadmin-gallery-filter-date>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 g-card-wrapper-images" (infiniteScroller)="getFiles()">
        <div class="row">
          <!-- Imagen cargando - Progress -->
          <div class="col-3" *ngIf="tmpFile">
            <ng-container
              *ngTemplateOutlet="
                payload.type === FILE_TYPE.document? documentPreview: imagePreview;
                context:{
                  $implicit: tmpFile
                }">
            </ng-container>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                [ngStyle]="{ width : tmpFile.progress + '%' }">
                  {{ tmpFile.progress }}%
              </div>
            </div>
          </div>

          <div class="col-3" *ngFor="let file of files">
            <ng-container
              *ngTemplateOutlet="
                payload.type === FILE_TYPE.document? documentPreview: imagePreview;
                context:{
                  $implicit: file
                }">
            </ng-container>
          </div>
        </div>
        <div class="text-center mt-2" *ngIf="showLoading">
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 g-bgc-gray7 pt-2 pb-2">
    <ng-container *ngIf="!currentImage">
      <diV style="height: 466px;">
        <div class="d-flex flex-column justify-content-center align-items-center pt-10 pl-3 pr-1-5">
          <i class="g-fs-60 mb-1" [ngClass]="iconNoSelectedFile"></i>
          <span class="g-fw-bold g-fs-14">Selecciona {{ textSelectedFile }} para ver su detalle aquí.</span>
        </div>
      </diV>
    </ng-container>
    <ng-container *ngIf="currentImage">
      <div class="mb-1">
        <ng-container
          *ngTemplateOutlet="
            payload.type === FILE_TYPE.document? documentSelected: imageSelected;">
        </ng-container>
      </div>
      <div class="mb-2" style="height: 200px;" [formGroup]="form">
        <ng-container *ngIf="payload.type === FILE_TYPE.image">
          <!-- Titulo -->
          <div class="row align-items-center no-gutters mb-1">
            <div class="col-12">
              <label class="g-fw-bold">Título:</label>
            </div>
            <div class="col-12">
              <ca-input
                type="text"
                autocomplete="nope"
                [formControl]="title"
                [error]="validateControl(title)">
              </ca-input>
            </div>
          </div>
          <!-- Alt -->
          <div class="row align-items-center no-gutters mb-1">
            <div class="col-12">
              <label class="g-fw-bold">Título Alternativo:</label>
            </div>
            <div class="col-12">
              <ca-input
                type="text"
                [formControl]="alt"
                [error]="validateControl(alt)">
              </ca-input>
            </div>
          </div>
          <!-- Description -->
          <div class="row align-items-center no-gutters mb-1">
            <div class="col-12">
              <label class="g-fw-bold">Descripción:</label>
            </div>
            <div class="col-12">
              <ca-input
                type="text"
                [error]="validateControl(description)"
                [formControl]="description">
              </ca-input>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mb-1 text-center">
        <button class="g-btn g-btn-primary" type="button" (click)="confirm()">Seleccionar</button>
      </div>
      <div class="text-center">
        <button
          class="g-btn g-btn-outline g-btn-outline--red"
          type="button"
          [swal]="deleteSwal"
          (confirm)="delete()">Eliminar</button>
      </div>
    </ng-container>
  </div>
</div>
<input #file type="file" class="d-none"/>

<ng-template #documentPreview let-file>
  <div class="c-file-preview" [ngClass]="{ 'active': currentImage === file }" (click)="selected(file)">
    <div class="c-file-preview-icon">
      <i [iconFile]="file.name || file.url"></i>
    </div>
    <div class="c-file-preview-info">
      <span class="">{{ file.name }} </span>
    </div>
  </div>
</ng-template>

<ng-template #imagePreview let-file>
  <div class="g-img-preview g-img-preview-select" [ngClass]="{ 'active': currentImage === file }">
    <div
      class="g-img-preview-img"
      [ngClass]="{ 'g-img-preview-img--badge': payload.type === FILE_TYPE.badge }"
      [ngStyle]="{ 'background-image': 'url(' + (!file.small? file.url : file.small.imageUri) + ')'}"
      (click)="selected(file)">
    </div>
  </div>
</ng-template>

<ng-template #imageSelected>
  <div class="g-img-preview" style="height: 100px;" (click)="openPreview()">
    <div class="g-img-preview-img"
      [ngClass]="{ 'g-img-preview-img--badge': payload.type === FILE_TYPE.badge }"
      [ngStyle]="{ 'background-image': 'url(' + (!currentImage.medium? currentImage.url : currentImage.medium.imageUri) + ')'}">
    </div>
  </div>
  <div class="mt-1">
    <span class="d-block g-fs-12 text-truncate">
      <strong>Nombre</strong>: {{ currentImage.name }}
    </span>
    <span class="d-block g-fs-12">
      <strong>Tamaño</strong>: {{ currentImage?.width || currentImage?.large?.width }}x{{ currentImage?.height || currentImage?.large?.height }}
    </span>
  </div>
</ng-template>

<ng-template #documentSelected>
  <div class="mb-1">
    <div class="c-file-preview" style="height: 97px;" (click)="openPreview()">
      <div class="c-file-preview-icon">
        <i [iconFile]="currentImage.name || file.url"></i>
      </div>
    </div>
    <div class="mt-1">
      <span class="d-block g-fs-12 text-truncate">
        <strong>Nombre</strong>: {{ currentImage.name }}
      </span>
      <span class="d-block g-fs-12">
        <strong>Peso</strong>: {{ currentImage.size | fileSize }}
      </span>
    </div>
  </div>
</ng-template>
