{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  <div class="g-main g-main-full">

    <div class="g-card-wrapper h-100 w-100 mt-0">

      {{#iconAndText}}
        {{>molecules-Icon-and-text-block}}
      {{/iconAndText}}

    </div>

  </div>

</div>
