<div class="g-card">
  <div class="g-card-header">
    <div class="row justify-content-between">
      <ng-content></ng-content>
      <div class="col-2 text-right">
        <button class="g-btn g-btn-square " type="button" *ngIf="!disabledEdit" (click)="onEdit()">
          <div class="d-flex align-items-center">
            <i class="la la-edit"></i>
          </div>
          <span>Editar</span>
        </button>
        <button class="g-btn g-btn-square " type="button" *ngIf="!disabledDelete"
        [swal]="deleteSwal" (confirm)="onDelete()">
          <div class="d-flex align-items-center">
            <i class="la la-trash"></i>
          </div>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>
</div>
