<ca-card-wrapper>
  <caadmin-heading>
    Información de Perfil
  </caadmin-heading>

  <caadmin-card-form title="Datos Generales" [hideCancel]="'true'" (save)="saveProfile()">
    <div class="m-4">
      <form [formGroup]="frmProfile">
        <div class="mb-2">
          <div class="row align-items-center no-gutters mb-2">
            <div class="col-auto g-w-100">
              <label class="g-fw-bold">{{ USER_LANG?.labels?.user }}:</label>
            </div>
            <div class="col">
              <ca-input id="name" formControlName="name" [disabled]="'true'"></ca-input>
            </div>
          </div>
          <div class="row align-items-center no-gutters mb-2">
            <div class="col-auto g-w-100">
              <label class="g-fw-bold">{{ USER_LANG?.labels?.fullName }}:</label>
            </div>
            <div class="col">
              <ca-input id="fullname" formControlName="fullname"></ca-input>
            </div>
          </div>
          <div class="row align-items-center no-gutters mb-2">
            <div class="col-auto g-w-100">
              <label class="g-fw-bold">{{ USER_LANG?.labels?.lastname }}:</label>
            </div>
            <div class="col">
              <ca-input id="lastname" formControlName="lastname"></ca-input>
            </div>
          </div>
          <div class="row align-items-center no-gutters mb-2">
            <div class="col-auto g-w-100">
              <label class="g-fw-bold">{{ USER_LANG?.labels?.email }}:</label>
            </div>
            <div class="col">
              <ca-input id="email" formControlName="email"></ca-input>
            </div>
          </div>
        </div>
      </form>
    </div>
  </caadmin-card-form>
  <caadmin-card-form title="Rol Asignado" [hideCancel]="'true'" [hideSave]="'true'">
    <div class="m-4">
      <div class="g-card g-card-gray">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center">
              <div class="col-4">
                {{ profile?.role?.roleName }}
              </div>
              <div class="col-8">
                <ng-container *ngFor="let permission of permissionCodeList; let last = last">
                  {{ permission?.permissionName }}{{ (last) ? '.' : ', ' }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </caadmin-card-form>
</ca-card-wrapper>
