<div>
  <div class="overlay" *ngIf="showOverlay"></div>
  <h3 class="text-left">
    {{ setLabel('labelTitulo') }}
  </h3>
  <form [formGroup]="formNewsLetter">
    <div class="row">
      <div class="col-md-6 mb-2">
        <ca-input
          class="g-input"
          [placeholder]="setLabel(juridicPerson ? 'txtNombre' : 'txtNombreApellido')"
          [error]="validateControl('name')"
          formControlName="name">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtApellido')"
          [error]="validateControl('surname')"
          formControlName="surname">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtCorreoElectronico')"
          [error]="validateControl('email')"
          formControlName="email">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtCorreoElectronicoConfirma')"
          [error]="validateControl('repeatEmail')"
          formControlName="repeatEmail">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtTelefono')"
          [error]="validateControl('phone')"
          formControlName="phone">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtRazonSocial')"
          [error]="validateControl('businessName')"
          formControlName="businessName">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtRuc')"
          [error]="validateControl('ruc')"
          formControlName="ruc">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select
            formControlName="segment">
            <option [value]="null">{{ setLabel('selectSegmento') }}</option>
            <option [value]="segment.code" *ngFor="let segment of segments">
              {{ segment.value }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select
            formControlName="countryId">
            <option [value]="null">{{ setLabel('selectPais') }}</option>
            <option [value]="country.value" *ngFor="let country of countries">
              {{ country.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <ca-input
          class="g-input"
          [placeholder]="setLabel('txtCiudad')"
          formControlName="city">
        </ca-input>
      </div>
      <div class="col-md-6 mb-2">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select
            formControlName="gender">
            <option [value]="null">{{ setLabel('selectGenero') }}</option>
            <option [value]="gender.code" *ngFor="let gender of genders">
              {{ gender.value }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mb-2" *ngIf="juridicPerson">
        <ca-datepicker
          #dp
          formControlName="birthdate"
          [placeholder]="setLabel('dtFechaNacimiento')">
        </ca-datepicker>
      </div>
      <div class="col-12 mb-2">
        <ng-container *ngIf="setLabel('linkAceptaTermino')">
          <a
            href="javascript:void(0);"
            class="g-block mb-2"
            (click)="openModal(formLabels?.modalAceptaTermino.text)">
            {{ formLabels?.linkAceptaTermino.text }}
          </a>
        </ng-container>
        <label class="g-checkbox mb-1">
          <input type="checkbox" formControlName="sendNotification" name="nInputCheckbox">
            {{ setLabel('checkEnvioPublicidad') }}
          <span class="checkmark"></span>
        </label>
        <label class="g-checkbox mb-1">
          <input type="checkbox" formControlName="sendNew" name="nInputCheckbox">
            {{ setLabel('checkEnvioNoticia') }}
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-12 text-center">
        <re-captcha
          *ngIf="recaptchaKey"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="recaptcha"
          [siteKey]="recaptchaKey">
        </re-captcha>
      </div>
      <div class="col-12">
        <button
          (click)="sendForm()"
          class="g-btn g-btn-primary g-block"
          type="button">
          {{ setLabel('buttonRegistrarme') }}
        </button>
      </div>
    </div>
  </form>
</div>
