<div
  class="g-main-banner"
  [ngClass]="'g-main-banner--' + bannerSize">
  <ca-logo
    [descriptorInfo]="slidersNew[activeDescriptor]?.descriptorInfo"
    [logoInfo]="logoInfo"
    [typeDescriptor]="slidersNew[activeDescriptor]?.typeDescriptor">
  </ca-logo>
  <ca-slider
    [buttonHovered]="hoverButtonState"
    [animation]="isAnimation"
    [videoPosition]="1"
    (watchActiveVal)="onChangeSlide($event)"
    [slides]="sliders">
    <ng-container *ngFor="let slider of slidersNew; let i = index">
      <div
        class="banner-item"
        [caUrlLink]="slider.externalLink"
        [isLinkable]="false"
        [@fadeInOut]
        [ngClass]="{'active': i === activeDescriptor, 'g-cursor-pointer': slider.externalLink}"
        caSliderItem
        [typeSlide]="slider?.type"
        [hidden]="i !== activeDescriptor">
        <div [ngClass]="{'banner-item-fog': !slider.hideOpacity}"></div>
        <div
          class="banner-item-video item-media"
          *ngIf="slider?.type === FORM_TYPE?.video && slider?.backgroundVideo?.url">
          <video
            [poster]="slider?.backgroundVideo?.small?.imageUri"
            width="100%"
            height="100%"
            id='videox'
            onloadedmetadata="this.muted = true"
            caVideoAutoplay
            loop>
              <source
              [caMymeType]="slider?.backgroundVideo?.mimeType"
              [src]="slider?.backgroundVideo?.url">
          </video>
        </div>
        <div
          *ngIf="slider?.type !== FORM_TYPE?.video"
          class="banner-item-img item-media"
          [ngClass]="{
            'mobile-right': slider.alignImage === 'right',
            'mobile-left': slider.alignImage === 'left'
          }"
          [caBackgroundurl]="slider?.backgroundImage?.length && slider?.backgroundImage[0]"
        >
        </div>
        <ca-banner-caption
          (updateHoverState)="isHovereDButton($event)"
          class="w-100"
          [slider]="slider"
          [title]="slider?.title"
          [subtitle]="slider?.subtitle"
          [isCollapsed]="isCollapsed">
        </ca-banner-caption>
      </div>
    </ng-container>
  </ca-slider>
</div>
