<div class="g-login-block clearfix">
  <form [formGroup]="frmLogin">

    <div class="row mb-4">
      <div class="col-12">

          <div class="g-brand g-block-center">
            <img src="{{ IMAGES?.logoCa?.src }}" alt="{{ IMAGES?.logoCa?.alt }}">
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-2">
          <div class="g-input-icon">
            <i class="la la-user g-fs-24 g-cl-gray8"></i>
            <ca-input type="text"
                      name="nInputText"
                      [placeholder]="LOGIN_LANG.labels.user"
                      formControlName="username"
                      [error]="validateControl('username')">
            </ca-input>
          </div>
        </div>
        <div class="mb-2">
          <ca-password name="nInputPassword"
                      [placeholder]="LOGIN_LANG.labels.password"
                      formControlName="password"
                      [error]="validateControl('password')">
          </ca-password>
        </div>
        <div class="mb-2">
          <ca-switch formControlName="rememberUser">
            {{ LOGIN_LANG?.labels?.rememberUser }}
          </ca-switch>
        </div>

        <p class="text-center g-fw-bold">
          <a href="javascript:void(0)" [routerLink]="['/recovery']">
            {{ LOGIN_LANG?.labels?.forgotPassword }}
          </a>
        </p>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <button ca-button
                block
                (click)="login()">
          <span>{{ LOGIN_LANG?.buttons?.enter }}</span>
          <span class="g-icon g-icon-right"></span>
        </button>
      </div>
    </div>

    <div *ngIf="invalidUser"
        class="row mt-1">
      <div class="col">
        <ca-alert-error>{{ LOGIN_LANG?.messages?.invalidUser }}</ca-alert-error>
      </div>
    </div>
  </form>
</div>
