<form
[ngClass]="{ 'g-editor-form-body' : !hideTitleComponent }"
[formGroup]="form">

  <div class="mb-2" *ngFor="let component of components;">

    <div class="row align-items-center" *ngIf="!hideTitleComponent && component.name">
      <div class="col-5">
        <h3 class="c-heading-2">{{ component.name }}</h3>
      </div>
      <div class="col-7 text-right"></div>
    </div>

    <!-- <caadmin-form-static *ngIf="component.type !== TYPES_CODE.dynamic"></caadmin-form-static> -->

    <!-- <div *ngIf="component.type === TYPES_CODE.dynamic" class="g-card-form"> -->
    <div class="g-card-form">
      <div class="p-3">
        <div [ngClass]="component.isFloat? 'clearfix mx-n3': 'row'">
          <ng-container
            *ngTemplateOutlet="
              defaultGroup;
              context:{
                $implicit: form,
                property: component
              }">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- INFO: Estructura para componente recursivo -->
<ng-template #defaultGroup let-form let-property="property" let-control="control">
  <div *ngFor="let prop of property.properties"
    class="float-left"
    [ngClass]="!prop.cols ? 'col-12' : ( 'col-' + prop.cols )">
    <div
      dynamicUi
      [config]="prop">
    </div>
    <ng-container
      dynamicField
      [config]="prop"
      [properties]="property"
      [group]="control || form.controls[property.code]">

        <ng-container
          *ngTemplateOutlet="
            formGroup;
            context:{
              $implicit: (control || form.controls[property.code]),
              property: prop
            }">
        </ng-container>

    </ng-container>
  </div>
</ng-template>

<!-- INFO: Decide si es un array o un componente recursivo-->
<ng-template #formGroup let-form let-property="property">
  <div class="noselect" *ngIf="(property?.properties && property.properties.length) || (property.type === 'array')">
    <ng-container
      *ngTemplateOutlet="
        (property.type === 'array' ? switchArrayDesign : defaultGroup );
        context:{
          $implicit: form,
          property: property
        }">
    </ng-container>
  </div>
</ng-template>

<ng-template #switchArrayDesign let-form let-property="property">
  <ng-container
    *ngTemplateOutlet="
      ( property.design === TYPE_DESIGN.tabs ?    arrayGroupTabs :
        property.design === TYPE_DESIGN.nothing?  arrayGroupNothing: arrayGroupDefault );
      context:{
        $implicit: form.controls[property.code],
        property: property
      }">
  </ng-container>
</ng-template>

<!-- INFO: ARRAY DESIGN TABS -->
<ng-template #arrayGroupTabs let-form let-property="property">
  <div class="pb-3">
    <div class="row">
      <ng-container
        *ngTemplateOutlet="add; context: {
        $implicit: form,
        property: property
      }"></ng-container>
    </div>
    <div class="c-tabs-form">
      <div class="c-tabs-form-header container-group-tabs">
        <ul class="c-nav-add" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onDrop(form.controls, $event)">
          <li
            *ngFor="let control of form.controls; let index = index"
            class="c-nav-add-item"
            cdkDrag
            cdkDragBoundary=".container-group-tabs"
            [cdkDragDisabled]="form.controls.length <= 1"
            (click)="selectedSlide(form, control)">
            <a href="javascript:void(0)" class="c-nav-add-link" [ngClass]="{ 'active': control.controls.isSelected.value }">
              {{ property.labelItem }} {{ index + 1 }}
              <i
                *ngIf="form.controls.length > 1 && !disabledAdd(property)"
                class="la la-times-circle g-fs-21"
                [swal]="deleteSwal"
                (confirm)="removeItem(form, index, control.controls.isSelected.value)"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="c-tabs-form-body">
        <ng-container *ngFor="let control of form.controls; let index = index">
          <div class="pt-3 pb-3 pl-3 pr-3 g-bgc-white" [ngClass]="{ 'd-none': !control.controls.isSelected.value }">
            <ng-container
              *ngTemplateOutlet="
              arrayTypeContent;
              context:{
                $implicit: form,
                index: index,
                control: control,
                property: property
              }">
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<!-- INFO: ARRAY DESIGN NOTHING -->
<ng-template #arrayGroupNothing let-form let-property="property">
  <div class="row">
    <ng-container
      *ngTemplateOutlet="add; context: {
      $implicit: form,
      property: property
    }"></ng-container>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let control of form.controls; let index = index; let last = last">
        <ng-container *ngIf="property.typeArray !== TYPE_ARRAY.string">
          <ng-container
          *ngTemplateOutlet="
            arrayTypeContent;
            context:{
              $implicit: form,
              index: index,
              control: control,
              property: property
            }">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="
              remove;
              context:{
                $implicit: form,
                index: index,
                property: property
              }">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="property.typeArray === TYPE_ARRAY.string">
          <div class="row">
            <div class="col">
              <ng-container
                *ngTemplateOutlet="
                  arrayTypeContent;
                  context:{
                    $implicit: form,
                    index: index,
                    control: control,
                    property: property
                  }">
              </ng-container>
            </div>
            <ng-container
              *ngTemplateOutlet="
                remove;
                context:{
                  $implicit: form,
                  index: index,
                  property: property
                }">
            </ng-container>
          </div>
        </ng-container>
        <div
          *ngIf="!last && property.typeArray !== TYPE_ARRAY.string"
          dynamicUi
          [config]="{ type: 'ui-br' }">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- INFO: ARRAY DESIGN VERTICAL -->
<ng-template #arrayGroupDefault let-form let-property="property">
  <div #containerCollapse>
    <div class="row">
      <ng-container
        *ngTemplateOutlet="add; context: {
        $implicit: form,
        property: property,
        container: accordion
      }"></ng-container>
    </div>

    <div class="row">
      <div class="col-12">
        <ca-accordion
          #accordion
          customClass="g-acordion-list-component container-group"
          cdkDropList
          (cdkDropListDropped)="onDrop(form.controls, $event)">
          <ca-accordion-group
            cdkDrag
            [cdkDragDisabled]="form.controls.length <= 1"
            cdkDragBoundary=".container-group"
            *ngFor="let control of form.controls; let index = index">

            <ca-accordion-header cdkDragHandle>
             {{ form.controls.length > 1 ? ('#' + (index + 1)) + '-': '' }} {{ getLabel(control, property) || property.labelItem }}
            </ca-accordion-header>
            <ca-accordion-content>
              <ng-container
                *ngTemplateOutlet="
                  arrayTypeContent;
                  context:{
                    $implicit: form,
                    index: index,
                    control: control,
                    property: property
                  }">
              </ng-container>
              <div class="row">
                <div class="col text-left">
                  <a
                    class="g-link g-link-icon g-link-icon-right pt-1 text-capitalize"
                    href="javascript:void(0);"
                    (click)="collapsedAccordion(accordion)">Collapsar</a>
                </div>
                <div class="col-auto text-right">
                  <ng-container
                    *ngTemplateOutlet="
                      remove;
                      context:{
                        $implicit: form,
                        index: index,
                        property: property
                      }">
                  </ng-container>
                </div>
              </div>
            </ca-accordion-content>
          </ca-accordion-group>
        </ca-accordion>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #arrayTypeContent let-form let-index="index" let-control="control" let-property="property">
  <div [ngClass]="property.isFloat? 'clearfix mx-n3': 'row'">
    <ng-container *ngIf="property.typeArray === TYPE_ARRAY.object">
      <ng-container
        *ngTemplateOutlet="
          defaultGroup;
          context:{
            control: control,
            property: property
          }">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="property.typeArray === TYPE_ARRAY.string">
      <div class="col-12">
        <caadmin-form-input
          [label]="property.labelItem + (index + 1)"
          [code]="index"
          [config]="property"
          [group]="form">
        </caadmin-form-input>
      </div>
    </ng-container>

    <ng-container *ngIf="property.typeArray === TYPE_ARRAY.custom">
      <ng-container *ngIf="!control.controls['type'].value">
        <div class="col-12">
          <div>
            <div class="row">
              <div class="col-12">
                <div class="g-height-350 d-flex flex-column justify-content-center align-items-center p-5">
                  <span class="g-block text-center mb-1">{{ property.typeDescription }}</span>
                  <div class="row w-100 no-gutters justify-content-center">
                    <div class="col-5">
                      <div class="row no-gutters justify-content-between">
                        <ng-container *ngFor="let type of property | customFormat">
                          <button
                            *ngIf="type.label"
                            class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left g-block mt-1"
                            type="button"
                            (click)="generateDynamicControl(control, type, property)">
                            <span>{{ type.label }}</span>
                            <i class="g-fs-20 la" [ngClass]="type.icon"></i>
                          </button>
                          <div *ngIf="!type.label" class="c-indicator-button" (click)="generateDynamicControl(control, type, property)">
                            <i class="la" [ngClass]="type.icon"></i>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="control.controls['type'].value">
        <div class="col-12 text-right mb-2">
          <button
            class="g-btn g-btn-outline g-btn-outline--blue"
            type="button"
            [swal]="changeTypeSwal"
            (confirm)="resetCustomArray(control, property)">Cambiar tipo</button>
        </div>
        <div class="col-12">
          <div [ngClass]="property.isFloat? 'clearfix mx-n3': 'row'">
            <ng-container
              *ngTemplateOutlet="
                defaultGroup;
                context:{
                  control: control,
                  property: property.definitions[control.controls['type'].value]
                }">
            </ng-container>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </div>
</ng-template>

<ng-template #add let-form let-property="property" let-container="container">
  <div class="col-12 text-right mb-2" *ngIf="isIimitItems(form, property) && !disabledAdd(property)">
    <button
      class="g-btn g-btn-primary g-btn-with-icon g-btn-icon-left"
      type="button"
      (click)="addItem(form, property.properties, property, container)">
      <span>Agregar {{ property.labelItem }}</span>
      <i class="la la-plus-circle"></i>
    </button>
  </div>
</ng-template>

<ng-template #remove let-form let-property="property" let-index="index">
  <div class="row" *ngIf="form.controls.length > 1 && !disabledAdd(property)">
    <div class="col-12 text-right">
      <button
        class="g-btn g-btn-with-icon g-btn-outline g-btn-outline--red g-btn-icon-left"
        type="button"
        [swal]="deleteSwal"
        (confirm)="removeItem(form, index)">
        <span>Eliminar</span>
        <i class="la la-trash"></i>
      </button>
    </div>
  </div>
</ng-template>
