<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Cluster
  </caadmin-heading>
  <caadmin-subheading-actions title="Cluster" buttonAdd="Agregar Cluster" (add)="addCluster($event)">
  </caadmin-subheading-actions>
  <caadmin-card-row-actions *ngFor="let cluster of clusters" (edit)="editCluster(cluster)" (delete)="deleteCluster(cluster)">
    <div class="col-3">
      <div class="g-card-info-border">
        <div class="d-flex align-items-center">
          <h4 class="g-fs-15 mb-0">
            {{ cluster.name }}
          </h4>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="g-card-info ">
        <span class="g-fs-13 g-fw-bold">Países</span>
        <span class="">
          <ng-container *ngFor="let country of cluster.countries; let last = last;">
            {{ country.name + (last ? '.' : ',' ) }}
          </ng-container>
        </span>
      </div>
    </div>
  </caadmin-card-row-actions>
</ca-card-wrapper>
