<form [formGroup]="frmNotification">
  <div class="row align-items-center no-gutters mb-2">
    <div class="col-auto g-w-100">
      <label for="dolares" class="g-fw-bold">Nombre</label>
    </div>
    <div class="col">
      <ca-input formControlName="name"></ca-input>
    </div>
  </div>
  <div class="row align-items-center no-gutters mb-2">
    <div class="col-auto g-w-100">
      <label for="dolares" class="g-fw-bold">Página:</label>
    </div>
    <div class="col">
      <caadmin-autocomplete [group]="frmNotification" language="es" code="pageId" request="api/pages/select">
      </caadmin-autocomplete>
    </div>
  </div>
  <div class="row no-gutters mb-2">
    <div class="col-auto g-w-100">
      <label for="dolares" class="g-fw-bold">Vigencia:</label>
    </div>
    <div class="col">
      <ca-datetimepicker formControlName="beginDate"></ca-datetimepicker>
    </div>
  </div>
  <div class="row align-items-center no-gutters mb-2">
    <div class="col-auto g-w-100">
      <label for="dolares" class="g-fw-bold">&nbsp;</label>
    </div>
    <div class="col">
      <ca-datetimepicker formControlName="endDate"></ca-datetimepicker>
    </div>
  </div>
</form>

<caadmin-tabs-language (selected)="changeLanguage($event)">
  <div class="row no-gutters mb-2">
    <div class="col-auto g-w-100 mb-1">
      <label for="titulo" class="g-fw-bold g-fs-15">Título:</label>
    </div>
    <div class="col">
      <ca-input [formControl]="title" placeholder=""></ca-input>
    </div>
  </div>
  <div class="row no-gutters mb-2 mt-3">
    <div class="col-auto g-w-100 mb-1">
      <label for="titulo" class="g-fw-bold g-fs-15">Texto:</label>
    </div>
    <div class="col">
      <textarea class="g-textarea" rows="5" [formControl]="detail"></textarea>
    </div>
  </div>
</caadmin-tabs-language>
<div class="text-right mt-4">
  <button (click)="close()"
    class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left" type="button">
    <span>Cancelar</span>
    <i class="la la-long-arrow-left"></i>
  </button>
  <button (click)="preSave()" class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button">
    <span>Guardar</span>
    <i class="la la-save"></i>
  </button>
</div>
