<div class="ng-content"></div>
<div class="g-component-edit">
  <div class="g-btn-group">
    <button #btnEdit
      type="button"
      class="g-btn g-btn-blue"
      (click)="openModalEdit()">
      <i class="la la-edit"></i>
      Editar
    </button>
  </div>
</div>
