<form [formGroup]="form">
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Dominio:</label>
      </div>
      <div class="col">
        <ca-input formControlName="path" [error]="validateControl('path')" placeholder="Formato: htttp://www.casa-andina.com"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Impuesto:</label>
      </div>
      <div class="col">
        <ca-input formControlName="tax" [Number]="true" [error]="validateControl('tax')" placeholder="1.8"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Promoción todos:</label>
      </div>
      <div class="col">
        <div class="g-select w-100">
          <i class="la la-angle-down"></i>
          <select formControlName="promotionAllId" [ngClass]="{ 'g-input-error' : validateControl('promotionAllId') }">
            <option [ngValue]="null">Seleccionar</option>
            <option [value]="item.value" *ngFor="let item of promotionsAll">
              {{ item.text }}
            </option>
          </select>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Moneda por defecto:</label>
      </div>
      <div class="col">
        <div class="g-select w-100">
          <i class="la la-angle-down"></i>
          <select formControlName="currency" [ngClass]="{ 'g-input-error' : validateControl('currency') }">
            <option [value]="item.codeIso" *ngFor="let item of currencies">
              {{ item.name }} ({{ item.symbol }})
            </option>
          </select>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Idioma por defecto:</label>
      </div>
      <div class="col">
        <div class="g-select w-100">
          <i class="la la-angle-down"></i>
          <select formControlName="language" [ngClass]="{ 'g-input-error' : validateControl('language') }">
            <option [value]="item.code" *ngFor="let item of languages">
              {{ item.description }}
            </option>
          </select>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-2">
      <div class="col-6">
        <ca-checkbox formControlName="hideLanguage">
          Ocultar opción de idioma
        </ca-checkbox>
      </div>
      <div class="col-6">
        <ca-checkbox formControlName="principal" *ngIf="!payload || payload && !payload.isCurrent">
          Dominio principal
        </ca-checkbox>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col text-left">
      <a
        *ngIf="payload && !payload.isCurrent"
        class="g-link g-link-icon g-link-icon-right pt-1 g-cl-red"
        href="javascript:void(0);"
        [swal]="deleteSwal"
        (confirm)="delete()">Eliminar</a>
    </div>
    <div class="col-auto text-right">
      <button class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left" type="button" (click)="close()">
        <span>Cancelar</span>
        <i class="la la-long-arrow-left"></i>
      </button>
      <button class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button" (click)="save()">
        <span>Guardar</span>
        <i class="la la-save"></i>
      </button>
    </div>
  </div>
</form>
