<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="../../css/style.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../css/icon-font.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

    <style>
      /*
        Only applicable for pattern lab
      */

      .sg-main .patternlab-none {
        display: none !important;
      }

      body {
        background-color: white;
      }

      body.body-hidden {
        overflow: visible !important;
      }

      .sg-main-none body.body-hidden {
        overflow: hidden !important;
      }

      .sg-main .g-full-modal, .sg-main .g-modal {
        position: absolute;
      }

      .sg-main .g-ui--view {
        position: relative;
      }

      @media screen and (max-width: 991px) {
        .sg-main .g-full-modal--header,
        .sg-main .g-full-modal--footer,
        .sg-main .g-full-modal--content {
          position: absolute;
        }
      }
    </style>

  </head>
  <body class="{{ bodyClass }}">

