
    <script src="../../js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/carousel.js"></script>

    <!--<script>
      window.onresize = function () {
        fullModal.resize();
        boxToggle.init();
      }
    </script>-->
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  </body>
</html>