<div class="s-modal">

  <div class="row">

    <div class="col">

      {{#modalTitle}}
        {{>atoms-Text}}
      {{/modalTitle}}

    </div>

  </div>

  <div class="row mb-2">

    <div class="col-12 col-sm-6 mb-2 mb-sm-0">

      {{#labelCantidad}}
        {{>atoms-Label}}
      {{/labelCantidad}}

      <div>Componente de slider</div>

    </div>

    <div class="col-12 col-sm-6">

      {{#labelSelectDestino}}
        {{>atoms-Label}}
      {{/labelSelectDestino}}

      {{#SelectDestino}}
        {{>atoms-Select}}
      {{/SelectDestino}}

    </div>

  </div>

  <div class="row mb-2">

    {{#inputsRange}}

      <div class="col-12 col-md-6 {{classModifier}}">

        {{#input}}
          {{>molecules-Range}}
        {{/input}}

      </div>

    {{/inputsRange}}

  </div>

  <div class="row mb-3">

    {{#buttons}}

      <div class="col-sm-12 col-md-4 {{classModifier}}">

        {{#btn}}
          {{>molecules-Button-dropdown}}
        {{/btn}}

      </div>

    {{/buttons}}

  </div>

  <div class="row mb-2">

    <div class="col">

      {{#inputComentarios}}
        {{>molecules-Input-with-label}}
      {{/inputComentarios}}

    </div>

  </div>

  <div class="row mb-2">

    <div class="col">

      <div class="g-box g-bgc-gray7">

        <div class="row">

          <div class="col">

            {{#boxTitle}}
              {{>atoms-Text}}
            {{/boxTitle}}

          </div>

        </div>

        <div class="row">

          {{#inputs}}

            <div class="col-sm-12 col-md-6">

              {{>atoms-Input}}

            </div>

          {{/inputs}}

        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col">

      {{#btnEnviar}}
        {{>atoms-Button}}
      {{/btnEnviar}}

    </div>

  </div>

</div>
