{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#mainNotification}}
      {{>molecules-Main-notification}}
    {{/mainNotification}}

    <div class="p--2">

      {{#dashboardTitle}}
        {{>atoms-Text}}
      {{/dashboardTitle}}

    </div>

    {{#cardWrapper}}
      <div class="g-card-wrapper {{cardWrapperClass}}">

        <div class="row">
          <div class="col-8">

            {{#subheadingPublished}}
              {{>atoms-Section-subheading}}
            {{/subheadingPublished}}

          </div>
          <div class="col-4 text-right">

            {{#seeAllLink}}
              {{>atoms-Link-with-icon}}
            {{/seeAllLink}}

          </div>
        </div>

        {{#pageSummary}}
          {{>organisms-Page-summary}}
        {{/pageSummary}}

      </div>
    {{/cardWrapper}}

  </main>

</div>
