<div class="g-container">
  <div class="row">
    <div class="col-12 my-2">
      <button type="button"
        ca-button
        theme="gray"
        class="g-btn-with-icon g-btn-iconLeft"
        (click)="goBack()">
        <span>{{ GENERAL_LANG?.buttons?.back }}</span>
        <i class="la la-long-arrow-left"></i>
      </button>
    </div>
    <div class="col-12">
      <h3 class="">Escoge la plantilla que deseas y empieza a editar.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mb-4"
      *ngFor="let template of templateList">
      <caadmin-item-template [template]="template"></caadmin-item-template>
    </div>
  </div>
</div>
