{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionPromocionesMes}}
    {{>sections-Section-carousel-promociones}}
  {{/sectionPromocionesMes}}

  {{#sectionPromocionesDestacadas}}
    {{>sections-Section-promociones-destacadas}}
  {{/sectionPromocionesDestacadas}}

  {{#sectionCarouselPromocionesRestaurantes}}
    {{>sections-Section-carousel-promociones-restaurantes}}
  {{/sectionCarouselPromocionesRestaurantes}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
