{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionDescriptorInfoPromociones}}
    {{>sections-Section-descriptor-info-hotel}}
  {{/sectionDescriptorInfoPromociones}}

  {{#sectionCount}}
    {{>sections-Section-count}}
  {{/sectionCount}}

  {{#sectionPromocionesDetalle}}
    {{>sections-Section-promociones-detalle}}
  {{/sectionPromocionesDetalle}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
