
.icon-seo-switcher {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.progress-bar {
  box-sizing: border-box;
  width: 100%;
  height: 8px;
  display: block;
  margin-top: 8px;
  -webkit-appearance: none;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
}

*[contenteditable] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.draftEditor-content[contenteditable=true] {
  -webkit-user-modify: read-write-plaintext-only;
}

.draftStyleDefault-block {
  line-height: 24px;
  height: 24px;
}

.draftEditor-editorContainer {
  background-color: rgba(255,255,255,0);
  border-left: .1px solid transparent;
  position: relative;
  z-index: 1;
}

.draftEditor-editorContainer, .draftEditor-root, .draftEditor-content {
  height: inherit;
  text-align: initial;
}

.inputContainer {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 55, 60);
  position: relative;
  font-family: Arial, Roboto-Regular, HelveticaNeue, sans-serif;
  font-size: 14px;
  cursor: text;
  flex: 0 1 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  padding: 3px 5px;
  outline: 0px;
  transition: border-color 50ms ease-in-out 0s;
}

/deep/.tag-snippet-variable {
  color: rgb(255, 255, 255);
  background-color: rgb(164, 40, 106);
  cursor: default;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 17px;
}

/deep/.tag-snippet-variable[contenteditable=false] {
  cursor: pointer;
}

.g-textarea-box {
  background-color: #ffffff;
  border-color: #a6a6a6;
  padding: 2px 20px;
}
