<form [formGroup]="frmCluster">
  <h2 class="c-heading-1 g-text-center">
    {{ titlePage }}
  </h2>
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Cluster:</label>
      </div>
      <div class="col">
        <ca-input formControlName="name"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Países:</label>
      </div>
      <div class="col">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select #selectCountry>
            <option value="">Seleccionar</option>
            <option *ngFor="let country of countryList;" [value]="country.id">{{ country.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <a href="javascript:void(0);" (click)="addCountry()">+ agregar</a>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
        <div class="col">
          <ul class="c-list-tags ">
              <li class="c-list-tags-item" *ngFor="let country of getSelectedCountries()">
                <a href="javascript:void(0);" class="c-list-tags-link ">
                  {{ country.name }}
                  <i class="la la-close" (click)="deleteCountry(country)"></i>
                </a>
              </li>
            </ul>
        </div>
      </div>
  </div>
  <div class="text-right mt-2">
    <button ca-button (click)="save()" type="button">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
