<ul class="s-list-social {{listSocialClass}}">

  {{#listSocialItem}}
    <li class="s-list-social-item">
      <a href="{{listSocialItemUrl}}" class="s-list-social-link">

        {{#icon}}
          {{>atoms-Icon}}
        {{/icon}}

      </a>
    </li>
  {{/listSocialItem}}

</ul>
