<ul class="s-footer-list {{listFooterClass}}">

  {{#listFooterItem}}
    <li>
      <a href="{{listFooterItemUrl}}">

        {{listFooterItemText}}

      </a>
    </li>
  {{/listFooterItem}}

</ul>
