<div class="row">
  <ng-container *ngFor="let property of properties">
    <div class="col-4" *ngIf="getControl(property)">
      <div class="row align-items-center no-gutters mb-2">
        <div class="col-auto g-w-100" *ngIf="getType(property) != type.CHECKBOX">
          <label for="Categoría" class="g-fw-bold">{{ getLabel(property) }}:</label>
        </div>
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              getType(property) === type.SELECT? select:
              getType(property) === type.CHECKBOX? checkbox:
              getType(property) === type.DATETIME? datetime: text;
              context:{
                $implicit: property
              }">
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row">
  <div class="col text-right">
    <ng-container *ngFor="let modal of modals">
      <button ca-button type="button" class="g-btn-with-icon g-btn-icon-left" (click)="openModal(modal)">
        <i class="la" [ngClass]="modal.icon"></i>
        <span>{{ modal.title }}</span>
      </button>
    </ng-container>
  </div>
</div>

<ng-template #select let-property>
  <div class="g-select">
    <i class="la la-angle-down"></i>
    <select [formControl]="getControl(property)">
      <option [ngValue]="null">{{ getPlaceholder(property) || 'Seleccionar' }}</option>
      <option
        *ngFor="let item of getList(property)"
        [value]="item.value">{{ item.text }}</option>
    </select>
  </div>
</ng-template>

<ng-template #text let-property>
  <ca-input
    [formControl]="getControl(property)">
  </ca-input>
</ng-template>

<ng-template #datetime let-property>
  <ca-datetimepicker
    [formControl]="getControl(property)"
    [placeholder]="getPlaceholder(property)"
    [initDate]="false">
  </ca-datetimepicker>
</ng-template>

<ng-template #checkbox let-property>
  <ca-checkbox
    class="mt-1 d-block"
    [formControl]="getControl(property)">
    {{ getLabel(property) }}
  </ca-checkbox>
</ng-template>
