<div class="row align-items-center {{modifierClass}}">

  {{#col}}
    <div class="{{colClass}}">

      {{#btnWithIcon}}
        {{>atoms-Button-with-icon}}
      {{/btnWithIcon}}

      {{#btnSimple}}
        {{>atoms-Button}}
      {{/btnSimple}}

      {{#btnSelect}}
        {{>molecules-Button-select}}
      {{/btnSelect}}

    </div>
  {{/col}}

</div>
