<section class="g-section {{modifierClass}}">

  <div class="container">

    <div class="g-box g-box--corners g-box--corners-tr padding-xs-2 padding-md-4">

      {{#corners}}
        {{>molecules-Corners}}
      {{/corners}}

      <div class="row mb-2">

        <div class="col-sm-12 col-md-4 col-xs-3">

          {{#dropDown}}
            {{>molecules-Button-dropdown}}
          {{/dropDown}}

        </div>

      </div>

      <div class="row">

        <div class="col">

          {{#tab}}
            {{>organisms-Tab}}
          {{/tab}}

        </div>

      </div>

    </div>

  </div>

</section>
