<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Notificaciones
  </caadmin-heading>
  <caadmin-subheading-actions title="Notificaciones" buttonAdd="Agregar Alerta" (add)="addAlert()">
  </caadmin-subheading-actions>
  <caadmin-card-row-actions *ngFor="let alert of alertsPaginated?.content" (edit)="editAlert(alert)"
    (delete)="deleteAlert(alert)">
    <div class="col-3">
      <div class="g-card-info-border">
        <div class="d-flex align-items-center">
          <h4 class="g-fs-15 mb-0">
            {{ alert.page }}
          </h4>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="g-card-info ">
        <span class="g-fs-13 g-fw-bold">Título</span>
        <span class="">
          {{ alert.name }}
        </span>
      </div>
    </div>
    <div class="col-2">
      <div class="g-card-info ">
        <span class="g-fs-13 g-fw-bold">Inicio</span>
        <span class="g-info-w-icon ">
          <i class="la la-calendar"></i>
          {{ alert.beginDate | date:'dd/MM/yyyy HH:mm':'UTC-10' }}
        </span>
      </div>
    </div>
    <div class="col-2">
      <div class="g-card-info ">
        <span class="g-fs-13 g-fw-bold">Fin</span>
        <span class="g-info-w-icon ">
          <i class="la la-calendar"></i>
          {{ alert.endDate | date:'dd/MM/yyyy HH:mm':'UTC-10' }}
        </span>
      </div>
    </div>
  </caadmin-card-row-actions>
  <ca-paginator [(page)]="pageCurrent" [collectionSize]="alertsPaginated?.totalElements" (pageChange)="search()">
  </ca-paginator>
</ca-card-wrapper>
