<div [formGroup]="form">
  <div class="row align-items-center no-gutters mb-2" *ngIf="payload?.actions?.length">
    <div class="col-2 mr-2">
      <label for="titulo" class="g-fw-bold g-fs-15">Acción:</label>
    </div>
    <div class="col">
      <div class="g-select w-100">
        <i class="la la-angle-down"></i>
        <select formControlName="action">
          <option [ngValue]="null"></option>
          <option [value]="item.value" *ngFor="let item of payload.actions">
            {{ item.text }}
          </option>
        </select>
        <span></span>
      </div>
    </div>
  </div>

  <div class="row align-items-center no-gutters mb-2" *ngIf="!payload?.current || (payload.current && payload.current.action !== MENU_SITE_ACTION.BOOKING)">
    <div class="col-2 mr-2">
      <label for="titulo" class="g-fw-bold g-fs-15">Página:</label>
    </div>
    <div class="col">
      <caadmin-autocomplete
        [group]="form"
        [language]="payload?.language"
        code="page"
        request="api/pages/select/with/external">
      </caadmin-autocomplete>
    </div>
  </div>

  <div class="row align-items-center no-gutters mb-2">
    <div class="col-2 mr-2">
      <label for="titulo" class="g-fw-bold g-fs-15">Nombre:</label>
    </div>
    <div class="col">
      <ca-input formControlName="name"></ca-input>
    </div>
  </div>

  <ng-container *ngIf="payload.type === MENU_SITE_TYPE.FOOTER && payload?.currentParent && !payload.children?.length">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-2 mr-2">
        <label for="titulo" class="g-fw-bold g-fs-15">Teléfono:</label>
      </div>
      <div class="col">
        <ca-input formControlName="phone"></ca-input>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-2">
      <div class="col-2 mr-2">
        <label for="titulo" class="g-fw-bold g-fs-15">Correo electrónico:</label>
      </div>
      <div class="col">
        <ca-input formControlName="email"></ca-input>
      </div>
    </div>
  </ng-container>

  <ca-checkbox
    *ngIf="
      (payload.type === MENU_SITE_TYPE.HEADER && payload.currentParent?.position === 1 && !payload.children?.length) ||
      (payload.type === MENU_SITE_TYPE.FOOTER && !payload.currentParent && !payload.children?.length)
      "
    formControlName="footer">Pie del sección
  </ca-checkbox>
</div>
<div class="text-right mt-4">
  <button (click)="close()" class="mr-2 g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon g-btn-icon-left"
    type="button">
    <span>Cancelar</span>
    <i class="la la-long-arrow-left"></i>
  </button>
  <button (click)="save()" class="g-btn g-btn-with-icon g-btn-primary g-btn-with-icon g-btn-icon-left" type="button">
    <span>Guardar</span>
    <i class="la la-save"></i>
  </button>
</div>
