<div class="row">
  <div class="col-12">
    <div class="g-box g-box--destinations">
      <ca-navbar
        [tabs]="OUR_DESTINATIONS_TABS"
        type="boton"
        classLi="s-tab-nav-item"
        (watchActiveVal)="onChangeTab($event)">
        <ca-navbar-content
          class="s-tab-pane"
          [ngClass]="{'active': 0 === activeTab}">
          <ca-destinations [destinations]="destinations"></ca-destinations>
        </ca-navbar-content>
        <ca-navbar-content
          class="s-tab-pane"
          [ngClass]="{'active': 1 === activeTab}">
          <ca-map-destinations
            [mapDestinations]="destinationsMap"
            [language]="language"
            [descriptors]="descriptors">
          </ca-map-destinations>
        </ca-navbar-content>
        <ca-navbar-content
          class="s-tab-pane"
          [ngClass]="{'active': 2 === activeTab}">
          <ca-circuits-destination [circuits]="circuits"></ca-circuits-destination>
        </ca-navbar-content>
      </ca-navbar>
    </div>
  </div>
</div>
