<div class="s-map-wrapper ">
  <div class="s-map-map ">
    <div class="s-map-img">
      <img class="g-img-fluid" [src]="BUCKET_SYSTEM + 'images/nuestros-destinos/mapa.svg'" alt="">
      <ng-container *ngFor="let circuit of CIRCUITS_INFO?.circuits; let i = index">
        <div
          class="s-map-circuit"
          *ngIf="circuits[circuit.key] && circuits[circuit.key].title"
          [ngClass]="{active: i === circuitActiveIndex}">
          <div
            class="s-map-road"
            [ngClass]="circuit.class">
            <img class="" [src]="BUCKET_SYSTEM + circuit.pathCircuit" alt="">
          </div>
          <div
            *ngFor="let place of circuit.places"
            class="s-map-item"
            [ngClass]="place.class">
            <a href="#" class="s-map-link circuit" (click)="setActive(circuit, i)" href="javascript:void(0)">
              <i class="caicon-pin" style="color: #d69c4f;"></i>
            </a>
            <span class="">
              {{ place?.name }}
            </span>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  <div class="s-map-info d-block" [ngClass]="{'d-md-none': isOpenGeneralDetail}">
    <ca-section-header [title]="CIRCUITS_INFO.title" type="black"></ca-section-header>
    <p class="g-fs-15 g-fs-md-18 g-fw-light mb-2">
     {{ CIRCUITS_INFO?.description }}
    </p>

    <ng-container *ngFor="let circuit of CIRCUITS_INFO?.circuits; let i = index">
      <div class="mb-2" *ngIf="circuits[circuit.key] && circuits[circuit.key].title">
        <a class="g-link g-link-icon g-link-icon-right" (click)="setActive(circuit, i)" href="javascript:void(0)">
          {{ circuits[circuit.key].title }}
          <i class="la la-arrow-right"></i>
        </a>
        <ca-map-card-detail
          class="s-map-info d-block d-md-none"
          *ngIf="i === circuitActiveIndex"
          [data]="circuitActive">
        </ca-map-card-detail>
      </div>
    </ng-container>

  </div>
  <ca-map-card-detail
    class="s-map-info d-none d-md-block"
    *ngIf="isOpenGeneralDetail"
    [path]="BUCKET_SYSTEM"
    [data]="circuitActive"
    (activeCard)="onCloseDetail($event)">
  </ca-map-card-detail>
</div>
