<figure class="s-figure-gallery {{figureGalleryClass}}">

  {{#figureGalleryImage}}
    {{>atoms-Image}}
  {{/figureGalleryImage}}

  {{#figureGalleryIcon}}
    {{>atoms-Icon}}
  {{/figureGalleryIcon}}

</figure>
