.cSwLOd {
  background-color: white;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

// .content-snippet-preview {
//   width: 640px;
//   max-width: 100%;
//   box-sizing: border-box;
//   overflow: auto;
//   padding: 0px 20px;
// }

// .width-snippet-preview {
//   width: 600px;
// }


// .gxYxWE {
//   white-space: nowrap;
// }

// .hnhHRX::before {
//   display: block;
//   position: absolute;
//   top: -3px;
//   left: -22px;
//   width: 24px;
//   height: 24px;
//   background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%221792%22%20height%3D%221…19-45t45-19%2045%2019l448%20448q19%2019%2019%2045z%22%20%2F%3E%3C%2Fsvg%3E);
//   background-size: 25px;
//   content: "";
// }

// .screen-reader-text {
//   clip: rect(1px, 1px, 1px, 1px);
//   position: absolute;
//   height: 1px;
//   width: 1px;
//   overflow: hidden;
// }

// .snippet-preview-title-content {
//   cursor: pointer;
//   position: relative;
// }

// .snippet-preview-title-nowrap {
//   white-space: nowrap;
// }

// .snippet-preview-title {
//   color: rgb(30, 15, 190);
//   font-size: 18px;
//   line-height: 1.2;
//   font-weight: normal;
//   display: inline-block;
//   max-width: 600px;
//   vertical-align: top;
//   text-overflow: ellipsis;
//   text-decoration: none;
//   margin: 0px;
//   overflow: hidden;
// }

// .snippet-preview-url-content {
//   display: inline-block;
//   color: rgb(0, 102, 33);
//   cursor: pointer;
//   position: relative;
//   max-width: 90%;
//   white-space: nowrap;
//   font-size: 14px;
// }

// .snippet-preview-url {
//   display: inline-block;
//   color: rgb(0, 102, 33);
//   cursor: pointer;
//   position: relative;
//   white-space: nowrap;
//   font-size: 14px;
//   text-overflow: ellipsis;
//   max-width: 100%;
//   overflow: hidden;
// }

// .snippet-preview-url-arrow {
//   display: inline-block;
//   margin-top: 6px;
//   margin-left: 6px;
//   vertical-align: top;
//   border-top: 5px solid rgb(0, 102, 33);
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
// }

// .snippet-preview-description {
//   color: rgb(84, 84, 84);
//   cursor: pointer;
//   position: relative;
//   max-width: 600px;
//   font-size: 13px;
// }

// .snippet-preview-description-content::before {
//   display: block;
//   position: absolute;
//   top: -3px;
//   left: -22px;
//   width: 24px;
//   height: 24px;
//   background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%221792%22%20height%3D%221…19-45t45-19%2045%2019l448%20448q19%2019%2019%2045z%22%20%2F%3E%3C%2Fsvg%3E);
//   background-size: 25px;
//   content: "";
// }


.metadata-group__display {
  position: relative;
  background: #fff;
}

.metadata-group__title {
  font-size: 14px;
  letter-spacing: 0.015em;
  color: #A3B3CA;
  font-weight: 500;
}

.metadata-group__title span {
  position: relative;
  background: #fff;
  padding-right: 12px;
}

.metadata-group__title:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 1px;
  right: 0;
  background: #E0E7F1;
}

.card-seo-google {
    position: relative;
    display: block;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    margin: 0 -10px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card-seo-google-desktop {
  width: 100%;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.card-seo-google__title {
    display: block;
    letter-spacing: normal;
    color: #1a0dab;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-seo-google__title-desktop {
  font-size: 18px;
  line-height: 1.2;
}

.card-seo-google__url {
    display: block;
    height: 17px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    padding-bottom: 22px;
    margin-bottom: 6px;
}

.card-seo-google__url-desktop {
  border: none;
  padding: 0;
  margin: 0;
}

.card-seo-google__url-title {
  position: relative;
  top: -2px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  color: #006621;
}

.card-seo-google__url-arrow {
    display: none;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 3px;
    border-width: 5px 4px 0 4px;
    border-style: solid;
    border-color: #006621 transparent;
}

.card-seo-google__url-arrow-desktop {
  display: inline-block;
}

.card-seo-google__description {
  color: #545454;
  font-size: 13px;
  line-height: 1.4;
  word-wrap: break-word;
}

