<div class="row">
  <div class="col-12">
    <section >
      <div >
        <div class="mb-1 g-fw-bold">Canonical</div>
        <div>
          <input class="g-input g-input-box" (input)="changeCanonical($event)" [value]="seo.canonical || ''">
        </div>
      </div>
    </section>
  </div>
</div>
