<div class="side {{classLeft}}">
  <div class="corner corner-top-left"></div>
  <div class="corner corner-bottom-left"></div>
</div>

<div class="side {{classRight}}">
  <div class="corner corner-top-right"></div>
  <div class="corner corner-bottom-right"></div>
</div>