<div class="g-feature {{classModifier}}">

  <div class="g-feature-content">

    {{#info}}

      {{#icon}}
        {{>atoms-Icon}}
      {{/icon}}

      <div class="g-feature-info">
        <span class="d-inline-block d-sm-block">{{textNormal}}</span>
        <span>{{textBold}}</span>
      </div>

    {{/info}}

  </div>

</div>
