<div class="row align-items-center mt-4">
  <div class="col-3 text-right">

    {{#img}}
      {{>atoms-Image}}
    {{/img}}

  </div>

  <div class="col-9">

    {{#title}}
      {{>atoms-Text}}
    {{/title}}

    {{#linkWithIcon}}
      {{>atoms-Link-with-icon}}
    {{/linkWithIcon}}

  </div>
</div>
