<h1 class="p-2 c-heading-title">
  Bienvenido, {{ fullname }}
</h1>

<div class="d-flex flex-wrap justify-content-center mx-4">
  <div
    *ngFor="let item of menu"
    class="g-card g-card-home mr-2 mb-2"
    [routerLink]="item?.route">
    <div class="g-card-body">
      <i class="la" [ngClass]="item?.icon"></i>
      <span>{{ item?.name }}</span>
    </div>
  </div>
</div>
