<div class="g-box {{classModifier}}">

  <div class="row p-0">

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-4 g-box--promociones-img" style="background-image: url({{urlImage}});">

      {{#tag}}
        {{>molecules-Tag}}
      {{/tag}}

    </div>

    <div class="col-xs-12 col-md-8 col-lg-9 col-xl-8 pt-1-5 pb-1-5">

      <div class="row g-h-100">

        <div class="col-xs-12 col-md-12 col-lg-8 pl-1-5 pl-md-3">

          {{#info}}

            {{#title}}
              {{>atoms-Text}}
            {{/title}}

            {{#text}}
              {{>atoms-Text}}
            {{/text}}

          {{/info}}

        </div>

        <div class="col-xs-12 col-md-6 offset-md-6 col-lg-4 offset-lg-0 pb-1 d-flex flex-column justify-content-end">

          {{#price}}

            {{#content}}
              {{>atoms-Text}}
            {{/content}}

            {{#button}}
              {{>atoms-Button}}
            {{/button}}

            {{#link}}
              {{>atoms-Link-with-icon}}
            {{/link}}

          {{/price}}

        </div>

      </div>

    </div>

  </div>

</div>
