<div class="g-datepicker" (mouseleave)="close()">
  <span class="g-info-w-icon">
    <i class="la la-calendar-o"></i>
  </span>
  <input
  class="g-input"
  [ngClass]="{'g-input-error': error}"
  [value]="value && date? (value | date:'dd/MM/yyyy HH:mm') : ''"
  [placeholder]="placeholder || ''"
  (click)="focusInput()"
  readonly="true">
  <i class="la" [ngClass]="!isCollapsed ? 'la-angle-up' : 'la-angle-down'"></i>
  <ng-container *ngIf="!timeRange; else timeRangeTemplate">
    <ng-container *ngTemplateOutlet="bodyCollapse"></ng-container>
  </ng-container>
</div>

<ng-template #bodyCollapse>
  <div class="row no-gutters dropdown-timepicker" [collapse]="isCollapsed" [ngClass]="{ 'active': !isCollapsed }">
    <div class="col-sm mb-2 mb-sm-0 g-br-1-so-gray5">
      <ngb-datepicker #d [(ngModel)]="date" [startDate]="date"></ngb-datepicker>
    </div>
    <div class="col-sm text-center">
      <label class="ngb-dp-date-label">{{ valueTmp && date.year? (valueTmp | date:'dd/MM/yyyy HH:mm') : 'Sin fecha.' }}</label>
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
      <div class="text-center mt-2">
        <button (click)="apply()" class="g-btn g-btn-with-icon g-btn-outline g-btn-outline--primary g-btn-with-icon"
          type="button">
          <span>Aplicar</span>
        </button>
        <button (click)="clean()" class="mt-1 g-btn g-btn-with-icon g-btn-outline g-btn-outline--blue g-btn-with-icon"
          type="button">
          <span>Limpiar</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #timeRangeTemplate>
  <div class="row no-gutters dropdown-timepicker" [collapse]="isCollapsed" [ngClass]="{ 'active': !isCollapsed }">
    <div class="col-sm-6 mb-2 mb-sm-0 text-center">
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    </div>
    <div class="col-sm-6 text-center">
      <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
    </div>
    <div class="col-12">
      <div class="text-center mt-4">
        <button (click)="close()" class="g-btn g-btn-with-icon g-btn-outline g-btn-outline--gray g-btn-with-icon"
          type="button">
          <span>Cerrar</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
