<div class="{{classModifier}}">
  <i class="la {{iconClassModifier}} g-fs-24 g-cursor-pointer"></i>
  <input class="g-input {{inputClassModifier}}" type="{{type}}" name="{{name}}" placeholder="{{placeHolder}}">
</div>