<div class="row justify-content-center align-items-center">
  <div class="col-md-7">
    <p class="g-fs-14 g-fs-md-18" [innerHTML]="data.descriptioLeft">
      I focus a lot on helping the first time or inexperienced traveler head out prepared and confident in themselves.
      Starting out as a old traveler can be intimidating. How do you jump into the gigantic travel fray and survive? How
      can you learn to love delays and long lines?<br>What exactly does that mean? It means being confident in what you
      are doing, where you are going and how you are getting there. basically, it means being comfortable with yourself
      when you leave home. OK, so what. How do you do that? Follow these speedy tips.
    </p>
    <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book mb-0"  [innerHTML]="data.descriptioLeft">
      Hoteles estratégicamente ubicados con infraestructura moderna e innovadora y servicio proactivo
    </h3>
  </div>
  <div class="col-md-1 text-center py-1">
    <i class="la la-angle-right g-fs-30 d-none d-md-inline g-cl-primary"></i>
    <i class="la la-angle-down g-fs-16 d-inline d-md-none g-cl-primary"></i>
  </div>
  <div class="col-md-4">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="g-fs-13 g-text-uppercase mb-0">
          Valoración <span class="g-f-nexa-slab g-fw-book g-block g-fs-16 g-fs-sm-20 g-fs-md-16 g-fs-xl-20"
            style="color: #002855;">Excelente</span>
        </h4>
      </div>
      <div class="col text-right">
        <div class="g-dropDown ">
          <button class="g-btn g-btn-with-icon g-btn-assessment g-btn-with-icon--dropdown" type="button"
            style="background-color: #002855;">
            <span>4.5<span>/5</span></span>
            <i class="la la la-angle-down"></i>
          </button>
          <div class="g-box g-dropDown--box g-box-shadow3 text-left">
            <div class="px-1">
              <p class="g-fs-20 g-text-normal g-lg-1 mb-2">
                TOP 5% de los Hoteles en Arequipa
              </p>
            </div>
            <div class="p-3 g-bgc-gray7 ">
              <div class="row">
                <div class="col">
                  TripAdvisor
                </div>
                <div class="col-3 text-center">
                  4.5/5
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Booking.com
                </div>
                <div class="col-3 text-center">
                  9.0/10
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Hotels.com
                </div>
                <div class="col-3 text-center">
                  8.8/10
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Expedia
                </div>
                <div class="col-3 text-center">
                  4.5/5
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col descriptor-info-ca--buttons">
        <div class="g-btn g-btn-black ">
          <i class="la la-map-marker"></i>
          Ubicación
        </div>
        <div class="g-btn g-btn-black ">
          <i class="la la-automobile"></i>
          Traslados
        </div>
        <div class="g-btn g-btn-black ">
          <i class="la la-street-view"></i>
          360
        </div>
      </div>
    </div>
  </div>
</div>
