{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionReservation}}
    {{>sections-Section-reservation}}
  {{/sectionReservation}}

  {{#sectionFeatures}}
    {{>sections-Section-features}}
  {{/sectionFeatures}}

  {{#sectionPorque}}
    {{>sections-Section-porque-ca}}
  {{/sectionPorque}}

  {{#sectionBeneficies}}
    {{>sections-Section-beneficies}}
  {{/sectionBeneficies}}

  {{#sectionSales}}
    {{>sections-Section-carousel-sales}}
  {{/sectionSales}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
