<casite-header
  *ngIf="showLayout"
  [header]="header"
  [language]="language"
  [descriptorsIdColor]="descriptorsIdColor">
</casite-header>
<router-outlet></router-outlet>
<casite-footer
  *ngIf="showLayout"
  [footer]="footer"
  [language]="language">
</casite-footer>

<casite-fab-contact></casite-fab-contact>
