<ul class="{{navContactClass}}">

  {{#navContactItem}}
    <li class="s-nav-sublist-item">
      <a href="{{navContactItemLink}}" class="s-nav-sublist-link">

        {{#icon}}
          {{>atoms-Icon}}
        {{/icon}}

        {{#text}}
          {{>atoms-Text}}
        {{/text}}

      </a>
    </li>
  {{/navContactItem}}

</ul>
