<div class="container">
  <ca-section-header [title]="title" type="black"></ca-section-header>
</div>
<ng-container *ngIf="width > 991">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeThree
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width > 575 && width < 992">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeTwo
      }">
  </ng-container>
</ng-container>

<ng-container *ngIf="width < 576">
  <ng-container
    *ngTemplateOutlet="
      carousel;
      context:{
        $implicit: groupSizeOne
      }">
  </ng-container>
</ng-container>

<ng-template #carousel let-group>
  <div class="mt-2 g-overflow-hidden">
    <div class="g-carousel g-carousel-gallery">
      <div
        class="g-carousel-content"
        style="overflow: hidden">
        <div class="g-carousel-content-before"></div>
        <div class="g-semi-fluid-container pl-0" *ngIf="group.length">
          <ca-carousel-controls
            #controls
            [lgth]="group.length"
            [isActiveModal]="modalStatus"
            [animation]="true"
            color="black">
          </ca-carousel-controls>
          <div
            class="d-flex"
            #nav
            style="transition: transform 1500ms ease 0s;"
            [ngStyle]="{'height': height, 'transform': elementWidthInPx, 'transition': transitionTime}">
            <div class="g-carousel-content--wrap">
              <div
                class="carousel-group-item"
                caCarouselHover
                *ngFor="let itemGroup of group; let i = index"
                [ngStyle]="{'padding-left': i === activeSlide ? '0' : '30px'}">
                <div class="g-carousel-content-wrapper g-carousel-content-wrapper--no-gutters">
                  <ng-container *ngFor="let item of itemGroup; let i = index">
                    <div
                      class="carousel-item carousel-item--sm active"
                      >
                      <figure
                        (click)="openGallery(i, group[0].length)"
                        class="s-figure-gallery s-img-extend">
                        <ng-container *ngIf="item.type === FORM_TYPE?.image" >
                          <img
                            [caImgSrcset]="item?.backgroundImage[0]"
                            />
                            <i class="la la-arrows"></i>
                        </ng-container>
                        <ng-container *ngIf="item.type === FORM_TYPE?.video">
                          <img
                            [src]="item?.backgroundVideo?.large?.imageUri"
                            [alt]="item?.backgroundVideo?.properties?.alt"/>
                          <i class="la la-play"></i>
                      </ng-container>
                      </figure>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-carousel-content-after"></div>
      </div>
    </div>
  </div>
</ng-template>


