<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">

      <div class="col-md-5">

        {{#imageBgBox}}
          {{>organisms-Image-bg-box}}
        {{/imageBgBox}}

      </div>

      <div class="col-md-7">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

        {{#tabInTab}}
          {{>organisms-Tab-in-tab}}
        {{/tabInTab}}

      </div>

    </div>

  </div>
</section>
