<section class="g-section {{modifierClass}}">
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{#title}}
          {{>atoms-Text}}
        {{/title}}

        {{#tab}}
          {{>organisms-Tab}}
        {{/tab}}

        {{#bottomButton}}
          <div class="row justify-content-center mt-3">
            <div class="col-auto">
              {{>atoms-Button}}
            </div>
          </div>
        {{/bottomButton}}

      </div>
    </div>

  </div>
</section>
