<div class="s-card-wrapper {{classModifier}}">

  {{#fog}}
    {{>molecules-Card-fog}}
  {{/fog}}

  {{#tag}}
    {{>molecules-Tag}}
  {{/tag}}

  {{#tagSale}}
    {{>molecules-Tag}}
  {{/tagSale}}

  <figure style="background-image: url({{urlImage}});">

    <figcaption>

      {{#info}}
        {{>molecules-Card-info}}
      {{/info}}

    </figcaption>

  </figure>

</div>
