<div class="s-nav-mobile" [ngClass]="{ 'active': activeSub.getValue() }">
  <nav class="s-nav-controls">
    <div class="s-nav-hamburguer" (click)="toggle()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="s-nav-brand" (click)="goToHome()">
      <img class="" src="assets/images/ca-brand-white.png" alt="Casa Andina Hotels">
    </div>
    <div class="s-nav-button" *ngIf="showBooking">
      <button class="g-btn g-btn-primary" type="button" (click)="openBooking()">
        {{ RESERVE_ACTIONS[language].reserveNow }}
      </button>
    </div>
    <ul class="s-nav-contact" *ngIf="contactConfig">
      <li class="s-nav-sublist-item">
        <a
          [href]="'mailto:' + contactConfig['mails' + (language | titlecase)]"
          class="s-nav-sublist-link">
          <i class="la la-envelope"></i>
        </a>
      </li>
      <li class="s-nav-sublist-item">
        <a
          [href]="'tel:' + contactConfig['phone' + (language | titlecase)]"
          class="s-nav-sublist-link"
          (click)="contactInfoToggle()">
          <i class="la la-phone"></i>
        </a>
        <div class="s-nav-sublist-item-info d-none d-sm-block d-xl-none"
            [ngClass]="{ 'active': openContactInfo.getValue() }">
          <a [href]="'tel:' + contactConfig['phone' + (language | titlecase)]">
            <i class="la la-phone"></i> {{ contactConfig['phone' + (language | titlecase)] }}
          </a>
        </div>
      </li>
      <li class="s-nav-sublist-item">
        <a
          href="javascript:void(0)"
          (click)="goContactForm()"
          class="s-nav-sublist-link">
          <i class="la la-edit"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
