<div class="g-editor-form-wrapper ">
  <div class="g-editor-form-header ">
    <div class="g-editor-form-header-border"></div>
    <ul class="c-nav-tab ">
      <li class="c-nav-tab-item" *ngFor="let item of LANGUAGE_TYPES" (click)="changeLanguage(item.code)">
        <a href="javascript:void(0)" class="c-nav-tab-link" [ngClass]="{ 'active': language === item.code }">
          {{ item.description }}
        </a>
      </li>
    </ul>
  </div>
  <div class="g-editor-form-body" [ngClass]="[bgc,classBody]">
    <ng-content></ng-content>
  </div>
</div>
