{{#info}}
  {{>molecules-Info-text}}
{{/info}}

{{#link}}
  {{>atoms-Link-with-icon}}
{{/link}}

{{#awards}}
  <div class="d-flex flex-wrap mt-2">

    {{#awardsImg}}
      <div class="m-1 g-w-80 text-center">

        {{>atoms-Image}}

      </div>
    {{/awardsImg}}

  </div>
{{/awards}}

{{#windowBook}}
  {{>molecules-Window-book}}
{{/windowBook}}
