<div
  class="g-feature-content"
  [ngClass]="{'g-feature--benefits': type === FEATURE_TYPES.benefit}"
  >
  <i
    [ngClass]="data?.icon"
    [ngStyle]="{'color': descriptorInfo?.color}"></i>
  <div class="g-feature-info">
    <span class="d-inline-block d-sm-block">{{ data?.title }}&ensp;</span>
    <span>{{ data?.subtitle }}</span>
  </div>
</div>
