<div class="g-btn-dropdown" [ngClass]="{ 'active': !isCollapsed }" (mouseleave)="autoClose()">
  <div class="g-btn-dropdown-inner" (click)="toggle()">
    <span class="g-info-w-icon">
      <i *ngIf="icon"
        class="la"
        [ngClass]="icon"></i>
      {{ placeholder }} <span class="ml-1" *ngIf="(model && model?.length)">({{ model?.length }})</span>
    </span>
  </div>
  <ul class="g-options-list g-options-list-checkbox"
    [collapse]="isCollapsed">
    <li *ngFor="let item of dataList">
      <ca-checkbox [(ngModel)]="item.checked" (change)="selectedItem(item)">{{ item[textField] }}</ca-checkbox>
    </li>
  </ul>
</div>
