<div class="container">

  {{#navFormCloseButton}}
    <div class="row mb-3">
      <div class="col text-right">
        <a href="{{navFormCloseButtonUrl}}" class="s-nav-list-link {{navFormCloseButtonClass}}">

          {{#navFormCloseButtonIcon}}
            {{>atoms-Icon}}
          {{/navFormCloseButtonIcon}}

        </a>
      </div>
    </div>
  {{/navFormCloseButton}}

  <form action="">
    <div class="row">

      {{#navFormCol}}
        <div class="{{navFormColClass}}">

          {{#controlContainer}}
            <div class="{{controlContainerClass}}">

              {{#formGroupInput}}
                {{>molecules-Input-with-label}}
              {{/formGroupInput}}

              {{#innerCol}}
                <div class="{{innerColClass}}">

                  {{#dropdownButton}}
                    {{>molecules-Input-date}}
                  {{/dropdownButton}}

                </div>
              {{/innerCol}}

              {{#button}}
                {{>atoms-Button}}
              {{/button}}

              {{#linkWithIcon}}
                {{>atoms-Link-with-icon}}
              {{/linkWithIcon}}

            </div>
          {{/controlContainer}}

        </div>
      {{/navFormCol}}

    </div>
  </form>
</div>
