<ul class="s-nav-list {{navListModifierClass}}">

  {{#navListItem}}
    <li class="s-nav-list-item {{navListItemModifierClass}}">

      {{#navListLink}}
        <a href="{{navListLinkUrl}}" class="s-nav-list-link {{navListLinkClass}}">

          {{#icon}}
            {{>atoms-Icon}}
          {{/icon}}

          {{navListLinkText}}

        </a>
      {{/navListLink}}

      {{#navSublistWrapper}}
        {{>organisms-Nav-sublist-wrapper}}
      {{/navSublistWrapper}}

      {{#navSublist}}
        {{>organisms-Nav-sublist}}
      {{/navSublist}}

      {{#select}}
        {{>atoms-Select}}
      {{/select}}

    </li>
  {{/navListItem}}

</ul>
