<ul class="s-nav-sublist {{navSublistClass}}">

  {{#navSublistItem}}
    <li class="s-nav-sublist-item {{navSublistItemClass}}">

      {{#navSublistLink}}
        <a href="navSublistLinkUrl" class="s-nav-sublist-link {{navSublistLinkClass}}" {{{navSublistLinkStyle}}}>

          {{#icon}}
            {{>atoms-Icon}}
          {{/icon}}

          {{#text}}
            {{>atoms-Text}}
          {{/text}}

          {{navSublistLinkText}}

        </a>
      {{/navSublistLink}}

      {{#navSublistInner}}
        <ul class="s-nav-sublist {{navSublistInnerClass}}">

          {{#navSublistInnerItem}}
            <li class="s-nav-sublist-item {{navSublistInnerItemClass}}">

              {{#navSublistInnerLink}}
                <a href="navSublistInnerLinkUrl" class="s-nav-sublist-link {{navSublistInnerLinkClass}}">

                  {{#icon}}
                    {{>atoms-Icon}}
                  {{/icon}}

                  {{#text}}
                    {{>atoms-Text}}
                  {{/text}}

                  {{navSublistInnerLinkText}}

                </a>
              {{/navSublistInnerLink}}

            </li>
          {{/navSublistInnerItem}}

        </ul>
      {{/navSublistInner}}

    </li>
  {{/navSublistItem}}

</ul>
