<div class="s-nav-mobile {{navMobileModifierClass}}">
  <nav class="s-nav-controls">

    {{#hamburguer}}
      {{>molecules-Hamburguer}}
    {{/hamburguer}}

    {{#navBrand}}
      {{>molecules-Nav-brand}}
    {{/navBrand}}

    {{#navButton}}
      {{>molecules-Nav-button}}
    {{/navButton}}

    {{#navContact}}
      {{>molecules-Nav-contact}}
    {{/navContact}}

  </nav>
</div>
