<div class="s-nav-wrapper {{navWrapperModifierClass}}">
  <div class="container">
    <nav class="s-nav">

      {{#navList}}
        {{>organisms-Nav-list}}
      {{/navList}}

    </nav>
  </div>
</div>
