<div class="g-modal">

  <div class="g-modal-dialog {{modifierClass}}">

    <div class="g-modal-content">

      <div class="g-modal-body {{modifierBodyClass}}">

        <div class="d-flex pl-3 pr-3 mb-1">

          <div class="col">

            {{#btnBack}}

              {{>atoms-Button-with-icon}}

            {{/btnBack}}

          </div>

          <div class="col text-right">

            {{#btnSelect}}

              {{>atoms-Button}}

            {{/btnSelect}}

          </div>

        </div>

        {{#navTabs}}
          {{>molecules-Nav-tabs}}
        {{/navTabs}}

        <div class="g-tabs-content">

          <div class="g-tab-pane">

            <div class="g-card-wrapper {{modifierCardClass}}">

              <div class="row">

                {{#components}}

                  <div class="col-3 mb-2">

                    {{>molecules-Component-select}}

                  </div>

                {{/components}}

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
