<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Salas
  </caadmin-heading>
  <caadmin-subheading-actions title="Salas" buttonAdd="Agregar Sala" (add)="addRoom()">
  </caadmin-subheading-actions>

  <div class="g-card">
    <div class="g-card-header">
      <div class="mt-1-2 mb-1-2 mr-1-5">
        <div class="row w-100">
          <div class="col-6">
            <caadmin-autocomplete
              [group]="form"
              language="es"
              placeholder="Casa Andina Premium"
              code="search"
              request="api/pages/autocomplete/hotels">
            </caadmin-autocomplete>
          </div>
          <div class="col-3" [formGroup]="form">
            <div class="g-select">
              <i class="la la-angle-down"></i>
              <select formControlName="category">
                <option [ngValue]="null">Todos</option>
                <option
                  *ngFor="let category of categories"
                  [value]="category.code">{{ category.value }}</option>
              </select>
            </div>
          </div>
          <div class="col text-right">
            <button class="g-btn g-btn-outline g-btn-outline--blue mr-0-5" type="button" (click)="search()">Aplicar</button>
            <button class="g-btn g-btn-outline g-btn-outline--gray" type="button" (click)="reset()">Limpiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <caadmin-card-row-actions *ngFor="let room of roomPaginated?.content" (edit)="editRoom(room)"
    (delete)="deleteRoom(room)">
    <div class="col-6">
      <div class="g-card-info-border">
        <div class="d-flex align-items-center">
          <h4 class="g-fs-15 mb-0">
            {{ room.hotel }}
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="g-card-info ">
        <span class="g-fs-13 g-fw-bold">Sala</span>
        <span class="">
          {{ room.name }}
        </span>
      </div>
    </div>
  </caadmin-card-row-actions>

  <ca-paginator [(page)]="pageCurrent" [collectionSize]="roomPaginated?.totalElements" (pageChange)="listRoom()">
  </ca-paginator>
</ca-card-wrapper>
