<div class="g-main-banner-controls {{classModifier}}">

  <ul>

    <li class="number active">01</li>
    <li class="dot">
      <span></span>
    </li>
    <li class="number">02</li>
    <li class="dot">
      <span></span>
    </li>
    <li class="number">03</li>
    <li class="dot">
      <span></span>
    </li>
    <li class="number">04</li>

  </ul>

</div>