<div class="banner-item-inner {{classModifier}}">

  <!-- Corners -->
  <div class="corner corner-top-left"></div>
  <div class="corner corner-top-right" {{{innerBorderColor}}}></div>
  <div class="corner corner-bottom-left" {{{innerBorderColor}}}></div>
  <div class="corner corner-bottom-right"></div>

  <div>

    {{#textBanner}}
      {{>atoms-Text}}
    {{/textBanner}}

    {{#btnBanner}}
      <div class="clearfix mt-1">

        {{#btnSingle}}
          {{>atoms-Button-with-icon}}
        {{/btnSingle}}

        {{#btnDropDown}}
          {{>molecules-Button-dropdown}}
        {{/btnDropDown}}

      </div>
    {{/btnBanner}}

  </div>


</div>
