<div class="row">
  <div class="col-12">
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
</div>
<div class="row flex-column-reverse flex-lg-row">
  <div class="col-lg-5">
    <figure class="s-img-bg s-img-bg-3 s-img-bg-lg-100 d-flex align-items-end p-1"
      [ngStyle]="{'background-image': activeHotel?.urlImage && 'url('+ activeHotel?.urlImage + ')'}">
      <figcaption class="s-figcaption-detail">
        <div class="s-box s-box--big s-box--tr">
          <div class="s-box-side-left"></div>
          <div class="s-box-side-right"></div>
          <div class="s-box-body">
            <div class="s-box-content">
              <h4
                class="g-fs-20 g-fw-normal g-block mb-0"
                [ngClass]="{ 'mb-2': activeHotel?.roibackInfo?.urlReservation }"
                [ngStyle]="{'color': activeHotelDescriptor?.descriptorColor}">
                {{ activeHotel?.name }}
              </h4>
              <p class="g-fw-bold g-block mb-0" *ngIf="activeHotel?.roibackInfo?.from">
                {{ RESERVE_ACTIONS[language].from }} <span class="g-fw-normal g-fs-30"><small>{{ activeHotel?.roibackInfo?.currency }}</small>{{ activeHotel?.roibackInfo?.from }}</span>
              </p>
              <p class="g-fs-14 g-fw-bold g-block" *ngIf="activeHotel?.roibackInfo?.currency !== 'S/' && activeHotel?.roibackInfo?.from">
                T.C. S/ {{ activeHotel?.roibackInfo?.exchangeRate }}
              </p>
              <a
                *ngIf="activeHotel?.roibackInfo?.urlReservation"
                class="g-btn g-btn-primary g-btn-fat g-block"
                [href]="activeHotel?.roibackInfo?.urlReservation"
                target="_blank">{{ RESERVE_ACTIONS[language].reserve }}</a>
            </div>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="col-lg-7">
    <ca-navbar
      [tabs]="tabs"
      classLi="s-tab-nav-item"
      type="boton"
      (watchActiveVal)="onChangeTab($event)">
      <ng-container *ngFor="let hotelsDescriptor of hotelsDescriptors; let i = index">
        <ca-navbar-content
          class="s-tab-pane"
          [ngClass]="{active: i === activeParentTab}">
          <ca-navbar
            [tabs]="childTabs"
            classLi="s-tab-nav-item"
            type="roomlink"
            [descriptorInfo]="colorInfo"
            (watchActiveVal)="onChangeChildTab($event)">
            <ng-container *ngFor="let hotel of activeHotelDescriptor?.hotels; let iChild = index">
              <ca-navbar-content>
                <div
                  class="s-tab-pane"
                  [ngClass]="{active: iChild === activeChildTab}">
                  <div class="s-box s-box--big s-box--tr s-box--shadow">
                    <div class="s-box-side-left"></div>
                    <div class="s-box-side-right"></div>
                    <div class="s-box-body">
                      <div class="s-box-content p-0 p-sm-1">
                        <div class="s-services">
                          <div class="row">
                            <div class="col-12">
                              <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
                                {{ GENERAL_TEXT[language].ourServices }}
                              </h3>
                            </div>
                          </div>
                          <div class="row s-services--list">
                            <div class="col-sm-6 col-md-4" *ngFor="let service of activeHotel?.services">
                              <div class="g-feature">
                                <div class="g-feature-content">
                                  <i
                                    class="la"
                                    [ngClass]="service?.icon"
                                    [ngStyle]="{'color': activeHotelDescriptor?.descriptorColor}"></i>
                                  <div class="g-feature-info">
                                    <span class="d-inline-block d-sm-block">{{ service?.name }}</span>
                                    <span></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a
                          class="g-link g-link-icon g-link-icon-right mt-2"
                          [href]="hotel?.url"> {{ GENERAL_TEXT[language].viewHotel }} <i class="la la-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </ca-navbar-content>
            </ng-container>
          </ca-navbar>
        </ca-navbar-content>
      </ng-container>
    </ca-navbar>
  </div>
</div>
