<ng-container *ngTemplateOutlet="prefix? tInputPrefix: tInput"></ng-container>

<ng-template #tInputPrefix>
  <div class="g-input-prefix">
    <span>{{ prefix || '' }}</span>
    <ng-container *ngTemplateOutlet="tInput"></ng-container>
  </div>
</ng-template>

<ng-template #tInput>
  <input class="g-input"
      [id]="id"
      [ngClass]="{'g-input-error': error, 'g-input-box': box}"
      [attr.type]="type"
      [attr.multipled]="multipled"
      [attr.accept]="accept"
      [attr.placeholder]="placeholder"
      [attr.pattern]="pattern"
      [attr.maxlength]="maxlength"
      [attr.min]="min"
      [Number]="Number"
      [(ngModel)]="value"
      [autocomplete]="autocomplete"
      [disabled]="disabled"
      (focus)="onFocusInput($event)"
      (blur)="onBlurInput($event)"
      (change)="onChangeInput($event)">
</ng-template>
