<div class="row">
  <div class="col-12">
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ca-carousel-caption
      [descriptorInfo]="descriptorInfo">
      <ng-container figure>
        <figure [caBackgroundurl]="backgroundImage[0]">
        </figure>
      </ng-container>
      <ng-container body>
        <div class="s-box-body">
          <div class="s-box-content pt-0 px-0 pb-4 pt-sm-2 px-sm-4">
            <h3
              class="g-block"
              [ngClass]="descriptorInfo?.typographyStyle"
              [ngStyle]="{'color': descriptorInfo?.color}">
              {{ subtitle }}
            </h3>
            <p class="g-block" [innerHTML]="description | safeHtml">
            </p>
          </div>
        </div>
      </ng-container>
    </ca-carousel-caption>
  </div>
</div>
