<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Categorías
  </caadmin-heading>
  <caadmin-subheading-actions title="Categorías" buttonAdd="Agregar Categoría" (add)="addCategory($event)">
  </caadmin-subheading-actions>
  <div class="g-card-form">
    <div class="p-3">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <ul class="c-list-tags ">
                    <li class="c-list-tags-item" *ngFor="let category of categories">
                      <a href="javascript:void(0);" class="c-list-tags-link ">
                        {{ category.name }}
                        <i class="la la-close" *ngIf="!category.system" (click)="deleteCategory(category)"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ca-card-wrapper>
