<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Beneficios
  </caadmin-heading>

  <caadmin-card-form (save)="save($event)" (cancel)="cancel($event)">
    <div class="m-n4">
      <caadmin-dynamic-form [components]="structure" [hideTitleComponent]="true" (submitted)="formSubmitted($event)" *ngIf="structure">
      </caadmin-dynamic-form>
    </div>
  </caadmin-card-form>
</ca-card-wrapper>
