<div class="s-table-content {{modifierClass}}">

  <table class="s-table {{tableModifierClass}}">

    {{#tableHead}}
      <thead>
        <tr>

          {{#tableHeadItem}}
            <th {{{tableHeadItemAttribute}}}>

              {{#iconTable}}
                {{>molecules-Icon-table}}
              {{/iconTable}}

              {{#text}}
                {{>atoms-Text}}
              {{/text}}

            </th>
          {{/tableHeadItem}}

        </tr>
      </thead>
    {{/tableHead}}

    {{#tableBody}}
      <tbody>

        {{#tableBodyRow}}
          <tr>

            {{#tableBodyRowItem}}
              <td {{{tableBodyRowItemAttibute}}}>

                {{#text}}
                  {{>atoms-Text}}
                {{/text}}

              </td>
            {{/tableBodyRowItem}}

          </tr>
        {{/tableBodyRow}}

      </tbody>
    {{/tableBody}}

  </table>

</div>
