<div class="g-box g-box-flex  g-box--services g-box--corners g-box--corners-tr">
  <div class="side side-left">
    <div class="corner corner-top-left"></div>
    <div class="corner corner-bottom-left"></div>
  </div>
  <div class="side side-right">
    <div class="corner corner-top-right"></div>
    <div class="corner corner-bottom-right"></div>
  </div>
  <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
    {{ title }}
  </h3>
  <ul class="s-list-inline ">
    <li class="s-list-inline-item"*ngFor="let item of items">
      <span [ngStyle]="{'background-color': descriptorInfo?.color}"></span>
      {{ item }}
    </li>
  </ul>
</div>
<figure class="s-img-bg s-img-bg-2 s-img-bg-md-2-5" [ngStyle]="{'background-image': 'url('+  backgroundImage[0]?.large?.imageUri +')'}">
</figure>
