<div class="row flex-column-reverse flex-md-row row-room">
  <div class="col-md-6 col-lg-4">
    <ca-photo-slider
      *ngIf="roomActive?.photos"
      [roomActive]="roomActive"
      [activeSlideRoom]="activeTab">
    </ca-photo-slider>
  </div>
  <div class="col-md-6 col-lg-8" #figureRoom>
    <ca-section-header [title]="title" type="black"></ca-section-header>
    <ca-navbar
      [tabs]="tabs"
      type="roomLink"
      [descriptorInfo]="descriptorInfo"
      classLi="s-tab-nav-item"
      (watchActiveVal)="onChangeTab($event)">
      <ng-container  *ngFor="let room of rooms; let i = index">
        <ca-navbar-content
          [@fadeInOut]
          class="s-tab-pane"
          *ngIf="i === activeTab"
          [ngClass]="{'active': i === activeTab}">
          <span class="g-fs-15" [innerHTML]="room.description | safeHtml">
          </span>
          <div class="mt-2 mb-2 pt-1 pb-1 pl-1 pr-1 g-bgc-gray6">
            <span class="g-fs-15" [innerHTML]="room.descriptionSpecial | safeHtml">
            </span>
          </div>
          <div class="g-box g-box--corners-20 g-box--corners-20-tr">
            <div class="side side-left">
              <div class="corner corner-top-left"></div>
              <div class="corner corner-bottom-left"></div>
            </div>
            <div class="side side-right">
              <div class="corner corner-top-right"></div>
              <div class="corner corner-bottom-right"></div>
            </div>
            <div class="s-services">
              <div class="row s-services--list">
                <div class="col-sm-6 col-lg-4" *ngFor="let feature of room?.features">
                  <ca-service
                    class="g-feature"
                    [data]="feature"
                    [descriptorInfo]="descriptorInfo">
                  </ca-service>
                </div>
              </div>
            </div>
          </div>
        </ca-navbar-content>
      </ng-container>
    </ca-navbar>
  </div>
</div>
