<div class="g-login-block clearfix">
  <form [formGroup]="frmReset">

    <div class="row mb-4">
      <div class="col-12">

          <div class="g-brand g-block-center">
            <img src="{{ IMAGES?.logoCa?.src }}" alt="{{ IMAGES?.logoCa?.alt }}">
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <ca-password name="nInputPassword"
                    [placeholder]="LOGIN_LANG.labels.password"
                    formControlName="password"
                    [error]="validateControl('password')">
          </ca-password>
          <ca-password name="nInputCPassword"
                    [placeholder]="LOGIN_LANG.labels.cPassword"
                    formControlName="cPassword"
                    [error]="validateControl('cPassword')">
          </ca-password>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <button ca-button
                block
                (click)="reset()">
          <span>{{ LOGIN_LANG?.buttons?.send }}</span>
          <span class="g-icon g-icon-right"></span>
        </button>
      </div>
    </div>
  </form>
</div>
