<div class="g-tabs-heading-wrapper row no-gutters align-items-center g-bgc-white">
  <div class="col-auto">
    <div class="g-overflow-auto">
      <ul class="nav g-tabs-heading">
        <li *ngFor="let item of tabItemsList"
          [routerLinkActive]="['active']"
          [routerLink]="[item?.route]"
          class="g-tab">
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col px-2 text-right">
    <ng-content></ng-content>
  </div>
</div>
