<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionFeatures}}
    {{>sections-Section-features}}
  {{/sectionFeatures}}

  {{#sectionEvent}}
    {{>sections-Section-organiza-tu-evento}}
  {{/sectionEvent}}

  {{#sectionSalas}}
    {{>sections-Section-salas}}
  {{/sectionSalas}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>
