<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionDescriptorEvento}}
    {{>sections-Section-descriptor-evento}}
  {{/sectionDescriptorEvento}}

  {{#sectionSelectDestino}}
    {{>sections-Section-select-destino}}
  {{/sectionSelectDestino}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>