<form [formGroup]="frmAssistance">
  <h2 class="c-heading-1 g-text-center">
    {{ title }}
  </h2>
  <div class="my-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Ícono:</label>
      </div>
      <div class="col">
        <ca-icon-picker [icons]="icons" formControlName="iconClass">
        </ca-icon-picker>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Título ES:</label>
      </div>
      <div class="col">
        <ca-input formControlName="spanishTitle"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Título EN:</label>
      </div>
      <div class="col">
        <ca-input formControlName="englishTitle"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Título PR:</label>
      </div>
      <div class="col">
        <ca-input formControlName="portugueseTitle"></ca-input>
      </div>
    </div>
  </div>
  <div class="text-right mt-xs-2">
    <button ca-button (click)="save()" type="button">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
