<div class="container">
  <ca-section-header [title]="title"></ca-section-header>
</div>
<div class="mt-2 g-overflow-hidden">
  <ca-carousel
    controlColor="white"
    [animation]="false"
    [sliders]="sliderGroups">
    <div
      class="carousel-group-item"
      caCarouselHover
      *ngFor="let sliderGroup of sliderGroups"
      [ngStyle]="{'height': height}">

      <div class="g-carousel-content-wrapper">
        <div
          caCarouselSlide
          *ngFor="let slide of sliderGroup"
          class="carousel-item"
          [ngClass]="slide.classNameItem">
          <ca-card-promotion
            [bookingUrl]="bookingUrl"
            [data]="slide"
            [classSize]="slide.className"
            [lang]="language"
            type="restrictions">
          </ca-card-promotion>
        </div>
      </div>
    </div>
  </ca-carousel>
</div>
<div class="container">
  <a [caUrlLink]="urlLink" class="g-link g-link-icon g-link-icon-right">
    {{ textLink }}
    <i class="la la-arrow-right"></i>
  </a>
</div>
