<div class="row mb-3">
  <div class="col text-right">
    <a href="javascript:void(0)" class="s-nav-list-link s-nav-list-link--close" (click)="toggle()">
      <i class="la la-close"></i>
    </a>
  </div>
</div>
<form [formGroup]="registerForm" [action]="searchUrl" target="_blank" method="POST" #form>
  <div class="row">
    <div class="col-xl-4">
      <div class="mb-2">
        <label class="g-label g-fs-12 g-cl-white g-text-uppercase" for="nDestino">{{ SEARCH_COPY.labels.destination2[languageCustom] }}</label>
        <ca-autocomplete
          [initOnFocus]="true"
          [placeholder]="SEARCH_COPY.placeholders.destination2[languageCustom]"
          [fbControl]="autocomplete"
          [endPoint]="searchEndpoint"></ca-autocomplete>
        <input type="hidden" name="coddestino" [value]="codeDestinationInput" required>
        <input type="hidden" name="destino" [value]="nameDestinationInput">
      </div>
      <div class="mb-2">
        <label class="g-label g-fs-12 g-cl-white g-text-uppercase" for="nDestino">{{ SEARCH_COPY.labels.hotel[languageCustom] }}</label>
        <ca-autocomplete
          [initOnFocus]="true"
          [placeholder]="SEARCH_COPY.placeholders.hotel[languageCustom]"
          [fbControl]="autocompleteHotel"
          [customParams]="hotelParams"
          [endPoint]="endpointHotel"></ca-autocomplete>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="row mb-2">
        <div class="col-6">
          <label class="g-label g-fs-12 g-cl-white g-text-uppercase" for="nEntrada">
              {{ SEARCH_COPY.labels.entry[languageCustom] }}
          </label>
          <div class="g-input-dropdown g-input-dropdown-white g-input-date s-datepicker" (click)="openDatePicker('ca-datepicker-range')">
            <i class="la la-angle-down"></i>
            <div class="date">
              <span class="day">{{ dateStart | date:'dd' }}</span>
              <div class="month">
                <span class="g-block">
                  {{ dateStart | date:'MMM yy':'UTC':lang }}
                </span>
                <span class="g-block">
                  {{ dateStart | date:'EEEE':'UTC':lang }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="g-label g-fs-12 g-cl-white g-text-uppercase" for="nSalida">
            {{ SEARCH_COPY.labels.leave[languageCustom] }}
          </label>
          <div class="g-input-dropdown g-input-dropdown-white g-input-date s-datepicker"  (click)="openDatePicker('ca-datepicker-range', true)">
            <i class="la la-angle-down"></i>
            <div class="date">
              <span class="day">{{ dateEnd | date:'dd' }}</span>
              <div class="month">
                <span class="g-block">
                  {{ dateEnd | date:'MMM yy':'UTC':lang }}
                </span>
                <span class="g-block">
                  {{ dateEnd | date:'EEEE':'UTC':lang }}
                </span>
              </div>
            </div>
          </div>
          <ca-datepicker-range
            #dp
            [minValue]="today"
            [formControl]="rangepicker"
            (dateSelect)="dateRangeChange($event)">
          </ca-datepicker-range>
        </div>
      </div>
      <input type="hidden" name="entrada" [value]="dateStartInput">
      <input type="hidden" name="salida" [value]="dateEndInput">
      <div class="mb-3">
        <label class="g-label g-fs-12 g-cl-white g-text-uppercase" for="codigo">{{ SEARCH_COPY.labels.promotionalCode[languageCustom] }}</label>
        <input
          name="codpromo"
          formControlName="code"
          class="g-input g-input-invert"
          type="text"
          placeholder="{{ SEARCH_COPY.placeholders.promotionalCode[languageCustom] }}">
      </div>
      <div class="">
        <button
          [disabled]="registerForm.invalid"
          class="g-btn g-btn-fat g-btn-primary g-block"
          type="button" (click)="form.submit()">{{ SEARCH_COPY.buttons.search[languageCustom] }}</button>
      </div>
    </div>
  </div>
</form>
