<div class="g-card g-bgc-gray7">

  {{#cardHeader}}
    {{>organisms-Card-header}}
  {{/cardHeader}}

  {{#cardBody}}
    <div class="g-card-body">

      <div class="row align-items-center">
        <div class="col-1">

          {{#title}}
            {{>atoms-Info-with-icon}}
          {{/title}}

        </div>

        <div class="col-6">

          {{#input}}
            {{>atoms-Input}}
          {{/input}}

        </div>
      </div>

      <hr class="g-hr mt-2 mb-2">

      <div class="row">

        <div class="col-12">

          {{#permissionsTitle}}
            {{>atoms-Text}}
          {{/permissionsTitle}}

        </div>

        <div class="col-12">

          {{#permissions}}
            {{>atoms-Input-check}}
          {{/permissions}}

        </div>
      </div>

    </div>
  {{/cardBody}}

</div>
