<div class="g-card g-bgc-gray7">

  {{#cardHeader}}
    {{>organisms-Card-header}}
  {{/cardHeader}}

  {{#cardBody}}
    <div class="g-card-body">

      <div class="row">
        <div class="col mb-1">

          {{#title}}
            {{>atoms-Info-with-icon}}
          {{/title}}

        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-9">

          {{#roles}}
            {{>atoms-Input-check}}
          {{/roles}}

        </div>
        <div class="col-3 text-right">

          {{#addRolBtn}}
            {{>atoms-Link-with-icon}}
          {{/addRolBtn}}

        </div>
      </div>

    </div>
  {{/cardBody}}

</div>
