{{#navTabsAndButton}}
  {{>molecules-Nav-tabs-and-button}}
{{/navTabsAndButton}}

<div class="g-tabs-content">

  <div class="g-tab-pane">

    <div class="g-card-wrapper">

      {{#principalTitle}}
        {{>molecules-Principal-title}}
      {{/principalTitle}}

      {{#tabContentRoles}}
        {{>organisms-Acordion-rol}}
      {{/tabContentRoles}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </div>

</div>
