<div class="row">
  <div class="col-sm-8">
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
  <div class="col" *ngIf="currency !== 'PEN' ">
    <div class="g-tag g-tag-type mt-2 float-right">
      <span><strong>T.C:</strong> S/. {{ exchange }}</span>
    </div>
  </div>
</div>
<div class="row mb-1">
  <div class="col">
    <div class="g-box g-box-shadow3">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 col-xl-3 mb-2 mb-lg-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
              <span>{{ GENERAL_TEXT[language].promotions }} ({{ selectedLength('listPromos') }})</span>
              <i class="la la la-angle-down"></i>
            </button>
            <ng-container
              [ngTemplateOutlet]="filterList"
              [ngTemplateOutletContext]="{
                data: {
                  object: listPromos,
                  name: 'listPromos',
                  onMouseOut: 'getPromotions|getDestinations'
                }
              }">
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 mb-2 mb-lg-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
              <span>{{ GENERAL_TEXT[language].destinations }} ({{ selectedLength('destinations') }})</span>
              <i class="la la la-angle-down"></i>
            </button>
            <ng-container
              [ngTemplateOutlet]="filterList"
              [ngTemplateOutletContext]="{
                data: {
                  object: destinations,
                  name: 'destinations',
                  onMouseOut: 'getHotels'
                }
              }">
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 mb-2 mb-lg-0">
          <div class="g-dropDown g-dropDown--hover g-block" caHoverCollapse>
            <button class="g-btn g-btn-with-icon g-btn-primary g-btn-outline g-btn-with-icon--dropdown g-block" type="button">
              <span>{{ GENERAL_TEXT[language].hotel }} ({{ selectedLength('hotels') }})</span>
              <i class="la la la-angle-down"></i>
            </button>
            <ng-container
              [ngTemplateOutlet]="filterList"
              [ngTemplateOutletContext]="{
                data: {
                  object: hotels,
                  name: 'hotels',
                  onMouseOut: 'getPromotions'
                }
              }"  >
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-xl-3 pl-0 text-right">
          <a (click)="clearFilters()" class="g-link g-link-icon g-link-icon-static float-right">
            {{ GENERAL_TEXT[language].clean }}
            <i class="la la-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-wrapper">
  <div class="middle middle--overlay" [hidden]="!loading">
    <p>{{ LOADING_TEXT[language].text }}</p>
  </div>
  <ng-container *ngIf="promotions?.length; else noData">
    <div class="g-carousel row">
      <div class="g-carousel-content-wrapper w-100">
        <div
          [ngClass]="'active carousel-item carousel-item--' + promo.classNative"
          *ngFor="let promo of promotions">
          <ca-card-promotion
            [data]="promo"
            [lang]="language"
            [classSize]="promo.classNative"
            [bookingUrl]="bookingUrl">
          </ca-card-promotion>
        </div>
      </div>
    </div>

    <button
      *ngIf="totalElements > promotions?.length"
      (click)="morePromotions()"
      class="g-btn g-btn-ver-mas g-block"
      type="button">
      {{ GENERAL_TEXT[language].viewMore }} <i class="la la-angle-down"></i>
    </button>
  </ng-container>
</div>

<ng-template #filterList let-data="data">
  <ul class="g-dropDown--list g-collapse-list">
    <ng-container *ngIf="data?.object?.length; else noData">
      <li *ngFor="let item of data.object">
        <label class="g-checkbox">
          <input
            type="checkbox"
            name="nInputCheckbox"
            (click)="data.onMouseOut ? this.dataByMouseEvent(data.onMouseOut) : '' "
            [(ngModel)]="item.selected"
            [checked]="item.selected">
            {{ item.text }}
          <span class="checkmark"></span>
        </label>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #noData>
  <div class="middle" [hidden]="loading">
    <p class="text-center">No hay información</p>
  </div>
</ng-template>
