.promotions-wrapper {
  min-height: 40vh;
  position: relative;

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    &--overlay {
      background: rgba(255, 255, 255, 0.82);
      z-index: 4;

      p {
        font-size: 26px;
        border-bottom: 2px solid #d69c4f;
        padding-bottom: 4px;
      }
    }

  }
}
