<h2 class="c-heading-1 g-text-center">
  {{ titlePage }}
</h2>
<div class="my-2">
  <caadmin-dynamic-form [components]="structure" [hideTitleComponent]="true" (submitted)="formSubmitted($event)"
    *ngIf="structure">
  </caadmin-dynamic-form>
</div>
<div class="text-right mt-xs-2">
  <button ca-button (click)="save()" type="button">
    {{ GENERAL_LANG?.buttons.save }}
  </button>
</div>
