{{#salePlaceText}}
  {{>atoms-Text}}
{{/salePlaceText}}

{{#saleInfoText}}
  {{>atoms-Text}}
{{/saleInfoText}}

{{#experienceInfoText}}
  {{>atoms-Text}}
{{/experienceInfoText}}

{{#tagSaleFrom}}
  {{>molecules-Tag}}
{{/tagSaleFrom}}
