<figure class="s-card-wrapper-fog {{classModifier}}">

  <div class="g-block">

    {{#link}}
      {{>atoms-Link-with-icon}}
    {{/link}}

    {{#button}}
      {{>atoms-Button}}
    {{/button}}

    {{#share}}
      {{>molecules-Share}}
    {{/share}}

  </div>

</figure>
