<div class="g-main g-main-full g-main-full--login">
  <ca-notify [type]="notification?.type" [active]="activeNotify">{{ notification?.description }}</ca-notify>
  <div class="container-fluid">
    <div class="row">
      <div class="col mt-8">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
        <p class="g-fs-13 text-center g-cl-gray6">Si tiene algun problema por favor contactar al <strong>{{ CA?.supportPhone }}</strong> o al correo <strong>{{ CA?.supportEmail }}</strong></p>
      </div>
    </div>
  </div>
</div>
