<form [formGroup]="frmDescriptor">
  <h2 class="c-heading-1 g-text-center">
    {{ titlePage }}
  </h2>
  <div class="my-2">
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Nombre:</label>
      </div>
      <div class="col">
        <ca-input formControlName="name"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Logo:</label>
      </div>
      <div class="col">
        <caadmin-gallery-select formControlName="url" size="sm" [mimeTypes]="['image/jpg', 'image/png']"
          placeholder="62x62" type="badge" responseFormat="string" [maxSize]="20">
        </caadmin-gallery-select>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Banner:</label>
      </div>
      <div class="col">
        <caadmin-gallery-select formControlName="urlBanner" size="sm" [mimeTypes]="['image/jpg', 'image/png']"
          placeholder="62x160" type="badge" responseFormat="string" [maxSize]="20">
        </caadmin-gallery-select>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2" *ngIf="!isHotelCategory()">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Tipografía:</label>
      </div>
      <div class="col">
        <div class="g-select ">
          <i class="la la-angle-down"></i>
          <select formControlName="typographyStyle">
            <option value="">Seleccionar</option>
            <option *ngFor="let item of typographies;" [value]="item.value">{{ item.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Color:</label>
      </div>
      <div class="col">
        <ca-input formControlName="color"></ca-input>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Título:</label>
      </div>
      <div class="col">
        <ca-input formControlName="title"></ca-input>
      </div>
    </div>
  </div>
  <div class="text-right mt-xs-2">
    <button ca-button (click)="save()" type="button">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>
