.fab {
  &-contact {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-wsp {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #48A91F;
      color: #fff;

      i {
        font-size: 30px;
      }
    }
  }

  &-chat {
    background-color: #000;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
    text-transform: uppercase;
    color: #fff;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }
    i {
      font-size: 30px;
      color: #d69c4f;
    }
  }
}
