<header class="g-header">
  <div class="g-brand">
    <img [src]="IMAGES?.logoCaWhite?.src" [alt]="IMAGES?.logoCaWhite?.alt">
  </div>
  <div class="g-profile" (mouseleave)="autoClose()">
    <div class="g-profile-info">
      <i class="g-profile-info-icon la la-user"></i>
      <span>
          {{ fullname }}
        <a href="javascript:void(0);" (click)="toggle()">{{ roleName }}</a>
      </span>
      <ul class="c-list-dropdown " [ngClass]="{ 'active': !isCollapsed }" [collapse]="isCollapsed">
        <li class="c-list-dropdown-item" *ngFor="let item of menu">
          <a class="c-list-dropdown-link" [routerLink]="item?.route">
            <i class="la" [ngClass]="item?.icon"></i>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="g-profile-logout">
      <a href="javascript:void(0)" (click)="logout()">
        <i class="la la-sign-out"></i>
        {{ GENERAL_LANG?.links?.signOff }}
      </a>
    </div>
  </div>
</header>
