<div class="row align-items-center">
  <div class="col-4">

    {{#radioInput}}
      {{>atoms-Input-check}}
    {{/radioInput}}

  </div>

  <div class="col-8">

    {{#permissionText}}
      {{>atoms-Text}}
    {{/permissionText}}

  </div>

</div>
