<div
  class="g-dropDown g-dropDown--hover w-100"
  caHoverCollapse>
  <button
    [ngClass]="buttonClass"
    type="button"
    (click)="displayList()">
    <span>{{ itemActive?.name || itemActive?.text }}</span>
    <i class="la la-angle-down"></i>
  </button>
  <ul
    class="g-dropDown--list g-collapse-list"
    *ngIf="items?.length">
    <li
      *ngFor="let item of items; let i = index"
      (click)="selectItem(i)">
      <a href="javascript:void(0);">{{ item?.name || item?.text }}</a>
    </li>
  </ul>
</div>
