<div class="g-main-banner-controls" *ngIf="slides.length > 1" [ngClass]="{ 'g-main-banner-controls--hide': buttonHovered }">
  <ul>
    <ng-container *ngFor="let slide of slides; let i = index">
      <li class="number" [ngClass]="{'active': i === activeIndex}" (click)="setActiveSlide(i)">{{ i + 1 | strPad: 2 }}</li>
      <li class="dot">
        <span></span>
      </li>
    </ng-container>
  </ul>
</div>
<div
  class="g-main-banner-content"
  slider
  [ngStyle]="{'height': slideHeight}">
  <ng-content></ng-content>
</div>
