<div class="row">
  <div class="col-md-6 pt-1 pb-2 pb-md-5">

    {{#restaurantLogo}}
      <div class="d-block d-md-none text-center mb-3">

        {{>atoms-Image}}

      </div>
    {{/restaurantLogo}}

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

    {{#logos}}
      {{>atoms-Image}}
    {{/logos}}

  </div>
  <div class="col-md-6 p-0 g-static">

    {{#figure}}
      {{>organisms-Image-bg-box}}
    {{/figure}}

  </div>
</div>
