<div class="row justify-content-center">
  <div class="col-10">
    <div class="row justify-content-center align-items-center">

      {{#col}}
        <div class="{{colClass}}">

          {{#img}}
            {{>atoms-Image}}
          {{/img}}

          {{#arrow}}
            {{>atoms-Icon}}
          {{/arrow}}

          {{#text}}
            {{>atoms-Text}}
          {{/text}}

        </div>
      {{/col}}

    </div>
  </div>
</div>
