<div class="row align-items-center">
  <div class="col-sm-12 col-md-6 tags-ca--title">
    <i class="la la-angle-right"></i>
    <ca-section-header [title]="title" type="black"></ca-section-header>
  </div>
  <div class="col-sm-12 col-md-6">
    <ul class="g-nav g-nav--single-tag">
      <li *ngFor="let tag of tags">
        <ca-tag [data]="tag"></ca-tag>
      </li>
    </ul>
  </div>
</div>
