<ng-container *ngIf="payload.type === FILE_TYPE.image || payload.type === FILE_TYPE.badge">
  <img [src]="payload.file" />
</ng-container>

<ng-container *ngIf="payload.type === FILE_TYPE.video">
  <ca-video [videoUri]="payload.file" [mimeType]="payload.mimetype" [autoplay]="true">
  </ca-video>
</ng-container>
