{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionTextBox}}
    {{>sections-Section-text-box}}
  {{/sectionTextBox}}

  {{#sectionQueHacer}}
    {{>sections-Section-que-hacer-en-destino}}
  {{/sectionQueHacer}}

  {{#sectionNuestrosHoteles}}
    {{>sections-Section-nuestros-hoteles-en-destino}}
  {{/sectionNuestrosHoteles}}

  {{#sectionNuestrosRestaurantes}}
    {{>sections-Section-nuestros-restaurantes}}
  {{/sectionNuestrosRestaurantes}}

  {{#sectionExperiencias}}
    {{>sections-Section-experiencias-en-destino}}
  {{/sectionExperiencias}}

  {{#sectionEvent}}
    {{>sections-Section-organiza-tu-evento}}
  {{/sectionEvent}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
