{{#header}}
  {{>templates-Header}}
{{/header}}

<main>

  {{#sectionMainBanner}}
    {{>sections-Section-main-banner}}
  {{/sectionMainBanner}}

  {{#sectionVerTodosLosDestinos}}
    {{>sections-Section-ver-todos-los-destinos}}
  {{/sectionVerTodosLosDestinos}}

  {{#sectionSales}}
    {{>sections-Section-carousel-sales}}
  {{/sectionSales}}

  {{#sectionCarouselExperiences}}
    {{>sections-Section-carousel-experiences}}
  {{/sectionCarouselExperiences}}

  {{#sectionTags}}
    {{>sections-Section-tags}}
  {{/sectionTags}}

</main>

{{#footer}}
  {{>templates-Footer}}
{{/footer}}
