<div class="row" [style.width]="'1000px'" [style.height]="'500px'">
  <div class="col-8">
    <div class="text-center d-flex justify-content-center align-items-center h-100 pl-1-5">
      <img
        class="m-auto"
        *ngIf="tmpFile && tmpFile.small && tmpFile.medium.imageUri"
        [src]="tmpFile.large?.imageUri || tmpFile.small.imageUri | safeUrl"
        (load)="getSizeImg($event)"
        style="max-height: 500px;"/>
    </div>
  </div>
  <div class="col-4 g-bgc-white pt-1-5 px-2">
    <h2 class="c-heading-1 mb-2">{{ payload.title }}</h2>
    <div class="mb-2" [formGroup]="form">
      <ng-container>
        <span class="d-block g-fs-12">
          <strong>Nombre:</strong> {{ tmpFile.name }}
        </span>
        <span class="d-block g-fs-12">
          <strong>Tipo:</strong> {{ tmpFile.mimeType }}
        </span>
        <span class="d-block g-fs-12" *ngIf="tmpFile.createDate">
          <strong>Subido en:</strong> <span class="text-capitalize"> {{ tmpFile.createDate | date: 'dd MMMM, yyyy' }}</span>
        </span>
        <span class="d-block g-fs-12">
          <strong>Tamaño:</strong> {{ (tmpFile.size || tmpFile?.large?.size) | fileSize }}
        </span>
        <span class="d-block g-fs-12">
          <strong>Dimenciones:</strong> {{ tmpFile.width || tmpFile.large.width }} x {{ tmpFile.height || tmpFile.large.height }}
        </span>
      </ng-container>
      <hr>
      <ng-container>
        <!-- Titulo -->
        <div class="row align-items-center no-gutters mb-1">
          <div class="col-12">
            <label class="g-fw-bold">Título:</label>
          </div>
          <div class="col-12">
            <ca-input
              type="text"
              autocomplete="nope"
              [formControl]="title"
              [error]="validateControl(title)">
            </ca-input>
          </div>
        </div>
        <!-- Alt -->
        <div class="row align-items-center no-gutters mb-1">
          <div class="col-12">
            <label class="g-fw-bold">Título Alternativo:</label>
          </div>
          <div class="col-12">
            <ca-input
              type="text"
              [formControl]="alt"
              [error]="validateControl(alt)">
            </ca-input>
          </div>
        </div>
        <!-- Description -->
        <div class="row align-items-center no-gutters mb-1">
          <div class="col-12">
            <label class="g-fw-bold">Descripción:</label>
          </div>
          <div class="col-12">
            <ca-input
              type="text"
              [error]="validateControl(description)"
              [formControl]="description">
            </ca-input>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="progress mb-2" *ngIf="tmpFile && tmpFile.progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [ngStyle]="{ width : tmpFile.progress + '%' }">
          {{ tmpFile.progress }}%
      </div>
    </div>

    <div class="mb-1 text-center">
      <button class="g-btn g-btn-primary" type="button" (click)="upload()">
          {{ payload.currentImage? 'Guardar': 'Agregar' }}
      </button>
    </div>
    <div class="text-center">
      <button
        (click)="back()"
        class="g-btn g-btn-outline g-btn-outline--red"
        type="button">Regresar</button>
    </div>
  </div>
</div>
