<form [formGroup]="frmUser">
  <caadmin-collapse-action-buttons
    [disabled]="user?.disabled"
    [confirmDelete]="confirmDelete"
    (actionButton)="actionButton($event)">
    <ng-container collapse-header>
      <div class="col-5">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.user }}</span>
          <span class="g-info-w-icon">
          <i class="la la-user"></i>
          <strong>{{ user?.fullname }} {{ user?.lastname }}</strong> - {{ user?.username }}
          </span>
        </div>
      </div>
      <div class="col-4">
        <div class="g-card-info">
          <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.role }}</span>
          <span class="g-info-w-icon">
          <i class="la la-briefcase"></i>
          {{ user?.role?.roleName }}
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container collapse-content>
      <div class="row align-items-center">
        <div class="col-2">
          <span class="g-info-w-icon">
          <i class="la la-briefcase"></i>
          {{ USER_LANG?.labels?.fullName }}
          </span>
        </div>
        <div class="col-4">
          <ca-input formControlName="fullName"></ca-input>
        </div>
      </div>
      <div class="row">
        <div class="col mb-1">
          <span class="g-info-w-icon">
          <i class="la la-briefcase"></i>
          {{ USER_LANG?.labels?.role }}
          </span>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-9">
          <ng-container *ngFor="let item of rolesList">
            <ca-radio-button
              formControlName="radioRoles"
              [value]="item">
              {{ item?.roleName }}
            </ca-radio-button>
          </ng-container>
        </div>
        <div class="col-3">
          <ca-link>
            <i class="la la-plus-circle"></i>
            {{ USER_LANG?.links?.createRole }}
          </ca-link>
        </div>
      </div>
    </ng-container>
  </caadmin-collapse-action-buttons>
</form>
