<form action="">
  <div class="row">

    {{#col}}
      <div class="{{colClass}}">

        {{#text}}
          {{>atoms-Text}}
        {{/text}}

        {{#input}}
          {{>atoms-Input}}
        {{/input}}

        {{#checkbox}}
          {{>atoms-Input-check}}
        {{/checkbox}}

        {{#select}}
          {{>atoms-Select}}
        {{/select}}

        {{#button}}
          {{>atoms-Button}}
        {{/button}}

        {{#innerRow}}
          <div class="row">

            {{#innerCol}}
              <div class="{{innerColClass}}">

                {{#text}}
                  {{>atoms-Text}}
                {{/text}}

                {{#input}}
                  {{>atoms-Input}}
                {{/input}}

                {{#checkbox}}
                  {{>atoms-Input-check}}
                {{/checkbox}}

                {{#select}}
                  {{>atoms-Select}}
                {{/select}}

                {{#button}}
                  {{>atoms-Button}}
                {{/button}}

              </div>
            {{/innerCol}}

          </div>
        {{/innerRow}}

      </div>
    {{/col}}

  </div>
</form>
