<div class="row align-items-center mb-2">

  <div class="col-sm-12 col-md-6 col-xl-8 mb-2 mb-md-0">

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">

    <div class="row align-items-center">

      <div class="col-4">

        {{#btn360}}
          {{>atoms-Button-black}}
        {{/btn360}}

      </div>

      <div class="col-8">

        {{#btnCotizar}}
          {{>atoms-Button}}
        {{/btnCotizar}}

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col">

    <div class="row">

      <div class="col-sm-12 col-md-4 col-xs-3">

        {{#btnDropDown}}
          {{>molecules-Button-dropdown}}
        {{/btnDropDown}}

      </div>

    </div>

    <div class="row">

      <div class="col">

        {{#carouselBigBox}}
          {{>organisms-Carousel-big-box}}
        {{/carouselBigBox}}

      </div>

    </div>

  </div>

</div>
