<div class="s-box {{boxModifierClass}}">

  <div class="s-box-side-left"></div>
  <div class="s-box-side-right"></div>

  <div class="s-box-body">
    <div class="s-box-content {{boxContentModifierClass}}">

      {{#services}}
        {{>organisms-Services}}
      {{/services}}

      {{#linkWithIcon}}
        {{>atoms-Link-with-icon}}
      {{/linkWithIcon}}

    </div>
  </div>

</div>
