<div class="row no-gutters flex-md-row-reverse">
  <div class="col-md-6">

    {{#imageBgBox}}
      <figure class="s-img-multimedia s-img-extend {{modifierClass}}">

        {{#figureVideo}}
          {{>atoms-Video}}
        {{/figureVideo}}

        {{#figureImage}}
          {{>atoms-Image}}
        {{/figureImage}}

        <i class="la la-arrows"></i>

      </figure>
    {{/imageBgBox}}

  </div>

  <div class="col-md-6">

    {{#box}}
      <div class="s-box {{modifierClass}}">

        <div class="s-box-side-left"></div>
        <div class="s-box-side-right"></div>

        <div class="s-box-body">
          <div class="s-box-content {{boxContentModifierClass}}">

            {{#content}}
              {{>atoms-Text}}
            {{/content}}

          </div>
        </div>

      </div>
    {{/box}}

  </div>
</div>
