{{#text}}
  {{>atoms-Text}}
{{/text}}

<div class="mt-2 mb-2 pt-1 pb-1 pl-1 pr-1 g-bgc-gray6">

  {{#text2}}
    {{>atoms-Text}}
  {{/text2}}

</div>

{{#servicesBox}}

  <div class="g-box {{modifierClass}}">

    {{#corners}}
      {{>molecules-Corners}}
    {{/corners}}

    {{#services}}
      {{>organisms-Services}}
    {{/services}}

  </div>

{{/servicesBox}}
