<div class="s-tab {{modifierClass}}">

  {{#tabNav}}
    {{>organisms-Tab-nav}}
  {{/tabNav}}

  <div class="s-tab-content">

    {{#tabPane}}
      <div class="s-tab-pane {{modifierClass}}">

        {{#tabInTab}}
          {{>organisms-Tab}}
        {{/tabInTab}}

      </div>
    {{/tabPane}}

  </div>
</div>
