<div class="s-tab {{modifierClass}}">

  {{#tabNav}}
    {{>organisms-Tab-nav}}
  {{/tabNav}}

  <div class="s-tab-content">

    {{#tabPane}}
      <div class="s-tab-pane {{modifierClass}}">

        {{#tabPaneQueHacer}}
          {{>organisms-Tab-pane-que-hacer}}
        {{/tabPaneQueHacer}}

        {{#tabPaneNuestrosServicios}}
          {{>organisms-Tab-pane-nuestros-servicios}}
        {{/tabPaneNuestrosServicios}}

        {{#tabVerHoteles}}
          {{>organisms-Tab-ver-hoteles}}
        {{/tabVerHoteles}}

        {{#tabVerMapa}}
          {{>organisms-Tab-ver-mapa}}
        {{/tabVerMapa}}

        {{#tabVerCircuitos}}
          {{>organisms-Tab-ver-circuitos}}
        {{/tabVerCircuitos}}

        {{#tabHabitaciones}}
          {{>organisms-Tab-pane-habitaciones}}
        {{/tabHabitaciones}}

        {{#tabSalas}}
          {{>organisms-Tab-pane-salas}}
        {{/tabSalas}}

      </div>
    {{/tabPane}}

  </div>
</div>
