<div class="g-box {{classModifier}}">

  <div class="row align-items-center">

    {{#col}}
      <div class="{{colClass}}">

        {{#buttonDropdown}}
          {{>molecules-Button-dropdown}}
        {{/buttonDropdown}}

        {{#linkWithIcon}}
          {{>atoms-Link-with-icon}}
        {{/linkWithIcon}}

      </div>
    {{/col}}

  </div>

</div>
