<div class="g-box {{classModifier}}">

  <div class="row align-items-center">

    <div class="col-sm-12 col-md-6 col-xl-3 mb-2 mb-lg-0">

      {{#btnDestino}}
        {{>molecules-Button-dropdown}}
      {{/btnDestino}}

    </div>

    <div class="col-sm-12 col-md-6 col-xl-5 mb-2 mb-lg-0">

      {{#btnLugar}}
        {{>molecules-Button-dropdown}}
      {{/btnLugar}}

    </div>

    <div class="col-sm-12 col-md-10 col-xl-3 mb-2 mb-lg-0">

      {{#btnCapacidad}}
        {{>molecules-Button-dropdown}}
      {{/btnCapacidad}}

    </div>

    <div class="col-sm-12 col-md-2 col-xl-1 pl-0 text-right">

      {{#btnLimpiar}}
        {{>atoms-Link-with-icon}}
      {{/btnLimpiar}}

    </div>

  </div>

</div>
