<video *ngIf="payload?.type === FORM_TYPE.vidName" class="" [poster]="payload?.data?.large?.imageUri" controls=""
  autoplay="" loop="">
  <source
    [src]="payload?.data?.url"
    [caMymeType]="payload?.data?.mimeType">
  Tu navegador no tiene soporte para videos HTML5
</video>


<img
  *ngIf="payload?.type === FORM_TYPE.imgName"
  [src]="payload?.data[0]?.large?.imageUri"
  [alt]="payload?.data[0]?.properties?.alt"/>

<iframe *ngIf="payload?.type === FORM_TYPE.ifrName" class="s-360" [src]="payload?.data | safeUrl"></iframe>
<div
  class="s-map-modal"
  *ngIf="payload?.type === FORM_TYPE.mapName">
  <a [href]="payload?.imageLink" target="_blank">
    <img
      class="w-100"
      [src]="payload?.data[0]?.large?.imageUri"
      [alt]="payload?.data[0]?.properties?.alt">
  </a>
  <div class="s-map-modal-detail">
    <div class="col-md-5">
      <div class="s-map-modal-info">
        <h5>
          <i class="la la-map-marker"></i>
          {{ payload?.contact[0]?.label }}
        </h5>
        <p><a [href]="payload?.imageLink" class="line-break" [innerHTML]="payload?.contact[0]?.description" target="_blank"></a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="s-map-modal-info">
        <h5>
          <i class="la la-phone"></i>
          {{ payload?.contact[1]?.label }}
        </h5>
        <p class="line-break" [innerHTML]="payload?.contact[1]?.description"></p>
      </div>
    </div>
    <div class="col-md-3 text-center text-md-right align-self-center">
      <img class="g-img-fluid d-inline-block" [src]="payload?.descriptorInfo?.url" alt="">
    </div>
  </div>
</div>
<div class="g-carousel" *ngIf="payload?.type === 'gallery'">
  <ca-carousel-controls
  [animation]="false"
  [active]="activeSlide"
  [lgth]="payload?.slides.length"
  color="white"></ca-carousel-controls>
  <div class="g-carousel-content">
    <div class="g-carousel-content-wrapper">
      <ng-container *ngFor="let slide of payload.slides; let i = index">
        <div class="carousel-item" [ngClass]="{active: i === activeSlide}">
          <img
            class=""
            [src]="(slide?.zoomImage || slide?.zoomPhoto || slide?.backgroundImage)[0]?.large?.imageUri"
            [alt]="(slide?.zoomImage || slide?.zoomPhoto || slide?.backgroundImage)[0]?.properties?.alt"
            *ngIf="slide?.type === FORM_TYPE.image">
          <video class="" [poster]="slide?.backgroundVideo?.large?.imageUri" controls="" autoplay="" loop=""
            *ngIf="slide?.type === FORM_TYPE.video">
            <source [src]="slide?.backgroundVideo?.url" [type]="slide?.backgroundVideo?.mimeType">
            Tu navegador no tiene soporte para videos HTML5
          </video>
        </div>
      </ng-container>
    </div>
  </div>
</div>
