<ul class="s-accordion-list {{modifierClass}}">

  {{#item}}
    <li class="s-accordion-list-item {{modifierClass}}">

      {{#itemHeader}}
        {{>molecules-Accordion-list-header}}
      {{/itemHeader}}

      {{#itemBody}}
        {{>molecules-Accordion-list-body}}
      {{/itemBody}}

    </li>
  {{/item}}

</ul>
