<div class="s-box {{boxModifierClass}}">

  <div class="s-box-side-left"></div>
  <div class="s-box-side-right"></div>

  <div class="s-box-body">
    <div class="s-box-content {{boxContentModifierClass}}">

      {{#boxContentInfo}}
        {{>atoms-Text}}
      {{/boxContentInfo}}

    </div>
  </div>

</div>
