<div class="g-box g-box-flex {{modifierClass}}">

  {{#corners}}
    {{>molecules-Corners}}
  {{/corners}}

  {{#title}}
    {{>atoms-Text}}
  {{/title}}

  {{#list}}
    {{>molecules-Inline-list}}
  {{/list}}

</div>

{{#img}}
  {{>organisms-Image-bg-box}}
{{/img}}
