<div class="s-box {{classModifier}}">

  <div class="s-box-side-left"></div>
  <div class="s-box-side-right"></div>

  <div class="s-box-body">
    <div class="s-box-content {{boxContentModifierClass}}">

      {{#image}}
        {{>atoms-Image}}
      {{/image}}

      {{#title}}
        <div class="s-comment-title">

          {{>atoms-Text}}

        </div>
      {{/title}}

      {{#raiting}}
        {{>molecules-Raiting-list}}
      {{/raiting}}

      {{#comment}}
        <div class="s-comment">

          {{>atoms-Text}}

        </div>
      {{/comment}}

      {{#date}}
        {{>atoms-Text}}
      {{/date}}

    </div>
  </div>

</div>
