<div class="row {{classModifier}}">
  {{#col}}
    <div class="{{colClass}}">

      {{#icon}}
        {{>atoms-Icon}}
      {{/icon}}

      {{#text}}
        {{>atoms-Text}}
      {{/text}}

      {{#navSingle}}
        {{>molecules-Nav-single}}
      {{/navSingle}}

      {{#assessment}}
        <div class="row align-items-center">
          <div class="col">
            {{#AssessmentText}}
              {{>atoms-Text}}
            {{/AssessmentText}}
          </div>

          <div class="col text-right">
            {{#btnAssessment}}
              {{>molecules-Button-dropdown}}
            {{/btnAssessment}}
          </div>

        </div>
      {{/assessment}}

      {{#blackButtons}}
        <div class="row mt-1">
          <div class="col descriptor-info-ca--buttons">

            {{#blackButton}}
              {{>atoms-Button-black}}
            {{/blackButton}}

          </div>
        </div>
      {{/blackButtons}}

    </div>
  {{/col}}

</div>
