<div class="row {{modifierClass}}">
  <div class="col-md-6 pt-1 pt-lg-2 pb-2">

    {{#content}}
      {{>atoms-Text}}
    {{/content}}

    {{#link}}
      {{>atoms-Link-with-icon}}
    {{/link}}

  </div>

  <div class="col-md-6">

    {{#img}}
      {{>atoms-Image}}
    {{/img}}

  </div>
</div>
