<div class="row {{classModifier}}">

  <div class="col-sm-12 col-md-6 tags-ca--title">

    {{#icon}}
      {{>atoms-Icon}}
    {{/icon}}

    {{#title}}
      {{>molecules-Heading}}
    {{/title}}

  </div>

  <div class="col-sm-12 col-md-6">

    {{#navTags}}
      {{>molecules-Nav-tag-single}}
    {{/navTags}}

  </div>

</div>