<div class="row {{classModifier}}">

  <div class="col-lg-6">

    {{#heading}}
      {{>molecules-Heading}}
    {{/heading}}

  </div>

  <div class="col-lg-6">

    <div class="row align-items-center">

      <div class="col-sm-4 d-flex justify-content-center">
        {{#awards}}

          <div class="mr-1 mb-1">

            {{>atoms-Image}}

          </div>

        {{/awards}}
      </div>

      <div class="col-sm-8">

        <div class="row align-items-center">

          {{#assessment}}

            <div class="col-auto">

              {{#text}}
                {{>atoms-Text}}
              {{/text}}

            </div>

            <div class="col text-right">

              {{#btnAssessment}}
                {{>molecules-Button-dropdown}}
              {{/btnAssessment}}

            </div>

          {{/assessment}}

        </div>

      </div>


    </div>

  </div>

</div>
