<div class="d-flex flex-column">

  <figure class="s-img-extend">

    {{#figureImage}}
      {{>atoms-Image}}
    {{/figureImage}}

    {{#figureVideo}}
      {{>atoms-Video}}
    {{/figureVideo}}

    <i class="la la-arrows"></i>

  </figure>

  <div class="g-bgc-white g-box-shadow1 p-2">

    {{#inlineList}}
      {{>molecules-Inline-list}}
    {{/inlineList}}

    <div class="d-flex align-items-center g-overflow-x-auto">

      {{#awardsImage}}
        <div class="m-1">
          {{>atoms-Image}}
        </div>
      {{/awardsImage}}

    </div>
  </div>
</div>
