<div class="s-box {{classModifier}}">

  <div class="s-box-side-left"></div>
  <div class="s-box-side-right"></div>

  <div class="s-box-body">
    <div class="s-box-content {{boxContentModifierClass}}">

      <div class="row g-block">
        <div class="col-12">

          {{#title}}
            {{>molecules-Heading}}
          {{/title}}

        </div>
      </div>

      <div class="row">

        {{#features}}
          <div class="col-sm-6 col-md-4 col-xl-x5">

            {{>molecules-Feature-ca}}

          </div>
        {{/features}}

      </div>

    </div>
  </div>

</div>
