<form>

  <div class="g-height-0 d-none d-lg-block">

    <div class="s-box {{classModifier}}" {{{positionStyle}}}>

      <div class="s-box-side-left"></div>
      <div class="s-box-side-right"></div>

      <div class="s-box-body">
        <div class="s-box-content">

          <div class="col-4">

            {{#inputDestino}}
              {{>molecules-Input-with-label}}
            {{/inputDestino}}

          </div>

          <div class="col-2">

            {{#checkIn}}
              {{>molecules-Input-date}}
            {{/checkIn}}

          </div>

          <div class="col-2">

            {{#checkOut}}
              {{>molecules-Input-date}}
            {{/checkOut}}

          </div>

          <div class="col-2">

            {{#inputCodigo}}
              {{>molecules-Input-with-label}}
            {{/inputCodigo}}

          </div>

          <div class="col-2">

            {{#btnBuscar}}
              {{>atoms-Button}}
            {{/btnBuscar}}

          </div>

        </div>
      </div>

    </div>

  </div>

</form>
