<div class="s-services {{classModifier}}">

  <div class="row">

    <div class="col-12">

      {{#title}}
        {{>atoms-Text}}
      {{/title}}

    </div>
  
  </div>

  <div class="row s-services--list">

    {{#col}}

      <div class="{{colClass}}">

        {{#service}}
          {{>molecules-Feature-ca}}
        {{/service}}

      </div>

    {{/col}}

  </div>

</div>