<div class="g-box g-box-flex {{classModifier}}">

  {{#corners}}
    {{>molecules-Corners}}
  {{/corners}}

  {{#services}}
    {{>organisms-Services}}
  {{/services}}

</div>

{{#img}}

  <div class="{{imgClass}}" style="background-image: url('{{backgroundImg}}');"></div>

{{/img}}