<ca-tab-header [tabItemsList]="tabItemsList">
  <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="addFile()">
    <span>Agregar Multimedia</span>
    <i class="la la-plus-circle"></i>
  </button>
</ca-tab-header>
<ca-tab-content>
  <div class="g-card-wrapper">
    <caadmin-title-filter-actions
      [title]="'Multimedia'"
      (apply)="onApply()"
      (clean)="onClean()">

      <div class="col-auto text-right">
        <div class="g-btn-dropdown" [ngClass]="{ 'active' : openFilter }" (mouseleave)="openFilter = false">
          <div class="g-btn-dropdown-inner text-left" style="width: 170px;" [ngClass]="{ 'text-capitalize': currentDate }" (click)="openFilter = !openFilter">
            <span><i class="la la-calendar"></i></span>
            <span>{{ currentDate? (currentDate | date:'yyyy MMMM'): 'Todas las fechas' }}</span>
          </div>
          <caadmin-gallery-filter-date
            [current]="currentDate"
            [type]="type"
            (selected)="selectedDate($event)"></caadmin-gallery-filter-date>
        </div>
      </div>

    </caadmin-title-filter-actions>

    <div class="row">
      <!-- Imagen cargando - Progress -->
      <div class="col-x5 mb-1" *ngIf="tmpFile">
        <ng-container
          *ngTemplateOutlet="
            payload.type === FILE_TYPE.document? documentPreview: imagePreview;
            context:{
              $implicit: tmpFile
            }">
        </ng-container>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [ngStyle]="{ width : tmpFile.progress + '%' }">
              {{ tmpFile.progress }}%
          </div>
        </div>
      </div>
      <div class="col-x5 mb-1" *ngFor="let file of files">
        <ng-container
          *ngTemplateOutlet="
              type === FILE_TYPE.document? documentPreview : imagePreview;
              context:{
                $implicit: file
              }">
          </ng-container>
        </div>
      </div>

      <ca-paginator
        [(page)]="pagination.page"
        [collectionSize]="totalElements"
        [pageSize]="pagination.pageSize"
        (pageChange)="getFiles()">
      </ca-paginator>
    </div>

  </ca-tab-content>

<ng-template #documentPreview let-file>
  <div class="c-file-preview"
    [ngClass]="{
      'active': file.over
    }"
    (mouseover)="file.over = true"
    (mouseleave)="file.over = false">
    <div class="c-file-preview-icon" (click)="openPreview(file)">
      <i [iconFile]="file.name || file.url"></i>
    </div>
    <div class="c-file-preview-info">
      <span class="">{{ file.name }} </span>
    </div>
    <button
      [ngClass]="{ 'd-none': !file.over }"
      class="g-btn-close"
      type="button"
      [swal]="deleteSwal"
      (confirm)="delete(file)">
      <i class="la la-close"></i>
    </button>
  </div>
</ng-template>

<ng-template #imagePreview let-file>
  <div class="g-img-preview"
    [ngClass]="{
        'active': file.over
      }"
    (mouseover)="file.over = true"
    (mouseleave)="file.over = false">
    <div
      class="g-img-preview-img"
      [ngClass]="{
        'g-img-preview-img--badge': type === FILE_TYPE.badge
      }"
      [ngStyle]="{ 'background-image': 'url(' + (!file.medium? file.url : file.medium.imageUri) + ')'}"
      (click)="openPreview(file)">
    </div>

    <div [ngClass]="{ 'd-none': !file.over }">
      <button
        class="g-btn-close"
        type="button"
        [swal]="deleteSwal"
        (confirm)="delete(file)">
        <i class="la la-close"></i>
      </button>
    </div>
  </div>
</ng-template>

<input #file type="file" class="d-none"/>
