<div class="g-feature-content">
  <i [ngClass]="data?.icon"
    [ngStyle]="{'color': descriptorInfo?.color}"></i>
  <div class="g-feature-info">
    <span class="d-inline-block d-sm-block">{{ data?.title }}</span>
    <span>{{ data?.subtitle }}</span>
  </div>
</div>

