<div class="d-flex flex-wrap">
  <div class="col-sm-6 d-flex align-items-center justify-content-end p-0">
    <div class="g-middle-container s-background">
      <div class="row">
        <div class="col-lg-11 py-4 py-sm-5 py-lg-7">
          <ca-section-header [title]="title" type="black"></ca-section-header>
          <p class="g-text-with-line" [innerHTML]="description | safeHtml"></p>
          <div class="row align-items-center mt-4">
            <div class="col-3 text-right">
              <img class="g-img-fluid" [caImgSrcset]="downloadImage[0]">
            </div>
            <div class="col-9">
              <h4 class="g-fs-18 g-fs-md-24 g-fs-lg-30 g-f-nexa-slab g-fw-book mb-1">
                {{ titleDownload }}
              </h4>
              <a [caUrlLink]="urlLink" class="g-link g-link-icon g-link-icon-right">
                {{ textLink }}
                <i class="la la-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 p-0">
    <div class="d-flex flex-column">
      <figure class="s-img-extend">
        <video
          class="w-100 d-block"
          autoplay=""
          loop=""
          muted=""
          *ngIf="item[0]?.type !== FORM_TYPE.image">
          <source [src]="item[0]?.backgroundVideo?.url" [caMymeType]="item[0]?.backgroundVideo?.mimeType">
          Tu navegador no tiene soporte para videos HTML5
        </video>
        <img
          class="w-100 d-block"
          [caImgSrcset]="item[0]?.backgroundImage[0]"
          *ngIf="item[0]?.type === FORM_TYPE.image">
      </figure>
      <div class="g-bgc-white g-box-shadow1 p-2">
        <ul class="s-list-inline ">
          <li class="s-list-inline-item ">
            <span></span>
            {{ AWARDS[language] }}
          </li>
        </ul>
        <div class="d-flex align-items-center g-overflow-x-auto">
          <div class="m-1" *ngFor="let badeItem of badges">
            <img class="g-w-60 g-w-md-80" [src]="badeItem?.badge">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
