<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Conoce nuestros restaurantes -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

</main>

<footer></footer>
