<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section pt-1 pb-3 g-bgc-gray7'>
    <div class='container'>
      <!-- Información de destino -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray1'>
    <div class='container'>
      <!-- Qué hacer en destino -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Nuestros Hoteles en destino -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Nuestros Restaurantes en destino -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Organiza tu evento -->
    </div>
  </section>

</main>

<footer></footer>
