<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section g-section--padding-90 g-section--texture'>
    <div class='container'>
      <!-- Diferenciales -->
    </div>
  </section>

  <section class='g-section g-section--padding-40 g-bgc-gray7'>
    <div class='container'>
      <!-- Organiza tu evento -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray1'>
    <div class='container'>
      <!-- Nuestras salas -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
