<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section g-bgc-gray7'>
    <div class='container'>
      <!-- Ver hoteles / Ver mapa / Ver Circuitos -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
