<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section g-section--padding-30'>
    <div class='container'>
      <!-- Info detalle restaurante -->
    </div>
  </section>

  <section class='g-section g-section g-section--padding-60' style='background-color: #002c55;'>
    <div class='container'>
      <!-- Productos -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Especialidad de la casa -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
