<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section pt-5 pb-7 g-section--texture'>
    <div class='container'>
      <!-- Info Evento -->
    </div>
  </section>

  <section class='g-section g-section--padding-40 g-bgc-gray7'>
    <div class='container'>
      <!-- Salas para evento -->
    </div>
  </section>

  <section class='g-section g-bgc-gray7 pt-2 pb-9'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
