<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section'>
    <div class='container'>
      <!-- Formulario reservas -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-section--texture'>
    <div class='container'>
      <!-- Diferenciales -->
    </div>
  </section>

  <section class='g-section g-bgc-gray7'>
    <!-- Por qué Casa Andina -->
  </section>

  <section class='g-section pt-3 pb-6 g-bgc-gray7'>
    <div class='container'>
      <!-- Beneficios -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
