<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section'>
    <div class='container'>
      <!-- Formulario reservas -->
    </div>
  </section>

  <section class='g-section pt-5 pb-7 g-section--texture'>
    <div class='container'>
      <!-- Info Hotel -->
    </div>
  </section>

  <section class='g-section g-section--padding-30 g-bgc-gray7'>
    <div class='container'>
      <!-- Nuestros Servicios -->
    </div>
  </section>

  <section class='g-section pt-3 pb-1 g-bgc-gray7'>
    <div class='container'>
      <!-- Beneficios -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Habitaciones de la casa -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Opiniones -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 pt-0 pb-md-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de imágenes -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray1'>
    <div class='container'>
      <!-- Galería de promociones -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Nuestros Restaurantes -->
    </div>
  </section>


</main>

<footer></footer>
