<header></header>

<main>
  <section class='g-section'>
    <!-- Slider Principal -->
  </section>

  <section class='g-section pt-5 pb-7 g-section--texture'>
    <div class='container'>
      <!-- Info Promoción -->
    </div>
  </section>

  <section class='g-section pt-3 g-bgc-gray7'>
    <div class='container'>
      <!-- Cuenta regresiva promoción -->
    </div>
  </section>

  <section class='g-section g-section--padding-60 g-bgc-gray7'>
    <div class='container'>
      <!-- Oportunidades para Aventurarse -->
    </div>
  </section>

  <section class='g-section g-section--padding-90 g-bgc-gray7'>
    <div class='container'>
      <!-- Galería de Experiencias -->
    </div>
  </section>

  <section class='g-section pb-6 pt-0 g-bgc-gray7'>
    <div class='container'>
      <!-- Tags -->
    </div>
  </section>

</main>

<footer></footer>
