{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#mainNotification}}
      {{>molecules-Main-notification}}
    {{/mainNotification}}

    <div class="g-card-wrapper">

      {{#principalTitle}}
        {{>molecules-Principal-title}}
      {{/principalTitle}}

      {{#summaryPages}}
        {{>organisms-Page-summary}}
      {{/summaryPages}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </main>

</div>
