<div class="g-modal-header">

  <button class="g-modal-close">
    <i class="la {{iconClass}}"></i>
  </button>

  {{#modalTitleImage}}
    <div class="g-modal-header-img" {{{borderStyle}}}>

      {{>atoms-Image}}

    </div>
  {{/modalTitleImage}}

  {{#modalTitle}}
    {{>atoms-Text}}
  {{/modalTitle}}

</div>
