<div class="row">
  <div class="col-12">
    <div class="g-box g-box--destinations">
      <ca-map-destinations
        [hotels]="hotels"
        [mapDestinations]="destinationsMap"
        [language]="language">
      </ca-map-destinations>
    </div>
  </div>
</div>
