<div class="c-browser-favicon">

  <div class="c-browser-favicon-control">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="c-browser-favicon-top">
    <div class="c-browser-favicon-tab">

      {{#favicon}}
        {{>atoms-Image}}
      {{/favicon}}

      {{#pageTitle}}
        {{>atoms-Text}}
      {{/pageTitle}}

    </div>
  </div>

</div>
