<div class="g-card-info-border">

  {{#breadcrumb}}
    {{>atoms-Breadcrumb}}
  {{/breadcrumb}}

  {{#infoText}}
    {{>atoms-Text}}
  {{/infoText}}

  {{#infoWithIcon}}
    {{>atoms-Info-with-icon}}
  {{/infoWithIcon}}

  <div class="d-flex align-items-center">

    {{#pageImage}}
      <div class="g-w-100 mr-1">

          {{>atoms-Image}}

      </div>
    {{/pageImage}}

    {{#pageType}}
      {{>atoms-Icon}}
    {{/pageType}}

    {{#pageTitle}}
      {{>atoms-Text}}
    {{/pageTitle}}

  </div>

</div>
