<div class="g-card-info {{cardInfoModifierClass}}">
  <span class="g-fs-13 g-fw-bold">{{title}}</span>

  {{#infoWithIcon}}
    {{>atoms-Info-with-icon}}
  {{/infoWithIcon}}

  {{#infoWithColorBox}}
    {{>atoms-Info-with-color-box}}
  {{/infoWithColorBox}}

  {{#infoText}}
    {{>atoms-Text}}
  {{/infoText}}

  {{#inputSwith}}
    {{>atoms-Input-switch}}
  {{/inputSwith}}

  {{#badge}}
    {{>atoms-Badge}}
  {{/badge}}

</div>
