<div class="g-btn-dropdown {{classModifier}}">

  <div class="g-block">
    {{#infoWithIcon}}
      {{>atoms-Info-with-icon}}
    {{/infoWithIcon}}

    <i class="{{iconClass}} g-fs-17"></i>
  </div>

  {{#checkboxList}}
    {{>molecules-Checkbox-list}}
  {{/checkboxList}}
</div>
