<div class="g-card g-card-gray {{grayCardClass}}">
  <div class="row">

    {{#col}}
      <div class="{{colClass}}">

        {{#text}}
          {{>atoms-Text}}
        {{/text}}

        {{#checkbox}}
          <div class="g-col-50">
            {{>atoms-Input-check}}
          </div>
        {{/checkbox}}

        {{#permissionRadio}}
          {{>molecules-Set-permission-radio}}
        {{/permissionRadio}}

      </div>
    {{/col}}

  </div>
</div>
