<div class="g-tabs-heading-wrapper row no-gutters align-items-center g-bgc-white {{modifierClass}}">

  {{#col}}
    <div class="{{colClass}}">

      {{#navTabs}}
        {{>molecules-Nav-tabs}}
      {{/navTabs}}

      {{#buttonWithIcon}}
        {{>atoms-Button-with-icon}}
      {{/buttonWithIcon}}

      {{#buttonDefault}}
        {{>atoms-Button}}
      {{/buttonDefault}}

    </div>
  {{/col}}

</div>
