<div class="row flex-nowrap align-items-center justify-content-between {{modifierCLass}}">

  {{#col}}
    <div class="{{colClass}}">

      {{#heading}}
        {{>atoms-Text}}
      {{/heading}}

      {{#buttonDefault}}
        {{>atoms-Button}}
      {{/buttonDefault}}

      {{#buttonWithIcon}}
        {{>atoms-Button-with-icon}}
      {{/buttonWithIcon}}

      {{#rowInner}}
        <div class="row flex-nowrap justify-content-end">

          {{#colInner}}
            <div class="{{colInnerClass}}">

              {{#buttonSelect}}
                {{>molecules-Button-select}}
              {{/buttonSelect}}

            </div>
          {{/colInner}}

        </div>
      {{/rowInner}}

    </div>
  {{/col}}

</div>
