<ul class="c-list-title {{titleListClass}}">

  {{#titleListItem}}
    <li class="c-list-title-item">

      <a href="#" class="c-list-title-link {{titleListItemClass}}">{{titleListItemText}}</a>

    </li>
  {{/titleListItem}}

</ul>
