/*@import '../styles/main.scss';

header {
    display: flex;
    flex-direction: column;
    &:not(.no-margins) {
        margin-bottom: 1.69em;
    }
    @include media-breakpoint-up(md) {
        justify-content: space-between;
        flex-direction: row;
    }
    & > div {
        display: flex;
        align-items: center;
    }
    .section-title {
        font-size: 1.15rem;
        padding: .25em 0;
        position: relative;
        margin: 0;
        color: $body-color;
        font-family: $title-font;
        @include media-breakpoint-up(sm) {
            font-size: 1.54rem;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1.5em;
            height: 2px;
            background-color: $red;
        }
    }
}

::ng-deep [bvl-section-header-left] {
    & > :first-child {
        margin-left: 3em;
    }
}*/
