<div class="row align-items-center descriptor-info-ca descriptor-info-ca--assessment">
  <div class="col-sm-12 col-md-8 descriptor-info-ca--big">
    <i class="la la-angle-right"></i>
    <h2 class="g-fs-30">
      Nuestras puertas siempre se encuentran abiertas para acogerte con toda amabilidad y entrega...
    </h2>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="row">
      <div class="col descriptor-info-ca--little">
        <p class="s-text-assessment s-text-assessment--premium g-fs-16 g-text-uppercase mr-2">
          Valoración <span>Excelente</span>
        </p>
        <div class="g-dropDown align-items-center descriptor-info-ca descriptor-info-ca--assessment">
          <button class="g-btn g-btn-with-icon g-btn-assessment g-btn-fat g-btn-premium g-btn-with-icon--dropdown"
            type="button">
            <span>4.5<span>/5</span></span>
            <i class="la la la-angle-down"></i>
          </button>
          <div class="g-box g-dropDown--box g-box-shadow3 text-left" style="display: none">
            <p class="g-fs-20 g-text-normal g-lg-1 mb-2">
              TOP 5% de los Hoteles en Arequipa
            </p>
            <div class="p-3 g-bgc-gray7 ">
              <div class="row">
                <div class="col">
                  TripAdvisor
                </div>
                <div class="col-3 text-center">
                  4.5/5
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Booking.com
                </div>
                <div class="col-3 text-center">
                  9.0/10
                </div>
              </div>

              <div class="row">
                <div class="col">
                  Hotels.com
                </div>
                <div class="col-3 text-center">
                  8.8/10
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Expedia
                </div>
                <div class="col-3 text-center">
                  4.5/5
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col descriptor-info-ca--buttons">
        <div class="g-btn g-btn-black ">
          <i class="la la-map-marker"></i>
          Ubicación
        </div>
        <div class="g-btn g-btn-black ">
          <i class="la la-automobile"></i>
          Traslados
        </div>
        <div class="g-btn g-btn-black ">
          <i class="la la-street-view"></i>
          360
        </div>
      </div>
    </div>
  </div>
</div>
