<ca-card-wrapper>
  <caadmin-heading>
    {{ CONFIGURATION_LANG.labels.titleGeneral }}
  </caadmin-heading>
  <form [formGroup]="frmGeneral">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titleInfoSite" (save)="saveIdentity()" (cancel)="cancelIdentity()">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white mb-2">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="clearfix mx-n3">
                <div class="col-6 float-left">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label for="title" class="g-fw-bold">Título del sitio:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="sitename" placeholder="Hoteles Casa Andina"></ca-input>
                    </div>
                  </div>
                </div>
                <div class="col-6 float-right">
                  <div class="c-browser-preview">
                    <p class="g-fw-bold mb-2">
                      Vista de cómo se ve en el browser:
                    </p>
                    <div class="c-browser-preview-detail">
                      <h5 class="c-browser-preview-title">
                        {{ sitename.value }}
                      </h5>
                      <span class="c-browser-preview-link">
                        {{ sitename.value }}
                      </span>
                      <span class="c-browser-preview-description">
                        {{ description.value }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-6 float-left">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label for="description" class="g-fw-bold mt-1">Breve Descripción:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-textarea " rows="4"
                        placeholder="" formControlName="description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Etiquetas de SEO:</label>
              </div>
              <div class="col">
                <ca-input formControlName="keywords"></ca-input>
                <small>Separar por comas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white mb-2">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-6">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label for="icono" class="g-fw-bold">Ícono del sitio:</label>
                    </div>
                    <div class="col">
                      <caadmin-gallery-select
                        formControlName="iconSite" size="sm" [mimeTypes]="['image/jpg', 'image/png']" placeholder="16x16"
                        type="badge" responseFormat="string" [maxSize]="20">
                      </caadmin-gallery-select>
                      <div class="mt-1 ">
                        <span class="d-block g-fs-14">
                          Los íconos del sitio son los que ves en las pestañas del navegador y barras de
                          favoritos.<br><br> Los íconos del sitio deben ser cuadrados y de al menos
                          <strong>16x16</strong> píxeles.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="c-browser-favicon">
                    <div class="c-browser-favicon-control">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="c-browser-favicon-top">
                      <div class="c-browser-favicon-tab">
                        <img class="" [src]="iconSite.value" [alt]="sitename.value" height="16" width="16">
                        <span class="">
                          {{ sitename.value }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white mb-2" formGroupName="contact">
        <div class="row">
          <div class="col-6">
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Teléfono ES:</label>
              </div>
              <div class="col">
                <ca-input formControlName="phoneEs" placeholder="+51 (01) 555-5962"></ca-input>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Teléfono EN:</label>
              </div>
              <div class="col">
                <ca-input formControlName="phoneEn" placeholder="+51 (01) 555-5962"></ca-input>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Teléfono PT:</label>
              </div>
              <div class="col">
                <ca-input formControlName="phonePt" placeholder="+51 (01) 555-5962"></ca-input>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Correo ES:</label>
              </div>
              <div class="col">
                <ca-input formControlName="mailsEs" placeholder="casa-es@casa-andina.com"></ca-input>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Correo EN:</label>
              </div>
              <div class="col">
                <ca-input formControlName="mailsEn" placeholder="casa-en@casa-andina.com"></ca-input>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-2">
              <div class="col-auto g-w-100">
                <label for="title" class="g-fw-bold">Correo PT:</label>
              </div>
              <div class="col">
                <ca-input formControlName="mailsPt" placeholder="casa-pt@casa-andina.com"></ca-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white" formGroupName="contact">
        <div class="row align-items-center no-gutters mb-2">
          <div class="col-auto g-w-100">
            <label for="title" class="g-fw-bold">Página de contacto:</label>
          </div>
          <div class="col-5">
            <div class="g-select w-100">
              <i class="la la-angle-down"></i>
              <select formControlName="formPage">
                <option [ngValue]="null">Seleccionar</option>
                <option [value]="item.value" *ngFor="let item of contactPages">
                  {{ item.text }}
                </option>
              </select>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <form [formGroup]="frmScript">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titleScripts"
      (save)="saveScript()" (cancel)="cancelScript()">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Código de Seguimiento:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-textarea" formControlName="tracing" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Scripts para Cabecera:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-textarea" formControlName="header" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Script van después de body:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-textarea" formControlName="body" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Script para Pie:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-textarea" formControlName="footer" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <form [formGroup]="frmReservationRoiback">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titleReservationRoiback"
      (save)="saveReservationRoiback($event)" (cancel)="cancelReservationRoiback($event)">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Reservas Español:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="reservationEsp" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Reservas Ingles:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="reservationEng" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Reservas Portugués:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="reservationPor" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <form [formGroup]="frmRoibackPrice">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titlePriceRoiback" (save)="saveRoibackPrice($event)"
      (cancel)="cancelRoibackPrice($event)">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Soles:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlPricePen" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Dólares:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlPriceUsd" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Reales:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlPriceBrl" placeholder="reservas.com/casa-andina.com"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <form [formGroup]="frmIcons">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titleIconsPay" (save)="saveIcons($event)"
      (cancel)="cancelIcons($event)">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters mb-2">
                    <div class="col-auto g-w-100 g-h-100">
                      <label class="g-fw-bold">Íconos:</label>
                    </div>
                    <div class="col d-flex flex-wrap" [formGroup]="icons">
                      <caadmin-gallery-select *ngFor="let icon of icons.controls; let index = index;"
                        [formControlName]="index" size="sm" [mimeTypes]="['image/jpg', 'image/png']" placeholder="16x16"
                        type="badge" responseFormat="string" [maxSize]="20">
                      </caadmin-gallery-select>
                    </div>
                    <div class="col-12">
                      Esos íconos deberán ser cuadrados y de al menos <strong>16x16</strong> píxeles
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <form [formGroup]="frmNetworking">
    <caadmin-card-form [title]="CONFIGURATION_LANG.labels.titleNetworking" (save)="saveNetworking($event)"
      (cancel)="cancelNetworking($event)">
      <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Facebook:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlFacebook" placeholder="facebook.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Twitter:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlTwitter" placeholder="twitter.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Instagram:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlInstagram" placeholder="instagram.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Youtube:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlYoutube" placeholder="youtube.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Flickr:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlFlickr" placeholder="flickr.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row align-items-center no-gutters mb-2">
                    <div class="col-auto g-w-100">
                      <label class="g-fw-bold">Whatsapp:</label>
                    </div>
                    <div class="col">
                      <ca-input formControlName="urlWhatsapp" placeholder="whatsapp.com/casa-andina"></ca-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </caadmin-card-form>
  </form>
  <caadmin-card-form [title]="'Cargar Iconos'" [hideSave]="'true'" [hideCancel]="'true'">
    <div class="pt-3 pb-3 pl-6 pr-6 g-bgc-white">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 mr-1">Archivo de configuración base, para iconos personalizados </p>
        <a [href]="linkBaseIcon" download="selection.json" class="g-cl-primary">Descargar</a>
      </div>
      <div class="progress mb-1" *ngIf="progressUploadZip">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [ngStyle]="{ width : progressUploadZip + '%' }">
          {{ progressUploadZip }}%
        </div>
      </div>
      <p class="mb-1" *ngIf="progressUploadZip">{{ progressUploadZip < 100? 'Subiendo...': 'Generando iconos...' }}</p>

      <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="addFile()">
        <span>Subir zip de iconos</span>
        <i class="la la-plus-circle"></i>
      </button>
      <input #file type="file" class="d-none"/>
    </div>
  </caadmin-card-form>
</ca-card-wrapper>
