<ul class="s-accordion-list ">
  <li
  *ngFor="let destination of destinations" class="s-accordion-list-item"
  [ngClass]="{'active': destination?.state}">
    <ca-hotel-acordion [destination]="destination" (updateSt)="changeState($event, destination)"></ca-hotel-acordion>
  </li>
</ul>
