<div class="g-bgc-gray7">
  <div class="container">
    <div class="row s-heading-assessment">
      <div class="col">
        <ca-section-header [title]="title" type="black"></ca-section-header>
      </div>
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto d-flex flex-wrap justify-content-center">
            <div class="g-w-60 mr-1 mb-1" *ngIf="badge1">
              <img class="g-img-fluid" [src]="badge1">
            </div>
            <div class="g-w-60 mr-1 mb-1" *ngIf="badge2">
              <img class="g-img-fluid" [src]="badge2">
            </div>
            <div class="g-w-60 mr-1 mb-1" *ngIf="badge3">
              <img class="g-img-fluid" [src]="badge3">
            </div>
            <div class="g-w-60 mr-1 mb-1" *ngIf="badge4">
              <img class="g-img-fluid" [src]="badge4">
            </div>
          </div>
          <div class="col">
            <ca-rate [descriptorInfo]="descriptorInfo" [opinionsRate]="opinionsRate"></ca-rate>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2 g-overflow-hidden" *ngIf="opinionsGroup.length">
    <ca-carousel
      controlColor="black"
      [animation]="true"
      [height]="height"
      [sliders]="opinionsGroup"
      [updateWidth]="updateWidth">
      <ng-container>
        <div
          caCarouselHover
          class="carousel-group-item"
          *ngFor="let opinionGroup of opinionsGroup">
          <div
            class="g-carousel-content-wrapper g-carousel-content-wrapper--flex">
            <div class="carousel-item carousel-item--xs active" *ngFor="let opinion of opinionGroup">
              <ca-opinion [data]="opinion"></ca-opinion>
            </div>
          </div>
        </div>
      </ng-container>
    </ca-carousel>
  </div>
</div>

