<figcaption class="{{figcaptionClass}}" {{{borderColor}}}>
  <div class="s-box {{modifierClass}}">

    <div class="s-box-side-left"></div>
    <div class="s-box-side-right"></div>

    <div class="s-box-body">
      <div class="s-box-content {{boxContentModifierClass}}">

        {{#img}}
          {{>atoms-Image}}
        {{/img}}

        {{#content}}
          {{>atoms-Text}}
        {{/content}}

        {{#featureList}}
          <div class="row {{featureListClass}}">

            {{#feature}}
              <div class="col-sm-6">

                {{>molecules-Feature-ca}}

              </div>
            {{/feature}}

          </div>
        {{/featureList}}

        {{#button}}
          {{>atoms-Button}}
        {{/button}}

        {{#link}}
          {{>atoms-Link-with-icon}}
        {{/link}}

      </div>
    </div>

  </div>
</figcaption>
