<div class="g-card">
  <div class="g-card-header">
    <div class="d-flex justify-content-between">
      <div class="w-100 overflow-hidden">
        <div class="g-card-info-border">
          <ol class="g-breadcrumb ">
            <li>{{ item.categoryName }}</li>
          </ol>
          <div class="d-flex align-items-center text-truncate">
            <h4 class="g-fs-15 mb-0 text-truncate" [title]="item.name">
              {{ item.name }}
            </h4>
          </div>
        </div>
      </div>
      <div class="pl-1" [style.width]="'300px'" [style.flex-shrink]="0">
        <div class="g-card-info ">

          <span class="g-info-w-icon ">
            <i class="la la-calendar"></i>
            <span class="g-fs-13 g-fw-bold d-inline-flex">Creado:</span> {{ item.createdDate | date:'dd/MM/yyyy HH:mm':'UTC-10' }}
          </span>
          <span class="g-info-w-icon ">
            <i class="la la-calendar"></i>
            <span class="g-fs-13 g-fw-bold d-inline-flex">Modificado:</span> {{ item.lastUpdate | date:'dd/MM/yyyy HH:mm':'UTC-10' }}
          </span>

          <span class="g-info-w-icon text-truncate" [title]="item.fullname">
            <i class="la la-user"></i>
            {{ item.fullname }}
          </span>
        </div>
      </div>
      <div class="pl-0" [style.width]="'120px'" [style.flex-shrink]="0">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Estado</span>
          <div class="g-badge" [ngClass]="item.state | statusFormatColor:item.inEdition:item.publish">
            <i class="la la-tag"></i>
            {{ item.state | statusFormat:item.inEdition:item.publish }}
          </div>
        </div>
      </div>
      <div class="" [style.width]="'100px'" [style.flex-shrink]="0">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Ver en</span>
          <div class="d-flex">
            <span *ngFor="let lang of item.languages" class="g-flags">
              <img
                class="g-cursor-pointer"
                [title]="lang | languageFormat"
                src="assets/images/{{lang}}.svg"
                (click)="see(lang)"/>
            </span>
          </div>
        </div>
      </div>
      <div class="text-right" [style.width]="'320px'" [style.flex-shrink]="0">
        <button
          class="g-btn g-btn-square"
          type="button"
          *ngIf="item.inEdition && setFreePagePermission"
          [swal]="setFreeSwal"
          (confirm)="setFree()"
        >
          <div class="d-flex align-items-center">
            <i class="la la-unlock-alt"></i>
          </div>
          <span>Liberar</span>
        </button>
        <button class="g-btn g-btn-square" type="button" (click)="edit()">
          <div class="d-flex align-items-center">
            <i class="la la-edit"></i>
          </div>
          <span>Editar</span>
        </button>
        <button
          *ngIf="item.publish && !external"
          class="g-btn g-btn-square"
          type="button"
          [swal]="unpublishSwal"
          (confirm)="unpublish()">
          <div class="d-flex align-items-center">
            <i class="la la-eraser"></i>
          </div>
          <span>A Borrador</span>
        </button>
        <button *ngIf="!item.publish && !external" class="g-btn g-btn-square" type="button" (click)="publish()">
          <div class="d-flex align-items-center">
            <i class="la la-edit"></i>
          </div>
          <span>&ensp;Publicar&ensp;</span>
        </button>
        <button
          class="g-btn g-btn-square g-btn-square-danger"
          type="button"
          [swal]="deleteSwal"
          (confirm)="delete()">
          <div class="d-flex align-items-center">
            <i class="la la-trash"></i>
          </div>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>
</div>

<swal
  #domainAlert
  title="<strong>Selecciona un dominio</strong>"
  input="select"
  confirmButtonText="Confirmar"
  cancelButtonText="Cancelar"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="goToDomain($event)">
</swal>
