.g-badge {
  display: inline-flex;
  align-items: center;
  background-color: $c-gray5;
  font-size: $font-12;
  font-weight: $fw-bold;
  white-space: nowrap;
  padding: 1px 8px;
  @include prefix(border-radius, 5px);

  i {
    font-size: $font-20;
    margin-right: 3px;
  }

  &-success {
    background-color: $c-green2;
    color: $c-green1;
  }

  &-pause {
    background-color: $c-orange2;
    color: $c-orange1;
  }

  &-warning {
    background-color: $c-orange4;
    color: $c-orange3;
  }

  &-danger {
    background-color: $c-red3;
    color: $c-red2;
  }
}
