.g-breadcrumb {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 3px 0;

  li {
    color: $c-gray8;
    white-space: nowrap;
    font-size: $font-13;
    font-weight: $fw-normal;

    &:after {
      content: "\f112";
      color: $c-primary;
      @extend %pseudo-icon;
      margin-left: 3px;
    }

    + li {
      margin-left: 3px;
    }
  }
}
