.c-browser {
  &-preview {
    background-color: $c-gray7;
    padding: 30px;
    box-shadow: $box-shadow1;

    &-detail {
      background-color: $c-white;
      font-size: $font-12;
      padding: 15px;
    }

    &-title {
      color: darken($c-blue1, 15%);
      font-size: $font-14;
      margin-bottom: 5px;
    }

    &-link,
    &-description {
      display: block;
    }

    &-link {
      color: $c-green1;
    }

    &-description {
      color: $c-gray3;
    }
  }

  &-favicon {
    position: relative;
    height: 200px;
    background-color: $c-white;
    box-shadow: $box-shadow1;

    &-control {
      position: absolute;
      top: 13px;
      left: 13px;
      display: flex;

      span {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 2px;

        &:first-child {
          background-color: lighten($c-red1, 20%);
        }

        &:nth-child(2) {
          background-color: lighten($c-orange1, 20%);
        }

        &:last-child {
          background-color: lighten($c-green1, 20%);
        }
      }
    }

    &-top {
      display: flex;
      align-items: flex-end;
      background-color: $c-gray7;
      height: 40px;
    }

    &-tab {
      display: flex;
      align-items: center;
      background-color: $c-white;
      border-radius: 5px 5px 0 0;
      margin-left: 70px;
      padding: 8px 12px;

      img {
        display: block;
        margin-right: 10px;
      }
    }
  }
}
