.g-card {
  &-wrapper {
    display: block;
    background-color: $c-gray5;
    padding: 20px;
    margin-top: 10px;
    &-tabs {
      margin: 0;
      background-color: $c-gray6;
      padding: 20px 40px 0 40px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &-images {
      height: auto;
      overflow-y: auto;
      height: 320px;
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
    }
  }

  background-color: $white;
  @include prefix(border-radius, 5px);
  @include prefix(box-shadow, $box-shadow3);
  margin-bottom: 10px;

  &-header {
    background-color: $white;
    @include prefix(border-radius, 5px);
    @include prefix(box-shadow, $box-shadow1);
    padding: 3px 3px 3px 20px;

    .g-btn-square {
      margin-left: 3px;
    }
  }

  &-body {
    display: block;
    padding: 30px 20px;
    @include prefix(border-radius, 0 0 5px 5px);

    .g-radio, .g-checkbox {
      margin:  5px 40px 5px 0;
    }
  }

  &-info {
    display: block;
    padding: 12px 0;

    span {
      display: block;

      &:first-child {
        margin-bottom: 3px;
      }
    }

    &-border {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      border-right: 1px solid $c-gray5;
      padding: 12px 15px 12px 0;

      span {
        &:first-child {
          display: block;
          margin-bottom: 3px;
        }
      }
    }
  }

  &-gray {
    background-color: $c-gray6;
    padding: 20px 25px;
    box-shadow: none;
    margin-bottom: 0;

    .g-radio, .g-checkbox {
      margin: 7px 0;
    }
  }

  &-form {
    background-color: $c-gray6;
  }

  &-mini-component {
    width:100%;
    display:flex;
    height: 140px;
    padding: 10px;
    max-height: 140px;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    background-color: $c-gray5;
    img {
      height: 100% !important;
    }
  }

}
