.c-file {
  &-preview {
    height: 155px;
    border: 1px solid $c-gray6;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      color: $c-gray3;
      background-color: $c-gray7;
      font-size: $font-60;
      padding: 15px;
      transition: $tr-3-ease;
    }

    &-info {
      height: 50px;
      background-color: $c-white;
      font-size: $font-13;
      padding: 10px;

      span {
        display: block;
        height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &:hover,
    &.active {
      .c-file-preview {
        &-info {
          height: 49px;
        }

        &-icon {
          background-color: darken($c-gray7, 5%);
        }
      }
    }

    &.active {
      border: 3px solid $c-primary;
    }

    .g-btn-close {
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }
}
