.c-heading {
  &-1 {
    font-size: $font-18;
    font-family: $font-nexa-slab;
    font-weight: $fw-bold;
    margin-bottom: 0;
  }

  &-2 {
    position: relative;
    font-size: $font-15;
    margin-bottom: 20px;

    &:before {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      bottom: -6px;
      left: 0;
      background-color: $c-red1;
    }
  }

  &-title {
    color: $c-black;
    font-size: $font-30;
    font-family: $font-nexa-slab;
    margin-bottom: 0;
  }
}

.c-subheading-section {
  font-size: $font-20;
}
