.g-img {
  &-preview {
    position: relative;
    width: 100%;
    height: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $c-white;
    border: 1px solid $c-transparent;
    box-shadow: $box-shadow2;
    cursor: pointer;
    overflow: hidden;
    transition: $tr-3-ease;

    &-before {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h6 {
        color: $c-gray6;
        font-size: $font-35;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &-upload {
      width: calc(100% - 30px);
      max-width: 250px;
      display: flex;
      justify-content: center;
      font-size: $font-16;
      border: 2px dashed $c-gray6;
      padding: 6px;

      i {
        font-size: $font-20;
        margin-right: 10px;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: $font-60;
      }

      span {
        font-size: $font-15;
        text-align: center;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: $tr-3-ease;

      &--badge {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .g-btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &-select {
      height: 95px;
      margin-bottom: 15px;

      .g-img-preview-icon {

        i {
          font-size: 50px;
          margin-bottom: 8px;
        }

      }
    }

    &:hover {
      background-color: $c-gray7;

      .g-img-preview-img {
        opacity: .75;
      }
    }

    &--sm {
      width: 180px;
      margin: 0 10px 15px;
    }

    &--lg {
      height: 260px;
    }

    &--video {
      .g-img-preview {
        &-img {
          position: relative;

          &:before, &:after {
            position: absolute;
            transition: $tr-2-ease-out;
          }

          &:before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0);
          }

          &:after {
            content: "\f2bf";
            top: 50%;
            left: 50%;
            color: $c-white;
            font-size: $font-70;
            @extend %pseudo-icon;
            opacity: 0;
            transform: translate(-50%, -50%);
          }

          &:hover {
            &:before, &:after {
              transition: $tr-3-ease-in;
            }

            &:before {
              background-color: rgba($black, .35);
            }

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    &.active {
      border: 3px solid $c-primary;
    }

    &-wrapper {
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $c-gray6;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      video {
        width: 100%;
        height: 100%;
      }

      .c-file-preview {
        max-width: 250px;
      }
    }
  }

  &-full {
    display: block;
    width: 100%;
  }

  &-fluid {
    height: auto;
    max-width: 100%;
  }

  &-border {
    border-radius: 5px;
  }
}
