.c-indicator {
  &-slider {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 56px;
    height: 28px;
    background-color: $c-white;
    margin: 0;
    pointer-events: none;

    &-wrapper {
      width: 100%;
      height: 100%;
      &.flex {
        display: flex;
      }
    }

    &-item {
      width: 100%;
      height: 100%;
      float: left;
      background-color: $c-gray6;
      border: 1px solid $c-white;
      transition: $tr-3-ease;

      &.xs {
        width: 25%;
        height: 50%;
      }

      &.sm {
        width: 33.33333%;
      }

      &.md {
        width: 50%;
        height: 50%;
      }

      &.lg {
        width: 50%;
        height: 100%;
      }

      &.right {
        float: right;
      }

      &.active {
        background-color: $c-gray4;
      }
    }
  }

  &-button {
    color: $c-gray6;
    background-color: $c-white;
    font-size: $font-35;
    line-height: 0;
    padding: 2px;
    margin: 5px 10px;
    cursor: pointer;
    transition: $tr-3-ease;

    &:hover {
      color: $c-gray4;
    }
  }
}
