.g-main-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $c-gray4;
  opacity: 0;
  border: none;
  overflow: hidden;
  transition: $tr-2-ease-out .1s;
  z-index: 1021;

  i, span {
    opacity: 0;
    transition: opacity .2s ease-out 0s;
  }

  i {
    font-size: $font-20;
    margin-right: 10px;
  }

  span {
    font-size: $font-12;
    font-weight: $fw-medium;
  }

  &.active {
    max-height: 100px;
    opacity: 1;
    border: 1px solid $c-gray2;
    padding: 7px 18px;
    transition: $tr-3-ease-in 0s;

    i, span {
      opacity: 1;
      transition: opacity .4s ease-in .2s;
    }
  }

  &-success {
    color: $c-green3;
    background-color: $c-green5;

    &.active {
      border-color: $c-green4
    }
  }

  &-warning {
    color: $c-orange5;
    background-color: $c-orange2;

    &.active {
      border-color: $c-orange6;
    }
  }

  &-danger {
    color: $c-red4;
    background-color: $c-red3;

    &.active {
      border-color: $c-red5;
    }
  }
}
