.g-pagination {
  display: flex;
  justify-content: center;

  .pagination {
    width: 100%;
    margin: 15px 0;
    padding-left: 0;
    border-radius: 0;
    text-align: center;
    display: inline-block;

    > li {
      zoom: 1;
      margin: 0;
      display: inline-flex;

      > a {
        border: 0;
        color: $c-gray8;
        background-color: $c-transparent;
        font-family: $font-nexa-slab;
        font-weight: $fw-bold;
        line-height: 1;
        padding: 6px;

        span {
          display: none;
        }
        &:focus {
          box-shadow: none;
        }
      }

      &.active {
        > a {
          z-index: 2;
          color: $c-primary;
          background-color: $c-transparent;
          cursor: default;
        }
      }

      &.disabled {
        > a {
          opacity: 0;
          cursor: not-allowed;
        }
      }

      &:first-child, &:last-child {
        > a {
          color: $c-white;
          background-color: $c-primary;
          border-radius: 0;

          &:hover {
            background-color: darken($c-primary, 5%);
          }
        }
      }

      &:first-child {
        margin-right: 5px;

        > a {
          &:before {
            content: "\f273";
            @extend %pseudo-icon;
          }
        }
      }
      &:last-child {
        margin-left: 5px;

        > a {
          &:before {
            content: "\f274";
            @extend %pseudo-icon;
          }
        }
      }
    }
  }
}
