.g-tabs {
  &-heading {
    &-wrapper {
      height: 55px;
    }

    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: $c-white;
    flex-wrap: nowrap;

    .g-tab {
      font-family: $font-arquitecta;
      font-size: $font-17;
      padding: 15px;
      margin: 0 10px;
      cursor: pointer;
      transition: $tr-3-ease;
      white-space: nowrap;

      &.active, &:hover {
        border-bottom: 2px solid $c-primary;
      }
    }
  }
}

.c-tabs {
  &-form {
    &-body {
      background-color: $c-white;
    }
  }
}
