<ca-tab-header [tabItemsList]="tabItemsList">
  <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="goCreateUser()" *ngIf="!isRole">
    <span>Agregar Usuario</span>
    <i class="la la-plus-circle"></i>
  </button>
  <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left" type="button" (click)="goCreateRole()" *ngIf="isRole">
    <span>Agregar Rol</span>
    <i class="la la-plus-circle"></i>
  </button>
</ca-tab-header>
<ca-tab-content>
  <router-outlet></router-outlet>
</ca-tab-content>
