<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#mainNotification}}
        {{>molecules-Main-notification}}
      {{/mainNotification}}

      <div class="g-modal-body px-4">

        <form>

          {{#editorForm}}
            {{>organisms-Editor-form}}
          {{/editorForm}}

          <div class="text-right mt-4">

            {{#modalButton}}
              {{>atoms-Button-with-icon}}
            {{/modalButton}}

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
