<div class="g-tabs-heading-wrapper row no-gutters align-items-center justify-content-end g-bgc-white">
  <div class="col ml-1">
    <div class="row m-0">
      <div class="col-6">
        <ca-input-search
          [(ngModel)]="tmpTextSearch"
          placeholder="Nombre de la página"
          (keydown.enter)="searchByName()">
        </ca-input-search>
      </div>
      <button class="g-btn g-btn-outline g-btn-outline--blue ml-1" type="button" (click)="searchByName()">Buscar</button>
    </div>
  </div>
  <div
    *ngIf="menuCode !== MENU_CODE.pagesError"
    class="col-auto mr-2 g-relative text-right" (mouseleave)="autoClose()">
    <button class="g-btn g-btn-with-icon g-btn-primary g-btn-icon-left"
      type="button"
      (click)="toggle()">
      <span>Crear Página</span>
      <i class="la la-plus-circle"></i>
    </button>
    <ul class="c-list-dropdown w-100" [ngClass]="{ 'active': !isCollapsed }" [collapse]="isCollapsed">
      <li class="c-list-dropdown-item">
        <a class="c-list-dropdown-link" (click)="createTemplate()">
          <i class="la la-file-image-o"></i>
          Elegir plantilla
        </a>
      </li>
      <li class="c-list-dropdown-item">
        <a class="c-list-dropdown-link" href="javascript:void(0)" (click)="external()">
          <i class="la la-external-link"></i>
          URL externa
        </a>
      </li>
      <li class="c-list-dropdown-item">
        <a class="c-list-dropdown-link" href="javascript:void(0)" (click)="openForm()">
          <i class="la la-external-link"></i>
          Constructor de plantilla.
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="g-card-wrapper" [formGroup]="form">
  <caadmin-title-filter-actions
    [title]="title"
    [showButtons]="definition?.properties?.length"
    (apply)="onApply()"
    (clean)="onClean()">
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.GENERIC_TYPE)">
      <caadmin-dropdown-checkboxes icon="la-bars"
        [formControl]="cGenericType"
        placeholder="Tipo"
        [dataList]="genericTypes"
        valueField="value"
        textField="text">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.COUNTRIES)">
      <caadmin-dropdown-checkboxes icon="la-flag-o"
        [formControl]="cCountry"
        placeholder="País"
        [dataList]="countries"
        valueField="value"
        textField="text">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.DESTINATIONS)">
      <caadmin-dropdown-checkboxes icon="la-briefcase"
        [formControl]="cDestination"
        placeholder="Destino"
        [dataList]="destinations"
        valueField="value"
        textField="text">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.CATEGORIES)">
      <caadmin-dropdown-checkboxes icon="la-bars"
        [formControl]="cTemplates"
        placeholder="Template"
        [dataList]="templates"
        valueField="id"
        textField="name">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.USER_LIST)">
      <caadmin-dropdown-checkboxes icon="la-user"
        [formControl]="cUsers"
        placeholder="Usuarios"
        [dataList]="users"
        valueField="username"
        textField="fullname">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto"  *ngIf="showProperty(TRAY_FILTER_PROPERTY.STATES)">
      <caadmin-dropdown-checkboxes icon="la-tag"
        [formControl]="cStates"
        placeholder="Estados"
        [dataList]="states"
        valueField="code"
        textField="value">
      </caadmin-dropdown-checkboxes>
    </div>
    <div class="col-auto" *ngIf="showProperty(TRAY_FILTER_PROPERTY.RANGE_DATE)">
      <ca-datepicker-range
        [formControl]="cDate"
        placeholder="Desde - Hasta">
      </ca-datepicker-range>
    </div>
  </caadmin-title-filter-actions>

  <div *ngIf="data">
    <caadmin-page-item
      *ngFor="let item of data.content || []; let i = index"
      [item]="item"
      (deleted)="onApply()"
      (edited)="editedItem($event, i)">
    </caadmin-page-item>
  </div>

  <ca-paginator
    *ngIf="data?.totalElements && data.totalPages > 1"
    [(page)]="pagination.page"
    [collectionSize]="data?.totalElements"
    (pageChange)="search()">
  </ca-paginator>

</div>
