:host {
  display: inline-block !important;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

:host input {
  border: none;
  min-width: 10px;
}

:host input:last-child {
  display: block;
}

:host span {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}
