<div class="g-box {{classModifier}} text-left">

  <div class="px-1">

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

  </div>

  {{#assessmentInnerBox}}
    {{>molecules-Box-assessment-inner}}
  {{/assessmentInnerBox}}

</div>
