<div class="p-3 g-bgc-gray7 {{classModifier}}">

  {{#assessments}}

    <div class="row">

      <div class="col">

        {{company}}

      </div>

      <div class="col-3 text-center">

        {{assessment}}

      </div>

    </div>

  {{/assessments}}

</div>
