
.metadata-group__display {
  display: none;
  position: relative;
}

.metadata-group__display.is-active {
  display: block;
}

h4 {
  font-size: 14px;
  letter-spacing: 0.015em;
  color: #A3B3CA;
}

.index-metadata__content h4 {
  display: flex;
  margin-bottom: 0.5em;
}

h4.metadata-group__title span {
  position: relative;
  background: #fff;
  padding-right: 12px;
}

.card-seo-facebook {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin: 0 -20px;
    overflow: hidden;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media only screen and (min-width: 770px) {
  .card-seo-facebook {
    margin: 0;
    width: 500px;
  }
}

.card-seo-facebook__image {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
}

@media only screen and (min-width: 770px) {
  .card-seo-facebook__image {
    border: 1px solid #dadde1;
    width: 500px;
    height: 261px;
  }
}


@media only screen and (min-width: 770px) {
  .card-seo-facebook__image {
    border: 1px solid #dadde1;
    width: 500px;
    height: 261px;
  }
}

.card-seo-facebook__text {
  padding: 10px 12px;
  color: #1d2129;
  border-bottom: 1px solid #dadde1;
  background: #f2f3f5;
}

@media only screen and (min-width: 770px) {
  .card-seo-facebook__text {
    border: 1px solid #dadde1;
    border-top: none;
  }
}

.card-seo-facebook__link {
  border-collapse: separate;
  color: #606770;
  direction: ltr;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 11px;
  line-height: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  width: 501px;
  word-wrap: break-word;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.card-seo-facebook__content {
  border-collapse: separate;
  color: #4b4f56;
  direction: ltr;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 46px;
  line-height: 14.4px;
  max-height: 46px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  user-select: none;
  word-wrap: break-word;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.card-seo-facebook__title {
    margin-top: 5px;
    border-collapse: separate;
    color: #1d2129;
    cursor: pointer;
    direction: ltr;
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    text-decoration-color: #1d2129;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    user-select: none;
    white-space: normal;
    width: auto;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 770px) {
  .card-seo-facebook__title {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-seo-facebook__description {
  border-collapse: separate;
  color: #606770;
  direction: ltr;
  display: -webkit-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 18px;
  line-height: 20px;
  margin-top: 3px;
  max-height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 1;
}


.card-seo-twitter {
  cursor: pointer;
  position: relative;
  display: block;
  background-color: #ffffff;
  border-radius: 14px;
  border-style: solid;
  border-color: #E1E8ED;
  border-width: 1px;
  margin-left: 44px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter {
    width: 506px;
    border-radius: 0.42857em;
    margin-left: 0;
    overflow: hidden;
  }
}

.card-seo-twitter__image {
  height: 150px;
  background-size: cover;
  background-color: #E1E8ED;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-color: inherit;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter__image {
    width: 504px;
    height: 252px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }
}

.card-seo-twitter__text {
  padding: 9px;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter__text {
    padding: 0.75em 1em;
  }
}

.card-seo-twitter__title {
  display: block;
  margin: 0 0 0.15em;
  font-size: 14px;
  line-height: 18.375px;
  letter-spacing: normal;
  overflow: hidden;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
    max-height: 1.3em;
  }
}

.card-seo-twitter__description {
  display: none;
  height: 2.6em;
  max-height: 2.6em;
  margin-top: 0.32333em;
  line-height: 1.3em;
  letter-spacing: normal;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter__description {
    display: block;
    display: -webkit-box;
  }
}

.card-seo-twitter__link {
  display: block;
  color: #657786;
  text-transform: lowercase;
  line-height: 1.3125;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 770px) {
  .card-seo-twitter__link {
    margin-top: 0.32333em;
    color: #8899A6;
  }
}

.g-textarea-box {
  background-color: #ffffff;
  border-color: #a6a6a6;
  padding: 2px 20px;
}
