<div class="g-datepicker">
  <span class="g-info-w-icon">
    <i class="la la-calendar-o"></i>
  </span>
  <input type="text"
    readonly="readonly"
    [attr.placeholder]="placeholder"
    [(ngModel)]="model"
    ngbDatepicker
    #dp="ngbDatepicker"
    outsideDays="collapsed"
    (dateSelect)="oDateSelect($event)"
    (click)="dp.toggle()">
  <i class="la g-fs-17" [ngClass]="dp.isOpen() ? 'la-angle-up' : 'la-angle-down'"></i>
</div>
