<div
  caPromoDetail
  class="s-card-wrapper"
  [ngClass]="'s-card-wrapper--' + classSize">
  <figure
    class="s-card-wrapper-fog">
    <figcaption>
      <span class=""></span>
      <p class="">
      </p>
    </figcaption>
    <div>
      <a
        href="javascript:void(0);"
        (click)="openModalRestrictions()"
        class="g-link g-link-icon g-link-icon-right g-block">
        {{ CARD_TYPE[type][lang]?.textLink }}
        <i class="la la-arrow-right"></i>
      </a>
      <a
        *ngIf="type !== CARD_TYPE?.experience?.name"
        [href]="data?.urlReservation || getBookingUrl() || '#'"
        target="_blank"
        class="g-btn g-block g-btn-primary mt-2">{{ CARD_RESERVATION[lang].reserve }}</a>
      <div class="g-share mt-2">
        <span class=" g-text-uppercase">
          {{ CARD_TYPE[type][lang]?.shareText }}
        </span>
        <ul class="g-nav">
          <li class="g-nav-item">
            <a (click)="share('facebook')">
              <i class="la la-facebook-official"></i>
            </a>
          </li>
          <li class="g-nav-item">
            <a (click)="share('twitter')">
              <i class="la la-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </figure>
  <div
    class="g-tag g-tag-type"
    *ngIf="data?.descriptorInfo?.color"
    [ngClass]="{'g-tag-left': data?.typeDescriptor !== TYPE_DESCRIPTOR_PROMOTION?.hotels }"
    [ngStyle]="{'background-color': data?.descriptorInfo?.color}">
    <span class="false">
      {{ data?.descriptorInfo?.title }}
    </span>
  </div>
  <div
    class="g-tag g-tag-sale"
    *ngIf="data.classNative.indexOf('xs') === -1 && data.discount">
    <strong>{{ GENERAL_TEXT[lang].upTo }}</strong>
    <p class="">
      <span>%{{ data?.discount }}</span><span>{{ GENERAL_TEXT[lang].off }}</span>
    </p>
  </div>
  <figure
    [caBackgroundurl]="
      (data?.backgroundImage?.length && data?.backgroundImage[0]) ||
      (data?.imageMain?.name && data?.imageMain) ||
      (data?.imageMain?.length && data?.imageMain[0]) ||
      (data?.imagePromotion?.length && data?.imagePromotion[0])"
    >
    <figcaption>
      <span class="">
        {{ data?.hotelName || data?.titleHotel }}
      </span>
      <p class="">
        {{ data?.title }}<br/>
        <ng-container *ngIf="data.classNative.indexOf(SCREEN_NAMES.XS) !== -1 && data?.discount > 0">- %{{ data?.discount }}</ng-container>
      </p>
      <div class="g-tag g-tag-from" *ngIf="!!data?.price">
        <span class="">
          {{ LOW_PRICE?.from[lang] }} {{ currency | currencySymbol }} {{ data?.price }}
        </span>
      </div>
      <span class="experience" *ngIf="type === CARD_TYPE?.experience?.name">
        {{ data?.description }}
      </span>
    </figcaption>
  </figure>
</div>
