<footer class="s-footer">
  <div class="s-footer-top">
    <div class="col-sm-6 d-flex align-items-center justify-content-end py-3 px-0">
      <div class="g-middle-container ">
        <div class="d-flex align-items-center flex-wrap">
          <h4 class="s-footer-subtitle mr-1 mb-md-0">
            {{ FooterLang.socialNetwork[language] }}
          </h4>
          <ul class="s-list-social ">
            <li class="s-list-social-item" *ngIf="configurations?.socialNetworking?.urlFacebook">
              <a [href]="configurations.socialNetworking.urlFacebook" target="_blank" class="s-list-social-link">
                <i class="caicon-facebook"></i>
              </a>
            </li>
            <li class="s-list-social-item" *ngIf="configurations?.socialNetworking?.urlTwitter">
              <a [href]="configurations.socialNetworking.urlTwitter" target="_blank" class="s-list-social-link">
                <i class="caicon-twitter"></i>
              </a>
            </li>
            <li class="s-list-social-item" *ngIf="configurations?.socialNetworking?.urlInstagram">
              <a [href]="configurations.socialNetworking.urlInstagram" target="_blank" class="s-list-social-link">
                <i class="caicon-instagram"></i>
              </a>
            </li>
            <li class="s-list-social-item" *ngIf="configurations?.socialNetworking?.urlFlickr">
              <a [href]="configurations.socialNetworking.urlFlickr" target="_blank" class="s-list-social-link">
                <i class="caicon-flickr"></i>
              </a>
            </li>
            <li class="s-list-social-item" *ngIf="configurations?.socialNetworking?.urlYoutube">
              <a [href]="configurations.socialNetworking.urlYoutube" target="_blank" class="s-list-social-link">
                <i class="caicon-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-start py-3 px-0 g-bgc-black">
      <div class="g-middle-container pl-md-4">
        <h3 class="s-footer-title">
          {{ FooterLang.subscribe[language] }}
        </h3>
        <h4 class="s-footer-subtitle">
          {{ FooterLang.person[language] }}
        </h4>
        <div class="d-flex align-items-center flex-wrap">
          <label class="g-radio g-radio--invert mr-2 mb-2">
            <input name="options" type="radio" [value]="'person'"  [(ngModel)]="typePerson" >
            {{ FooterLang.natural[language] }}
            <span class="checkmark"></span>
          </label>
          <label class="g-radio g-radio--invert mr-2 mb-2">
            <input name="options" type="radio" [value]="'legal-person'" [(ngModel)]="typePerson">
            {{ FooterLang.legalPerson[language] }}
            <span class="checkmark"></span>
          </label>
          <div class="g-input-form mb-2">
            <input class="g-input g-input-invert" type="text" name="suscribete" [placeholder]="FooterLang.email[language]" [(ngModel)]="email">
            <button class="g-btn g-btn-icon g-btn-primary" type="button" (click)="openNewsLetterForm()"><i class="la la-long-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-footer-bottom">
    <div class="container">
      <div class="row py-3 align-items-center">
        <div class="col-sm-6 mb-3 mb-sm-0 text-center text-sm-left">
          <img class="" src="assets/images/ca-brand-white.png" alt="Casa Andina Logo">
        </div>
        <div *ngIf="configurations?.iconsPay?.length" class="col-sm-6 mb-3 mb-sm-0 text-center text-sm-right">
          <div class="d-inline-flex justify-content-center justify-content-sm-start align-items-center flex-wrap">
            <h4 class="s-footer-subtitle mr-1 mb-md-0">
              {{ FooterLang.paymentMethods[language] }}
            </h4>
            <div class="d-flex flex-wrap align-items-center">
              <img *ngFor="let icon of configurations.iconsPay" class="m-0-5" [src]="icon" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="g-bt-1-so-gray2"></div>
      <div class="row py-2">
        <div class="col-sm-6 col-md-4 col-lg-x5" *ngFor="let parent of (footer | menuSection:false) | orderBy:['-sectionFooter', '+order']">
          <h4
            (click)="collapse(parent)"
            class="s-footer-subtitle"
            [ngClass]="{ 'active': !parent.collapse, 's-footer-subtitle--arrow': parent.children?.length }">
            {{ parent.name }}
          </h4>
          <ul
            *ngIf="parent.children?.length"
            class="s-footer-list"
            [ngClass]="{ 'active': parent.active || !parent.collapse }">
            <li *ngFor="let child of parent.children | orderBy:['-sectionFooter', '+order']" [ngClass]="{ 'g-lh-footer': child.phone || child.email }">
              <a
                [href]="child.action === MENU_SITE_ACTION.REDIRECT ? child.pagePath : ('javascript:void(0)' | safeUrl)"
                (click)="goTo(child, $event)" [innerHTML]="child.name | safeHtml">
              </a>
              <a *ngIf="child.phone" [href]="'tel:' + child.phone" class="d-block">{{ child.phone }}</a>
              <a *ngIf="child.email" [href]="'mailto:' + child.email" class="d-block">{{ child.email }}</a>
            </li>
          </ul>
        </div>
      </div>
      <ng-container *ngIf="(footer | menuSection:true).length">
        <div class="g-bt-1-so-gray2"></div>
        <div class="row py-2 align-items-center justify-content-center">
          <div class="col-12">
            <ul class="s-footer-list s-footer-list--inline">
              <li *ngFor="let parent of (footer | menuSection:true) | orderBy:['-sectionFooter', '+order']">
                <a
                  [href]="parent.action === MENU_SITE_ACTION.REDIRECT ? parent.pagePath : ('javascript:void(0)' | safeUrl)"
                  (click)="goTo(parent, $event)">
                 {{ parent.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <div class="g-bt-1-so-gray2"></div>
      <div class="row py-2">
        <div class="col-12 text-center">
          <img class="" src="" alt="">
          <span class="g-cl-gray4 g-fs-11">
            {{ FooterLang.copyright[language] }}
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
