<ca-card-wrapper>
  <caadmin-heading>
    Configuración de Etiquetas
  </caadmin-heading>
  <div *ngFor="let category of categoriesDescriptor;">
    <caadmin-subheading-actions [title]="category.name" buttonAdd="Agregar Etiqueta"
      (add)="addDescriptor(category.code)">
    </caadmin-subheading-actions>
    <caadmin-card-row-actions *ngFor="let descriptor of getDescriptorByCategory(category.code)"
      (edit)="editDescriptor(category.code, descriptor)" (delete)="deleteDescriptor(descriptor)">
      <div class="col-4">
        <div class="g-card-info-border">
          <div class="d-flex align-items-center">
            <div class="g-w-100 mr-1">
              <img class="g-img-fluid" [src]="descriptor.url" [alt]="descriptor.name">
            </div>
            <h4 class="g-fs-15 mb-0">
              {{ descriptor.name }}
            </h4>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Color</span>
          <div class="g-info-color-box ">
            <i class="g-color-box " [style.background-color]="descriptor.color"></i>
            {{ descriptor.color }}
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="g-card-info ">
          <span class="g-fs-13 g-fw-bold">Título</span>
          <span class="">
            {{ descriptor.title }}
          </span>
        </div>
      </div>
      <div class="col-2">
          <div class="g-card-info " *ngIf="!isHotelCategory(descriptor.category)">
            <span class="g-fs-13 g-fw-bold">Tipografía</span>
            <span class="">
              {{ getTypographyStyle(descriptor.typographyStyle) }}
            </span>
          </div>
        </div>
    </caadmin-card-row-actions>
  </div>
</ca-card-wrapper>
