<caadmin-header customClass="g-header-editor"></caadmin-header>
<ca-notify [type]="notification?.type" [active]="activeNotify">{{ notification?.description }}</ca-notify>
<router-outlet></router-outlet>
