<div class="g-box g-box-flex g-box--services g-box--corners g-box--corners-tr">
  <div class="side side-left">
    <div class="corner corner-top-left"></div>
    <div class="corner corner-bottom-left"></div>
  </div>
  <div class="side side-right">
    <div class="corner corner-top-right"></div>
    <div class="corner corner-bottom-right"></div>
  </div>
  <div class="s-services ">
    <div class="row">
      <div class="col-12">
        <h3 class="g-fs-18 g-fs-sm-24 g-fs-md-30 g-f-nexa-slab g-fw-book">
          {{ title }}
        </h3>
      </div>
    </div>
    <div class="row s-services--list">
      <div class="col-md-4 col-lg-x5" *ngFor="let feat of features">
        <ca-service
          class="g-feature"
          [data]="feat"
          [descriptorInfo]="descriptorInfo"></ca-service>
      </div>
    </div>
  </div>
</div>
<div
  [style.cursor]="backgroundVideo && backgroundVideo.url ? 'pointer' : '' "
  class="g-bkg-cover g-height-250 s-img-extend g-box-shadow2"
  [ngStyle]="{'background-image': 'url(' + backgroundImage[0]?.large?.imageUri + ')'}"
  (click)="openGallery()">
  <i *ngIf="backgroundVideo && backgroundVideo.url" class="la la-play"></i>
</div>
