<section class="g-section {{classModifier}}">

  <div class="s-img-bg-sm-none s-img-bg py-4 py-md-6 py-lg-9" style="background-image: url('{{sectionBgImage}}');">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-6">

          {{#sectionText}}
            {{>atoms-Text}}
          {{/sectionText}}

        </div>
      </div>
    </div>

  </div>

</section>
