<div class="row align-items-center no-gutters mb-2">
  <div class="col-auto g-w-100">
    <label [for]="config.label" class="g-fw-bold g-fs-15">{{ label || config.label }}:</label>
  </div>
  <div class="col">
    <ca-input
      [type]="config.type"
      [maxlength]="config.maxLength"
      [maxlength]="config.maxLength"
      [pattern]="pattern"
      [min]="0"
      [Number]="config.type === 'number'"
      [placeholder]="config.placeholder || ''"
      [error]="validateControl()"
      [formControl]="control"
      (onblur)="focus()">
    </ca-input>
  </div>
  <div class="col-12" *ngIf="config.type === 'text'">
    <span class="g-fs-12 d-block mt-1 text-right">
      ({{ (control.value || '').length }}/{{ config.maxLength }} caracteres máx.).
    </span>
  </div>
</div>
