<caadmin-header></caadmin-header>
<div class="g-wrapper">
  <aside class="g-sidebar">
    <caadmin-menu></caadmin-menu>
  </aside>
  <main class="g-main">
    <ca-notify [type]="notification?.type" [active]="activeNotify">{{ notification?.description }}</ca-notify>
    <router-outlet></router-outlet>
  </main>
</div>
